[2021-08-19 18:46] julianfairfax commented on #4800
Since the contacts and conversations aren't separated there isn't correctly any way to do this from sql/sqlite.db for those wondering. It would require a change to new conversations list user interface, and of course a check to see if previously imported contacts show up (I'm not sure if contacts leaving Signal is different from them being deleted from the phone's perspective, but both of these wo

[2021-08-19 20:24] shvchk commented on #4611
Any progress on user themes? Simply loading `user.css` (if exists) from `userDataPath` would be enough in most cases, I'd guess. Looks like a feature that is relatively simple to implement and unlikely to break anything.

[2021-08-19 21:03] rfried1 commented on #5471
Same problem here.
[code]

[2021-08-20 00:12] scottnonnenberg-signal commented on #5462
@quinndiggity I'd recommend that you close this bug and open a new one, following the full bug template. What OS are you on? How did you install Signal Desktop? Are window dimensions saved between normal restarts of the app? How do you apply new versions to your install - apt, auto-update, installing new versions from the website?

[2021-08-20 00:14] scottnonnenberg-signal commented on #2368
The option is in app preferences on Linux for beta users only. feature is in beta only because tray icon support is so unpredictable across all the various linux window managers and distributions.

[2021-08-20 00:18] scottnonnenberg-signal commented on #5301
@rneilson What kind of device were you using?

@acicovic What kind of device were you using?

[2021-08-20 00:20] scottnonnenberg-signal commented on #5197
As of recent builds the original bug should be fixed - desktop should be able to discover that it is unlinked a lot quicker.

@richardkmichael As for your situation, you're part of a select few who continue to use Desktop in the face of either having lost their phone or just refusing to use it. There's really not much we can do about that.

I'm going to close this.

[2021-08-20 00:20] #5197 closed

[2021-08-20 00:22] rneilson commented on #5301
@scottnonnenberg-signal formerly Pixel 3a XL, now Pixel 4a 5G. Had to delink and relink desktop to get it working again.

[2021-08-20 00:23] scottnonnenberg-signal commented on #5440
You say that it's not a feature request, but indeed it is, both due to size and due to priority. We're going to fix bugs before we get to this, just to set expectations. But this is useful from an accessibility perspective as well, so it's on our list.

[2021-08-20 00:26] scottnonnenberg-signal commented on #4043
@michaelcsikos I notice that you never really chimed in about your user directory, permissions on your computer, basically anything that might be different from a default windows installation. Could even be a certain character in your username, if it's not straightforward ASCII. It really would be great to track this down.

What do you see when you open the dev tools and hover over one of these mi

[2021-08-20 00:27] scottnonnenberg-signal commented on #5301
There was a bugfix that went out for Signal Android a bit ago that should have solved this. So I'm glad that nobody seems to have experienced this lately. I'm going to close this.

[2021-08-20 00:27] #5301 closed

[2021-08-20 00:28] scottnonnenberg-signal commented on #5438
@groovyd Did it ever update? Roughly how long does it take? Desktop fetches user profiles when you open the conversation with them, and we only do it every five minutes, so that's about how long I might expect it to take.

[2021-08-20 00:29] #5424 closed

[2021-08-20 00:30] scottnonnenberg-signal commented on #5433
@hiqua Just to set expectations, I don't this will be fixed until we fully rewrite our approach to scroll virtualization. And I don't think that's going to happen soon.

[2021-08-20 00:41] michaelcsikos commented on #4043
Hi @scottnonnenberg my Windows user name is `Michael`. Where has **View** > **Toggle Developer Tools** gone?

[2021-08-20 02:08] groovyd commented on #5438
I noticed a very recent desktop revision did update the contact names but they are still missing the profile pics.

[2021-08-20 02:11] EvanHahn-Signal commented on #4806
We've redesigned the preferences window and sped it up in the process. This is fixed in the latest beta, version 5.15.0, so I'm going to close this issue.

[2021-08-20 02:11] #4806 closed

[2021-08-20 02:58] michaelcsikos commented on #5440
It's not an all or nothing exercise. There are about 6 tool tips for conversation threads which would make Signal immeasurably easier for me to use and a growing number of other users. If those buttons had a different background colour, like the close button for the **Preferences** dialog, this would be the cherry on top.

[2021-08-20 03:34] kekkekekw commented on #4684
Just tried it, on 5.15 beta and Ios 5.17.1 version on ios and it doesnt work. I don't hear her, she doesn't hear me.

[2021-08-20 05:49] hiqua commented on #5433
I had no expectations so this fully matches them! This is the kind of bug that I think you should have in mind, but it doesn't really impact me much.

[2021-08-20 05:55] hiqua commented on #5459
Fixed on 5.15.0-beta.1, thanks!

https://debuglogs.org/67957c09a0800e861544c55365a01764089ba15fe68f9acbf33619aa673e6879.gz

[2021-08-20 05:55] #5459 closed

[2021-08-20 12:38] wohltat commented on #5444
Updated to v5.14.0. Looks very similar to me.
![image](https://user-images.githubusercontent.com/4751351/130233854-a04c3655-c5d1-43da-b99d-3d584addc26a.png)

[2021-08-20 12:45] chmike commented on #5444
I have 5.13.0 installed on Ubuntu 21.04 and also see 10% CPU usage while Signal is idle. That is too much. It'3 times more than fireefox that I currently use to write this comment.

Why is the issue closed ? The problem is not at all resolved.

[2021-08-20 14:27] indutny-signal commented on #5459
Fantastic news! Glad, it is resolved!

[2021-08-20 16:14] scottnonnenberg-signal commented on #5444
@wohltat @chmike @alien2003 What we need is more information from you - we need you to be scientists. What I see when Signal Desktop is in the background is 0.1-0.3% CPU usage, so details from your configuration are really important.

I've opened the issue again - please let us know everything you can about how the behavior changes. The increase over time as the app is used after startup is really

[2021-08-20 16:16] scottnonnenberg-signal commented on #4684
@kekkekekw Just to be clear, have you tried calling from both your desktop and your iOS device (what kind of iOS hardware, as well)? What kinds of devices is your conversation partner using? The more information we have, the more likely we'll be able to track this down.

[2021-08-20 16:17] scottnonnenberg-signal commented on #5440
@michaelcsikos I understand your struggles. But it's far, far more important for us to figure out why the buttons aren't showing at all. That's a true bug, and we will happily put a lot of effort into that. We just need folks to continue investigating things with us.

[2021-08-20 16:19] scottnonnenberg-signal commented on #5438
Well, the next step would be for you to shut down Desktop, then start it up again, then immediately go and open the conversation with someone whose profile isn't updating properly, then after a little bit of waiting, send us a debug log (View -> Debug Log). We should be able to see where we attempt to fetch their profile, and maybe we'll find a clue to what's going wrong.

[2021-08-20 16:37] groovyd commented on #5438
Ok, submitted the logs… in this case the contact I tried this on actually also did not have their name updated nor their profile pic.  The contact is in my ‘Contacts’ app on macOs which is synced across my iPad via iCloud.  Contact name and profile pic shows up fine on iPad.

https://debuglogs.org/dbb7bf58bc6f88555a740b504b5df5de9d8f239eafdcf865701a6c8ea3e15e9a.gz

[2021-08-20 17:32] scottnonnenberg-signal commented on #5438
@groovyd I don't see anything wrong with how we fetch that user's profile. But I also don't see any evidence of contact syncs or storage service fetches, where we might get updated data. Has this user sent a message to your desktop device recently? I didn't see any evidence of that lately, and that might share their latest profile key with you. Then you'd see the latest.

Your primary should also

[2021-08-20 17:33] scottnonnenberg-signal commented on #4043
In production builds, you'll need `--enable-dev-tools` when starting it to get to the dev tools these days.

[2021-08-20 17:38] nickrbogdanov opened #5472 "Regression: signal-desktop goes nuts after a couple of days"
- [X] I have searched open and closed issues for duplicates

### Bug Description

I'm running v5.14.0 which was installed through the ubuntu snap.  Every couple of days, I notice that signal-desktop stops downloading images from my chat groups, and when I try to attach an image to a message (either through clipboard paste or the file picker) I get an error message.  When I see this happen I quit s

[2021-08-20 17:49] scottnonnenberg-signal commented on #5472
Seems that you installed it via Snap? We don't officially support that installation method.

I will say that our current guess is that it auto-updates out from under your running app, and things go wrong. We'd love to get some guidance on how to improve Signal Desktop to better handle Snap's behind-the-scenes operations.

[2021-08-20 17:49] #5472 closed

[2021-08-20 18:06] groovyd commented on #5438
I’m always with the latest iOs and Signal on it always updated.  I believe he has sent me a message recently but not since the recent desktop updates that appeared to fix some contact names.

[2021-08-20 18:10] scottnonnenberg-signal commented on #5438
@groovyd Have you set up a PIN on your mobile device? Would you be open to providing a debug log from your iOS device? It doesn't appear to be sending Desktop the information we might expect.

[2021-08-20 18:13] groovyd commented on #5438
https://debuglogs.org/520783d461340e19e5413a3c94b23f4041c5fab4d9d2f13bb43e3f00aa223fd1.zip

[2021-08-20 18:15] groovyd commented on #5438
https://debuglogs.org/b24c00960fa45cf6ea4fd16c6b533a4c4e1e89195a7aad1160427a36700005ba.zip

[2021-08-20 18:17] groovyd commented on #5438
Ok I tried sending a debug log from iOS… don’t think I setup a pin on any clients.

[2021-08-20 21:29] richardkmichael commented on #5197
@scottnonnenberg Can you tell me a path forward which will save the messages in Signal Desktop?  Can I re-link Signal Desktop to my phone (new number, hence new Signal account) where I will not lose the existing messages, photos and information currently, associated with my previous account, in Signal Desktop only (and not on my phone)?

[2021-08-20 21:57] scottnonnenberg-signal commented on #5197
@richardkmichael Only if the phone number is the same will you be able to re-link and not lose data. There are no current mechanisms within Signal Desktop today to export/import, though you might find some third-party tools out there to help you.

[2021-08-20 23:28] samuela opened #5474 "Error: SqliteError: file is not a database"
- [x] I have searched open and closed issues for duplicates

https://github.com/signalapp/Signal-Desktop/issues/3869
https://github.com/signalapp/Signal-Desktop/issues/3625
https://github.com/signalapp/Signal-Desktop/issues/5467
https://github.com/signalapp/Signal-Desktop/issues/4513

---

### Bug Description

I just opened to re-opened Signal today -- possibly after a Signal upgrade, I don't reca

[2021-08-21 00:06] mikedlr commented on #5466
verified that in beta 3 this now "works for me"

[2021-08-21 01:15] wohltat commented on #5444
Here is another recording.
I did not interact with signal-desktop in that time. I just opened some messages on my phone several times which did not seem to interfere.
![image](https://user-images.githubusercontent.com/4751351/130305415-7a37d92c-29e1-463e-b58c-dd190cc00d22.png)

There were no open conversations, i.e. closed with "Ctrl+Shift+C".

Couldn't we go more in the direction of the core, i.e

[2021-08-21 02:06] ddshore commented on #5474
You linked to my issue and it's the exact same problem.  I used signaltop to check if the messages were exportable and whether the db wasn't corrupted, and it exported the messages.  You might want to try that too in order to validate it, but this is a signal bug.

[2021-08-21 05:51] samuela commented on #5474
@ddshore I ended up just deleting the database and starting fresh, but I'll def keep that in mind for the future! It would be great to have a workaround for when this happens again...

[2021-08-21 07:12] Zesko commented on #5471
Me too, Manjaro KDE, Xorg
`xdg-open` works fine.

[2021-08-21 12:11] janvlug commented on #4558
I'm hit by this issue very often, and several of my contacts as well. Actually, I think that this is the most annoying issue in Signal at the moment, because when you open Signal desktop, you see: Missed audio call, with an indication that it just happened. It took me five minutes before I took the screenshot below:
![image](https://user-images.githubusercontent.com/5903208/130321262-c4bf53e9-8057

[2021-08-21 12:39] jantomicky commented on #5471
Same issue here on Manjaro on GNOME 40.3.0 on Wayland, `xdg-open` works fine.

[2021-08-21 14:44] Anton-V-K commented on #5430
@indutny-signal , I don't use Slack/Discord, so I can't verify the behavior.
I've encountered same issue with Roblox - it installs itself for the current user and the uninstallers asks for elevation when invoked via `Apps and Features`, so I couldn't uninstal it this way. Fortunately classic `Programs and Features` works exactly as expected - no elevation and everything is removed.

[2021-08-21 21:31] rosekunkel commented on #5471
I also experience this. Other electron-based apps (e.g. Slack) still open links in the browser like normal.

[2021-08-22 06:42] JackDinn commented on #5471
Same on Manjaro KDE. Was hoping for the answer how to fix, but alls no :(

[2021-08-22 11:05] baal-zebub commented on #5471
Same here on Void Linux and Sway 1.6.1, so it isn't just Arch. `xdg-open` works fine.

[2021-08-22 12:10] wohltat commented on #5444
@scottnonnenberg-signal What would you do if if this would happen on you computer? Which tools would you use?
So far if never seen a CPU usage below 1.5%. Although i think this high for a idling app, i would be pretty happy already if it would not go higher than that.

I made another longer test. The interesting thing is that this time it was low for several hours. Then i opened signal, opened som

[2021-08-22 12:24] wohltat commented on #5444
@scottnonnenberg-signal What would you do if if this would happen on you computer? Which tools would you use?
So far if never seen a CPU usage below 1%. Although i think this high for a idling app, i would be pretty happy already if it would not go higher than that.

I made another longer test. The interesting thing is that this time it was low for several hours. Then i opened signal, opened some

[2021-08-22 12:25] propri opened #5475 "Messages show up in the wrong order on the desktop app"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

Messages (sent and received) do not show up in the right order on the desktop app.
The order of the chats (in the list on the left) does not update.

I'm pretty sure it only occured after the 5.14.0 update.

### Steps to Reproduce

1.  send a message / receive a message
2.  scroll up to find the new message buri

[2021-08-22 12:32] duvholt commented on #5471
Seems to be related to this package change in Arch: https://github.com/archlinux/svntogit-community/commit/2aefdb8fa4125f91641b5a4fe97851640c0bf1c4

When running the binary directly (`/usr/lib/signal-desktop/signal-desktop`), without the LD_PRELOAD change, opening links works again.

[2021-08-22 17:34] op3 opened #5476 "Link preview appears in wrong conversation when switching between conversations"
- [ x] I have searched open and closed issues for duplicates

---

### Bug Description

When you paste a link and immediately switch to a different conversation, the link preview is shown in the wrong conversation.

### Steps to Reproduce

1. Open a conversation in Signal Desktop
2.  Ctrl+V/Paste a URL
3.  (optional) “Loading preview” (or similar?) appears
4. Switch to a different conversation wit

[2021-08-22 17:38] hiqua commented on #5476
Example on last beta:

https://user-images.githubusercontent.com/3812042/130364646-754dbe33-a8a4-44ce-8ca3-35210700f808.mp4

[2021-08-22 18:16] kpcyrd commented on #5471
It's a packaging issue, the `LD_PRELOAD` attempts to ensure the sqlcipher is always loaded into the process (#4513), the value is likely leaking to the child process when opening a link.

Not sure how to work around this, reverting it would break the signal database of people with [testing] repositories enabled.

[2021-08-22 21:03] burrhole commented on #5471
Newest update in the Arch repos fixed this issue for me. Thanks everyone who took the time to look at/work on it!
Unsure if I should close this if @baal-zebub is still experiencing it on Void since it may be an issue in other distributions as well, so I'll leave it to the contributors/maintainers.

Have a nice day!

[2021-08-23 08:16] ITaluone commented on #5474
I had the same problem: Mine was caused by not quitting Signal properly (Settings -> minimize to taskbar (Signal in background) -> shutdown PC). The next day this error occures and only solvable with delete DB and start from scratch.

[2021-08-23 08:57] noonien commented on #3840
Any update on this? I send files with these extensions to work colleagues. I currently have to rename the files to not have those extensions, then they have to rename them back.

This isn't really a secure way of stopping malware from being sent.

Maybe add an option to be able to disable this? Either globally or per user.

[2021-08-23 11:38] OdinVex commented on #3840
They've made it clear that they think they know better than their users, much like how Microsoft and Google and Apple dumb things down so much that there is no more control over software, enabling them to decide things for you. I simply run a shell script that patches the return value for the function that checks file extensions.

[2021-08-23 12:29] khannie commented on #5475
Also experiencing this. Mint 20.04. Same Signal desktop version.

I cleared data then relinked, issue persists.

![image](https://user-images.githubusercontent.com/345567/130447188-600e9a22-16d0-41b2-b2c5-8faf217b15bd.png)

[2021-08-23 15:36] samuela commented on #5474
That sounds like a totally reasonable way to shut down signal imho!

[2021-08-23 17:09] ruffson commented on #5475
Same Problem on Fedora 34 and same Signal version (via flatpak). Must be a regression since 5.14.0.

It it even slightly worse: Besides the messed-up order in one chat my own messages straight up don't show up (they do get sent properly) and the responses also don't show up so the chat is basically frozen.
If I have time, I will try to roll back to an earlier version and try that.

[2021-08-23 17:15] JulienTT commented on #3747
Hi ! Same problem here: I did not use two of my desktops for more than 30 days (long holidays...) and both asked to link again. I did so and all my messages are lost (and I cannot see my groups). You said that the app should have asked to "relink", but it really only ask to "link", even though I used the same machine name. Is there a way to copy the message from my phone to the desktop apps ? Than

[2021-08-23 18:08] scottnonnenberg-signal commented on #3747
@JulienTT Hi there, Julien! After 30 days, Desktop should preserve all of your messages but ask you to re-link. You'll still lose the messages that you hadn't downloaded yet, because re-link will clear your message queue on the server. it sounds like you perhaps ran into a bug where all of your data was deleted. Can you provide your debug log, and perhaps consider opening a new bug?

To answer you

[2021-08-23 21:29] scottnonnenberg-signal commented on #5474
I'm sorry this happened to all of you! We have merged a change in the latest builds which may help prevent this in the future.

Going forward, please provide debug logs so we have more information to try to track down what went wrong.

I'm going to close this as a duplicate of the bugs you yourself linked to.

[2021-08-23 21:29] #5474 closed

[2021-08-23 21:29] #5471 closed

[2021-08-23 21:30] scottnonnenberg-signal commented on #5476
We'll have a fix for this out in the next beta release.

[2021-08-23 21:31] samuela commented on #5474
How do we find debug logs?

[2021-08-23 21:41] scottnonnenberg-signal commented on #5444
I'd use the dev tools profiler. If you start Signal Desktop with `--enable-dev-tools` you can open it up and see what's using resources. Open the 'Performance' tab, uncheck 'screenshots' and then hit the circle button. Then let the app go idle, not opening anything. Come back after a couple minutes, then send the resultant trace to us. Feel free to send it to me directly. That'd give us a good bas

[2021-08-23 21:41] scottnonnenberg-signal commented on #5474
`View -> Debug Log`

[2021-08-23 21:49] samuela commented on #5474
I can't test it atm but I don't think that's possible if the application refuses to start with only a modal dialog.

[2021-08-23 21:50] scottnonnenberg-signal commented on #5475
To confirm, are messages essentially stuck to the bottom? So new messages come in above a certain block of old messages?

[2021-08-23 21:54] scottnonnenberg-signal commented on #5475
Also, I don't think reverting the version is going to fix this; those messages stuck to the bottom got the wrong 'counter' value assigned when they were processed. New messages have the proper 'counter' value, and are sorted properly. Your best bet is likely to delete those messages stuck to the bottom.

How many conversations did this happen in, by the way? When, roughly did you receive those mes

[2021-08-23 21:55] scottnonnenberg-signal commented on #5474
You can get it directly from disk at `~/.config/Signal/logs` or `~/Library/Application Support/Signal/logs`

[2021-08-23 22:07] propri commented on #5475
It seems kind of random. I have one chat where the order looks like this:

August 6
Thursday (August 19)
Sunday (August 22)
Thursday (August 19)
Sunday (August 22)
August 6
August 11
August 12
August 13
And then continuing till August 18.

The newest messages are stuck behind more than 20 older messages.

The last "correct" message was from last Wednesday, the first "wrong" message from Thursday.

[2021-08-23 22:49] scottnonnenberg-signal commented on #5475
@propri If you really want to help us dig in on this, you can go in on each of those messages and grab their 'received at' date. You've provided their 'sent at' date (in a granular way) but comparing that with their 'received at' date would help reconstruct what happened. How often do you restart Signal Desktop, by the way?

[2021-08-24 05:20] chmike commented on #5444
When I try to start signal on the command line with `--enable-dev-tools`, this is what I get:

[code]

The signal app in the tray is started though.

[2021-08-24 11:13] propri commented on #5475
In the order they are displayed in the client:

|Sent | Received|
--- | ---
|August 6 | August 6|
|August 19 | August 21|
|August 22 | August 22|
|August 19 | August 21|
|August 22 | August 22|
|August 6 | August 6|
|August 11 | August 11|
|August 12 | August 12|
|August 13 | August 13|

[2021-08-24 12:25] wohltat commented on #5444
@scottnonnenberg @indutny-signal I sent you the signal profiler logs. Those are two files corresponding two the states of either low or high cpu usage that you can see in my previous plots. Thanks for the hint to the dev-tools. Looks like a very nice and powerful tool.

I don't know the inner workings of signal but there are some things that look very suspicious to me:
There are, besides some othe

[2021-08-24 12:31] khannie commented on #5475
It's not consistent. Some messages this morning appeared correctly at the bottom. When sending from the desktop client they seem to appear mostly near the top.

I closed the desktop client and sent a message from my android phone then reopened the desktop client to see if that affected things and the android sent message appeared near the top (2nd message).

Message order in desktop client from th

[2021-08-24 12:35] wohltat commented on #5444
if you want i can also try some development versions. I know how to handle git and how to compile stuff if this makes it easier for you.

[2021-08-24 12:57] wohltat commented on #5444
@chmike
i guess there is an other instance running already. Try closing all signal-desktop processes.
[code]

[2021-08-24 13:00] khannie commented on #5475
This may be useful:
I sent a bunch of messages to notes to self (some from desktop, some from android) and they appeared in the correct order until I closed the desktop client, sent one from android and reopened the desktop client. That last message appeared at the top of the desktop client.

Messages numbered in the order they were sent below:
![image](https://user-images.githubusercontent.com/34

[2021-08-24 15:59] tbvdm commented on #5474
@scottnonnenberg-signal Could you say what that change is? Thanks.

[2021-08-24 16:54] petermcleod2311 commented on #5469
Hhv,rvzsscn5fvd--[]()"@_^

[2021-08-24 16:54] petermcleod2311 commented on #5469
Nnn  s3xv

[2021-08-24 17:01] rainerzufall commented on #5475
just happened to me. My own message was ordered incorrectly

![image](https://user-images.githubusercontent.com/12666598/130658844-a3bd365c-3f5b-4686-bcdf-542b544e1a49.png)

https://debuglogs.org/9fd07fb35e9eff559c2fddbb04a65b4fdee1c21893bd8d9dfc5b94d87cb31994.gz

my message:
[code]

the two messages that should have been ordered before my answer:
[code]

[code]

[2021-08-24 17:23] pevogam commented on #1758
+1 for giving a chance to the PRs resolving this issue even though I have no idea how we can attract the maintainers' attention in any other way but high activity on Github.

[2021-08-24 18:20] kaimast commented on #5052
I seem to have the same issue. No read notifications are synced from the Desktop client to Android.

My phone has Signal 5.21.5 and my Linux desktop machine is on 5.12 as well.

Debug log for my desktop https://debuglogs.org/ee34c25fe29434d9e54bbefe9b15834aefaead85cb3a1abe6ffc6f94555b7587.gz

[2021-08-24 18:24] hiqua commented on #5052
You meant 5.14.0.

[2021-08-24 18:26] kaimast commented on #5052
Yes :facepalm:. I updated my post.

[2021-08-24 21:18] cyraid commented on #5398
Actually, I'm using just the normal signal.exe now without any command lines, and it seems to not be an issue anymore? Seems to be working now, tried it a few times with no problems. I'll re-open or create a new ticket if it happens again, but looks okay to me so far?

[2021-08-24 21:18] #5398 closed

[2021-08-25 12:39] resuna commented on #5411
Repro 10.14.6 with Signal 5.14.0

[2021-08-25 13:30] direc85 commented on #4681
I can't find that branch anymore. Is this work dropped?

[2021-08-25 18:40] Penguin-Guru opened #5477 "Feature Request: Sort left pane by received at time, not sent time"
- [ X] I have searched open and closed issues for duplicates

---

### Bug Description

The Signal conversation list appears to be sorted by time/date sent. This causes some undesirable U.I. behaviour as described below. A simple fix would probably be to sort by the time/date received (per host).

### Steps to Reproduce

1.  Set current date on Host B.
2.  Set old date on Host A.
3.  Exchange mess

[2021-08-26 01:32] a1346054 opened #5478 "Incomplete license file"
The LICENSE file distributed with signal and in the git repository is incomplete, it is missing the section "How to Apply These Terms to Your New Programs"

Note that the license can only be distributed verbatim as presented on https://www.gnu.org/licenses/agpl-3.0.txt

Explanation here: https://www.gnu.org/licenses/gpl-faq.html#GPLOmitPreamble

[2021-08-26 10:24] rainerzufall opened #5479 "unlinking the desktop from android phone did not work (messages could still be sent and received) until restart of desktop"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

I unlinked my desktop from my android device (on 5.22.1), but my desktop is not unlinked! :scream:
The desktop instance is still able to send an receive messages! But messages from my android phone do not appear on desktop...
(posted about it in the android beta thread: https://community.signalusers.org/t/beta-f

[2021-08-26 15:12] Hanl0n opened #5480 "group descriptions only shown if editable"
- [ x] I have searched open and closed issues for duplicates

---

### Bug Description

If only admins are allowed to edit the group description a non-admin can't see it in group details.

### Steps to Reproduce

1. Create a group with a non-admin member.
2. Set group permissions to allow only admins to edit the group description.
3. Open group details.

Actual Result:

Non-admins can not see the

[2021-08-26 21:51] #5478 closed, assigned to nobody

[2021-08-27 12:20] UserX404 opened #5481 "Problem with attaching images"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description
Since the last update I encounter problems when attaching screenshots from the clipboard.

### Steps to Reproduce

1.  using [Greenshot](https://getgreenshot.org/) or windows screenshot (ctrl + print) to make a Screenshot
2.  attach more than one different screenshots to a chat in signal desktop (ctrl + V)
3.  wh

[2021-08-27 17:28] zznidar opened #5482 "Multiple files can be attached, but disappear after sending"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description
Attaching multiple non-image files by drag&dropping them from Windows Explorer adds them all to the message, but after sending the message, all but one disappear and are not sent, without any error provided to the user.

### Steps to Reproduce

1. Open a conversation in Signal
2. Open Windows Explorer and select

[2021-08-27 18:18] richlv opened #5484 "Group description "read more" ends up editing it"
- [X] I have searched open and closed issues for duplicates

### Bug Description

Clicking "read more" for a longer group description ends up unexpectedly editing it.

Perhaps it would be better to expand the group description instead of opening a popup.

### Steps to Reproduce

1.  In a group, add a long group description.
2.  In group view, click "read more" under the (trimmed) group description

[2021-08-27 21:57] #5480 closed, assigned to nobody

[2021-08-27 22:42] waazdakka opened #5485 "[Windows client] Keep the zoom value after an update"
- [X] I have searched open and closed issues for duplicates

---
### Bug Description

With the Windows Signal client, the zoom value is reset to default after each update

### Steps to Reproduce

1. Change the zoom value to match your desire
2. Update the client when an update is suggested
3. Restart the client and see the zoom value back to default
4. Change again the zoom value

Actual Result:

[2021-08-27 23:44] richlv commented on #5468
Great, thank you for the quick fix :)

[2021-08-28 01:32] gsbabil opened #5486 "New pasted image overwrites the previous one"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

- When pasting images from the clipboard, the second paste would
    overwrite the previous (first) pasted image.

### Steps to Reproduce

1. Copy an image to clipboard _e.g._  from Facebook, Instagram, _etc._
    - Example: https://www.instagram.com/p/CTDDirYLoCl/

2. Click on a recipient contact (from the left

[2021-08-28 01:34] gsbabil commented on #5486
- Possible duplicate of #5481. Thanks.

[2021-08-28 07:37] UserX404 commented on #5482
dupe of https://github.com/signalapp/Signal-Desktop/issues/5481

[2021-08-28 09:05] varjolintu commented on #4275
This is even worse with the latest update (5.15.0) as the zoom level is not saved even if you just restart the application.

[2021-08-28 09:15] hiqua commented on #4275
I think you can now set it in the preferences, have you tried that?

[2021-08-28 09:21] Shnub opened #5487 "Zoom level preference too coarse, and doesn't update with menu command"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Two interrelated issues:

1. If you adjust the zoom level via the menu command or keyboard shortcut, the change is not reflected in the new Preferences "Zoom level" setting. This leads to the user-set zoom level being lost on app relaunch (including on update, see #4275).
2. The Preferences zoom level setting is too

[2021-08-28 09:22] Shnub commented on #4275
@varjolintu and @hiqua
See #5487, please. :-)

[2021-08-28 09:26] varjolintu commented on #4275
@hiqua Yes. But I'm still having the exact problem with #5487. I usually use zoom with 80% and there's no way to save that. Setting zoom from the menu should save the value like before.

[2021-08-28 09:33] pkorba commented on #5487
This is especially annoying given that Signal doesn't respect system font size settings and doesn't allow to change font size in the preferences.

[2021-08-28 10:14] baal-zebub commented on #5307
Same issue for me on sway 1.6.1 and flatpak.

[2021-08-28 14:30] j-streicher commented on #5189
I have the same problem with the german translation at another position. It does overlap directly when you start the app and the QR-Code for the mobile client connection shows up.
![image](https://user-images.githubusercontent.com/57187472/131221305-c8469de4-c758-42a1-a688-d211428c46f1.png)

(Win 10, 3840 x 2160 res with 200 % 'font'-scale, Singal-Desktop-Version: 5.15.0)

[2021-08-28 14:33] j-streicher commented on #5189
Maybe we should include the QR-code/pairing/connecting view in the headline.

[2021-08-28 15:00] hiqua commented on #5307
@baal-zebub what happens if you just move it? E.g. archive it.

[2021-08-28 18:37] baal-zebub commented on #5307
Well turns out it's not that, I didn't archive it but the other conversation moved to the second place and it doesn't work on it either.

[2021-08-29 12:07] ngleb commented on #5475
Signal has been updated to 5.15 on Ubuntu 20.04. The app is installed from the official repo (using the official deb package from Signal website). Messages started to appear in the wrong order and all new messages appear somewhere in the past though their timestamp is correct. So they look like there were received today (i.e. Sunday) but they are inserted between other messages that were received

[2021-08-29 12:35] ngleb commented on #2714
@scottnonnenberg-signal
I might have the same issue though I reported it in the different ticket but they look similar. I've posted some info there and I can provide additional info if needed. But it's really hard to find these new messages since they are inserted in some random order somewhere in the past:
https://github.com/signalapp/Signal-Desktop/issues/5475#issuecomment-907781233

[2021-08-29 15:32] 35609902357 commented on #5227
I have this issue on Debian 11 and Signal stable 5.15.0. Same output with different version numbers. Shoud I open another issue? @EvanHahn-Signal @scottnonnenberg-signal

[2021-08-29 18:30] wwwcdorg opened #5489 "Linuxmint signal-desktop blue screen no qr code link for android"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2021-08-29 18:35] wwwcdorg commented on #5489
hello i install a new signal-desktop on linuxmint but i have blue screen and no see qr code to do link with my phone android. the old version of signal-desktop work but no result with the new 5.15.0
is somebody have the same trouble ?
Sorry for my poor english :(

[2021-08-29 18:56] hiqua commented on #5489
How did you install it?

[2021-08-29 19:17] wwwcdorg commented on #5489
I follow instruction add repository, key and update install like notify in "Linux (Debian-based) Install Instructions"

[2021-08-29 19:38] hiqua commented on #5489
Ok, do you have access to the debug logs as described here: https://support.signal.org/hc/en-us/articles/360007318591#android_debug
? If you do, can you add one here?

Is your Internet connection reliable?

[2021-08-29 19:52] wwwcdorg commented on #5489
internet connection is good, i have no trouble with other application
there is not debug log in /config/signal/logs , only 2 files : app.log 0 kb and main.log 40,6 kb

[2021-08-29 19:59] hiqua commented on #5489
Ok, hard to tell where this comes from. In the meantime I suggest you install the old version, link it, then upgrade it, and you shouldn't hit this bug. If other people have the same bug we should know soon enough.

[2021-08-29 20:08] wwwcdorg commented on #5489
ok thanks  where i can find the old version ?

[2021-08-29 20:10] hiqua commented on #5489
In the repository as well, see which versions are available with: `apt-cache policy signal-desktop`

Then install with something like `apt install signal-desktop=5.14.0`, I think, but I'm not able to try this right now. You can probably look it up though.

[2021-08-29 20:19] wwwcdorg commented on #5489
Thanks i remove signal 5.15 and try install 5.14 with this command
It's good i can do link with my phone.
Thank you

[2021-08-30 06:22] ssuess commented on #3542
Still happening in Signal 5.15.0 with MacOS 11.5.2, often have to force quit and relaunch to stop the fans spinning.

[2021-08-30 09:53] CaySG550 opened #5490 "Installing Signal Desktop"
Hi there,
Signal Desktop stopped working. De-installed and tried to re-install Desktop. The App is stuck at setup @ "link your phone to Signal Desktop". Nothing happens other than the three circles moving from left to right.
Anybody knows what's happening?
Tnx Stefan

[2021-08-30 09:53] #5490 closed

[2021-08-30 09:56] xbug42 commented on #5475
Same here on linux desktop app. I think it started with 5.14.0 and it's still here with 5.15.0

[2021-08-30 10:55] ttrubep1 opened #5491 "Renderer process abnormal-exit – Blue Screen after Startup"
- [x] I have searched open and closed issues for duplicates (#3281 is similar but not exactly the same)

---

### Bug Description

Since a few days, Signal Desktop 5.15.0 is stuck with a blue screen after startup. Sometimes, there is a short glimpse at the contact list before the blue screen appears. After that, Signal Desktop cannot be closed normally, but has to be killed.

The symptoms are simi

[2021-08-30 12:13] FrankIJskes commented on #4839
My system:
win 10 pro
hp z400
xeon w3690
12 GB memory
Geforce GTX 1660Ti
2560x1440 g-sync capable display(predator) and resolution and set to windowed and full screen gsync, 120Hz. No scaling anywhere. Accept the nvidia setting "aspect ratio" for when scaling of a dosbox or something is required.
The problem of fuzzy text appears random, sometimes when i scroll in another window, the fuzziness cha

[2021-08-30 12:31] xbug42 commented on #2714
![Screenshot_20210830_162310](https://user-images.githubusercontent.com/36991733/131338773-544d68e0-2862-4800-a7e0-a8486708bc92.png)

Top message received 1h ago.
Sent	Monday, August 30, 2021 3:03 PM (1630321386115)
Received	Monday, August 30, 2021 3:03 PM (1630321386532)

Bottom message received 1 month ago !
Sent	Friday, July 30, 2021 5:40 PM (1627652457780)
Received	Tuesday, August 3, 2021 4:09

[2021-08-30 13:30] EvanHahn-Signal commented on #3542
@ssuess Sorry you're still running into this. Could you open a new issue with details about your problem? (For example, is it using lots of GPU? Lots of CPU? Does it seem to happen reliably?)

[2021-08-30 13:31] EvanHahn-Signal commented on #5481
Sorry you're running into this—we'll take a look.

This seems related to #5482 (may be the same underlying issue).

[2021-08-30 13:39] EvanHahn-Signal commented on #5491
Sorry you're running into this. Unfortunately, we only provide official support for Debian and Ubuntu. Please file an issue with the maintainer of the package for your OS.

You could try to make a backup of `~/.config/Signal`, start the app without that folder, and then restoring that folder.

[2021-08-30 13:39] #5491 closed

[2021-08-30 13:40] lucashawro commented on #3542
I was celebrating the fix for about a month until recent update v5.15 where the Signal (Renderer) got stuck at 100% CPU again. This ticket was closed prematurely.

[2021-08-30 13:41] EvanHahn-Signal commented on #5189
Sorry you're running into this. I've filed a bug in our internal tracker to address this.

[2021-08-30 13:42] Krumgizel commented on #5491
Same problem here with:
openSUSE Leap 15.2
kernel 5.3.18-lp152.87-default
x86_64

except: not necessary to kill process after quitting. It will terminate after 2 minute timeout:
`{"level":30,"time":"2021-08-30T13:06:45.242Z","pid":9380,"hostname":"desdemona","msg":"requestShutdown: Requesting close of mainWindow..."}
{"level":30,"time":"2021-08-30T13:08:45.245Z","pid":9380,"hostname":"desdemona","

[2021-08-30 14:14] #5486 closed

[2021-08-30 14:31] ttrubep1 commented on #5491
@Krumgizel, I found a workaround using the Debian package of Signal Desktop 5.15.0:

1. Download the package from https://updates.signal.org/desktop/apt/pool/main/s/signal-desktop/signal-desktop_5.15.0_amd64.deb
2. Extract the content of `data.tar.xz` in the `signal-desktop_5.15.0_amd64.deb` file (e. g. KDE's archive manager Ark can open the file).
3. Empty the directory `/usr/lib64/signal-desktop

[2021-08-30 14:44] ttrubep1 commented on #5491
Just for the record, the bug report for the openSUSE package is here:
https://build.opensuse.org/package/show/network:im:signal/signal-desktop-bin#comment-1509717

[2021-08-30 15:12] mrigf opened #5492 "no window visible, app seem running, error noticed by the kernel regarding libvips-cpp"
[X] I have searched open and closed issues for duplicates

### Bug Description

Since upgrade to latest debian build available on your servers through apt-get, there is no window visible.

The app seems to be running.

Deleting user data in ~/.config/Signal changes nothing.

### Steps to Reproduce

1.  startup:

[code]

2.  check system log /var/log/messages

[code]

### Platform Info

Signal Vers

[2021-08-30 16:32] happycookieman commented on #5492
System information:
Xubuntu 20.04.3 LTS Focal Fossa (fresh install, only some days old)
5.11.0-27-generic 20.04.1-Ubuntu SMP
Xfce 4.14
(Problem is reproducible also by booting into Xubuntu 20.04 LTS Live OS and installing Signal Desktop 5.15.0 there)

Since upgrading to Signal Desktop 5.15.0 some days ago, the application doesn't open a window _or_ it opens with only a blue window with menu bar vi

[2021-08-30 16:38] EvanHahn-Signal commented on #5492
To double-check: did you install this with `apt` via our normal installation? Or did you do something custom (like a Snap)?

[2021-08-30 17:02] happycookieman commented on #5492
I did via apt, following the instructions at [signal.org](https://signal.org/download/) as usual:

`Linux (Debian-based) Install Instruction`

`# NOTE: These instructions only work for 64 bit Debian-based`
`# Linux distributions such as Ubuntu, Mint etc.`

`# 1. Install our official public software signing key`
`wget -O- https://updates.signal.org/desktop/apt/keys.asc | gpg --dearmor > signal-desk

[2021-08-30 18:46] EvanHahn-Signal commented on #5489
This looks like a duplicate of #5492. Let's move discussion there.

[2021-08-30 18:46] #5489 closed

[2021-08-30 19:00] indutny-signal commented on #5467
@ddshore I don't know any easy solution, but you try exporting the database into a new file with [`sqlcipher_export` function](https://www.zetetic.net/sqlcipher/sqlcipher-api/#sqlcipher_export) and putting that file back into Desktop's sql folder. Sorry, I wish I had a better idea for you!

[2021-08-30 19:06] 501st-alpha1 commented on #5492
I've run into the same issue as @happycookieman: Signal starts showing only a blue screen and the menu bar, and is otherwise unresponsive.  I'm running Debian Stretch, and installed via. apt.  Signal was working previously, and this started happening when I upgraded to 5.15.0 today.

In the mentioned issue #5491, I followed @ttrubep1's hint to run with `--enable-logging`, and got a similar error a

[2021-08-30 20:12] EvanHahn-Signal commented on #3542
@lucashawro Sorry you're still running into this. Could you open a new issue with details about your problem? (For example, is it using lots of GPU? Lots of CPU? Does it seem to happen reliably?)

[2021-08-30 20:13] ddshore commented on #5467
Thanks.  Would you say that I should try to to encrypt the previously  unencrypted database and adding it to the folder again?

And just use the same key?

[2021-08-30 20:17] indutny-signal commented on #5467
This might work! Great idea.

[2021-08-30 20:45] ztNFny commented on #5492
same issue here on Fedora 34 with the RPM from https://download.opensuse.org/repositories/network:im:signal/Fedora_34/network:im:signal.repo

NODE_ENV production
NODE_CONFIG_DIR /usr/lib64/signal-desktop/resources/app.asar/config
NODE_CONFIG {}
ALLOW_CONFIG_MUTATIONS undefined
HOSTNAME undefined
NODE_APP_INSTANCE undefined
SUPPRESS_NO_CONFIG_WARNING undefined
SIGNAL_ENABLE_HTTP undefined
userData:

[2021-08-30 20:50] lucashawro commented on #3542
Evan, - this happened to me twice on v5.15 so far with the same effects as we've all described in granular detail above. The only "new" thing about the error is its much lesser frequency (for me).

[2021-08-30 21:03] apfelbaeumle commented on #5492
same issue here: no window or only empty blue ones.

[2021-08-30 21:16] sgreadly commented on #3713
@hiqua

Update after few days of testing. While Signal is a bit more responsive now, it still suffers a lot from the lag / slowness above.

I don't believe it's related to the db/data anymore. I used AppCleaner to delete everything and start with a fresh install of Signal on the Mac, and it still suffers from the above slowness, albeit ~30% better now with the latest version.

What does seem to be

[2021-08-30 21:40] scottnonnenberg-signal commented on #5227
Yes, new issue.

[2021-08-30 21:45] j-streicher commented on #5189
Thank you. If you need any further information, let me know.

[2021-08-30 21:45] j-streicher commented on #5189
Thank you. If you need any further information, let me know.

[2021-08-30 22:10] happycookieman commented on #5492
**Please note that this operation will probably erase your local chat history and other Signal settings on the PC**

Did you delete the folder `~/.config/Signal/` and its contents before installing the
older version?

As I have understood, that folder contains the user data and, examining further, there seems to be SQLite-databases in subdirectories, which might not be compatible with the older ve

[2021-08-30 22:55] 35609902357 opened #5493 "Hanging in blue loading screen"
Signal gets stuck in the loading screen (blue background) on Debian 11. Tried Flatpak version (clean install, no config files) but it does the same.
"Debug Log" button is non-functional, here is the terminal output instead:
[code]

[2021-08-30 23:10] 501st-alpha1 commented on #5492
@happycookieman Correct, I didn't delete the data folder, because I was hoping to find a solution that would not require losing my chat history.

Sometimes downgrading does work, because if Signal fails to start earlier in the process it might not have updated the local database yet.  But in this case, it must have managed to upgrade the database, so that prevents downgrading without losing user d

[2021-08-31 05:54] hiqua commented on #5493
Dup: #5492

[2021-08-31 05:58] hiqua commented on #5492
For those on Debian, do you have `libvips42` installed? Can you try to install it to see if it makes a difference? If it's installed, can you try to uninstall it instead (if it's not a dependency of other software you have)?

[2021-08-31 06:15] hiqua commented on #3713
Fresh install == newly linked?

Did you try this by the way? https://github.com/signalapp/Signal-Desktop/issues/3713#issuecomment-547519012

sandboxd seems to point at a permission problem, if you look at your system logs there might be something relevant there, like signal trying to access stuff it shouldn't.

You could also try to have a look at the profiler by running Signal with: `signal-deskt

[2021-08-31 07:02] mrigf commented on #5492
No change whether libvips42 or not is installed. For the record, I had no issue on another computer running the same system (but may have different librairies installed and definitely is on different hardware).

On this computer, moving to the previous version fixed it for me

apt install signal-desktop=5.14.0
apt-mark hold signal-desktop

(and obviously erase user files in ~/.config/Signal - the

[2021-08-31 08:20] apfelbaeumle commented on #5492
no difference here.
5.14.0 works, but 5.15.0 does not.

[2021-08-31 09:04] FilipCon commented on #5111
I also have this issue. Re-linking the device with the android app fixed the issue, but only momentarily...

[2021-08-31 10:29] PPed72 commented on #5492
Same problem here, on Gentoo. I tried 5.16.0_beta1, too, but it has the same problem.

System information:
Gentoo
Kernel 5.10.61-gentoo
KDE Apps 21.04.3 - KDE Frameworks 5.82 - Kde Plasma 5.22.4
AMD Phenom II X6 1100T - 16GB RAM - Radeon HD 4250 GPU

[2021-08-31 13:03] PPed72 commented on #5492
Could it be that libvips-cpp.so.42 is compiled with the wrong optimizations? 5.15.0 works on my Intel PC at the office but fails with  "trap invalid opcode ip:7f2c5af0df1f sp:7fffbf326578 error:0 in libvips-cpp.so.42" on my AMD home PC.

[2021-08-31 13:22] misterfish commented on #5492
Temporary fix: (worked for me, your paths etc. may differ).

    sudo apt install libvips42
    cd /opt/Signal/resources/app.asar.unpacked/node_modules/sharp/vendor/8.10.6/lib
    sudo mv libvips-cpp.so.42 libvips-cpp.so.42.save
    sudo cp /usr/lib/x86_64-linux-gnu/libvips* .
    cd /opt/Signal
    ./signal-desktop

[2021-08-31 14:14] TrunXdraS commented on #5492
Same issue as @PPed72
- Intel PC, linux mint 20.2, signal-desktop v5.15.0, installed via apt, works
- AMD PC, linux mint 20.2, signal-desktop v5.15.0, installed via apt, doesn't work (Version v5.14.0 worked)

Error:
app creates window, but contents is blue.

Log messages:
- starting on command-line with --enable-logging shows `Renderer process crashed`
- grep signal-desktop /var/log/syslog
`traps:

[2021-08-31 15:24] EvanHahn-Signal commented on #5492
We'll take a look at this.

[2021-08-31 15:24] EvanHahn-Signal commented on #5493
This is a duplicate of #5492. Let's move discussion there.

[2021-08-31 15:24] #5493 closed

[2021-08-31 15:32] 501st-alpha1 commented on #5492
@hiqua I didn't have `libvips42` installed, and just installing it didn't make a difference.

But when I copied the libraries to the Signal directory as suggested by @misterfish, that fixed it, and Signal successfully started again.  Thanks for the workaround!

[2021-08-31 16:00] mjball commented on #5383
I've noticed some version of this issue as well. I'm on Signal 5.15.0 (Mac) and I can paste one, sometimes two, images, but no more than that. When pasting more images, the previously-pasted one appears to get overwritten. Is it possible this is related to some max attachment size behavior?

I've noticed the image-pasting weirdness when images are copied from Chrome and from Slack.

[2021-08-31 16:00] ztNFny commented on #5492
Installing libvips also solves the issue on Fedora 34:
`sudo dnf --setopt=install_weak_deps=False install vips`

[2021-08-31 16:43] hiqua commented on #4276
Regular conversations can also have this bubble color, so it's annoying there as well.

[2021-08-31 21:23] chiraag-nataraj opened #5494 "emoji skin tone modifier in reaction menu doesn't "stick""
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

The emoji skin tone modifier in the reaction menu doesn't permanently change the skin tone. Selecting the same skin tone in the emoji picker **does** stick.

### Steps to Reproduce

1. Click on the reaction button to the right (or left) of a message.
2. Select a different skin tone.
3. React.
4. Notice that the

[2021-08-31 21:34] rowanthorpe commented on #522
For a while I've been using a tool I wrote to decrypt and export the sqlite/sqlcipher data from signal-desktop's db to a plaintext sql dump (which can be read as-is, or slurped into an unecrypted sqlite db for browsing, or into a sql-cipher db for importing back into Signal). Seeing this thread motivated me to put the (very small) tool in a repo and link to it here. Importantly I found that:
* I h

[2021-08-31 21:42] sgreadly commented on #3713
Yep, fresh install as in deleted Signal app's files via AppCleaner, and did a new link to my phone with it. I can't see the older messages for security reasons etc..

I'll have a look at the system logs and let you know soon. But, can I check again on how to get the dev tools on my Mac?

[code]

[2021-09-01 01:19] EvanHahn-Signal commented on #5492
We've prepared a fix for this internally that we expect to be released in upcoming versions. Please stay tuned!

[2021-09-01 01:44] sgreadly commented on #3713
@hiqua , Update;

--disable-gpu : Wow! This hit the nail in the coffin. Signal app is as responsive as it should be now. I'll have to test with my external monitor too just to make sure no issues there, but I would say at lest for my issue this is a good workaround.

https://debuglogs.org/e05f12e89e8dade92a6309b9a29c5bd31d8180c640c9b357e1d587ed27ca4130.gz

I had a look at the console logs. I could

[2021-09-01 07:53] sgreadly commented on #3713
For anyone in need of a quick DIY workaround for this provided they have the same issue as my above,

* Open Apple's **Script Editor** app
* Add the following line to the top part:

`do shell script "/Applications/Signal.app/Contents/MacOS/Signal --disable-gpu --enable-dev-tools"`

* File > Save As (if Save As doesn't show, hold the option button)
* Save it as an **Application** file format, in yo

[2021-09-01 09:26] tgdn commented on #5492
Hi all, I've got almost the exact same issue on macOS since upgrading to the latest version. Stuck on Loading, then loads messages at the rate of 10 per hour or less. It worked just before the latest upgrade 😐 .
Debug log is frozen.

Signal Desktop v5.15.0.
macOS v11.2.

[2021-09-01 11:44] tgy commented on #1659
@josh-signal @EvanHahn-Signal @scottnonnenberg-signal @indutny-signal

Is any one of you guys willing to work on solving this issue? It seems quite straigthforward: a 3 years-old hanging fruit!

Would you like us to open a PR? Talk to us! Thanks

[2021-09-01 13:25] ParisKellySkopelitis commented on #522
@rowanthorpe I was working on a similar tool as well! Didn't get that far though haha. In theory this would allow for iOS to android backups (via signal desktop of course).

[2021-09-01 13:40] EvanHahn-Signal commented on #5492
@tgdn This seems like an unrelated issue; the app _does_ load, but it loads very slowly. Could you open a new issue once the app finally boots and you're able to get debug logs?

[2021-09-01 13:42] tgdn commented on #5492
@EvanHahn-Signal I finally deleted the database file (deleting all previous messages) and that did the trick, but starting with no messages at all.

[2021-09-01 13:58] tgdn opened #5495 "App loading very slowly after upgrading"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

I upgraded the app by downloading the latest (v5.15.0) version from the website.

The app started, and as it usually happens when I don't start the app for a while, messages started loading, but at the rate of maybe 10 every hour or so, sometimes it was slower, sometimes faster.

Debug log was frozen.

After 24h

[2021-09-01 13:58] EvanHahn-Signal commented on #5383
@mjball We're working on improvements here and should have something fixed in the next version.

[2021-09-01 17:30] #4593 closed

[2021-09-01 20:57] sgreadly commented on #3713
Are those electron apps [here](https://www.electronjs.org/apps)? No I haven't tried any (wasn't aware of them), but will definitely give a few a shot.

Yea I wonder if others on M1 thought the issue is elsewhere.. But I'm hoping if this is a common issue, it'll show up more..

I'll open up a new issue if I find anything else interesting, say with other electron apps, or if I discover something els

[2021-09-02 00:01] Shnub opened #5496 "Small images/pictures/GIFs are displayed too big in chat view"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Images below certain dimensions are upsampled by Signal for the chat view preview, apparently so that some default size for the image preview is reached. This leads to a false, very unsharp display of those images. Only opening the image viewer by clicking the preview causes the image to be displayed at its actual si

[2021-09-02 07:04] lnicola commented on #3713
You should consider filing another issue, this one was specifically about large databases. Disabling the typing indicator really helps with slow rendering issues.

[2021-09-02 08:06] nickma82 commented on #5444
Maybe related to #5127

[2021-09-02 15:49] alx696 commented on #3694
@scottnonnenberg-signal @strugee Change `after-install.tpl` can solve the problem. example: https://github.com/alx696/polong-desktop/commit/02a41aca3f4b93719115ee8a43463393e418a307

or change to:
[code]

keep update-desktop-database without error. Debian 11 KDE not install desktop-file-utils, update-desktop-database can not execute.

[2021-09-02 16:21] geofire commented on #4730
I really do try to convince my friends and family to jump over to Signal, promoting the desktop app specifically, though I've not had a lot of luck, because of the dropping of conversations on unlinking.

The unlinking issue, and subsequent lost conversation history, makes Signal feel very unpolished. When an app is vying for market share, perception is hugely important in uptake, especially for n

[2021-09-02 16:37] kyrofa commented on #4730
By the way, I hereby offer to contribute this work if we can get sign off on the direction forward.

[2021-09-02 17:12] 501st-alpha1 commented on #5492
As an update, while the workaround *was* working for me, it doesn't appear to be working any longer.

I had left Signal open overnight, and when I came back to it I found the blue screen again.  Upon restarting it, the conversations did actually show up briefly before it returned to the blue screen.  When running from terminal, the log again shows `Renderer process abnormal-exit`, though this time

[2021-09-02 17:16] EvanHahn-Signal commented on #5494
Sorry you're running into this. I've filed an issue in our internal tracker.

[2021-09-02 18:31] EvanHahn-Signal commented on #5496
Thanks for opening this issue.

Unfortunately, I don't think we'll be addressing this. All 3 clients (Desktop, Android, and iOS) scale up your image, and we're not planning to make an exception on Desktop. We do this, in part, because we don't want tiny images to be invisible to the user. Imagine if I sent you a 1x1 image and didn't scale it up...what would we do visually in that situation?

If yo

[2021-09-02 18:31] #5496 closed

[2021-09-02 19:22] rowanthorpe commented on #522
@ParisKellySkopelitis I was also thinking that probably the database is the same across Desktop/Android/iOS (sqlite with sqlcipher extension) so I guess this tool should work on those too. Anyone wanting to try would need to just solve getting access to the db-file and the config-file on those platforms, and anything beyond that is just parsing and post-processing to present the data differently f

[2021-09-02 21:18] ankostis commented on #522
FYI, there is this module for scrapping signal-desktop's DB for URLs, part of the bigger `promnesia` project, which contains an SQL-query that presents Signal discussions in a sensible way adaptable to exporting needs:
https://github.com/karlicoss/promnesia/blob/master/src/promnesia/sources/signal.py

[2021-09-03 00:01] dobonpalik commented on #5299
I'm running Signal Desktop v5.15.0 that still is exhibiting the same behavior. In my case the conversation appearing in Desktop has been deleted from the linked Android phone.

Desktop OS: PureOS 9, which is based on Debian 9 Buster (oldstable).
Desktop Environment: GNOME 3.30.2
Signal Desktop installed from Signal repository. Contents of /etc/apt/sources.list.d/signal-xenial.list :

deb [arch=amd

[2021-09-03 00:34] scottnonnenberg-signal commented on #5492
All: Please try 5.16, which just went to production and should fix this.

[2021-09-03 02:36] xeejhayo23 opened #5497 "Cannot copy image from Signal Desktop itself"
****Bug Description**

I cannot copy an image from Signal Desktop

**Steps to Reproduce****

1. Preview received images
2. Right Click image

Actual Result:

Copy option doesn't pop-up.

Expected Result:

Copy option should pop-up so we can copy the image just like it was before.

**Platform Info**
Signal Desktop Version:

v5.16.0

Operating System:

Windows 10

[2021-09-03 02:47] 501st-alpha1 commented on #5492
The new update is working for me, thanks!

[2021-09-03 06:04] hiqua commented on #5299
@dobonpalik can you submit the full debug log from view -> debug log?

[2021-09-03 14:48] happycookieman commented on #5492
Upgraded from 5.14.0 to 5.16.0 and everything works again. Brilliant! :1st_place_medal:

I'll be turning into @ghost soon as reporting this issue was my only purpose for this user account.

Remember friends that Signal is a service by a non-profit organization (+ LLC.) and relies on donations to keep running and developing :moneybag:
I'd say consider [donating](https://signal.org/donate/) to them

[2021-09-03 15:00] TroyFletcher commented on #5268
Experiencing same issue after signal upgrade via apt install/repository

[code]

[code]

Box is a fresh Debian install with an old Home directory (from previous version of Debian) running i3wm and Cinnamon. Tested in whatever "normal" non-i3wm environment Cinnamon has, still won't open.

Tried removing the .config/Signal directory, and it made a new one but still wouldn't display. Haven't tried op

[2021-09-03 15:23] EvanHahn-Signal commented on #5111
The latest beta of Signal Desktop improves our logic to retry messages (it retries them for up to 24 hours), which should largely prevent you from having this issue in the future.

[2021-09-03 15:58] EvanHahn-Signal commented on #5377
I've renamed this issue to match its new intent: adding official support for the system tray on Linux. Currently, the system tray is supported on Linux but only on Signal Desktop's beta. It may be unreliable there, but once we can make it reliable for our officially-supported distributions, we'll enable it for all users.

[2021-09-03 16:00] EvanHahn-Signal commented on #2368
The original issue was about the `--start-in-tray` option persisting across updates on Windows. It has been addressed with official support. See Signal's Preferences to enable this. You no longer need the command line flag.

On Linux, it's a different story. Let's move discussion to #5377.

[2021-09-03 16:00] #2368 closed

[2021-09-03 16:03] EvanHahn-Signal commented on #5474
You may be able to take your config directory (`~/.config/Signal` for production Linux) and use it to power a new instance, but you may need to delete all of the app's data and relink. Apologies.

[2021-09-03 16:04] EvanHahn-Signal commented on #5485
Thanks for reporting, and sorry you're running into this. We're working on improvements here.

[2021-09-03 16:05] EvanHahn-Signal commented on #5485
This looks like a duplicate of #4275, so I'm going to close.

[2021-09-03 16:05] #5485 closed

[2021-09-03 16:05] EvanHahn-Signal commented on #4275
Sorry folks are running into problems here. We'll look into addressing it.

[2021-09-03 16:07] EvanHahn-Signal commented on #5492
I'm going to close this issue because I believe the bug has been resolved. Please open a new issue if you run into anything!

[2021-09-03 16:07] #5492 closed

[2021-09-03 16:08] EvanHahn-Signal commented on #5487
We're working on improvements here—stay tuned.

[2021-09-03 16:24] EvanHahn-Signal commented on #5495
That's _way_ too slow! Sorry you ran into this.

You cleared the database which should fix your problem, but we'll do some digging.

I see a _lot_ of decryption errors in your log, which is probably the cause of the slowness. That means that (1) Desktop did a bad job decrypting valid messages from other people (2) the sender encrypted the message incorrectly (3) both.

1. Did you see any decryptio

[2021-09-03 16:32] EvanHahn-Signal commented on #3542
@lucashawro I've spent a few hours investigating this and made a fix for when the window is invisible. Unfortunately, I was unable to solve the problem entirely, and it seems to be an issue with Chromium that we cannot resolve.

@ssuess For CPU issues, see #5444.

[2021-09-03 19:51] fabiscafe commented on #5377
@EvanHahn-Signal This is not what this issue is about. I made it for this one reason to have better support for how GNOME does it. Is you have no intention to work on this please close it as wontfix.

It's tbh very frustrating to be here as it feels like there is an [easy path](https://github.com/signalapp/Signal-Desktop/issues/5377#issuecomment-877604564) to go on but for some reason you keep avo

[2021-09-03 23:51] M4SID opened #5498 "Group calls now ring people"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

Signal desktop, group calls ring the group. There is no option to turn this off. Likewise, you cannot idle in an empty call, the group call will persistently ring until someone joins it.

Previously, a group call would not ring anyone, and someone could idle in the call waiting for someone to join. It functioned

[2021-09-04 00:42] scottnonnenberg-signal commented on #5268
@TroyFletcher Please try 5.16.0 - a native dependency that quite a few linux installations didn't like was used in 5.15.

[2021-09-04 02:12] TroyFletcher commented on #5268
Installed via apt install signal-desktop-beta (5.16.0-beta.1), and reset the perms on chrome-sandbox, then ran...
[code]
Attached log output of `strace -f -o signaldesktopbeta.log signal-desktop-beta`
[signaldesktopbeta.log](https://github.com/signalapp/Signal-Desktop/files/7109065/signaldesktopbeta.log)

I can't even pretend to know what I'm looking at here ^_^;;

[2021-09-04 03:58] dobonpalik commented on #5299
@hiqua Just updated to Signal Desktop 5.16.0, then tried to archive the same "zombie" conversation, then it returned. Immediately grabbed the debug log and attached below. Thanks!
[2021,0904@0345_SignalDesktop5.16.0_DebugLog_UnableToArchive.txt](https://github.com/signalapp/Signal-Desktop/files/7109162/2021.0904%400345_SignalDesktop5.16.0_DebugLog_UnableToArchive.txt)

[2021-09-04 08:05] Sgn-32 opened #5499 "Missing strings in transifex"
- [X] I have searched open and closed issues for duplicates
---

### Bug Description

Following strings in the new settings windows are missing in transifex for translation:

- enable notifications (in Settings -> notifications)
- Devices (in Settings -> calling)

### Screenshots

![Bildschirmfoto_2021-09-04_09-57-13](https://user-images.githubusercontent.com/49990901/132087619-bf895cfd-4b39-49a3-

[2021-09-04 11:30] EvanHahn-Signal commented on #5498
This is a bug I introduced—totally my fault. We'll have this fixed in an upcoming version.

[2021-09-05 16:46] eaon commented on #5421
Unfortunately I'm affected by this as well. Is this behaviour intentional? Luckily I kept a backup… But I really hope keeping the message history in my (active) desktop client as the old phone it was linked with died (same phone number)

[2021-09-06 08:18] JamesWilson3 commented on #5497
This issue is also happening for me. Seems to be due to the 'zoom' functionality of the new image viewer. The magnifier icon appears when hovering over the image, which seems to disable/override the right click and copy image pop up.

[2021-09-06 09:17] ltstereo commented on #5475
Same here on Linux desktop app. 5.14.0 and 5.15.0 and 5.16.0.
In the desktop app, the messages are not provided with the correct date. Messages written today in the desktop app have a date from the end of August. But only in the desktop app. When I open the Android app everything is correct. Also received messages in the desktop app are given with an incorrect date although they are correct in the

[2021-09-06 11:19] mglantz commented on #5350
I can confirm that sharing the complete screen is broken on Fedora 34 for Google Meet and Teams. I have several colleagues that are hitting this.

[2021-09-06 12:28] xbug42 commented on #5475
@ltstereo : in my case, the timestamps are ok. The only problem is the ordering : all the new messages are displayed before some old messages (always before the same old message).

[2021-09-06 14:40] benjaminbhollon commented on #5475
Just thought I'd say, I started having the same problem today. I'm using Ubuntu 21.04.

The first time, it persisted for maybe an hour, including my shutting and opening the app multiple times when it suddenly started adding new messages to the end again, though the old messages didn't return to the proper order. But just about half an hour ago the problem's started again.

[2021-09-06 14:41] ltstereo commented on #5475
@xbug42 You are right. I just checked the timestamps. They are correct. The messages are sorted incorrectly. They are just between the old messages from last month.
I renamed the ~/.config/signal/. Signal created a new folder. Now it works but I no longer have a history which bothers me a lot.

[2021-09-07 09:09] CryptGoat commented on #5475
Same problem here, most likely started with either 5.14.0 or 5.15.0 for me. Using the Signal Desktop version from the official Manjaro repo. Using 5.15.0 right now.

Operating System: Manjaro Linux
KDE Plasma Version: 5.22.5
KDE Frameworks Version: 5.85.0
Qt Version: 5.15.2
Kernel Version: 5.14.0-0-MANJARO (64-bit)

[2021-09-07 09:35] savegame commented on #5377
KDE no ability to minimize signal to tray

[2021-09-07 10:48] firefoxlover opened #5500 "Linux: drag&drop of files doesnt work, loads for eternity"
- [ y] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  open a chat on Signal Desktop Linux
2.  drag&drop an Office file, PDF, etc into it
3.  it stays on load forever

Actual Result: loads and doesnt send with enter

Expected Result: loads, able to send with enter

### Screenshots

### Platform Info

Signal Version: v5.16.0

Operating Sy

[2021-09-07 15:40] indutny-signal commented on #5497
We are working on this. Thank you for reporting it!

[2021-09-07 16:18] hiqua commented on #5500
Debug log?

[2021-09-07 17:33] firefoxlover commented on #5500
added it

[2021-09-07 17:41] indutny-signal commented on #5500
Sorry about this, we'll look into it.

[2021-09-07 17:45] indutny-signal commented on #5499
Sorry about this. We'll look into it.

[2021-09-07 22:01] scottnonnenberg-signal commented on #5268
@TroyFletcher I think we've gone too deep on the `strace` can you talk about what you're experiencing, and in what configurations? A desktop debug log would be useful, or at least what you're seeing on the console. Seems like you're trying to do something nonstandard with the sandbox?

[2021-09-07 22:01] scottnonnenberg-signal commented on #5421
The behavior is not intentional. There was a bug where your phone number would be dropped when your Desktop instance was unlinked, so we didn't know it was the same account when linking again. And that would cause us to delete everything. That shouldn't happen anymore.

[2021-09-07 23:15] k3d3 commented on #3411
Image pasting appears to work for me in wayland if I use the Signal Beta (that is, signal-desktop-bin 5.17.0beta.1-1 from Archlinux's AUR).

However I still don't have two modals (the "Preferences" and "About Signal Desktop" menu options) working. I try to open them, by keyboard shortcut and by clicking, and nothing happens.  Nothing shows up on the command line either.

Interestingly, the "Show K

[2021-09-07 23:18] k3d3 commented on #3411
One workaround for changing preferences is to reopen signal-desktop-beta in Xwayland, that is, running `signal-desktop-beta --disable-gpu` (to prevent a black screen) and then the preferences modal works. Then, once you've set the options you want, you can switch back.

[2021-09-07 23:18] kno10 opened #5501 "Reduce application size to a reasonable amount. 367 MB is absurd."
Because of Electron, the download and install size of Signal is absurd.

The following NEW packages will be installed:
  signal-desktop
0 upgraded, 1 newly installed, 0 to remove and 8 not upgraded.
Need to get 112 MB of archives.
After this operation, 367 MB of additional disk space will be used.

It is just stupid to add an entire copy of a web browser into individual applications. If it's all j

[2021-09-07 23:20] scottnonnenberg-signal commented on #4684
@kekkekekw A new debug log would be useful! Thanks!

[2021-09-08 02:01] Pokey1Kenobi commented on #5389
I've got the same issue but get :

hexeraser@hexeraser-G50:~$ stat --format='%a' ~/.config/Signal/ephemeral.json
stat: cannot stat '/home/hexeraser/.config/Signal/ephemeral.json': No such file or directory

[2021-09-08 05:16] vchernin commented on #5500
They’ve installed the unofficial Flatpak (given the directory is a Flatpak convention).

So Flatpak are sandboxed and problems like this can inherently arise. It seems likely they’re dragging from directories that Signal doesn’t have access ([it only has access to directories like Desktop, Documents, and Downloads currently](https://github.com/flathub/org.signal.Signal/blob/master/org.signal.Signa

[2021-09-08 05:36] anntheknee commented on #5475
+1 Except I have only a "chunk" of messages showing up incorrectly. Messages on a particular day show up at the bottom of my messages despite roughly 1 week ago. New messages do appear but I have to scroll up to see them. Sidebar contains the incorrect most recent message.

[2021-09-08 05:40] hiqua commented on #5501
Feel free to discuss that there: https://community.signalusers.org/t/move-away-from-electron/4190

[2021-09-08 05:42] hiqua commented on #5389
@Pokey1Kenobi how did you install Signal?

[2021-09-08 06:51] Pokey1Kenobi commented on #5389
Desktop version on ubuntu 21.04, not certain but from synaptic I believe. I do have 2 installs as well as a beta version in my app drawer/page for fear that my cellphone juggling may lose my contacts or conversations (seeking zen state w/o the man, via micro or nano) which is pointless anyway.  Beta may have come from  the website.

[2021-09-08 12:54] TroyFletcher commented on #5268
@scottnonnenberg-signal I'm sorry if I missed anything, I tried to cover whatever I thought was necessary 2 comments ago [here](https://github.com/signalapp/Signal-Desktop/issues/5268#issuecomment-912603668) That comment includes the console output.

I'm not trying to do anything nonstandard, just start it up after an upgrade. Not sure why the beta version reacts so much worse. I tried to install

[2021-09-08 16:11] janvlug opened #5503 "Missed call notification in wrong chat"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

I saw a notification in a chat of a missed call. But I did not miss a call of this person, but of someone else at the indicated time ago. For the person from whom I really missed a few calls there are notifications in the chat of that person too. When I missed the calls, I was on my other laptop. I missed the ca

[2021-09-08 16:19] janvlug commented on #5503
Here is the debug log of my other Signal desktop. That one does not state the missed call in the chat of the wrong person:
https://debuglogs.org/2ef19f64f5e52033130d0647d5c8dbe4e80e620c08abe33c40d8d87510403e0b.gz

[2021-09-08 16:23] janvlug commented on #5503
And here the debug log of my Android phone (that also does not indicate the missed call in the wrong chat). BTW, the "missed" call was roughly 5 hours before creating all three the debug logs.

https://debuglogs.org/c28ef08796976bd4207d806943f4e9bff7c128034de59cc8fd7c3b87100c2463

[2021-09-08 16:27] scottnonnenberg-signal commented on #5503
@janvlug Could this be explained not by 'wrong chat' but by an incorrect timestamp/label for a given call? There is a known issue, when starting up Desktop after a while offline, that a _successful call_ with someone, will incorrectly move that conversation to the top of the left pane, and have a timestamp of 'now' and show as 'missed call.'

[2021-09-08 16:29] scottnonnenberg-signal commented on #5475
The easiest workaround is to delete the messages between where new messages are appearing now and the bottom of the conversation. Then new messages will appear in the right place.

GIven all the reports, we're considering something a little more drastic to fix older conversations, but that's always a really risky thing to go change old data like that.

[2021-09-08 16:34] julianfairfax commented on #5475
Considering there's no way to select multiple messages to delete at once, that's not really an option for me. As for the risk in changing old data, I would delete the data anyway so I don't think that's an issue. Is this fix coming any time soon or should I just clear the data?

[2021-09-08 16:39] xbug42 commented on #5475
@scottnonnenberg-signal : can it happen again in the future ? Or is the bug fixed and we "just" have to clean the mess ?

[2021-09-08 17:01] ngleb commented on #5475
@scottnonnenberg-signal

But they don't appear at just one place. In my case, new messages appear at random places though on the same day (as can be seen on the screenshot above).

[2021-09-08 17:08] janvlug commented on #5503
I do not think so.

I think you are referring to [this bug](https://github.com/signalapp/Signal-Desktop/issues/4558), but it is definitely not that one.

I received a message from the person in whose chat the wrong notification appeared. I had a look in my running Signal desktop, and then I also saw the wrong notification of the "missed" call.

[2021-09-08 17:55] scottnonnenberg-signal commented on #5268
@TroyFletcher I'm confused, because you only included the desktop output for your attempt to run 5.15.0, not your later attempt with 5.16.0-beta.1. You jumped right to `strace`. You can always provide more complete logs via `~/.config/Signal/logs` (or `Signal Beta` if you're on beta).

Lastly, 5.16 is in production, so you should be able to run that instead of trying to run the beta.

[2021-09-08 18:00] scottnonnenberg-signal commented on #5503
@janvlug Alright. Can you tell me when your last call was with the wrong conversation?

[2021-09-08 18:04] scottnonnenberg-signal commented on #5475
@ngleb Would you consider reaching out to us directly? You appear to have a truly degenerate situation, and we'd like to poke at your installation.

@xbug42 The underlying concept is that there's an always-incrementing counter for everything that goes into the conversation timeline. For a build or two, I believe at least 5.14, there was a race condition where this counter was sometimes given a too

[2021-09-08 18:07] TroyFletcher commented on #5268
Ah, I understand. signal-desktop-beta does not produce any ~/.config/Signal Beta/ directory so I don't think the program is getting far enough to accomplish this.

Thank you for notice of 5.16, I've updated to it with the usual apt install signal-desktop, and the GUI now loads properly.

If you want any further configuration information from me I can produce it. Otherwise the issue is resolved! Th

[2021-09-08 18:08] scottnonnenberg-signal commented on #5389
@Pokey1Kenobi Have you upgraded lately? Are you still having that problem on the latest builds of desktop? If that file isn't there, maybe try creating that file with just `{}` in it, and see what happens?

[2021-09-08 18:09] scottnonnenberg-signal commented on #5268
I'm going to close this, since it's a lightning rod for all linux problems. In the future, if the linux app isn't starting up for you, please enter a new bug!

[2021-09-08 18:09] #5268 closed

[2021-09-08 18:10] scottnonnenberg-signal commented on #5500
@firefoxlover Please close this when you've tested that. We don't officially support Flatpak installations. And as @vchernin so helpfully provided, this is a problem with how the flatpak wrapper for Signal Desktop requests permissions.

[2021-09-08 18:12] #5501 closed

[2021-09-08 18:12] ruffson commented on #5475
One interesting thing about this messy situation is: Conversations that have these out-of-order messages cannot be pinned. When trying to pin them, they are pinned for a few seconds and then are unpinned. After deleting the in-between messages, I can pin these again.

A good test to figure out if a conversation is in a sane state again.

[2021-09-08 18:14] scottnonnenberg-signal commented on #5475
@ruffson Can you provide a desktop and mobile app log after attempting that pin operation? We'd like to see what exactly is going wrong there, since we wouldn't expect that to happen.

[2021-09-08 18:16] ruffson commented on #5475
Oh I already have cleared up all convos that were affected. Btw.: Mobile was never affected for me. Only the linux desktop application.

[2021-09-08 18:17] scottnonnenberg-signal commented on #5475
@ruffson The reason I asked about your mobile app is because your immediate un-pin means that there was contention with your mobile device; your set of pinned conversations is shared between all of your devices in storage service.

[2021-09-08 18:19] julianfairfax commented on #5475
Yeah this is an important question because I won't bother clearing the data if it's just going to happen again.

[2021-09-08 18:20] ngleb commented on #5475
@scottnonnenberg-signal Sure, no problem. Today is a bit late (it's 1am night already where I am now), but I can find time tomorrow. How can I reach you and what time would be OK for you?

[2021-09-08 18:20] firefoxlover commented on #5500
So can I just Install Signal from the official page? I only installed stuff on Linux through the package installers, didnt know about that. The download folder works

[2021-09-08 18:20] #5500 closed

[2021-09-08 18:38] janvlug commented on #5503
The last answered call with the person in whose chat the wrong notification appeared was 7 September 18:00 via Android. I only see on Android a notification for this. Not on Signal Desktop.
Strange enough, on the desktop where I previously had no notification of a missed call, I see now  a "missed" call from 10:04 pm (Tuesday 7 September).

Actually, I start doubting now if there indeed might be a

[2021-09-08 18:41] janvlug commented on #5503
I checked on the other desktop (with the "missed" call notification). On that Signal desktop, the real call from yesterday is not in the chat, only the erroneous "missed" call.

[2021-09-08 18:42] scottnonnenberg-signal commented on #5475
@julianfairfax @xbug42 To boil down my previous statement, we don't expect there to be any further out-of-order problems. In essence, there might be some old messed up message, but we do expect all new messages to be right next to each other, in the right order. If that's not happening for you on the latest production release, please reach out to me.

@ngleb Direct email or perhaps even Twitter DM

[2021-09-08 18:42] scottnonnenberg-signal commented on #5475
@ngleb I'm on Pacific Time, so 9am PDT is probably the earliest we could get started.

[2021-09-08 18:43] julianfairfax commented on #5475
All the new messages are right next to each other, out-of-order in between old ones. This is on the latest beta but I don't see how that would make a difference. Does this mean I should or shouldn't clear my data?

[2021-09-08 18:44] scottnonnenberg-signal commented on #5503
@janvlug So it seems like it might be two instances of call notifications with the wrong timestamp and 'missed call' instead of whatever actually happened?

[2021-09-08 18:45] scottnonnenberg-signal commented on #5475
@julianfairfax If you delete all of the messages between the newest messages coming in (in the middle) and the bottom of the conversation, things should be in good shape after that, right? No need to delete absolutely everthing?

[2021-09-08 18:46] julianfairfax commented on #5475
Well that is possible, due to it having to be only one at a time, that would take a while.

[2021-09-08 20:29] dmp1ce opened #5504 "Video camera missing on Signal Desktop for Linux with Wayland"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

Video not available for Signal Desktop on Linux for Arch Linux on Wayland.

I noticed the error `libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)` on the CLI.

### Steps to Reproduce

1.  Arch Linux with Wayland
2.  Try to start a call with video on camera

Actual Resul

[2021-09-08 20:41] hiqua commented on #5504
Can you submit a debug log? View, debug log.

[2021-09-08 21:00] dmp1ce commented on #5504
I added the debug log at the bottom of issue.

[2021-09-08 21:31] scottnonnenberg-signal commented on #5504
@dmp1ce Has this ever worked for you? Or is this a regression after upgrading Signal Desktop?

[2021-09-08 21:48] Jonta commented on #3291
Related: https://github.com/signalapp/Signal-Desktop/issues/4975

Which mentions https://github.com/electron/electron/issues/8124

tl;dr: Somewhat an Electron-thing

[2021-09-08 21:50] janvlug commented on #5503
TBH I cannot really make sense of it. In summary:

- Signal Android and one Signal Desktop show now correctly the last real call (from September 7, 18:00) with the contact in the chat. I'm pretty sure this notification was not immediately in the Signal Desktop, but it showed up only after some time.
- The other Signal Desktop does not show the last real call in the chat at all, but it does show th

[2021-09-08 21:53] VioletDarkKitty opened #5505 ""Error: Failed to load image from path '[REDACTED]/images/alert/256/1.png' at SystemTrayService.renderEnabled ([REDACTED]/app/SystemTrayService.js:-99:14)" on receiving a notification with the program open and in the tray [Linux]"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1. Have signal open but also in the tray on Linux Mint Cinnamon
2.  Receive a notification (randomly?)

Actual Result:

The window freezes with an unhandled error. Pressing copy and quit does not copy the error, it is not saved anywhere that I can see. The notification appears after that

[2021-09-08 22:10] dmp1ce commented on #5504
I suspect it is a regression but I'm not sure if it with Signal or Arch Linux.

Video camera used to work great.

[2021-09-08 22:11] dmp1ce commented on #5504
I'm also using Gnome WM.

[2021-09-08 23:24] scottnonnenberg-signal commented on #5505
Do you have automatic `apt` updates in the background? This can happen when files are deleted out from under the running app.

[2021-09-08 23:37] VioletDarkKitty commented on #5505
Yes but it had finished before the notification appeared

[2021-09-09 00:32] clavin commented on #5411
Circling back downstream here to let y'all know that this bug should already be fixed in newer Electron versions and it just so happens that the ones Signal and Slack are using had this bug. I believe an Electron upgrade to a version after 13.1.9 should fix this bug. Feel free to ping me in https://github.com/electron/electron/issues/30371 if this isn't the case!

[2021-09-09 01:15] xeejhayo23 commented on #5497
Fixed on the latest update v5.17.0

**THANK YOU SO MUCH SIGNAL DEVELOPERS!**

[2021-09-09 01:15] #5497 closed

[2021-09-09 04:12] jpdoyle opened #5506 "An odd URL that signal doesn't highlight as a link"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

The url `https://gdz.sub.uni-goettingen.de/id/PPN235181684_0099?tify={%22pages%22:[122],%22panX%22:0.32,%22panY%22:0.692,%22view%22:%22info%22,%22zoom%22:0.44}` does not get highlighted as a link on `signal-desktop` (`v5.15.0`, installed via `nixpkgs`), and only gets highlighted until the `=` sign on Signal Andr

[2021-09-09 04:19] jpdoyle commented on #5506
I'm not sure if I should file a separate issue on Signal-Android as well

[2021-09-09 11:05] linxucc commented on #4446
Wow! Thanks for this magic one-liners!

In case for someone have similar issue, for a local IP address proxy server, you can drop the "http://" prefix, and things should work.

Like this:

`https_proxy=192.168.1.111:8888 open -a "Signal"`

That works for me!

[2021-09-09 11:30] linxucc commented on #1632
Just for information purpose:

`https_proxy=http://myproxy:8080 open -a "Signal"`

This magic one-liner DO set a proper proxy that the signal APP could pick up.  That works for me with no problem.
I suggest everyone have this problem could give this one-liner a try.

BTW, I think maybe I have a simpler way to solve this problem:

For now it seems the pro developer guys are limited by the underlyin

[2021-09-09 14:08] jwiesler opened #5507 "Drag and dropping images from other applications does not work"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description
Drag and drop of images  from other applications (firefox and chrome, possibly more, didn't test) that are not represented as a file does not work. Right click copy and then pasting the image works. Dragging the image to the desktop and then dragging the file to Signal works.

### Steps to Reproduce

1. Drag an i

[2021-09-09 14:10] julianfairfax commented on #5475
I deleted the messages that my new messages were getting stuck behind and it solved the result, though of course not the cause, and that's with the loss of messages. If this happens again I'll probably just clear the data. I know Signal Desktop is supposed to be used alongside the phone app, but it would be nice if you could at least rely on it.

[2021-09-09 14:37] Sgn-32 commented on #5499
The missing strings are added in the released Signal Desktop 5.17.0.

[2021-09-09 14:37] #5499 closed

[2021-09-09 15:11] chorsnell opened #5508 "Window taskbar does not flash, if notifications are disabled, but draw attention is enabled"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

In preferences, the boxes for `Enable notifications` and `Draw attention to this window when a notification arrives` are independently selectable, however when notifications are disabled, the draw attention feature does not work.

All other IM clients (Rambox, Whatsapp etc) have these behaviours separated.

###

[2021-09-09 15:37] ngleb commented on #5475
@scottnonnenberg-signal Which Twitter account should I contact - yours or signalapp?

[2021-09-09 16:37] scottnonnenberg-signal commented on #5475
@ngleb My personal, since I don't have access to the central account.

[2021-09-09 17:04] ngleb commented on #5475
@scottnonnenberg-signal I've sent you a DM on Twitter, hopefully I found a correct account.

[2021-09-09 18:40] indutny-signal commented on #5508
Thank you for reporting this, and sorry for the issue. We'll look into it!

[2021-09-09 18:41] indutny-signal commented on #5507
Sorry about this. Could you try recently released v5.17.0 to see if it fixes the issue for you?

[2021-09-09 18:43] indutny-signal commented on #5506
Sorry about this. I believe this URL is not strictly valid. If you'd run `encodedURIComponent` in Dev Tools of your browser - this is how `{` and `}` has to be encoded:

<img width="201" alt="image" src="https://user-images.githubusercontent.com/79877362/132744444-79f35d6e-f7bf-4ea8-acb7-edcb4c15f765.png">

[2021-09-09 18:43] #5506 closed

[2021-09-09 18:44] indutny-signal commented on #5411
@clavin thanks for this information. We'll look into it!

[2021-09-09 18:50] indutny-signal commented on #5505
Sorry about this. Could you try reinstalling the app, please? As said above - it is most likely that some files were either partially installed or deleted during update.

[2021-09-09 19:01] scottnonnenberg-signal commented on #5504
@dmp1ce Can you try with the newly-released 5.17.0? Maybe it will work for you?

[2021-09-09 19:02] varjolintu commented on #4275
With the new version (v5.17.0) the zoom level is kept after application restart and the Preferences now show the current value of it. Strangely it goes from 100% to 91% and then to 83%. So it doesn't go in 10% steps after all?

Also, the Zoom In keyboard shortcut is a bit strange as `Cmd =` because it's impossible to write (or doesn't just work) with a Finnish keyboard. Why not use `Cmd +` instead

[2021-09-09 19:02] scottnonnenberg-signal commented on #5503
Alright, I'm going to close this. Seems like there was a delayed notification, and otherwise is another instance of #4558.

[2021-09-09 19:02] #5503 closed

[2021-09-09 19:06] scottnonnenberg-signal commented on #4275
@varjolintu `Cmd =` is there due to the accident of the standard United States keyboard layout - that key is `=` without shift, and then with shift becomes `+`. However, the corollary `-` key is `_` with shift. It's that inconsistency that makes the shortcuts as they are today. :0/

[2021-09-09 19:48] ngleb commented on #5475
id, received_at, received_at_ms:
https://gist.github.com/ngleb/fb2dac62599323c6480f0758ad830cd7

[2021-09-09 19:55] Shnub commented on #4275
I was just guessing in the other thread. But the current succession is indeed a little strange:

23, 25, 28, 31, 33, 37, 40, 44, 48, 53, 58, 63, 69, 76, 83, 91, 100, 110, 120, 131, 144, 158, 173, 189, 207, 227, 249, 273, 299, 327, 358, 393, 430, 471, 516.

Obviously exponential (with some rounding errors), but is that huge range really necessary? Perhaps something like the following would cover al

[2021-09-09 20:13] scottnonnenberg-signal commented on #4275
@Shnub As is often the case, time. But in this case, it's also knowledge of all the various keyboard layouts common in all the locales we support. And then the known difficulty around people using Signal in a certain locale, but in english. It's a complex problem.

The weirdness around the zoom numbers is coming directly from our underlying chromium layer, but it is strange to see numbers like tha

[2021-09-09 20:25] scottnonnenberg-signal commented on #5475
@ngleb Wow, thanks for that full table. I imagine that it's in the order you saw it in the conversation? The surprising thing is all the duplication in the `received_at` column - very clearly your counter regressed to a previous value, and as it counted up again it created duplicates. So new messages, as they come in, seem randomly interleaved in the previous messages. It looks like, for you, new

[2021-09-09 21:23] sesamechicken commented on #1632
This isn't a half-bad idea. I've been launching from the cmd line using an alias, but a launcher could do the trick. I'm interested.

[2021-09-09 21:58] oomek commented on #522
I was forced to factory reset my phone, so I couldn't make a backup. I have all my conversations in my desktop app. The mobile app warns me that it will wipe all connected devices clean. How can I keep my messages history and still being able to use my mobile app?

[2021-09-09 22:11] oomek commented on #5273
Has this been resolved? I'm in exactly the same situation. I cannot activate my mobile app because it will delete my messages history on desktop. I haven;t changed my number btw, I was forced to hard reset my phone.

[2021-09-09 22:26] scottnonnenberg-signal commented on #5273
@oomek If you have the same phone number, it shouldn't delete your old messages. The desktop app looks at the old and new phone number, and if they are different, it will delete everything before linking with the new phone.

[2021-09-09 22:31] oomek commented on #5273
Phew, that went well. @scottnonnenberg-signal thank you for letting me know.

[2021-09-09 23:19] lcoandrade commented on #1632
Thank you!!!!!

[2021-09-09 23:52] Minsck opened #5509 "Options for picture are not easily visible if the signal app window is too small"
### Bug Description

Options for a picture are sometimes overlapping with this picture itself or they are hidden behind the list of recipients (viz. pictures below). This is due to size of the signal window. When it's getting smaller, 4 options for picture (reactions, download, repost, and further options) are smashed to just one (general options). But when it gets even smaller, the 3 dots starts

[2021-09-10 06:31] jujumo commented on #4113
Exact same symptoms with

Platform Info
Signal Android Version: 5.23.3
Windows 10 pro
Signal Desktop version: v1.32.3

I also had some "erreur reseau" (network error) displayed.

Is it related ?

[2021-09-10 06:42] mojomojoman commented on #4839
Sure. My system is also a high end desktop setup.

System Info:
Ryzen 5900X on an MSI B550 Motherboard w/ 64GB DDR4
Geforce GTX 1060 6GB
4 x 2k Dell Monitors (2560x1440 @ 60hz, DPI at 100%)
3 of the Monitors are DisplayPort (one is daisy chained w/ DP1.4 off of another) and one is HDMI

Problem occurs on any of the 4 monitors in the above setup.  I don't recall having this problem on my laptop (Le

[2021-09-10 07:41] linxucc commented on #4446
In case anyone need it, I wrapped the magic one-liners into an Apple Automator App, I think for now it's the best way to deal with this issue.

https://github.com/linxucc/Proxy_Signal

It picks system proxy configs automatically and launch signal with it, with Automator, it could looks like a real app in the Application folder.

Works great for me.

[2021-09-10 07:42] linxucc commented on #1632
In case anyone need it, I wrapped the magic one-liners into an Apple Automator App, I think for now it's the best way to deal with this issue.

https://github.com/linxucc/Proxy_Signal

It picks system proxy configs automatically and launch signal with it, with Automator, it could looks like a real app in the Application folder.

Works great for me.

[2021-09-10 08:05] linxucc commented on #1632
Glad this idea helps!

Actually I just "implemented" this "launcher" thing using Automator, the result is great, it looks like an App and works like an App.
You can check here it's rudimentary but should illustrate the whole idea. https://github.com/linxucc/Proxy_Signal

[2021-09-10 09:03] Spaceoid commented on #5475
Hi guys, I followed this topic for quite a few days now, as I had the same problem, and now want to contribute something as well: Seems that, at least for me on my windows 10 machine, the bug happened again on 5.17. Did the update yesterday evening, received some messages on my phone this morning, started Signal Desktop about 20 mins ago, and in one of my conversations, some of my messages were st

[2021-09-10 09:08] ngleb commented on #5475
@scottnonnenberg-signal

Yes, all messages in the table are in the same order as I saw them in the conversation. The issue first happened on August 29 and those out-of-order messages appeared between other messages on August 24. So I started with messages on August 24 and collected information for as long as I could (I think I collected info for messages until approximately September 1).

Yes, on

[2021-09-10 13:19] lcoandrade commented on #1632
Great work! Thanks!

[2021-09-10 14:09] Gieted opened #5510 "Images copied from Firefox are paste twice"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

Copying an image from Firefox and pasting it into Signal results in it being paste twice. This also happens when copying from TOR Browser.

### Steps to Reproduce

1.  Find an image in a Firefox browser
2.  Copy it using right click menu
3.  Paste it to Signal text input using `ctrl + v`

Actual Result:

The ima

[2021-09-10 14:34] jwiesler commented on #5507
Yes, still the case. This problem exists since about half a year if I remember correctly, I just didn't get to filing an issue.

[2021-09-10 17:57] tbvdm commented on #522
I have written [sigtop](https://github.com/tbvdm/sigtop) which allows you to export messages, attachments and the SQLite database itself from Signal Desktop. Maybe it's useful to some.

[2021-09-10 18:09] scottnonnenberg-signal commented on #5475
@Spaceoid You can really help out by trying to find any kind of pattern with the messages which are stuck to the bottom. When did you receive them? If you're interested you could do some of the things I asked ngleb to do:

The core strategy is to use the cursor icon in the top-left of the dev tools (which you can get if you start the app with the `--enable-dev-tools` option) to select the area aro

[2021-09-10 18:51] paulmillr commented on #4461
Can this get re-prioritized? It has been more than 1 years since ARM testing machines appeared.

It is **not possible** to remove Rosetta 2 x86 emulator on ARM Macs once it's installed. Unofficially, you can do it by disabling your System Integrity Protection which is itself a bad idea. But not in an official way.

Why would Signal force its users to install x86 emulator and expose themselves to x

[2021-09-10 18:51] paulmillr commented on #4461
@indutny-signal @scottnonnenberg-signal @EvanHahn-Signal

[2021-09-10 18:54] sesamechicken commented on #1632
I went a step further and created a `.app` launcher. Simply create a text file with your proxy address, drag it onto the app icon, and the Signal app will launch with the proper proxy settings. Hope this helps

https://github.com/sesamechicken/signal-proxy

[2021-09-10 19:24] BernardoGiordano commented on #3410
Spent a few days trying to figure out how to build Signal on my Raspberry Pi 4 running Ubuntu 21.04. Managed to find @lsfxz solution in this thread, and I adapted it to be used with Ubuntu.

Notable efforts: Just running `makedeb` on the PKGBUILD provided by the aforementioned user doesn't work due to issues caused by `node-abi` being too old in Signal Desktop's `yarn.lock` file, so I had to patch

[2021-09-10 20:55] 0xtf commented on #4461
I have no idea if this is possible or not, but (on top of the donations) I would happily contribute to a fund to work on this. I mean no disrespect by this. It's just an attempt to help in an area where I can't do much else.

[2021-09-10 22:56] jkemp814 commented on #5505
I'm having the same problem here. Fresh install, recent update just as I was coming to post this. Accepted the update, problem still persist. Unusable.
![Screenshot from 2021-09-10 15-55-15](https://user-images.githubusercontent.com/12059343/132925791-4794554e-b26c-4510-9d6d-b70339fec80f.png)

[2021-09-10 23:01] QuadrupleA opened #5511 "Desktop app prompts for updates / restarts several times per day"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

A prompt to restart for updates appears multiple times per day - I get there are sometimes important security updates for a vulnerability, but this frequency is a complete nuisance and distraction. These could be batched and limited to once per week or so like other apps, unless there's a critical zero-day explo

[2021-09-10 23:04] scottnonnenberg-signal commented on #5511
Seems like you maybe use the app once a week? We release updates about once a week. And as you saw, today we needed to do an extra release this week.

Please take a look at the new preferences window. You might be interested in unchecking this option:

![Screen Shot 2021-09-10 at 4 03 25 PM](https://user-images.githubusercontent.com/36971246/132926212-ba9e14cc-5525-4aef-b264-3b145263d95e.png)

[2021-09-10 23:07] scottnonnenberg-signal commented on #5505
@jkemp814 Can you talk about the history of that install? Database corruption shouldn't happen very often, but we are absolutely looking for the situations where it seems to happen.

You said that it was a fresh install? Did you have any forced shutdowns of either the app or your machine since that install happened? What's your linux distribution? Is there anything else about your hardware worth m

[2021-09-10 23:09] jkemp814 commented on #5505
I added the repository and proceeded to install the Signal-Desktop client. Open and got that message. Within 30 minutes. I have used the package in the pass, so I'm search my home folder for old configs, maybe? Purge the package and reinstalled but still get same message.

[2021-09-10 23:09] QuadrupleA commented on #5511
Thanks - if so maybe there's another problem with the update prompts, I use Signal Desktop daily and see them (and click them) several times per day. I've seen a lot of others mention this problem too:

https://www.reddit.com/r/signal/comments/95ddtw/why_does_signal_desktop_update_so_much/
https://www.reddit.com/r/signal/comments/er3v92/frequency_of_updates_to_signal_desktop_app/
https://www.reddi

[2021-09-10 23:12] jkemp814 commented on #5505
I'm on Ubuntu 21.04 using GPT partitioning, UEFI boot, ZFS encription. Everything running fine. The package throws that error.

[2021-09-10 23:15] jkemp814 commented on #5505
Okay, I found a previous folder under .config. So I deleted that. Purged the package again, then installed. It opened. Thanks for the reply.

[2021-09-10 23:23] jkemp814 commented on #5505
It's not importing groups and contacts.

[2021-09-10 23:31] jkemp814 commented on #5505
Okay, didn't know I had to select the edit pencil icon, now the groups are showing.

[2021-09-11 07:59] varjolintu commented on #4275
Maybe the _Zoom In_ is logical in US keyboard layout perspective, but _Zoom Out_ with `-` and Zoom In with `+` is more logical, even if it's harder to type with some keyboards. Using Element desktop application as an example again, there _Zoom In_ is with `+` even if the application is in English but keyboard layout is Finnish.

[2021-09-11 13:05] jeroen7s commented on #3240
any updates on this?
how do I fix this?
I can't save any files anymore

[2021-09-11 13:13] jeroen7s commented on #3240
though I'm getting crashes on Win10, not win7

[2021-09-11 17:26] julianfairfax commented on #5475
This happened again on the 5.17.1 beta so I just cleared the data and I actually went back to the stable version too. Please make sure this isn't an reoccurring issue. (I also cleared the data on my phone since I couldn't remove a contact that had contacted me and Signal just added it into the "Signal contacts" since it wasn't in my phone's contacts, and because of this issue: https://github.com/s

[2021-09-11 18:38] julianfairfax commented on #4800
I wrote a forum post that addresses this issue. If you're a user with feedback or experiences to share, or a developer who can actually take a look at implementing this, please check out the post: https://community.signalusers.org/t/handle-contacts-properly/36807

[2021-09-11 18:54] julianfairfax commented on #1133
I wrote a forum post that addresses this issue. If you're a user with feedback or experiences to share, or a developer who can actually take a look at implementing this, please check out the post: https://community.signalusers.org/t/handle-contacts-properly/36807

[2021-09-11 19:03] khannie commented on #5475
@scottnonnenberg-signal : Thank you for your prompt attention to this. Much appreciated. If there's anything I can do to help, let me know.

@julianfairfax - They're going to be too polite to say this to you, but I will:

"please make sure this isn't a reoccurring issue" "take a look at those so they don't happen again" - Did you honestly think they're not striving to make sure it doesn't happen a

[2021-09-11 19:07] julianfairfax commented on #5475
I had intended to address them politely hence the please, I had intended for those to be questions hence the question marks, and I have already adopted that viewpoint. I am not in a position to make demands and I don't intend to and I appreciate the work that is being put in to fix this issue as much as I'm sure you do.

[2021-09-11 19:10] khannie commented on #5475
Fair enough. Intent and tone can sometimes get lost. I read it as demanding and thought they were likely to too. If that wasn't the intent then no harm, no foul :) Thanks for the clarification.

[2021-09-11 21:35] darkBuddha commented on #4461
I would happily contribute to such a fund as well. @EvanHahn-Signal @scottnonnenberg @indutny-signal

[2021-09-12 10:17] varjolintu commented on #4275
Signal was just updated for me, and the zoom level was kept :) Seems to be working now.

[2021-09-12 11:27] Spaceoid commented on #5475
After the bug occured again on 5.17.0, I uninstalled and reinstalled the Signal Desktop app again and reconnected it to my phone - since then, the bug did not occur anymore, neither on 5.17.0 nor on 5.17.1. Might have been a leftover of the previous version. I will report if it still happens in the future.

[2021-09-12 21:40] darkBuddha commented on #4461
The Apple Silicon is not going away and is now even the standard on desktop...

[2021-09-12 21:50] BirdInFire commented on #4461
True and even microsoft think about going on arm64 for good, even intel seem to prepare to it.

[2021-09-13 09:08] ltstereo commented on #5475
I installed 5.17.1 yesterday. I was still on 5.16.0. After the update yesterday, everything worked again. The wrongly sorted messages from the last few weeks were in the right place. Also the newly composed messages.
Today, everything I receive and write in new messages is messed up again. The old messages from yesterday are still in the right place, but they were wrong before. It only affects new

[2021-09-13 12:56] rkarlsson commented on #4585
I also need a rotate button as the camera is mounted upside down. Works fine in other applications where this is fixable (zoom for instance).

[2021-09-13 13:36] itsthekeming commented on #5329
I am still experiencing this issue with Cisco AnyConnect VPN and the latest version of Signal desktop. It's been a problem for a couple of months now. Chat still works fine, just images/video and link previews are affected.

I am going to see if the issue is my corporate VPN policies blocking `cdn.signal.org` and `cdn2.signal.org`. I have a hunch this is the problem because Signal works fine when

[2021-09-13 18:13] scottnonnenberg-signal commented on #5475
@ltstereo When you say "it only affects new messages" it would be useful to get extremely specific about what 'it' is. Are the new messages appearing in the middle of older messages, all right next to each other and in order but in the wrong overall place? Or something more complex than that?

When you say "The old wrong sort messages are still in the right place, but they were wrong before." Old

[2021-09-13 18:41] scottnonnenberg-signal commented on #3240
@jeroen7s Yours is the only update! Can you provide full details of what is happening as well as a debug log?

[2021-09-13 18:57] jeroen7s commented on #3240
Yeah, about an hour after the issue started it just stopped happening.
I kinda spammed the enter key before the save dialog appeared to save the file before it crashes the dialog, and after doing that the issue disappeared.
It crashed about 10 times before that point though, will make sure to add debug logs if it ever happens again.

[2021-09-14 01:36] chansters commented on #5329
Are you using AMP? That seems to be the issue. After upgrading to  1.15.6.842 of AMP, this issue has gone away for me.

[2021-09-14 10:36] ltstereo commented on #5475
@scottnonnenberg-signal Hey thanks for your support.
I just sent 5 test messages. These are all in a row in Friday the 10th of September. I have included the IDs -> received_at -> received_at_ms -> date below. as well as an image. I hope it is what you need. If not let me know.
scottnonnenberg-signal-test1 d66128f0-40ac-4186-9498-648a562b2fb4    1629375925768   1631612430562   today
scottnonnenber

[2021-09-14 21:58] scottnonnenberg-signal commented on #5475
@ltstereo Thanks for doing that analysis - I took the liberty of updating your comment to turn the data into a table. The thing we use to order the message is that Counter column, which is incrementing as expected. To fully understand the situation, we'd need that information combined with the out of order messages around it, to compare the counter values, see what happened to it (it should always

[2021-09-14 22:05] scottnonnenberg-signal commented on #3240
@jeroen7s Can you talk about what 'crashed the dialog' means exactly? What exactly did you see? A 'something crashed' window of some kind? Did it talk about the file selection dialog specifically?

[2021-09-15 11:48] itkfm commented on #4047
btw: This also prevents updates.

[2021-09-15 14:10] semuadmin commented on #4871
This may have been done to death elsewhere, but I'm still unclear exactly what messages Signal is loading on startup? In my case it reports downloading over 10,000 messages before it starts, taking over 90 seconds. I've never sent 10,000 Signal messages (or 10,000 of any other kind of instant / SMS message for that matter) from any of the devices I have Signal installed on, so what exactly is it d

[2021-09-15 14:36] iabraham commented on #3573
I just remove it from the .desktop file whenever I do an update and Signal seems to start just fine (Ubuntu 20.04.3 LTS).

[2021-09-15 17:45] toraritte opened #5512 "Something went wrong connecting Win10 Signal Desktop to Android Signal App"
This is the exact same issue as #4113  hence the reason I copied the title verbatim. I apologize if this has already been reported; I looked at the open issues but didn't see this reported yet. Please let me know if you need any further info.

Thank you for looking into this!

[2021-09-15 18:33] baptx commented on #5417
@scottnonnenberg-signal Is it possible to enable the feature without compiling the app manually? It would be much more convenient with a better user experience. Not everybody uses Android or iOS.
Can we talk to people using Signal on their smartphone if we use the standalone mode on the desktop app?

[2021-09-15 18:36] scottnonnenberg-signal commented on #4871
Because messages are encrypted, we don't know how to fetch just a particular conversation from the server. And, because decryption is stateful, we need to process messages in order. And lastly, because of the design of the Signal ecosystem, messages sent between your devices saying things like "I just read this message, you should consider it read as well" need to be downloaded and decrypted along

[2021-09-15 18:36] #4871 closed

[2021-09-15 18:39] scottnonnenberg-signal commented on #5512
@toraritte Please follow the bug template - we need more information. At the very least, we need the version number of your Android device and a Desktop debug log, available at `View -> Debug Log`.

[2021-09-15 19:43] Strahd414 opened #5513 "RequestError: self signed certificate in certificate chain at ClientRequest."
- [x] I have searched open and closed issues for duplicates

### Bug Description

Constant disconnected state seemingly due to node_modules. "self signed certificate in certificate chain"

### Steps to Reproduce

Behind a system that's MITMing SSL, as of v5.17.1 the exclusions for *.whispersystems.org, cdn.signal.org, and cdn2.signal.org no longer seem enough to allow Signal desktop to stay connec

[2021-09-15 20:25] baptx opened #5514 "several errors after npm install"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

I executed the following commands:
1. git clone https://github.com/signalapp/Signal-Desktop.git
2. npm install
3. npm start

Actual Result:

I want to run the app from the source code but there are several errors during `npm install` and `npm start` does not start the app.

Expected Resul

[2021-09-15 20:31] indutny-signal commented on #4047
Hello @itkfm ! The way [electron-builder](https://github.com/electron-userland/electron-builder/)'s (and really most other update systems for Windows) work is that they replace files in the program's directory. This includes not only binary, but also some native addons and miscellaneous resources. Most of the replaced files cannot be written to while the application is running because they are loc

[2021-09-15 20:58] itkfm commented on #4047
Nope, the problem is that while Signal is installed independently by each user on their own in their own space (`%appdata%`), they cannot update it, because the installer apparently detects Signal processes of OTHER USERS on the system. The affected user does not have Signal open.

If I login as Admin and go `taskkill /f /im signal.exe` everyone’s processes, updating/installing works fine.

OS: Wi

[2021-09-15 21:00] indutny-signal commented on #4047
Oh, I see then. Thanks for this clarification. We'll look into it.

[2021-09-15 21:05] scottnonnenberg-signal commented on #5514
Please use the forums for help running the development version of the application https://community.signalusers.org/

Looks like you need to try again?

[2021-09-15 21:05] #5514 closed

[2021-09-15 21:06] scottnonnenberg-signal commented on #5513
Please whitelist `chat.signal.org`. Probably just `*.signal.org` and it should start working for you again.

[2021-09-16 09:13] Whysuchlovelyusernames commented on #4730
I am a very occasional Signal user for a number of reasons, mostly related to various work/personal boundaries, where I just receive messages or have short replies on my mobile.

However, every once in a while I do some heavier messaging over Signal, i.e. reading long messages/entering long replies, having conversations etc. At that point I want to be able to use the Signal Desktop on any of my mu

[2021-09-16 10:56] 0-Kala-0 opened #5515 "Signal dosen't "draw attention" in i3wm/QubesOS"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

I'm using i3wm (4.18.1). Signal doesn't seem to trigger the "draw attention" feature, regardless of the sate of the related setting. Other clients such as Whatsapp and Discord does. I don't if it's a bug on signal side or a protocol incompatibility between the different softwares. In doubt, as it works with othe

[2021-09-16 12:17] baptx commented on #5173
I have this error on the latest Git version when selecting "Set Up as Standalone Device" and entering my French phone number.
Related: https://github.com/signalapp/Signal-Desktop/issues/5006

[2021-09-16 14:44] Strahd414 commented on #5513
Thanks! This seems to solve my issue. I've never really been able to find a list of all the hostnames Signal uses, does one exist?

[2021-09-16 15:57] toraritte commented on #5512
@baptx That's what exactly happened, and just started to set up thing on this new machine. Thank you!
@scottnonnenberg-signal There was a signal update that popped on the Windows version of Signal this morning, and after that I was able to link to my phone. Sorry for the bother!

[2021-09-16 15:57] #5512 closed

[2021-09-16 16:12] scottnonnenberg-signal commented on #5513
Here's the official post about it: https://support.signal.org/hc/en-us/articles/360007320291-Firewall-and-Internet-settings

[2021-09-16 16:13] #5513 closed

[2021-09-16 16:27] scottnonnenberg-signal commented on #5173
I'm going to close this, as it's too generic, and we've made great strides in message retry after initial send failures. Please enter a new bug if you encounter this in the future.

[2021-09-16 16:27] #5173 closed

[2021-09-16 16:30] amitgandhi005 opened #5516 "Chat conversation export to email functionality from desktop app required"
High priority requirement to export the chat conversion in an email from the signal desktop app as such has a large amount of important data that is required.

As such no, functionality is available to export chat conversation from signal desktop..

Request you to develop chat conversation functionality as a high priority..

[2021-09-16 16:36] amitgandhi005 commented on #5516
So many times requested this feature from support but as such, no action has been taken from a signal team.. Really disappointed with this excluding feature as it's so important. I hope Signal team will take action as early as they can as its so much high priority to take the conversation due to important data lose.

[2021-09-16 16:49] D0han commented on #3272
Such feature would be awesome for video calls, to pop it out to another screen

[2021-09-16 22:17] josh-signal commented on #4713
I've looked at the logs posted and haven't found any clues as to what's going on. In recent versions we've added some logging to those code paths so that we can better debug this kind of situation. If you do see this again please re-open this issue, or create a new one, with both your mobile and your desktop's debug logs.

Thank you for reporting these, your logs did help in narrowing down code pa

[2021-09-16 22:17] #4713 closed

[2021-09-17 00:14] Perkolator commented on #5325
I'm sorry but what is the point of releasing beta versions with "This update fixes a few bugs that were reported by our users. Thanks for your reports!" as the changelog? Betas are for testing. How do people test betas if you don't tell what has been changed?

Also, why do you just copy paste same changelog for many stable versions? For example recently 5.17.0, 5.17.1 and now latest 5.17.2 all has

[2021-09-17 00:42] GuardianMajor commented on #5511
For what it is worth, I use mine daily and every day, sometimes a few times a day, sometimes once a day it prompts me to restart to update, so I assumed it was patches being released, otherwise they seemed excessive to me too. So there could be something to that. For example just a few minutes ago it prompted me to do that, I did and after it came back I tried to reply to someone and nothing would

[2021-09-17 04:38] buchwasa commented on #2592
There's also a library that can easily achieve this: https://www.npmjs.com/package/custom-electron-titlebar

[2021-09-17 08:03] Phantomb commented on #1634
I was on the verge of making a new issue for this when I stumbled upon this one. I have this issue as well.

I am  on Windows Version	10.0.18363 Build 18363. Signal v5.17.2 (It has been the case for at least the past x amount of Signal versions.)

I have a laptop with two monitors 1080p monitors, the laptop screen is off. I simply want Signal to re-open maximised, instead it reopens in a windowed

[2021-09-17 08:22] jujumo commented on #5495
Is that somehow related to endless loading (v5.17.1) ?
My android app is draining out the battery, I add to shut it down.
I launched the desktop app, and its loading endlessly (more than 60k messages, and counting ...).
The counter seems way above the truth.

Basically, I cannot use signal anymore.

[2021-09-17 08:37] jujumo opened #5517 "Endless loading"
- [x ] I have searched open and closed issues for duplicates

---

### Bug Description
Endless loading of messages at app start.

### Steps to Reproduce

[desktop and mobile previously paired]
0.  stop android app (switch off the phone). I dont know if its required though.
1.  launch desktop app

Actual Result:

Message "loading messages. XXX so far ..." increment insanely (never stop).
XXX = More

[2021-09-17 08:48] jujumo commented on #5517
After a while, finally loaded, updated to 5.17.2, and now it works !
very strange

[2021-09-17 08:48] #5517 closed

[2021-09-17 13:19] EvanHahn-Signal commented on #3709
As @Redevectored said, we're trying to move all feature requests to the community forum. That thread is a great place to go.

I'm going to close this issue because it's not a bug, and we'll take a look at that thread.

[2021-09-17 13:19] #3709 closed

[2021-09-17 13:47] EvanHahn-Signal commented on #5241
We just merged #5291, a pull request to fix this. I'm going to close this issue because it will be fixed in the next beta.

Thanks for your work, @jonathanfung!

[2021-09-17 13:47] #5241 closed

[2021-09-17 13:56] galgalesh commented on #5395
@scottnonnenberg feel free to direct issues about the signal Snap to our bugtracker: https://github.com/snapcrafters/signal-desktop/issues

Although we link to the bugtracker from our store page, users don't always find the way.

As said before, if the Signal team is interested in becoming more involved in this snap, feel free to contact us. We are happy to work more closely with upstream and, if

[2021-09-17 15:15] EvanHahn-Signal commented on #4538
I just merged #5170 which should address this issue. That change should be released to beta next week and to production the following week.

Thanks everyone!

[2021-09-17 15:15] #4538 closed

[2021-09-17 15:20] EvanHahn-Signal commented on #4788
I'm going to close this issue because it seems we've addressed this issue. Lemme know if that's wrong and I'll reopen.

[2021-09-17 15:20] #4788 closed

[2021-09-17 16:26] EvanHahn-Signal commented on #5018
Just merged #5186, which should fix this issue. This fix will go out in the next beta release, followed by the next production release. Thanks, @hiqua!

[2021-09-17 16:26] #5018 closed

[2021-09-17 16:38] EvanHahn-Signal commented on #5511
@GuardianMajor It sounds like you're having two issues. The first is related to the original one (multiple update prompts per day) and the second is new (an error on close). Would you mind opening a new issue for the second?

Also, if you're seeing multiple updates per day, please give us your debug logs, as it sounds like something might be going wrong with our update checker. You can do this wit

[2021-09-17 16:39] jrcoding opened #5518 "Closing Signal Desktop without any other action gives an Unhandled Error"
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

Starting Linux version of Signal Desktop and closing it after start without any other action gives the following error

[code]

### Steps to Reproduce

1.  start the Signal Dektop
2.  wait until main window appears and desktop is connected to server
3.  close desktop either by Ctrl-C or by menue

Actual Result:

[2021-09-17 18:34] EvanHahn-Signal commented on #5518
Sorry you're running into this. We have a fix for this internally and it should be fixed in the next version. No further action needed.

[2021-09-17 19:47] roechr commented on #5458
Still present in Version 5.17.2 (on Windows 10) :-(

[2021-09-17 20:20] kevinoid opened #5519 "Clicking search box in reaction emoji picker opens image message"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

When adding a reaction to a message with only an image, clicking the search text box dismisses the reaction panel and displays the image from the message (the same effect as clicking on the message).

### Steps to Reproduce

1.  Click "add reaction" button on a message containing only an image.
2.  Click the 3-d

[2021-09-18 00:49] dmp1ce commented on #5504
I'm not v5.17.2 now and I am still having this issue.

[2021-09-18 04:46] aureq commented on #4498
I confirm this is still happening in Signal Desktop v5.17.2

[2021-09-18 12:57] ketancts opened #5520 "error /node_modules/better-sqlite3: Command failed."
yarn install v1.22.11
[1/6] Validating package.json...
[2/6] Resolving packages...
[3/6] Fetching packages...
info fsevents@1.2.9: The platform "linux" is incompatible with this module.
info "fsevents@1.2.9" is an optional dependency and failed compatibility check. Excluding it from installation.
info dmg-license@1.0.9: The platform "linux" is incompatible with this module.
info "dmg-license@1.0.9

[2021-09-18 13:42] arahm opened #5521 "v5.17.2 declares itself expired from the beginning"
### Bug Description

I did update my Signal Desktop App in MS Windows to the latest version, v5.17.2 of September 16th. Then straight away, it did declare itself as expired, requests me to download a newer version - though only v5.17.2 is available -, and prevents me from sending any message.

### Steps to Reproduce

1.  Install  Signal Desktop App in MS Windows,
2.  update to the latest version,

[2021-09-18 13:54] bohuspollak opened #5522 "signal-desktop-win-5.17.2.exe windows custom installation path not available or not documented"
- [x ] I have searched open and closed issues for duplicates
---

### Bug Description

Unable to install signal-desktop-win-5.17.2.exe to custom location e.g D:\apps
There is no commandline option documented. I cannot install to C: drive.

### Steps to Reproduce

1.  signal-desktop-win-5.17.2.exe
2.  Signal deskopt is installed to: C:\Users\actinolix\AppData\Local\Programs\signal-desktop\Signal.ex

[2021-09-18 14:48] alwins0n opened #5523 "After upgrade (new install) stuck on splash "Optimizing Application""
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

Application endlessly (>20 min) showing "Optimizing Application" (ie the german translation thereof) and not proceeding any further. An old signal version was already installed and not removed during the process (it is removed now)

### Steps to Reproduce

1.  have an old version installed (flatpak 5.10.x)
2.  u

[2021-09-18 19:30] EvanHahn-Signal commented on #5520
It looks like we're trying to extract `home/pcname/Desktop/Signal-Desktop/node_modules/better-sqlite3/deps/sqlite3.tar.gz` but it's invalid for some reason. Could you inspect that file to see what's going wrong, and then try to make it work correctly?

Also: this appears to be an issue for you when you try to develop Signal Desktop, not when you try to use it. If that's wrong, let me know.

[2021-09-18 19:31] EvanHahn-Signal commented on #5521
Sorry you're running into this.

1. Is your system clock set to the current time? Some users can encounter problems if their clock isn't (approximately) the current time.

2. Could you include some debug logs? View -> Debug Logs should help us investigate this problem.

[2021-09-18 19:40] arahm commented on #5521
Dear Evan Hahn,

Yes, my system clock is lagging behind 4 days. I cannot correct it,
because I do not have the admin password, and it takes ages to get the
administrators of my computer to work on issues which they think are not
important.

Best wishes,

Alexander

On 18/09/2021 09:32, Evan Hahn wrote:

[2021-09-18 20:15] artenaki opened #5524 "The minimum working version of Signal"
Hello.
What is currently (for Sep 2021) the minimum acceptable version of signal-desktop that is allowed to connect to Signal servers and communicate at least in text?
I tried version 1.14.4 (July 2018), impossible to import contacts and connect. Message "something went wrong".

[2021-09-18 20:22] artenaki opened #5525 "Ubuntu 16.04 x86 support"
Hello.
I'm trying to compile an x86 build of signal-desktop on Ubuntu 16.04.5 x86. I see that Void Linux last x86 build was version 1.14.4 (July 2018), apparently then they stopped trying. Does this mean that newer versions can't be compiled for x86 architecture?
What is the latest version that compiles on x86?

[2021-09-18 20:27] artenaki commented on #5524
List of versions https://pastebin.com/raw/iQ7dRe4u

[2021-09-18 20:27] artenaki commented on #5525
List of versions https://pastebin.com/raw/iQ7dRe4u

[2021-09-19 14:33] Fmstrat commented on #4466
I have updated @jkaberg 's `Dockerfile` for the latest version of Signal Desktop. I run into the same problem he did. I'm not even really sure where to start debugging the JS, as the `index.js` and `chromium.js` files that load are actually HTML files in the response.

Perhaps someone else can help identify where to go next.

To use:
[code]
Then visit http://localhost:443 (Yes, http)
[code]

[2021-09-19 16:26] vertigo220 commented on #4498
I should add that my silence on this shouldn't be taken as meaning I haven't experienced it again, because I have discontinued using Signal due to its many issues.

[2021-09-19 19:34] hiqua commented on #5525
Please ask on the forum for dev issues.

[2021-09-19 19:34] hiqua commented on #5525
Please ask on the forum for dev issues.

[2021-09-19 19:35] hiqua commented on #5524
Please ask on the forum for dev issues.

[2021-09-19 19:37] hiqua commented on #5521
To be clear, such a discrepancy between your computer clock and the actual time is quite an important problem, you can expect a wide range of related issues.

[2021-09-19 19:55] hiqua commented on #5522
Duplicate of https://github.com/signalapp/Signal-Desktop/issues/2161 (which redirects to the forum where it belongs, as a feature request).

[2021-09-19 19:57] hiqua commented on #5516
You can use the forum (https://community.signalusers.org/) to discuss feature requests.

[2021-09-19 19:58] hiqua commented on #5516
You can use the forum (https://community.signalusers.org/) to discuss feature requests.

[2021-09-19 20:00] hiqua commented on #5516
You can use the forum (https://community.signalusers.org/) to discuss feature requests.

[2021-09-20 00:12] arahm commented on #5521
Dear Quentin Hibon,

Okay, I will get the system time fixed on my computer, so you can close
this thread.

Best wishes,

Alexander

On 19/09/2021 09:37, Quentin Hibon wrote:

[2021-09-20 02:16] #5521 closed

[2021-09-20 02:17] EvanHahn-Signal commented on #5521
Best of luck getting your clock changed. We'll see if we can make this a better experience for users in the future.

[2021-09-20 05:21] Le1b1 commented on #5154
I'm facing the exact same issue, please reopen.

Desktop: https://debuglogs.org/e481a0e9191573add82f61da74612662a33cad3cf17b666c3884477a18a80b9d.gz
Android: https://debuglogs.org/4b0d948c08199e9f1850d6f2224cd86afa957575d448b677c7ebf1bfc07781c4

[2021-09-20 11:20] jkaberg commented on #4466
@Fmstrat cool, if you ever get it work properly - let me know. For now, I've settled for this

[code]

Beware of dragons (this runs an VNC and web server, which in turn gives you signal-desktop in the browser - not very ideal, but hey its working).

[2021-09-20 13:52] Iron-E commented on #5316
@josh-signal sorry for the ping. Thanks for all your work on signal :)

I saw you were working on a lot of the commits regarding group colors around this timeframe. I was hoping you could help us with this? Could there be an option to use the old color scheme again?

There hasn't been any word on this issue, #11389, #11387, #11380, nor #11339. It seems like a lot of people want it.

[2021-09-20 14:17] KejPi commented on #1632
Anything similar working under Windows and Linux?

[2021-09-20 15:41] artenaki commented on #5524
https://community.signalusers.org/t/the-minimum-working-version-of-signal/37000

[2021-09-20 18:01] #5525 closed

[2021-09-20 18:01] #5524 closed

[2021-09-20 18:06] scottnonnenberg-signal commented on #5520
This is probably git lfs: https://git-lfs.github.com/

But we shouldn't be talking about this kind of stuff here. Please use the forums: https://community.signalusers.org/

[2021-09-20 18:06] #5520 closed

[2021-09-20 18:06] #5522 closed

[2021-09-20 18:15] BarbossHack commented on #5154
Works fine on my side (if it can help to find the bug)

Desktop: v5.17.2
iOS: v5.20.1.3

[2021-09-20 19:25] hiqua commented on #5154
@Le1b1 how do you reproduce the issue exactly?

[2021-09-20 20:42] EvanHahn-Signal commented on #5519
Sorry you're running into this, and thanks for the clear bug report. I've filed this in our internal issue tracker.

[2021-09-20 20:47] EvanHahn-Signal commented on #5504
Unfortunately, we don't support the Arch Linux distribution, so we might not get to this for awhile. Could you try reporting this to whoever makes the Arch Linux package?

Though we probably can't help with this issue, I'm also interested to know what version started to have this issue. Was it 5.15? Or did you experience the problem earlier?

[2021-09-20 21:10] FlamingLasrSwrd commented on #5523
Same issue here, but resolved now. I'm on fresh install of Ubuntu 20.04. Signal config files were transferred over from an external backup.

Clearing `~/.config/Signal` worked for me.

[2021-09-20 21:23] EvanHahn-Signal commented on #4498
Sorry to hear that. To either of you (@vertigo220 or @aureq): could you give exact reproduction steps and debug logs?

[2021-09-20 21:44] psychonaut25 commented on #4498
I just thought I should point out that this issue stopped occurring to me several versions ago.  I'd assumed it had been fixed until I began receiving email notifications of replies to this thread within the past week.  But for me, it's long-since been fixed.

[2021-09-20 22:22] aureq commented on #4498
Hi @EvanHahn-Signal, thanks for replying to this thread.

## Environment
* Windows 10, 21H1 19043.1237, EN-AU, up to date
* Signal 5.17.2
* User is a `Standard User` (ie, not a local administrator)
* Bluetooth headphones with integrated microphone

## Steps
* Open signal
* Record and send an audio message
* Go to `Windows Settings` > `System`  > `Sound`
* Then on the right, click `Microphone Priva

[2021-09-21 05:49] kekkekekw commented on #4684
On Windows version 5.17.2 Beta 1.
https://debuglogs.org/0dcf589b61f1eedfb7c3f9c9ea5bdcea681bfb1d894d41a9774d18193c5785c3.gz

Updated iphone app to latest. Swapped my mic to a usb mic and 3.5mm earbuds. No mic/no sound both ways.

[2021-09-21 08:18] Le1b1 commented on #5154
@hiqua Just link the Desktop client and wait

[2021-09-21 13:05] Spaceoid commented on #5475
For a week now my messages stayed in order. So the bug might be fixed. Am on 5.17.2. Thank you for all the effort!

[2021-09-21 13:06] dev-oskar commented on #643
This would be the most secure, customizable and convenient way to handle this problem.
From my point of view I cannot agree more that it's a security flaw when the deleted messages aren't synced between devices.

[2021-09-21 13:19] ltstereo commented on #5475
It works for me now too. But not because the bug is gone, but because I have reached the end of the old messages.
I mean that until the day before yesterday the new messages were still between the old messages. But now I have reached the end of the old messages. So now the new messages are at the bottom again. My August and September is completely mixed with the messages. What is also strange is t

[2021-09-21 14:05] klikevil commented on #5316
You may wish to read through that, the signal developers are vehemently opposed to this no matter how many people want it :-/ https://community.signalusers.org/t/discussion-about-the-new-color-changes/33048/1604

[2021-09-21 14:52] dmp1ce commented on #5504
Issue created for Arch Linux. https://bugs.archlinux.org/task/72194

[2021-09-21 15:59] dmp1ce commented on #5504
The first time I noticed it was v5.15 but I don't use the video feature for every version. I could have missed the version it broke on.

[2021-09-21 17:00] Marc-AntoineH opened #5527 ""Something went wrong!" "Try Again" cannto link device"
<!--
### Bug Description

Try to link my laptop using the QR code and return "Something went wrong!" "Try Again"

Signal was working for a year without problem, but today, I updated my OS (pop os) and for some reason, signal ask to link my device again. I deleted the device linked in my setting on my android phone and try to add it back.  This is how I got that error.

I tried to reboot. It did no

[2021-09-21 18:16] EvanHahn-Signal commented on #5527
Sorry you're running into this.

Could you please:

1. Give us debug logs? You can get them at View → Debug Logs. (The text may be different in another language.)
1. Give us detailed steps so we can reproduce the problem?

[2021-09-21 18:34] Marc-AntoineH commented on #5527
hard to tell how to reproduce the problem. I was using Signal this morning, then update/upgrade Pop_Os, reboot, open Signal.
Signal ask me to link my device(laptop) again. Go on my android phone, setting, link device, scan the QR code, click finish and I have the error something went wrong.

[2021-09-21 20:41] iio7 opened #5528 "Unhandled Promise Rejection when starting Signal for Desktop on Linux"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

I am running Signal for Desktop on Arch Linux and has for about a year. I am currently running: `signal-desktop-beta-bin 5.17.2beta.1-1`. It was last updated 2021-09-17.

I run the application daily. Last I ran it was yesterday, no issues, then when I wanted to run it today I got the error: "Unhandled Promise Reject

[2021-09-22 09:29] revilofr commented on #2545
First of all : thanks for your work !

Please do not think it wrong, we don't want a Blockchain but a Chat App designed for users...

The mass spoke : Editing is a must have feature, that's a fact.

I understand your point, "what is said on Signal is written on the rock".
Here is the fact : real life discussions are not.

"- Sorry, let me rephrase it"
"- Sorry it was the wrong word"

If you absolu

[2021-09-22 11:50] Marc-AntoineH commented on #5527
@EvanHahn-Signal okay, I have more info. Now my PC asking me the re-link my device. It is a Windows machine and it worked, no error on this device.
I tried again on my laptop with Pop Os, give me the error again ..

[2021-09-22 12:32] tazaraz opened #5529 "Linking device failed: invalid response from service"
- [x] I have searched open and closed issues for duplicates

### Bug Description
I cannot link Signal on my iPhone with my mac.
Looking at the debug log I see a message saying: `Request failed: internal server error (500)`

iOS bug report: [#5136](https://github.com/signalapp/Signal-iOS/issues/5136)

### Steps to Reproduce
- Scan QR code with the phone
- Tap on "Link New Device"
- Receive Error

*

[2021-09-22 13:00] Valfader commented on #5510
Is this the same issue as described here? https://www.youtube.com/watch?v=aEil9JhWdis

I'm using Firefox 92.0 (64-bit), Signal Desktop app v5.17.2, Windows 10 Pro 19042.1165, Signal App (Android) v5.24.4.

[2021-09-22 15:20] akaij commented on #5528
I wanted to add a comment saying I am having the same issue with the same distro, and I don't think the linked device is related to this problem but for what it's worth, my device is iOS (Signal 5.20.1.3).

[2021-09-22 16:06] EvanHahn-Signal commented on #5154
I just tried to reproduce this issue and pinned conversations showed up just fine when I linked. Please let us know if the problem persists for you and we can investigate.

[2021-09-22 16:26] EvanHahn-Signal commented on #5510
@Valfader Yes, that looks like the same issue.

[2021-09-22 16:29] EvanHahn-Signal commented on #5475
We believe we have a fix for this slated for v5.18. We should release this to beta shortly and to production next week. Please keep an eye out for that, as we expect it to fix these problems.

Thanks to everyone for your help on this issue.

[2021-09-22 16:57] itsthekeming commented on #5329
I don't think so. The app is Cisco AnyConnect Secure Mobility Client. It's installed by our IT department on our Macs (this is on my work computer).

I was able to confirm that neither `cdn.signal.org` nor `cdn2.signal.org` are blocked or filtered by the VPN policies.

[2021-09-22 18:03] EvanHahn-Signal commented on #4498
@aureq Thanks for the detailed notes. I'm able to reproduce this issue and we'll take a look at it.

[2021-09-22 19:13] its-mage commented on #5528
Yeah had the same issue today.

[2021-09-22 19:57] Elaborendum commented on #5194
The issue is still present in the current version.

[2021-09-22 20:08] EvanHahn-Signal commented on #5352
This is a duplicate of #4498. I'm going to close this issue as a dupe.

[2021-09-22 20:08] #5352 closed

[2021-09-22 20:20] kaimast commented on #1997
Its definitely still noticeable.

If Signal has a chat open with not gifs: virtually no CPU usage
If a chat is open with an animated gif: around 15% CPU usage on my 10th gen Intel i7.

Note, in both cases the window is not focused or visible. Bug is observable on both XWayland and Wayland (probably also X11).

I still think there's a fundamental bug in Electron here, where it keeps (re-)drawing ev

[2021-09-22 21:21] jon-signal commented on #5529
Hello! We're pretty confident that this issue is happening somewhere in the iOS/server interaction. Let's close this issue for now and focus on https://github.com/signalapp/Signal-iOS/issues/5136.

Thanks!

[2021-09-22 21:21] #5529 closed

[2021-09-22 21:52] maxleonca commented on #5528
Same here, also Arch Linux and the same version.

[2021-09-22 22:23] jimio-signal commented on #4578
popping back in here to say that Signal Desktop 5.15 shipped with a preference that allows folks to control automatic updates:

<img width="299" alt="Screen Shot 2021-09-22 at 3 21 17 PM" src="https://user-images.githubusercontent.com/56043061/134429807-c7bba3c3-5fd5-4bab-8d23-f479360c7378.png">
(under Preferences / General)

[2021-09-22 22:23] #4578 closed

[2021-09-22 22:30] EvanHahn-Signal commented on #5458
This should be fixed in v5.18, which just went to beta. I'm going to close this issue because it should be fixed in an upcoming version, but if you're still seeing this on the 5.18 beta, let me know and I'll reopen.

[2021-09-22 22:30] #5458 closed

[2021-09-22 22:43] EvanHahn-Signal commented on #5351
Closing because this is a duplicate.

[2021-09-22 22:43] #5351 closed

[2021-09-22 23:08] hslabbert commented on #2709
It looks like the nodejs issue that @mdavids referred to above is closed. The trail there is:

* original nodejs issue for arbitrary reordering of DNS results, preferring IPv4: https://github.com/nodejs/node/issues/6307
* nodejs issue re: Happy Eyeballs implementation: https://github.com/node-fetch/node-fetch/issues/1297
* nodejs commit to remove explicit DNS result reordering and honour resolver

[2021-09-22 23:19] treysis commented on #2709
Yes, there MAY be hope. Looks like the commit is already part of NodeJS v16.10, released yesterday. As soon as Electron/Signal updates to this release, it should put IPv6 first, as long as devs of Electron/Signal don't override the new default setting.

[2021-09-22 23:40] wohltat commented on #5444
scientific enough?

[2021-09-23 01:13] duncanmak commented on #4937
Let's not let this go stale, this issue seems eminently fixable, doesn't it?

[2021-09-23 01:27] charltonstanley commented on #999
Bump to keep the stale bot from closing. Many people still want this, myself included. 😄

[2021-09-23 02:28] protist commented on #2735
Still a problem, stale bot. I had this issue about a week ago.

[2021-09-23 04:27] arekm commented on #1845
It's still a valid issue.

[2021-09-23 04:40] hirusi commented on #1042
This is important -- especially for a messenger that tries to keep things sandboxed and asks you, "Would you really like to save an image to your system that can be read by anyone?"

[2021-09-23 06:37] hiqua commented on #5271
Still not implemented, but arguably just a FR, so feel free to close if you want to clean things up.

[2021-09-23 06:37] hiqua commented on #5348
Seems fixed.

[2021-09-23 06:37] #5348 closed

[2021-09-23 06:38] hiqua commented on #5403
Seems fine now.

[2021-09-23 06:38] #5403 closed

[2021-09-23 06:40] hiqua commented on #5406
Still happening.

[2021-09-23 07:10] ColinH commented on #1648
Checked just now, with Signal Desktop 5.17.2 on the same i9 laptop running macOS 11.6, Signal sitting on a separate Space with a chat open, no activity or animations, the Helper is now shown at around 11%.

[2021-09-23 07:24] hex-m commented on #4925
This is still open and valid. According to the [bot config](https://github.com/signalapp/Signal-Desktop/blob/development/.github/stale.yml) someone from the team would have to tag this as a bug to silence the bot.

[2021-09-23 07:25] real-or-random commented on #5080
I think this is fixed, I can't reproduce this any longer, even with simulated keystrokes.

[2021-09-23 07:25] #5080 closed

[2021-09-23 07:28] real-or-random commented on #5274
Judging from the relevant code snippet, this has not been fixed yet. https://github.com/signalapp/Signal-Desktop/blob/1913752fa0a98f4f57d60af9850be0d01dc46044/ts/messageModifiers/AttachmentDownloads.ts#L245.

[2021-09-23 08:00] oofus commented on #4937
This is definitely not stale. The issue still exists. The only reason for lack of activity is because of a lack of progress in fixing the issue; which very much still exists.

[2021-09-23 08:16] rmader commented on #1639
Bump to keep the feature request open - Flatpak becomes ever more popular on non-Ubuntu Linux desktops.

[2021-09-23 08:19] Campano commented on #3225
I won't let a bot close this issue.

[2021-09-23 08:21] Trapulo commented on #3225
I also think that this (simple?) feature is required. In fact it is the only reason I cannot switch to signal as unique messaging app.

[2021-09-23 09:57] djtulan opened #5530 "v5.17.2 High CPU Load when idle on Linux"
- [X] I have searched open and closed issues for duplicates
- [X ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

### Bug Description
The current Linux version of Signal is using one whole CPU Core while idling.
Must have todo with the latest version. v5.17.2

### Steps to Reproduce
1.  start signal
2.  look at htop, top or whatever you like -> one full CPU cor

[2021-09-23 10:14] peterthomassen commented on #3515
This is still current.

[2021-09-23 11:37] MarkIngramUK commented on #4415
I'd appreciate this issue not being closed...

[2021-09-23 11:48] schultzter commented on #3225
Actually, let the bot close this and save our energy for when Google allows third-party RCS clients. Then we make sure Signal gets on that!

[2021-09-23 11:54] D0han commented on #4415
Latest beta release ( https://github.com/signalapp/Signal-Desktop/releases/tag/v5.18.0-beta.1 ) says "We heard you like to zoom in on images. We added oomph to your zoom, so even small images can go all the way full screen."
Is it covering this issue?

[2021-09-23 12:16] Xashyar commented on #2685
I'm glad to report that this issue has been solved after the [release of 5.17.0 ](https://github.com/signalapp/Signal-Desktop/releases/tag/v5.17.0):

Closing.

[2021-09-23 12:16] #2685 closed

[2021-09-23 12:39] ashmanskas commented on #1845
I also feel that this is still a valid issue.  Since privacy is the main purpose of Signal, I would find it very helpful to be able to hit ctrl+L to insert a column's worth of blank space into the current conversation, or somehow to blank out the current conversation until the next time I type or touch the scrollbar.  Usually Signal Desktop is open on my office machine to whatever my spouse and I

[2021-09-23 13:47] kfcaio commented on #2424
I can confirm the same behavior reported on version 5.17.2

[2021-09-23 13:54] EvanHahn-Signal commented on #3515
On Windows, Signal Desktop now supports the system tray without the command line option. Visit the "General" section of the Preferences to find these options.

<img width="50%" alt="Preferences screenshot" src="https://user-images.githubusercontent.com/69474926/134519925-a5ea6b29-55f0-4fd3-9fd7-107ec572c7a6.png" />

On Linux, this is available in the beta version. We plan to bring it to production

[2021-09-23 13:54] #3515 closed

[2021-09-23 13:56] EvanHahn-Signal commented on #5530
Sorry you're running into this. Could you send us some debug logs to help us track down the issue? You can get them at View → Debug Logs. (The text may be different in another language.)

[2021-09-23 13:59] EvanHahn-Signal commented on #2424
We've made a fix in v5.18.0-beta.1 that should fix this issue. Please try that version to see if it fixes your problems.

[2021-09-23 14:05] EvanHahn-Signal commented on #4415
@D0han Indeed, I do believe this has been resolved in v5.18.0-beta.1, which should go to production next week. I'm going to close.

[2021-09-23 14:07] EvanHahn-Signal commented on #5232
This is still on my list.

[2021-09-23 14:12] EvanHahn-Signal commented on #5406
I've spent a few hours looking into this issue but wasn't able to come up with a good solution. We're still aware of it.

[2021-09-23 14:13] EvanHahn-Signal commented on #5275
This issue is on our radar.

[2021-09-23 14:16] djtulan commented on #5530
Hi! I will try to give you all the information you need.
I assume it has todo with the Android Version too, because Messages arrive strong delayed at my phone.

Debug Logs:
https://debuglogs.org/7c2f5accb2e2c2bab94b3b30059174746d8827819994c3f306b8684dca238c9e.gz

[2021-09-23 14:17] ProactiveServices commented on #5179
Still suffering from this problem on a daily basis on Kubuntu 20.04.

[2021-09-23 14:28] EvanHahn-Signal commented on #4545
In Signal's preferences, you can now choose whether to automatically download updates. This should address this issue, so I'm going to close.

[2021-09-23 14:28] #4545 closed

[2021-09-23 14:37] trajano commented on #1653
Is there a fork with the PR that @Xaeroxe  made?

[2021-09-23 14:39] kfcaio commented on #2424
@EvanHahn-Signal after some messages exchanged using the latest beta version it seems to work as expected. Thank you

[2021-09-23 14:45] EvanHahn-Signal commented on #1653
This feature was added in #5244 (thanks @Xaeroxe). We had to remove Linux support because it wasn't reliable there.

I'm going to close this issue because it's been resolved. Visit Signal's preferences on Windows and macOS to see this feature.

[2021-09-23 14:45] #1653 closed

[2021-09-23 14:48] EvanHahn-Signal commented on #999
We're trying to move all feature requests to the community forum and off of GitHub. Please [weigh in there](https://community.signalusers.org/t/font-styling-for-signal-messages-e-g-using-markdown/612).

I'm going to close this issue not to say "we don't like this feature request", but more that discussion has moved elsewhere. Again, please [visit the community forum](https://community.signalusers.

[2021-09-23 14:48] #999 closed

[2021-09-23 14:51] oomek commented on #4922
It's not an issue anymore at least for me. Seems to be fixed.

[2021-09-23 14:54] EvanHahn-Signal commented on #5271
I think this is a bug. I'll file it in our internal tracker.

[2021-09-23 14:57] mailinglists35 commented on #5210
bad bot

[2021-09-23 14:59] janvlug commented on #2454
This feature would be very useful if Signal would be able to run Linux phones, like Librem 5 and Pinephone. I know that some people are [working on making this possible](https://forums.puri.sm/t/signal-desktop-on-arm64/14635).

[2021-09-23 15:26] protist commented on #2735
Thanks @EvanHahn-Signal for the response, but I think there have been two or three images posted here already. In any case, I don't think it's the specific image that is the problem, as I posted above in [my detailed reproduction steps](https://github.com/signalapp/Signal-Desktop/issues/2735#issuecomment-640158819).

[2021-09-23 15:38] EvanHahn-Signal commented on #4922
Great! I'm going to close this issue, but we can reopen if other people are still experiencing this.

[2021-09-23 15:38] #4922 closed

[2021-09-23 15:58] Dr-Cool commented on #2735
Want to let you know that I stopped experiencing this error for some time now.

[2021-09-23 16:01] iio7 commented on #5528
I have started the signal desktop application from the terminal which seems to provide a bit more useful information. It looks like there is a **migrateDatabase: Migration without cipher change failed**.

[code]

[2021-09-23 16:14] EvanHahn-Signal commented on #5528
We're really sorry to hear this. Unfortunately, we don't support the Arch Linux installation and haven't heard reports of this from supported packages, so I'm going to close this issue. Feel free to continue to discuss here, though I recommend bringing this up with the Arch package maintainer.

[2021-09-23 16:14] #5528 closed

[2021-09-23 16:40] EvanHahn-Signal commented on #5527
It looks like you're running Signal Desktop v5.7.0, which was released almost 3 months ago. I think that explains your problem. Please upgrade to the latest version and let us know if you're still experiencing the problem.

[2021-09-23 16:42] jvonhoff commented on #5528
In case any other Arch users get bitten, I realized that `signal-desktop` seems to be out of beta.  I removed `signal-desktop-beta-bin` and installed `signal-desktop` and it starts up as it should.  All of my chats were lost, but re-pairing with my phone and moving on down the road.  Cheers.

[2021-09-23 16:52] Marc-AntoineH commented on #5527
I did and update + upgrade and it said "signal-desktop is already the newest version (5.7.0)."

[2021-09-23 17:02] EvanHahn-Signal commented on #5527
Hmm, that's strange...the latest version is 5.17.2. Where are you doing the update?

[2021-09-23 17:04] Marc-AntoineH commented on #5527
I followed this to be sure I don't miss something.

https://support.signal.org/hc/en-us/articles/360007059212-How-do-I-ensure-Signal-is-up-to-date-

Linux

    Updates are handled through APT.
    Debian and Ubuntu desktop environments check for new APT packages automatically, and your system will prompt you when updates are available.
    You can also launch the “Software Updater” app to check fo

[2021-09-23 17:05] KommX commented on #4927
further activity

[2021-09-23 17:11] Marc-AntoineH commented on #5527
ok, I followed the instruction for install and that worked. Don't why the update/upgrade did not change the version but following the step for install does. Once, linked, lost everything, I had to customize and all my message are gone (only on my laptop)

[2021-09-23 17:13] Marc-AntoineH commented on #5527
i guess it is because I delete the device and re-add it, so it see it like a 'new' device...

[2021-09-23 17:42] #4393 closed

[2021-09-23 18:09] iio7 commented on #5528
I am sorry, but this is not an Arch specific issue, this is Signal related! The fact that you haven't heard this doesn't mean that it only exist on Arch Linux. @akaij has reported this above for iOS.

Please reopen this.

[2021-09-23 18:09] indutny-signal commented on #5527
@Marc-AntoineH Sorry you lost your messages. Could you send us your debug logs just in case?

[2021-09-23 18:12] iio7 commented on #5528
Also, perhaps you should provide a tarball rather than only support Debian. That way it's much easier for other Linux distros to add Signal to their repositories.

[2021-09-23 18:16] Marc-AntoineH commented on #5527
@indutny-signal
https://debuglogs.org/dfb6d55e7b7f539702d3143224f3f9594f8f128265123a898f5a069fbf7ae3ec.gz

[2021-09-23 18:22] iio7 commented on #5528
Thanks for mentioning this, I didn't even know that Signal had been added to the Arch Community repo.

[2021-09-23 18:26] iio7 commented on #5528
Solution for those on Arch Linux. Install the [signal-desktop](https://archlinux.org/packages/community/x86_64/signal-desktop/) package from the Community repo via `pacman`. Then **don't start Signal**, but rename the folder `~/.local/Signal Beta` to `~/.local/Signal` (or make a copy). Then when you start Signal all your history will still be there.

[2021-09-23 18:29] indutny-signal commented on #5527
Oh, I see now. Sorry @Marc-AntoineH , looks like you ran into a known issue that was fixed since 5.7.0. Normally, messages are not removed when you link Desktop back to the same account, but in your case due to a bug app forgot what account it had before unlinking and erased all data when you linked it back.

Terribly sorry again, and thank you for your debug log. Closing the issue since it sounds

[2021-09-23 18:43] stemy2 commented on #2911
Are you still planning to implement it ?

[2021-09-23 19:34] Flexmaen commented on #1389
The one bug blocking ASCII-Smileys will be fixed, but the suggestion for things like :-D still does not really work well.
So the suggestion here would be an option if it was optional.

[2021-09-23 19:36] Flexmaen commented on #4415
Not sure. This sounds like you can go full screen. But can you go further?

[2021-09-23 19:50] altano commented on #4684
I'm seeing the same issue. Here's my info as a data point:

* On iOS:
  * Audio/video calls work perfectly
* On Windows 10 (v5.17.2):
  * Voice memos to myself work. I can record and play back audio.
  * App sounds (e.g. message notifications) work fine
  * Video in calls work but there is no audio on either side
  * Discord, Skype, Windows Voice Recorder, Firefox, Chrome, DO work with my mic.
  *

[2021-09-23 20:21] indutny-signal commented on #2911
This is on our radar, but we don't have any estimates for the completion of it yet. Thanks!

[2021-09-23 20:22] #5527 closed

[2021-09-23 20:24] captn3m0 commented on #5528
I maintain the `signal-desktop-beta-bin` package on AUR. It is a re-packaged version of the Debian package from the Signal Ubuntu repos. I've pushed `5.18.0` to AUR just now, so please try against that.

I do validate all PKGBUILDs before I push them, and I haven't seen any crashes recently. The only time I've seen accidental crashes is when I upgrade Signal without closing the currently running a

[2021-09-23 20:35] hiqua commented on #5406
Nice that you were able to repro!

[2021-09-23 20:55] hiqua commented on #5211
See PR

[2021-09-23 20:56] hiqua commented on #5266
Current.

[2021-09-23 20:58] spipau commented on #267
Some "Activity" so the bot doesn't close this issue as I still think that this is relevant :smile:

[2021-09-23 20:58] hiqua commented on #5259
Current.

[2021-09-23 20:58] hiqua commented on #5258
Current.

[2021-09-23 21:06] hiqua commented on #5274
Given https://github.com/signalapp/Signal-Desktop/issues/2685#issuecomment-925755699 could you double-check that the current behavior is still a problem in practice?

[2021-09-23 21:30] l1ving commented on #2882
This issue has not been resolved.

[2021-09-23 21:56] kpuljek opened #5532 "Signal insists that it is ready!"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Since updating to the latest version of Signal Desktop Beta, it keeps spamming the "Signal Beta" is ready notification on the GNOME desktop. I can't accurately reproduce it, but sometimes I'll get 5 to 10 of these in a minu

[2021-09-23 22:08] lockieluke commented on #4461
[Signal ARM Installer](https://github.com/lockieluke/SignalArmInstaller)
[Direct Download Link](https://github.com/lockieluke/SignalArmInstaller/releases/download/v0.0.1/signal-installer)

I made a script that helps people install Signal ARM on your M1 and migrate old Signal chats.  Hope it helps!

[2021-09-23 23:21] indutny-signal commented on #5532
Sorry about this. It should be fixed in the next release.

[2021-09-23 23:53] MiKom commented on #1655
I believe this feature is live in stable 5.x release. Can be closed then?

[2021-09-23 23:53] yringler commented on #2505
This shouldn't be closed. Semantics doesn't make this a feature request -
the behavior as defined is flawed.

On Thu, Sep 23, 2021, 5:54 PM stale[bot] ***@***.***> wrote:

[2021-09-24 00:22] norpol commented on #4513
I mean people lost their signal history, there hasn't been any comment whether this has actually been fixed + the bug of deleting the database when you click the wrong button is likely also not fixed?

[2021-09-24 00:47] kpcyrd commented on #4513
The title describes a symptom and different people joined this issue for different root causes.

Arch Linux currently patches one of the Signal-Desktop dependencies for gnome support, the pull request to upstream the change is at https://github.com/signalapp/better-sqlite3/pull/3.

The "database deletion when closing the dialog" bug should be tracked in a different github issue in case it's still

[2021-09-24 02:55] dailydoseofgithub commented on #2941
This is the first time I have installed Github, so why is this error occuring?

[2021-09-24 04:09] xanoni commented on #5101
Has this been fixed? I'm not 100% sure.

[2021-09-24 05:53] hubyhuby commented on #2911
The option in command line

Please add it as a default behaviour on the shortcut after installation. With a tick as suggested to remove it. But I believe the essence of any chat app is to be running in the tray ;)
Works perfectly fine on my  3 ubuntu mate 18.04 and 20.04 for 6 monthes now .
The only reason for me you wouldn t want it in the tray/background is that it is set to use too much cache (

[2021-09-24 05:59] fe-hicking commented on #5075
It has been fixed, I cannot reproduce it anymore.

[2021-09-24 05:59] #5075 closed

[2021-09-24 06:03] Exploder98 commented on #4975
I think this is still a thing.

[2021-09-24 06:10] hiqua commented on #5101
There are some improvements in the latest version: https://community.signalusers.org/t/beta-feedback-for-the-upcoming-desktop-5-18-release/37094

There could still be some other things left, you'd have to test this.

[2021-09-24 06:20] jorisw commented on #2505
It baffles me how unreceptive the Signal team is to this issue.

[2021-09-24 06:23] tomtastic commented on #4459
bump

[2021-09-24 06:41] tribut commented on #2075
After an update, Signal still crashes on Linux, for example when restoring from tray.

[2021-09-24 06:45] real-or-random commented on #5274
That comment is related to sending attachments, not downloading them. I've double-checked the code. I don't see how this could have possibly been fixed.

[2021-09-24 06:50] Morgy93 commented on #1946
This issue is not resolved.

Ping for activity to not get closed~

[2021-09-24 07:41] Dyras commented on #5532
@indutny-signal Is this the same issue that makes the window blink on Windows 10? IF so, thanks for the quick fix!

https://user-images.githubusercontent.com/12563436/134637143-b7112923-534a-4f4b-bfc4-79bb837f2fb4.mp4

[2021-09-24 07:57] janvlug commented on #3710
In my opinion this message is still relevant.

[2021-09-24 07:58] dsanders11 commented on #5290
Closing this issue as the upstream fix has been picked up.

[2021-09-24 07:58] #5290 closed

[2021-09-24 08:13] KommX commented on #5477
Might this be linked to #4927?

[2021-09-24 08:23] lfr commented on #4816
I believe this feature request shouldn't go stale, as a privacy focused messaging app, being able to specify which browser to open links with should be part of the roadmap.

[2021-09-24 08:38] thompol commented on #5068
Problem still exists, please keep it open :)

[2021-09-24 09:16] JimLoose commented on #5023
whops, strange way to work with issues!

[2021-09-24 09:44] bestouff commented on #4858
Up!

[2021-09-24 10:01] fdutheil commented on #4459
Hi,
I remember having the same issue as long I started using Signal on Linux yeasr ago.

**My suggestion**: Is there a way to add and expose a configuration knob in Signal-Desktop's settings  to "_disable GPU hardware acceleration_" if it is enabled by default (*)?
Because I can see this too on a famous corporate and (censored) messaging application using Electron on Linux too, and disabling GPU b

[2021-09-24 10:29] D0han commented on #4553
This issue is still relevant

[2021-09-24 11:19] brainchild0 commented on #4675
Please keep open (i.e. remove stale mark).

[2021-09-24 11:44] krstp commented on #2454
Not sure why, Signal, despite multiple similar open issues and even proposed  solutions,  does not want to implement the feature of collapsible user list. Instead those feature request are being closed or marked as stale. This is not the way customer requests should be handled(!). At this point, the issue handling becomes extremely frustrating.

Team preaches privacy, but similar issue handling is

[2021-09-24 11:47] karthanistyr commented on #2454
Signal is not an open system, they just let you look at (some version of) the code. I've given up a long time ago.

[2021-09-24 12:16] gree7 commented on #4653
I had the same problem for couple of days (without ssh, just directly on my laptop machine), on my KDE Plasma 5 desktop. And the solution was quite prosaic in the end: Somehow my Notifications turned off, which KDE apps happily ignores and just didn't show any notifications, but electron apps (e.g. Signal) froze when they needed to show a notification.

The fix is easy: Just turn on the Notificati

[2021-09-24 12:29] mulder8387 commented on #2873
When started from command line, I've got just this, nothing more ... Now I've found, that when I leave the app running for several minutes, it starts to render! The second screenshot below is from new start, when it is loaded just fine, but there are many errors "[18284:0924/142818.773:ERROR:gl_utils.cc(314)] [.RendererMainThread-000000EC4E9B8D00] GL_CONTEXT_LOST_KHR: Context has been lost.". Just

[2021-09-24 12:39] ketancts commented on #5520
Where is the solution?

How to solve this error?

[2021-09-24 13:21] adamant-pwn commented on #5361
Second this, getting `libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)` on 5.18.0-beta.1 with XWayland and nvidia 470 driver.
* `--disable-gpu` or `--no-zygote --no-sandbox` fixes it.
* `--enable-features=UseOzonePlatform --ozone-platform=wayland` makes this specific error disappear from the log, but it sometimes doesn't start a window at all, otherwise s

[2021-09-24 13:59] EvanHahn-Signal commented on #1655
Yup! You've been able to create groups for awhile on Desktop. Closing.

[2021-09-24 13:59] #1655 closed

[2021-09-24 16:12] hiqua commented on #5520
Please use the forums: https://community.signalusers.org/

[2021-09-24 16:14] hiqua commented on #4858
Do this still happen?

[2021-09-24 16:32] scottnonnenberg-signal commented on #2882
@l1ving I believe we've kept all linux builds around since about 5.9.0 or so. Please take a look - maybe we can close this?

[2021-09-24 16:34] scottnonnenberg-signal commented on #4858
Given that we're automatically retrying messages for 24 hours now, you shouldn't see this anymore.

[2021-09-24 16:42] scottnonnenberg-signal commented on #2941
It's likely that one of the files used by SIgnal Desktop is locked by the system. Restarting then updating from the website https://signal.org/download should fix it.

[2021-09-24 16:44] scottnonnenberg-signal commented on #2505
New versions of Signal Desktop show nothing in the left pane on first link, just your pinned conversations if you have any.

For those of you who linked Desktop in the past, we have no current solution for you. It would be pretty intrusive to go into all of your contacts and hide things already in the left pane. Please let us know if you have thoughts there.

[2021-09-24 16:49] jorisw commented on #2505
Sounds good.

[2021-09-24 17:23] l1ving commented on #2882
My local configuration was broken - can confirm that this is now resolved. Thank you for bringing your attention to this issue :)

[2021-09-24 17:34] kiplingw commented on #3798
Still has not been implemented.

[2021-09-24 18:00] indutny-signal commented on #5532
I believe it is the same one. Sorry it is happening to you!

[2021-09-24 18:02] Foaly opened #5534 "Wrong z-order for spinning network connection indicator when profile menu is open"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

When you click on the profile picture menu while trying to reconnect to the network, the spinning indicator appears above the menu. Looks like a UI bug. I would guess there is some wrong z-ordering going on.

### Steps to R

[2021-09-24 18:43] #2882 closed

[2021-09-24 19:03] ssb22 commented on #4879
un-stale please, there is an open pull request

[2021-09-24 19:51] indutny-signal commented on #5274
Sorry about this. This is on our radar now.

[2021-09-24 19:52] indutny-signal commented on #2075
@tribut This is terrible. Sorry you ran into it. Could you give us a debug log, please?

[2021-09-24 19:54] indutny-signal commented on #4975
Sorry about this. It is on our radar now.

[2021-09-24 20:49] indutny-signal commented on #5068
Sorry about this. Could you submit debug logs from both Desktop and iOS device after archive didn't go through to iOS from Desktop? Thanks!

[2021-09-24 22:19] groovyd commented on #4108
I just setup a new ipad mini as a new linked device and i'm not seeing messages i sent from my desktop to various contacts on the new mini though i do see their responses and i see the messages on my other linked devices.  Why is this?

[2021-09-24 22:24] hiqua commented on #4108
Debug logs?

[2021-09-24 22:26] groovyd commented on #4108
From desktop or new ipad mini?

[2021-09-24 22:28] groovyd commented on #4108
Here is from the iPad mini…

https://debuglogs.org/395d5218f63c82c92b56ac8202e6e2ab1ce7fcd25eec7a7708f78d7af778ac36.zip

[2021-09-24 22:32] groovyd commented on #4108
Here is from the desktop...

https://debuglogs.org/9c97295685d7400a0de2d2efbff4be9129eaa53c98167ae1be40034690678a3d.gz

[2021-09-24 22:37] groovyd commented on #4108
Another thing I noticed while setting the iPad mini up was after linking the device it didn't show my profile picture from my other devices, just a default name text image and I had to set a new profile picture from the mini which is now different from the desktop and other iPod touch I have.

[2021-09-24 22:44] indutny-signal commented on #4108
Sorry about this. This is on our radar.

[2021-09-24 22:58] brainchild0 commented on #4676
Please keep open (i.e. remove stale marking).

[2021-09-24 23:09] groovyd commented on #4108
this being the message not syncing to linked devices or the profile pictures?

[2021-09-24 23:19] groovyd commented on #5438
Mind removing the need info label since I provided the info you asked for?

[2021-09-24 23:29] mjog commented on #1784
Still an issue with v5.17.2

[2021-09-25 01:00] stormchaser3000 commented on #1758
I would also love to see an AppImage. It would make installing this on non-ubuntu systems siginificantly easier.

[2021-09-25 01:06] indutny-signal commented on #4108
Actually, both!

[2021-09-25 06:52] iDuck12 commented on #4552
Hi @orenmagen100, any update on this wonderful new feature request? It's been a while 🙂

[2021-09-25 07:04] vraravam commented on #2222
why is this stale?

[2021-09-25 07:49] hiqua commented on #1784
See https://github.com/signalapp/Signal-Desktop/issues/1784#issuecomment-763799377, it's now implemented.

[2021-09-25 08:02] brainchild0 commented on #4680
Please keep open.

[2021-09-25 08:31] gpl34 commented on #3871
The locale is still missing.

[2021-09-25 09:59] brainchild0 commented on #4682
Please keep open.

[2021-09-25 10:13] sanketgarade commented on #4740
Verified today on macOS.
Signal v5.17.2

I tested by typing नमस्कार.
It types properly.
This issue can be closed.

Thanks a lot to the developers.
मनापासून धन्यवाद 🙏🏼

[2021-09-25 10:57] arekm commented on #1871
Still valid.

[2021-09-25 11:49] brainchild0 commented on #4668
Please keep open.

[2021-09-25 14:08] backspace commented on #3966
it’s still true 🤓

[2021-09-25 14:44] JohnDohe commented on #4328
This remains a problem.

Signal techies should fix this somehow.

[2021-09-25 15:35] cwsooner commented on #4616
What issue? Kind of hard to know what issue when it's not in this current email. Hello?

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 25, 2021, 10:32 AM, stale[bot] wrote:

[2021-09-25 16:43] drom opened #5535 "Crash on Linux on Start"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Linux signal app is crashing on start.

### Steps to Reproduce

1.  checkout, build `signalapp/Signal-Desktop`
2.  run as usual `./release/linux-unpacked/signal-desktop`

Actual Result:

[code]

Expected Result:

Run as usu

[2021-09-25 16:43] drom commented on #5535
Maybe related to https://github.com/electron/electron/issues/31113

[2021-09-25 17:29] oomek opened #5536 "Title bar is white in Windows 11 with dark theme enabled"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Title bar is ignoring the system and Signal dark theme settings in Windows 11.

### Screenshots

![image](https://user-images.githubusercontent.com/2974860/134780655-20cb8ee8-eef7-44c3-a365-aab2e6de731d.png)

### Platform In

[2021-09-25 17:35] hiqua commented on #5535
It looks like you're using the flatpak package, right? This is a 3rd-party package, please report it to its maintainers directly.

[2021-09-25 18:25] drom commented on #5535
I am building app from git

[2021-09-25 18:26] ProactiveServices commented on #4569
This is a feature request which I'd still like to see implemented.

[2021-09-25 18:41] hiqua commented on #5535
Then you can ask there: https://community.signalusers.org/c/development/desktop-development/23

[2021-09-25 21:04] lachesis commented on #4491
I am still interested in this feature. It remains one major lack of feature
parity between slack/discord and signal.

On Sat, Sep 25, 2021, 14:32 stale[bot] ***@***.***> wrote:

[2021-09-25 21:30] #4440 closed

[2021-09-25 22:32] JCGoran commented on #3476
Bump for interest. This (along with its inverse, #522) is one of those QoL issues that would really have a huge impact on how I use the app. While I already do regular backups of the mobile database, there's no way to use it on the desktop, and if I need to reinstall the desktop version for whatever reason, I essentially lose (easy) access to all of the conversations and media, so import functiona

[2021-09-25 22:42] derkostka commented on #1651
I just lost my decryption key on my mobile (my fault), therewith my 3 year conversation history. Now, i am still linked to Desktop, however just installed desktop back in 02/21.

If i only had this sync. feature !

I my opinion, there is no security risk therefore i kindly request that feature as it will bring a well improved UX.

[2021-09-25 22:42] DrMcCoy commented on #4252
This is still very much an issue and should be fixed.

[2021-09-25 22:51] lrenaud commented on #3962
Absolutely still interested here.

[2021-09-25 23:34] inthewaves commented on #4820
Both the sticker and attachment message cases seem to be fixed for me as of v5.17.2

[2021-09-25 23:34] #4820 closed

[2021-09-26 00:06] dnr commented on #2091
I'm still interested in this feature.

(I get the idea of a stale bot for closing old unreproduceable crashes and stuff, but it's kind of insulting when applied to clearly specified feature requests that aren't waiting for more information.)

[2021-09-26 00:42] peterthomassen commented on #3063
This is still current.

[2021-09-26 02:41] proxy-001 commented on #4432
Anyone interested to solve the issue?

[2021-09-26 04:26] readstead commented on #4524
It's still a great idea. Seems easy to add.

[2021-09-26 05:09] zwhitchcox commented on #2709
Just saw this issue linked on the issue I made.

Correct ordering of of IP addresses is good, but there are situations where networks can hand out IPv6 addresses, even when IPv6 connectivity support is dropped.

The solution is happy eyeballs.

I've implemented the algorithm for my company in a node-compatible way. It is open source, so if anyone wants to take it and adapt it for their needs, plea

[2021-09-26 06:25] quizilkend commented on #3486
Hi, I just wanted to say, that I'm still interested in this.

[2021-09-26 06:53] ashr123 commented on #2599
Why does it open for 3 years?

[2021-09-26 07:17] mjog commented on #1784
I can't remember that shortcut and I can't use the mouse to do it, so it's not yet implemented.

[2021-09-26 07:31] hiqua commented on #3486
https://github.com/signalapp/Signal-Desktop/pull/5276

[2021-09-26 08:18] oliviercailloux commented on #4053
Dear bot,

I’d be very happy if this bug received a little bit of activity, mind you.

[2021-09-26 08:38] ckujau commented on #2521
Can someone rename the title of the bug report to  "Provide Ubuntu stable package at updates.signal.org" or something like that? The next LTS release is just around the corner ;-)

[2021-09-26 08:40] hiqua commented on #4053
Any volunteer can package it for Debian for the official repositories, just like Arch Linux has: https://archlinux.org/packages/community/x86_64/signal-desktop/

It's unlikely to come from the upstream team.

[2021-09-26 10:32] huaracheguarache commented on #4121
Looks like the IPv6 fix has been merged: https://github.com/nodejs/node/pull/39987

And a new version with the fix is on the way: https://github.com/nodejs/node/pull/40119

[2021-09-26 10:39] #5327 closed

[2021-09-26 11:57] 0-Kala-0 commented on #5515
Discord is also an Electron app and successfully draw attention, so I'm not sure it's Electron related.

[2021-09-26 12:47] tobiaswittenburg commented on #4901
Still an important feature

[2021-09-26 13:30] ProactiveServices commented on #4349
This feature request would be helpful for me.

[2021-09-26 13:42] razzeee commented on #4220
This is still valid.

[2021-09-26 14:14] briankung commented on #2599
I no longer experience the emoji text replacement issue, fwiw

[2021-09-26 14:51] Xashyar commented on #3720
This issue is not observable anymore.

Closing.

[2021-09-26 14:51] #3720 closed

[2021-09-26 15:08] Xashyar commented on #4662
This is still observable on Linux, Signal 5.18.

[2021-09-26 16:25] CorySanin commented on #5536
In Windows 10, this is normal/expected behavior. I suspect the same is true for 11.

[2021-09-26 16:28] oomek commented on #5536
Why would you consider it to be expected? I don't understand. Any other app I use respects the system theme settings.

[2021-09-26 16:34] chrkuhlmann commented on #4193
Any plans to implement this? Would be a very useful feature.

[2021-09-26 17:03] hiqua commented on #5536
Dup: https://github.com/signalapp/Signal-Desktop/issues/2696

[2021-09-26 17:07] oomek commented on #5536
The workaround presented in the orher thread explains why I did not see it before the update to Windows 11. Themes in W11 work a bit differently and woild like to leave as it is without registry hacks.

[2021-09-26 17:12] CorySanin commented on #5536
The only apps I've seen without a white title bar are apps that have re-implemented the title bar in some way. Even KeePassXC which has a dark mode does not alter the title bar. It can be done, but any such issue should be described as a feature request and not a bug. That's just my humble opinion. I agree that this is a duplicate of 2696.

[2021-09-26 17:16] oomek commented on #5536
Yes I agree, the registry key I had modified made me believe it was a bug. Anyway, the other thread is over 3 years old. Is there any chance to push it forward a little bit?

[2021-09-26 17:17] GitGerby commented on #2155
This is still an ongoing request; though it's not received prioritization as yet.

[2021-09-26 19:56] seberm commented on #4786
bump

[2021-09-26 20:43] paul-li-pinery commented on #4008
Sorry for not noticing the reply for so long,

my use case was quite straight forward, there was only one person i was chatting with, I had the desktop version in use. the IOS device i use was off.

I was hoping at that stage, while i am logged in with the desktop app, the push notification to the phone will not be sent at all. so I only receive pings on desktop. when i logged out from the desktop

[2021-09-26 20:44] ckujau commented on #1723
So, is this a WONTFIX then from the developers, or what's the consensus here?

[2021-09-26 20:47] ckujau commented on #2718
Can this maybe merged (marked as duplicate?) with #1630 and then renamed to just "Packages for RPM-based Linux distributions"?

[2021-09-26 21:00] major-mayer commented on #5022
Has something changed with the maximum camera resolution?
The last time I called somebody using signal desktop, she told me that the video quality wasn't as bad as before...

[2021-09-26 21:22] Morc001 commented on #4937
Contrary to oofus' experience, I just used Signal Desktop (v5.17.2) calling an iPhone with video call. Both the camera and the microphone was a Logitech C270. The other side complained about echo so I had to mute and unmute. I use the same camera and its microphone with Jitsi (jit.si) no problem, although that runs in a browser (Chrome), not an application.

[2021-09-26 21:55] SebCT commented on #4086
That is still not resolved, it's important for comapnies with enterprise grade policies and application allowlisting that this will be resolved - please open it again, thanks!

[2021-09-26 22:01] Hu1buerger commented on #4654
Is still present. Device completely wiped too.

[2021-09-26 22:25] Xashyar commented on #2025
This feature is yet to be implemented.

[2021-09-26 22:25] NagyTibor84 commented on #4645
The issue still exists in version v5.17.2

[2021-09-27 02:26] awelton85 commented on #5528
This worked for me. I removed the beta, installed signal-desktop via pacman, and renamed the folder. Thanks!

[2021-09-27 02:48] zmontgo commented on #5475
Hopefully the update will fix this, as I'm experiencing this issue as well. However, I did experience a slightly different issue with a message rendering on top of another one. Wanted to make sure this was documented and would be fixed.
![signal-2021-09-26-213945_001](https://user-images.githubusercontent.com/31627113/134838429-e147ea74-3bdc-4e34-9613-5d7c340d02af.jpeg)

[2021-09-27 03:23] stephen-smith commented on #1075
This is affecting me, today.

I'm using the flatpak from flathub on Debian 11, KDE Plasma desktop environment.  Application alternates between "Connecting... Shouldn't be long" and "Disconnected" for several minutes and hasn't got connected.  I have a working Internet connection, I can stream from YouTube Music, e.g.

I'm unable to sync contacts with my phone. :(  Phone also has an Internet connec

[2021-09-27 04:12] altsalt commented on #3833
*bump* uncertain whether issues on GitHub ever get looked into... ?

[2021-09-27 04:12] altsalt commented on #4124
*bump* uncertain whether issues on GitHub ever get looked into... ?

[2021-09-27 04:39] mco-system commented on #5429
The fact that Signal is open source free software does not imply that it shall not be criticized.
Smit-kay is absolutely right when it says that Signal build system is fundamentally borked

It's not enough to roll up sleeves and get involved in the community. First it needs a community that accept criticizim. A community that will accept patches and changes in the way the software is delivered.

A

[2021-09-27 05:22] duck-rh commented on #5341
The problem is still there in 5.17.2.

[2021-09-27 05:30] duck-rh commented on #5247
Still current.

[2021-09-27 06:31] Exploder98 commented on #3836
Bump.

[2021-09-27 06:55] seg-on commented on #4553
Yes, I still looking forward to implement this setting.

[2021-09-27 07:21] huehnerlady commented on #4489
Any update on this?

[2021-09-27 07:35] piramiday commented on #4430
definitely still relevant! (also: not a "feature request" IMHO.)

[2021-09-27 07:47] nickhilliard commented on #3317
this is still a problem on the desktop client.  duplicated in #4252.

[2021-09-27 08:56] janvlug commented on #2788
From a privacy perspective, it would be good to be able to have not a conversation open.

[2021-09-27 09:16] kubrickfr commented on #5185
unstale :)

[2021-09-27 12:28] Foaly commented on #4074
Well I would still like to see this, dear stale bot.

[2021-09-27 14:13] indutny-signal commented on #5068
Hooray. Thanks for giving it another try!

[2021-09-27 14:13] #5068 closed

[2021-09-27 14:33] pedzed commented on #4283
I'm not sure if this has been solved yet. If not, it should stay open.

[2021-09-27 15:21] Xashyar commented on #3732
This is no longer observable on the latest 5.18.0 release.

[2021-09-27 15:21] #3732 closed

[2021-09-27 15:22] Xashyar commented on #2958
This has not been implemented yet.

[2021-09-27 15:22] #2958 closed

[2021-09-27 15:23] Xashyar commented on #2940
Signal now compresses all formats using the image quality selector.

Closing...

[2021-09-27 15:23] #2940 closed

[2021-09-27 15:24] Xashyar commented on #3895
This feature has not been implemented yet.

[2021-09-27 15:27] Xashyar commented on #3819
This is yet to be implemented.

[2021-09-27 15:27] Xashyar commented on #3731
This feature is yet to be implemented.

[2021-09-27 15:31] #2922 closed

[2021-09-27 15:53] mxm commented on #2331
This issue has already been resolved and can be closed.

[2021-09-27 16:02] josh-signal commented on #2331
First feature I worked on at Signal! Happy to close this. Thanks!

[2021-09-27 16:53] indutny-signal commented on #5534
Sorry about this. Thanks for reporting it!

[2021-09-27 17:27] #2331 closed

[2021-09-27 17:28] indutny-signal commented on #3819
@Xashyar I believe we display blurhashes at least in some instances now. Could you elaborate which parts still miss it?

[2021-09-27 17:45] indutny-signal commented on #4124
Thanks for opening this. We'll discuss it.

[2021-09-27 17:48] indutny-signal commented on #1075
@stephen-smith sorry you experience this. While flatpak distribution is not officially supported, I can still take a look at your debug logs to see if there's something there that would help us fix it. Could you post it here, please?

[2021-09-27 17:51] indutny-signal commented on #5475
@zmontgo this doesn't look right. Thank you for reporting it!

[2021-09-27 17:57] indutny-signal commented on #4654
Wow, this is not good. Sorry you ran into it. Looks like we weren't able to find the root cause previously, but we have released many new versions and added additional logging since then. Would you mind opening the conversation, starting the call, reproducing that there is no audio, and submitting a debug log, please? Thanks!

[2021-09-27 18:00] indutny-signal commented on #5022
Assigning this to myself so that stalebot would ignore it. We have this on our radar, sorry for the noise!

[2021-09-27 18:00] #2718 closed

[2021-09-27 18:00] indutny-signal commented on #2718
Done!

[2021-09-27 18:01] indutny-signal commented on #1630
Ref: https://github.com/signalapp/Signal-Desktop/issues/2718

[2021-09-27 18:03] indutny-signal commented on #1723
Recent releases have a new preference for disabling automatic downloads:

<img width="291" alt="image" src="https://user-images.githubusercontent.com/79877362/134961134-3d321b95-da37-4925-b883-6bcbe91d5bdc.png">

Does this fix this issue?

[2021-09-27 18:05] indutny-signal commented on #5536
Thanks for reporting this. It is on our radar, and we'll look into it.

[2021-09-27 18:06] indutny-signal commented on #5536
Closing because it is indeed a duplicate of #2696

[2021-09-27 18:06] indutny-signal commented on #2696
Not stale.

[2021-09-27 18:08] ProactiveServices commented on #3634
This feature request gets closer to a bug report the longer we're not able to manage Signal's storage, so this issue does still need to stay open.

[2021-09-27 18:09] indutny-signal commented on #3634
This is on our radar. Thanks for keeping it up!

[2021-09-27 18:15] indutny-signal commented on #5515
Sorry about it! This is a bit unorthodox, but to help us figure it out - could you try installing Electron Fiddle: https://www.electronjs.org/fiddle and load this gist https://gist.github.com/61d4e1b2d53311a0b6015b4ae770d725

<img width="446" alt="image" src="https://user-images.githubusercontent.com/79877362/134963371-7129228d-b287-4651-9952-180c65816117.png">

The only important bit of the fiddl

[2021-09-27 18:16] indutny-signal commented on #4121
We should get with an Electron update eventually. Great stuff!

[2021-09-27 18:50] rugk commented on #5296
shh #badbot :no_bell::robot::no_bell:

[2021-09-27 18:52] Xashyar commented on #3819
Hi @indutny-signal, you're right.

I had to recheck and for example, a Blurhash is shown while an image is being downloaded on Desktop.

Closing this for now.

[2021-09-27 18:52] #3819 closed

[2021-09-27 18:54] #5536 closed

[2021-09-27 18:58] indutny-signal commented on #3819
Yay, glad it works!

[2021-09-27 18:58] indutny-signal commented on #3819
Thanks for trying, btw!

[2021-09-27 19:00] indutny-signal commented on #5296
Assigned it to me to keep the bot away. Sorry!

[2021-09-27 19:01] scottnonnenberg-signal commented on #4008
Are you still on iOS? What version?

[2021-09-27 19:03] indutny-signal commented on #3063
I believe system tray is now enable for Windows user and (if I'm not mistaken) for beta users of Linux. Could you give beta a try and see if it works there, please?

Thanks!

[2021-09-27 19:04] indutny-signal commented on #2091
Sorry about that. Assigned this to myself to keep stalebot away. The issue itself is on our radar!

[2021-09-27 19:04] indutny-signal commented on #3962
Assigning to myself to keep the bot away.

[2021-09-27 19:05] indutny-signal commented on #3476
Assigning to myself to keep the bot away.

[2021-09-27 19:06] indutny-signal commented on #4491
Assigning to myself to keep the bot away.

[2021-09-27 19:07] indutny-signal commented on #5535
Yikes, sorry about it! This belongs to community forums as @hiqua has rightfully said, so I'm going to close the issue.

[2021-09-27 19:07] #5535 closed

[2021-09-27 19:08] indutny-signal commented on #4569
Keeping the bot away by assigning to myself.

[2021-09-27 19:10] indutny-signal commented on #4616
@cwsooner github notifications are :sob: sometimes, sorry. The issue with the contact sync when linking the Desktop. Are you still able to reproduce this?

[2021-09-27 19:11] indutny-signal commented on #4328
This is on our radar. Assigning to myself to keep the bot away.

[2021-09-27 19:12] indutny-signal commented on #3966
From the linked PR:

I believe we decided to not support them for the time being. Sorry to cause you discomfort, but I'll have to close the issue.

[2021-09-27 19:12] #3966 closed

[2021-09-27 19:13] scottnonnenberg-signal commented on #3871
We only pull new languages down when they reach a certain threshold: https://github.com/signalapp/Signal-Desktop/blob/1913752fa0a98f4f57d60af9850be0d01dc46044/Gruntfile.js#L107

[2021-09-27 19:14] #4740 closed

[2021-09-27 19:18] indutny-signal commented on #1871
Assigning to myself to keep the issue alive.

[2021-09-27 19:19] indutny-signal commented on #4680
Assigning to myself to keep it open. Thanks!

[2021-09-27 19:20] indutny-signal commented on #2222
Assigning this to myself to keep the bot away.

[2021-09-27 19:21] indutny-signal commented on #4552
Assigning to myself to keep the bot away.

[2021-09-27 19:23] indutny-signal commented on #4668
Thank you. This is on our radar. Assigning to keep the bot away.

[2021-09-27 19:24] scottnonnenberg-signal commented on #4489
It is highly unlikely that we'll ever do this. The system as designed has a whole lot of code assuming that a sticker pack will never change once created.

[2021-09-27 19:30] indutny-signal commented on #5438
@groovyd this is going to sound terrible, but both debug logs have expired, and we didn't get to the bottom of it yet. Would you be willing to give it just one more try and post debug logs again? I really appreciate you doing it for us already, and can understand if you find this suggestion frustrating, though!

[2021-09-27 19:30] indutny-signal commented on #4676
Keeping the bot away by assigning to myself.

[2021-09-27 19:40] indutny-signal commented on #4879
Assigned to myself to keep the bot away

[2021-09-27 19:41] indutny-signal commented on #3798
Keeping the bot away

[2021-09-27 19:43] #4469 closed

[2021-09-27 19:47] indutny-signal commented on #2873
gl errors are not fatal, and the app should be usable despite them being displayed. Did you find the app working after long startup?

[2021-09-27 19:49] indutny-signal commented on #2454
Assigning to keep the bot away.

[2021-09-27 19:49] indutny-signal commented on #4675
Keeping the bot away

[2021-09-27 20:11] indutny-signal commented on #5023
Assigning to myself to keep the issue alive.

[2021-09-27 20:17] groovyd commented on #5438
Sorry man but you should probably not expire debug logs if they take this long to get around to.

[2021-09-27 20:19] indutny-signal commented on #5438
@groovyd no worries. It is me who should be sorry. Thanks for reporting it in the first place, and sorry it didn't work out!

[2021-09-27 20:20] indutny-signal commented on #4816
Assigning to myself to keep this feature request alive.

[2021-09-27 20:26] indutny-signal commented on #5185
This is on our radar. Thank you!

[2021-09-27 20:39] JakobRing opened #5537 "Number of chars left to insert into group description is less on Windows Desktop App"
- [ ] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

### Steps to Reproduce

1.  step one
Open and edit group description from desktop app until the "character-left counter" reaches 0
2.  step two
Open and edit group description from Android or Iphone app and insert more char

[2021-09-27 20:44] ydydxhg commented on #4008
I am on IOS 13

On Tue, Sep 28, 2021 at 8:01 AM Scott Nonnenberg ***@***.***>
wrote:

[2021-09-27 20:56] cwsooner commented on #4616
Don't know. I've forgotten about it and moved on. Evidently non signal users don't show up on the desktop. I forgot about the desktop app anyway.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 27, 2021, 2:10 PM, Fedor Indutny wrote:

[2021-09-27 22:29] jsoref commented on #5374
Do I need to do something for this task?

[2021-09-27 22:55] indutny-signal commented on #5374
Assigning myself to keep this open. Thanks!

[2021-09-27 22:56] indutny-signal commented on #5537
Sorry about this. We'll look into this.

[2021-09-27 23:33] indutny-signal commented on #2873
Alright, closing the issue then. Thanks for your response!

[2021-09-27 23:33] #2873 closed

[2021-09-27 23:35] #4616 closed

[2021-09-27 23:35] indutny-signal commented on #4616
Got it. I believe this should be fixed now...

[2021-09-27 23:37] stephen-smith commented on #1075
Is [app.log](https://github.com/signalapp/Signal-Desktop/files/7239852/app.log) the right file?  If so, attached.  If not, let me know, and I'll copy+paste from within the app (or follow your directions).

[2021-09-27 23:40] cwsooner commented on #4616
Okay. Also, most of the people in my contacts list don't use signal shop there's no point in using the desktop app. Many are using telegram.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 27, 2021, 6:35 PM, Fedor Indutny wrote:

[2021-09-28 01:07] stephen-smith commented on #1075
Connected right away and sync'd with my phone as well!  Thanks for taking a look at it; I think this issue can probably be closed.

[2021-09-28 01:18] ckujau commented on #1723
If it works (especially on macOS where the automatic update process would induce system load), but I cannot verify this myself right now. And if the OP is happy with it, yes - great! Thank you for implementing this! Please close ;-)

[2021-09-28 01:20] indutny-signal commented on #1723
Glad to hear it! Tentatively closing the issue. Let me know if I should reopen it!

[2021-09-28 01:20] #1723 closed

[2021-09-28 06:21] exquo commented on #3456
I have also made a [list](https://github.com/exquo/signal-soft/wiki/Software-list#irc) with available ways to bridge signal or use it in other chat applications.

[2021-09-28 07:19] floppy-engineer opened #5538 "Hotkeys don't work in layout other than English"
Hi,

Hotkeys only work (Signal Desktop for Linux) when the layout is set to "English".
They should be tied to scan codes/physical buttons, not the characters.

It's really hard to use Signal Desktop without a mouse and with typing in other language that Eng.