[2020-06-05 13:33] kenpowers-signal commented on #2060
@rekh127 if the `Clear data` function is taking a long time then that would be a new bug you can report.

[2020-06-05 13:58] liquididea commented on #4225
I found what is the root cause:

The installer tries to overwrite a broken installation which was in AppData. The installer throws no errors. I have reset windows some days before installing Signal again but windows not cleared AppData.

Is it possible to build an installer logger or "cleaner" which ask for a cleanup.

[2020-06-05 14:43] alex commented on #3986
This feature is now supported on iOS and Android, and Signal for Desktop can render them, it just can't send them.

[2020-06-05 15:18] AlienInCA commented on #3137
This would be of huge value to make joining groups optional.

[2020-06-05 15:35] Martin-S-Taylor commented on #4172
I guess so, yes. I suspect it's an iPhone thing.

As things are, I appear as MS on my iMac desktop and MT on my iPhone.

MST

[2020-06-05 15:58] kenpowers-signal commented on #3986
@alex This will be in our next public beta. For the time being you can enable sending any emoji on Desktop by entering the following into the dev console:

[code]

[2020-06-05 16:06] kenpowers-signal commented on #3477
@timluther Signal uses a stateful protocol, so we have to download all messages (in order) so that we can maintain the protocol state between your desktop device and all of the other devices you have sessions with.

What are the specs of your machine? Can you provide us with a debug log?

[2020-06-05 17:05] kodsama opened #4327 "Dissapearing Sticker packs on Signal Desktop"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description
Certain sticker packs dissapear from the list of installed sticker packs on signal desktop (Mac)

### Steps to Reproduce
1. Install a sticker pack on signal desktop (the one I saw dissapearing the most is: https://signalstickers.com/pack/1dbd1b05e9789b351884862bceb34ce1)
Same packs are installed on signal mobile

[2020-06-05 19:28] rainerzufall commented on #4210
Happened again:

Received two messages from one person:

1.
Sent | Freitag, 5. Juni 2020 19:14 (1591377240077)
-- | --
Received | Freitag, 5. Juni 2020 19:22 (1591377769164)

2.
Sent | Freitag, 5. Juni 2020 19:14 (1591377281645)
-- | --
Received | Freitag, 5. Juni 2020 19:22 (1591377769164)

The second one was "hidden" in the conversation itself, but visible in the preview in the left pane. When c

[2020-06-05 20:35] JohnDohe opened #4328 "Having to re-link Signal desktop"
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

I had to re-link my Mac Signal desktop app after 30 days of inactivity.
This caused my Mac desktop Signal app to lose the texts in that 30 day period -
     they would not sink:
"For your security, conversation history isn't transferred to new linked devices."
BUT my desktop Mac is NOT a "new device"!
Its the sa

[2020-06-05 21:57] kenpowers-signal commented on #4327
Hi, @MaralAfris. Debug logs for Signal are available under `View > Debug Log`. Is what you were doing somehow disabling that functionality? If not, you should be able to upload a debug log from that menu.

[2020-06-05 22:00] kenpowers-signal commented on #4328
Hi, @JohnDohe. Devices are de-registered from the Signal Service after 30 days of inactivity, at that point any messages queued up for delivery to that device are dropped. Once you re-link your Desktop instance is essentially a brand new device and will not receive any messages from the period of time it was offline.

I've marked this as a bug so we can put a more clear message in the product.

[2020-06-06 11:36] timluther commented on #3477
The machine is i7-3930k @ 3.20 ghz, 16bg ram running Ubuntu 18.04 LTS on
one partition, Windows 10 on another.
Windows 10 signal boots up fine but on Ubuntu it's 'go-and-make-lunch'
slow. Where would I find the debug logs on Ubuntu please?

On Fri, Jun 5, 2020 at 5:06 PM Ken Powers <notifications@github.com> wrote:

[2020-06-06 12:00] kenpowers-signal commented on #3477
@timluther You can find debug logs by going to `View > Debug Log` inside of Signal.

[2020-06-06 15:00] Hritik14 commented on #3477
@kenpowers-signal  the thing about fetching everything at once really didn't make sense to me.
Wouldn't it be better if you it would fetch, say 10 messages from top 10 chats for startup and then proceeds to fetch the rest while we're able to actually use the app?

[2020-06-06 15:01] Hritik14 commented on #3477
Also, the windows label appears mistakenly placed as I previously reported the same issue on my Archlinux install.

[2020-06-06 19:42] maitra commented on #3742
--start-in-tray does not start signal-desktop in 1.34.1 so it looks like the problem is back. And it has been confirmed on Gnome, openbox and LXDE.

[2020-06-06 19:49] maitra commented on #3877
signal-desktop --start-in-tray --use-tray-icon launches neither a window nor a tray icon. Result independent of Gnome, LXDE/openbox.
signal-desktop without the options works fine but of course not with the option of tray notifications.

[2020-06-06 20:11] maitra commented on #3742
Same issues arise with 1.34.1, on Gnome,LXDE/openbox.

[2020-06-07 05:16] protist commented on #2735
Aha! I think I have a situation that is fairly reproducible.

1. Have signal-desktop open
2. Switch to another TTY with another user logged in. In my case, it was also running a desktop environment (KDE), but without a window manager, i.e. originally launched with `startx`.
3. Send a picture attachment to myself
4. Switch back to the original TTY

I just tested, and 3/4 times it failed with a blac

[2020-06-07 06:03] rvklein commented on #4296
I find it frustrating that this is a webapp wrapper where I should be able to easily change the font to match my preferred system font/font-stack as a CSS property. [Furthermore, being able to disable the bright colours on message bubbles would be nice.]

[2020-06-07 06:52] florianbegusch opened #4329 "Select multiple images/documents (spring cleaning)"
* Feature request
Please add the functionality to select multiple images and documents in the "Media" or "Documents" views to delete them.

[2020-06-07 10:32] Evil2000 commented on #3877
I can confirm this with signal v1.34.1 on Kali Linux running Gnome Shell 3.36.1

[2020-06-07 10:41] FatBirdie commented on #3877
Would love to see some priority on this issue.
Cheers!

[2020-06-07 10:50] pkorba opened #4330 "Emoji reactions appear pixelated"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

Emoji reactions on screen with low PPI look pixelated which makes them hard to distinguish from one another. By looking at https://data.firefox.com/dashboard/hardware you could conclude that large number of web users are still using low resolution screens. I think it would make sense to increase the size of reac

[2020-06-07 11:33] Oymate opened #4331 "[Feature Request] Collapse/Minimise the left pane."
There should be a button and a shortcut to collapse the left section, as it takes up much valuable space.

[2020-06-07 13:15] morirain commented on #4331
agree

[2020-06-07 18:06] mandree commented on #4082
https://github.com/electron/electron/releases/tag/v9.0.3 was released with the fix, but as of today, this release has not yet hit the servers in a manner that yarn would accept it.

[2020-06-07 20:21] VargaBenceLevente opened #4332 "[Feature request]: escape should close/cancel "reply to" functionality"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Pressing escape should behave similarly to clicking the X button on the top right of the quoted message. Right now I have to use the mouse to cancel the "I'm responding to a message" status.

### Steps to Reproduce

0. (Get friends)
1.  Open any chat
2.  Next to the "react with smiley" and the "triple dot", click the

[2020-06-08 03:32] josh-signal commented on #4320
Yup this is intentional, the logo doesn't downsize as well as the old one unfortunately. Thank you for your feedback we're thinking of ways to display the logo in a suitable manner for both small and large sizes.

[2020-06-08 03:39] xulinbao opened #4333 "在PC端安装的表情包会自动消失"
signal聊天设置了一小时自动消失，安装的表情包也会没有掉

- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2020-06-08 09:39] billyc commented on #3410
I'm trying to cross-compile latest master (1.34.1 as of this writing) and I can build an arm64 .deb, but I have the same problems as everyone else in this thread with the incompatible Chrome object in /tmp.  I'll try to pivot from the PKGBUILD instructions above from @lsfxz but I'm not using Arch -- I'm building on WSL2 (Ubuntu) for an arm64 Chrome-OS linux container (Lenovo Duet tablet) .

Not ex

[2020-06-08 10:19] dcposch opened #4334 "Better UI around 'Import Now' sequence - shorter timeout?"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

I tried `Preferences` > `Contacts` > `Import Now...`, and it froze in the `Importing...` state.

After further investigation, it *eventually* times out and tells you that your phone needs to be online. This UX could be more clear.

### Steps to Reproduce
1. Open Preferences
2. Put your phone in airplane mode
3.

[2020-06-08 11:37] igorkulman opened #4335 "Cannot paste images to chat using cmd+v on macOS when 'paste and match style' is the default"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

On macOS you cannot paste images to chat using standard cmd+v keyboard shortcut. But it works when you do right click (context menu) in the input box and choose paste.

### Steps to Reproduce

1.  Copy image to clipboard in another app, say in Firefox with right click and copy image
2.  Switch to a chat in Signa

[2020-06-08 14:17] Dionisiy commented on #3667
Did you find the solution?

[2020-06-08 14:18] Dionisiy commented on #3667
I have the same thing with all applications on my mac

[2020-06-08 16:02] rainerzufall opened #4336 "Some missing reactions (possible related to the new "any emoji reactions")"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

- I used the new "any emoji reactions" in a group over the weekend. My Signal desktop apps were offline for little over 2 days. The reactions are displayed on my phone, but are missing on all of my 3 desktop apps, upon starting them up.
- It does not seem that there are any messages missing. At first glance the

[2020-06-08 18:45] scottnonnenberg-signal commented on #3667
We need specific error messages to make progress on this. You can find your log at `View -> Debug Log`.

[2020-06-08 19:08] williamvds commented on #4217
I had the same issue on v1.34.0-beta.1. On v1.34.0-beta.3 no such error occurs.

[2020-06-08 20:01] scottnonnenberg-signal commented on #4335
Interesting - I was just able to copy an image from Finder and past that to add an attachment. We'll have to try with other apps as well.

[2020-06-08 20:01] scottnonnenberg-signal commented on #4217
@williamvds How did you install Signal Desktop?

[2020-06-08 20:05] scottnonnenberg-signal commented on #2735
Hm. Can you tell me more about that configuration in item 2? No window manager but under KDE? Is it that your other TTY doesn't have access to visual compositing when inactive, which means that canvas/screenshot-based resizing/rotating would fail?

[2020-06-08 20:08] scottnonnenberg-signal commented on #4333
Via google translate:
- Title: "The emoticons installed on the PC will disappear automatically"
- Summary: "The signal chat setting will automatically disappear after an hour, and the installed emoticons will not disappear."

Can you talk a little more about what you mean exactly by the 'installed emoticons?' Screenshots can sometimes help make things very clear without defining terms. Thanks!

[2020-06-08 20:17] scottnonnenberg-signal commented on #3477
@Hritik14 There are a number of reasons we need to process all messages, and process them in order. One is the stateful encryption protocol underlying everything, another is the fact that we don't trust the times sending devices bake into their messages. You can feel free to read up more here: https://signal.org/docs/

[2020-06-08 20:20] scottnonnenberg-signal commented on #2595
@pahhur I'd recommend that you file a bug on electron, since we don't do anything with `/tmp` in our code: https://github.com/electron/electron/issues

[2020-06-08 20:26] Hritik14 commented on #3477
I see. Though wouldn't it be better to keep a cache of previous messages than fetching them all everytime signal starts ? Or maybe cache only the required data to decrypt the latest messages?

[2020-06-08 20:30] scottnonnenberg-signal commented on #3477
@Hritik14 We only download new messages. We cannot re-download messages from the server, because they are deleted from the server when we download them.

I encourage you to go do some research on the signal protocol, how signal generally works, maybe go to the [forums](https://community.signalusers.org/) to talk with others about this. We certainly welcome a pull request once you get familiar enou

[2020-06-08 20:34] scottnonnenberg-signal commented on #4326
This is an unfortunate log that we've noticed as well. We haven't noticed any problems in the application because it it, however, so I'm going to close this.

[2020-06-08 20:34] #4326 closed

[2020-06-08 20:36] breznak commented on #2595
yet, a library you've decided to use causes problem (incorrect use, bug in the library, ...?)

Why not fixing the issue when a simple solution exists? :

https://github.com/signalapp/Signal-Desktop/issues/2595#issuecomment-635916892

PS: rather than overriding TMPDIR for everyone, do not export it but set it locally for the called app:

`TMPDIR=/bla exec signal-desktop`

[2020-06-08 20:38] igorkulman commented on #4335
When I copy and image in Finder and cmd+v to the Signal input box I get the image name instead often actual image, right click + paste works correctly.a

[2020-06-08 21:36] billyc commented on #3410
A bit of progress! The app opens and I see a big wash of Signal Blue. But nothing after that. Some of the menu items work e.g. for opening help URLs, but I cannot link my account or open preferences.

To get this far, I built it (verry slowly) on the chromebook itself, instead of cross-compiling. Used the patches from @lsfxz above. The log output appears to say that the app has started up, the sql

[2020-06-08 23:06] protist commented on #2735
Ack, sorry @scottnonnenberg-signal, I meant without a _display manager_, not window manager. i.e. instead of auto-launching SDDM when switching to TTY2, I manually log in at the console, then start a session with `startx`. I'm not sure how to test whether visual compositing works. Is there a test command that I can schedule while TTY1 is in the background?

[2020-06-09 03:04] peteremcc commented on #3745
Just tried setting Signal up on my Surface Pro X and was very surprised to find out that there isn't an ARM64 *or* 32bit version available.

Please do at least one!

Microsoft is pushing ARM64 heavily on upcoming devices, so this will be a growing issue.

[2020-06-09 03:05] peteremcc commented on #1636
Just tried setting Signal up on my Surface Pro X and was very surprised to find out that there isn't an ARM64 or 32bit version available.

Please do at least one!

Microsoft is pushing ARM64 heavily on upcoming devices, so this will be a growing issue.

[2020-06-09 06:14] MaralAfris commented on #4327
Hi,
Yes I know, I am trying to pinpoint a time where it happens, it is kind of random and I haven't found any triggers yet. Many messages go through so the debug logs are gigantic. I'll post one as soon as possible, worst case I'll post the big debug log if I can't pinpoint anything by the end of the week. Thanks for the fast reply ;) Stay tuned!

[2020-06-09 10:18] pahhur commented on #2595
@breznak
The export command in my script above does not affect a setting of anyone else, it just makes the TMPDIR settings permanent for all further processes that are forked from the given shell and from the exec'd signal-desktop executable.

[2020-06-09 12:02] williamvds commented on #4217
Via the [Arch User Repository package](https://aur.archlinux.org/packages/signal-desktop-beta-bin/) which pulls builds directly from https://updates.signal.org. I suspect @moonlies did the same.

[2020-06-09 16:11] rascarlo commented on #3410
having signal-desktop packaged for arm64 will make my pinephone fly. Hopefully the team will consider such option

[2020-06-10 02:18] themadarchitect commented on #3667
`dev@MBP /Applications % /Applications/Signal.app/Contents/MacOS/Signal
Set Windows Application User Model ID (AUMID) { appUserModelId: 'org.whispersystems.signal-desktop' }
NODE_ENV production
NODE_CONFIG_DIR /Applications/Signal.app/Contents/Resources/app.asar/config
NODE_CONFIG {}
ALLOW_CONFIG_MUTATIONS undefined
HOSTNAME undefined
NODE_APP_INSTANCE undefined
SUPPRESS_NO_CONFIG_WARNING undefine

[2020-06-10 03:11] Jawshy commented on #3868
I've experienced a similar issue. A contact reinstalled Signal and I'm notified that my safety number with \<contact> has changed (see screenshot 1). On Signal for Desktop Linux, I received several more notifications about the safety number having changed, and that it was marked as verified and not verified (see screenshot 2). I didn't remark the safety number as verified since it changed.

![Redu

[2020-06-10 03:58] Arinerron commented on #3585
Having the same issue on Arch Linux (`signal-desktop-bin` AUR package). Sending this so I get pinged if there is a solution.

[2020-06-10 04:53] MaralAfris commented on #4327
Hi again,

I managed to get a smaller debug trace. Couldn't see what the problem is from there. This time 3 packs dissapeared.
I noticed it when I took the mac out of sleep this morning, which might be a trigger.
Here is the log:
[signal_debug_log.log](https://github.com/signalapp/Signal-Desktop/files/4756250/signal_debug_log.log)

[2020-06-10 10:08] MaralAfris commented on #4327
Hi again,

Now it happened during a shorter period. I reinstalled the stickers in the morning and they just dissapeared again and reinstalled. No sleep of the computer in between. I clipped the logs between the 2 reinstall events. Hope it helps!
[signal_log2.log](https://github.com/signalapp/Signal-Desktop/files/4757741/signal_log2.log)

[2020-06-10 11:13] ejade opened #4338 "Better experience for people not using .desktop file on linux"
### Bug Description
Every upgrade or fresh install of signal desktop on Debian gives the following error preventing it from starting:

The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /opt/Signal/chrome-sandbox is owned by root and has mode 4755

Workaround for this is: sudo chmod 4755  /opt/S

[2020-06-10 11:24] christianparpart opened #4339 "Audio playback should continue when phone's screen is about to lock"
Hi,

so basically, I am listening (and sending my self) a lot of audio messages, including rather long ones (ranging from a few seconds up to 15 minutes or longer).

It is really really very stressful to keep touching the phone's screen to not get screen lock ,because that means the Signal audio playback will be stopped too, sadly. After unlocking the phone and wanting to continue listening, I hav

[2020-06-10 11:24] #4339 closed

[2020-06-10 11:51] tillschaefer commented on #3864
I can confirm, that the issue is gone here..

[2020-06-10 11:51] #3864 closed

[2020-06-10 22:31] br-olf opened #4340 "Signal is using enormous amounts of SWAP (memoryleak?)"
- [x] I have searched open and closed issues for duplicates

---

I experienced the electron process running Signal is using enormous amounts of SWAP.
This occurs when Signal is running for a long period of time like multiple days (I hardly ever restart my Computer but use suspend).

I am suspecting a memory leak because even if all the data I receive, since restarting Signal, is stored in SWAP th

[2020-06-10 23:00] scottnonnenberg-signal commented on #4340
Duplicate https://github.com/signalapp/Signal-Desktop/issues/4054

[2020-06-10 23:00] #4340 closed

[2020-06-11 09:29] DirkPitt1 opened #4341 "Group update notifications use incorrect string"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

Group update notifications after creation of a new group use string in plural form (multipleJoinedTheGroup key) instead singular form (joinedTheGroup key) even if there is only one contact in the group (tested with Polish language version). I checked that translation on the Transifex is correct for those 2 strin

[2020-06-11 14:16] mandree commented on #4082
I've rebuilt Signal with Electron 9.0.3, which resolves this issue.
@scottnonnenberg-signal - please rebase Signal onto Electron 9.0.3 or newer.

[2020-06-11 16:57] scottnonnenberg-signal commented on #4341
Thanks for the detailed bug report!

[2020-06-11 19:24] OdinVex commented on #3849
I would favor a warning but at least the option to allow. For now, it can be patched out (each build...) in app.asar for desktops. Just look for isFileDangerous and patch the return to false; If you've got root on your phone or can push your own apks, same concept follows. **Not** a fan of this nannying. Block by default, sure if you want but I want the option to disable.

[2020-06-11 19:26] OdinVex commented on #3840
Wonder why they don't consider shell scripts dangerous. *return false;* Problem solved.

[2020-06-11 20:49] twmccart commented on #1871
Is there a way to put a bounty on this issue?

[2020-06-11 21:21] twmccart commented on #3434
Because people keep being unhappy about this.

[2020-06-11 22:05] johanw666 commented on #3849
I'd have to search how to do that, just editing the file caused a crash
at startup.

On Android it is not a problem because this limitation is not there
(otherwise I would have removed it already a long time ago).

[2020-06-11 22:31] OdinVex commented on #3849
Pad the return false; with spaces. Won't crash then.

[2020-06-11 23:02] johanw666 commented on #3849
Ah well, I already fould out how to use asar to unpack app.asar, after that I can just edit app\ts\util\isFileDangerous.js as a textfile.

[2020-06-11 23:40] OdinVex commented on #3849
I figured it easier for most to just byte-patch, the reason I suggested as I did. :P

[2020-06-12 08:39] osm-frasch opened #4342 "Signal Desktop app does not appear in the taskbar with '--use-tray-icon'"
1.  start signal from KDE-Menu
2.  Signal starts correctly and is working well
3.  Signal Desktop app **does not appear in the taskbar**

Signal Version 1.34.1

Operating System: openSUSE Tumbleweed 20200609
KDE Plasma Version: 5.19.0
KDE Frameworks Version: 5.70.0
Qt Version: 5.15.0
Kernel Version: 5.6.14-1-default
OS Type: 64-bit

Guess: This could also be related to the last KDE update (vs. 5.1

[2020-06-12 09:15] pescepalla commented on #4342
Would this be a duplicate of #3877?

[2020-06-12 09:19] osm-frasch commented on #4342
Hmm, not sure. This had worked in the previous versions.

[2020-06-12 09:23] osm-frasch commented on #4342
In Autostart-Settings Signal-Desktop-App is configured with: signal-desktop --use-tray-icon
It starts after booting the system, but it does not appear in the taskbar

[2020-06-12 09:28] osm-frasch commented on #4342
Meanwhile I think it's probably a problem with KDE Plasma version: 5.19.0. I have this bug only since my last KDE update the day before yesterday.

And since this morning I also found out that the Riot Messenger has the same problem. There I can solve the bug a little bit by activating and deactivating the button "Show tray icon..." in the system settings of the messenger once...then it works ther

[2020-06-12 10:40] Sgn-32 opened #4343 "Menu "Support" opens support pages always in english"
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

Menu "Support" opens always in english, even another language is installed

### Steps to Reproduce

1.  click on the menu entry for support

Actual Result:

Menu "Support" opens support pages always in english, even another language is installed

Expected Result:

Support pages open in the installed language (or

[2020-06-12 13:58] berserker1 opened #4344 "rotateSignedPrekey error: TypeError: Cannot read property 'privKey' of undefined"
**Distro: Ubuntu Focal Fossia**
**Version: 1.33.3**

The Desktop application is not able to connect to the internet saying `check your network connection` although I have a working internet.
The debug [log](https://debuglogs.org/f715179b4eeeddda0263a4925332aea43bdd7485e095dc1e2aa431ab2e107386) is submitted.
Here I am posting the relevant extract of the log.

[code]

I was setting up a developement

[2020-06-12 16:11] cinemast commented on #3410
It makes me very sad, that Telegram (which is implemented in C++) does work on arm64/aarch64 with [ready to install packages](https://archlinuxarm.org/packages/aarch64/telegram-desktop) from Arch, but for Signal-Desktop (implemented in JavaScript), which runs basically in a browser it is not possible at all.

Don't get me wrong, I dislike Telegram very much from non-technical point of views, but i

[2020-06-12 16:17] twmccart commented on #4158
At minimum, I would like Tab and Shift-tab to be listed in the help menu of keyboard shortcuts.

[2020-06-12 16:35] scottnonnenberg-signal commented on #4344
You need to upgrade. It's able to connect to the server, but your Desktop instance is unlinked. We had a bug for a while where the 'unlinked' dialog didn't show when it should. If you upgrade you should see it.

[code]

[2020-06-12 16:35] #4344 closed

[2020-06-12 16:36] scottnonnenberg-signal commented on #4158
Have you tried the up/down keys when a message is selected?

[2020-06-12 17:46] scottnonnenberg-signal commented on #4342
Do things work properly if you omit `--use-tray-icon` when starting it?

[2020-06-12 18:13] scottnonnenberg-signal commented on #4307
So, the fact that you got an error on both your desktop and your primary mobile device suggests that this is a problem on the sender's side.

Additionally, in your log you can see additional successful messages from that device thereafter.

The more you can tell us about that sender, the better we can dig into this.

[2020-06-12 18:15] scottnonnenberg-signal commented on #3542
@f00b4r0 One thing that Mac users can do to help us out is an Activity Monitor 'sample.' Double-click the process in Activity monitor, and you should see a 'Sample' button in the bottom-left. This is especially useful if it's while that 'rainbow disc' is showing.

[2020-06-12 18:24] scottnonnenberg-signal commented on #3332
@janvlug If your machine is processing messages very quickly, yes, it's possible to have the same received at timestamp since it's only a millisecond precision. I took a look at your log, and everything seems normal. Expected log entries for all mentioned sent ids.

When you said "I'm a bit afraid now that I just might have overlooked the messages" you mean that you're able to find the messages in

[2020-06-12 18:25] scottnonnenberg-signal commented on #4225
What was broken about the installation, by the way?

[2020-06-12 18:30] scottnonnenberg-signal commented on #2735
I've got nothing for you, unfortunately. Maybe consider using Signal Desktop in a less convoluted configuration?

[2020-06-12 18:51] scottnonnenberg-signal commented on #4217
I just tested the sticker creation process on v1.34.2 on Ubuntu 18.04. This appears to be due to the packaging process used in the creation of the Arch package. I'm going to close this.

[2020-06-12 18:51] #4217 closed

[2020-06-12 20:40] scottnonnenberg-signal commented on #3868
@Jawshy Thanks for the debug log. I'm noticing that you've got some contact sync clusters:

[code]

What is your primary device? Would you consider providing a debug log from it?

[2020-06-12 20:52] rabailsofi opened #4345 "Unable to send messages to group chats from laptop signal app."
ok

- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  open up my Mac Signal app
2. try messaging a group (not individuals)
3. message isn't sending. when I hit enter, the message does not leave the text box.
4. the older messages do not get uploaded from the mobile app to the laptop app.
5. I have tried opening up an older version of

[2020-06-12 21:00] scottnonnenberg-signal commented on #4327
@MaralAfris Please don't 'clip' the logs. To get a complete picture of what's going on, we may need to see things which don't look like install or uninstall events to you.

I spent some time trying to get your described behavior to happen with that large sticker pack, but I could not.

Next time it happens, please provide a full debug log. Please also provide a debug log from your mobile device al

[2020-06-12 21:08] scottnonnenberg-signal commented on #4345
Desktop Debug Logs are available at `View -> Debug Log` and we really need them to track down issues like this.

[2020-06-12 21:54] twmccart commented on #4158
I am ashamed to say that I had not. Lovely. However, it would be nice if clicking a message would select it.

[2020-06-12 22:22] scottnonnenberg-signal commented on #4158
Clicking a message does focus it, but you're not in keyboard mode. If you hit Tab from there, you can navigate as you might expect.

[2020-06-12 22:51] littlebluetricycle commented on #3860
@gregory-hk Could you possibly share your script? That sounds like exactly what I'm looking for, I'd very much appreciate it!

[2020-06-13 00:10] dns2utf8 opened #4347 "Conversations do not contain "missed call", "incoming call" or "outgoing call""
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  Setup Signal Desktop
2.  Call someone on the phone and hang up
3.  See the hint in the conversation on Android

Actual Result:

4.  See nothing on the Desktop

Expected Result:

There should be the same markers in the conversation as they are on the phones.

### Screenshots

![image](

[2020-06-13 00:13] protist commented on #2735
@scottnonnenberg-signal To be clear, this issue doesn't *only* occur when in another TTY. This is just a specific situation where I could replicate the bug easily and reproducibly, and hence you might be able to replicate on your own system for debugging. It certainly occurs in many other situations.

[2020-06-13 00:48] scottnonnenberg-signal commented on #4347
Duplicate https://github.com/signalapp/Signal-Desktop/issues/3489

[2020-06-13 00:48] #4347 closed

[2020-06-13 01:19] Jawshy commented on #3868
@scottnonnenberg-signal my primary device is a Google Pixel 3a XL (aosp_bonito) running Android 10 (2020.06.02.02, QQ3A.200605.002.2020.06.02.02). The debug log timestamps only go back to 2020-06-12. Would you still like this debug log?

[2020-06-13 02:26] gregory-hk commented on #3860
attached. I've also included the BBEdit textfactory file that I use for reference.
I run these on OS X 10.15.x

[Copy n format Signal conversation.zip](https://github.com/signalapp/Signal-Desktop/files/4773865/Copy.n.format.Signal.conversation.zip)

[2020-06-13 02:37] thinh185 commented on #1689
Hey man, how to gen .sig file when build release update new version for signal desktop

[2020-06-13 07:03] XxBlackHatxX opened #4348 "macOS Full Screen issue"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  launch signal
2.click green full screen button.
3. command+w to close window
4. window is black.

Actual Result:
window is black.

Expected Result:
option 1: either don't close the window
option 2: end full screen mode before closing the window.

*If you choose the 2nd option the next

[2020-06-13 10:26] jonathancross commented on #1689
@thinh185 that quote has nothing to do with OpenPGP `.sig` files. It is about a codesigning key. Your question about generating your own sig files doesn't make any sense to me.

[2020-06-13 17:43] rabailsofi commented on #4345
Hi,

So sorry, I thought I pasted it.

Here it is:
https://debuglogs.org/85d41369551e5efc6891bd37ecb069eb73776abd8e42ace407cc74d5e6730c0c

Thank you.

On Fri, Jun 12, 2020 at 4:09 PM Scott Nonnenberg <notifications@github.com>
wrote:

--
*Sincerely, *
*Rabail Sofi. *

<http://www.linkedin.com/in/rabailsofi>

[2020-06-13 19:51] mfn opened #4349 "Feature request: allow disabling of notifications for reactions (only)"
- [x] I have searched open and closed issues for duplicates

---

## Summary
On desktop, I want to receive notifications of new messages arriving, so I enable it.

However I don't want/care about notifications for each reaction and would like a way to disable them. These are however the only options I see:
![image](https://user-images.githubusercontent.com/87493/84577828-ede83b80-adbf-11ea-8596-3b

[2020-06-13 20:34] osm-frasch commented on #4342
If I leave out "--use-tray-icon" it won't work. But it seems to be working now. I've had two more minor system updates since the day before yesterday. It seemed more related to KDE. The Riot Messenger now also appears in the control panel

[2020-06-13 23:33] DiagonalArg commented on #4307
All I know is that the sender has an iphone, and that the iPhone is linked to a Mac laptop.  They don't text from the phone much, so I expect  those texts came from the laptop, though ... apparently they were trying to install Signal also to an iMac about that time.  I am not clear if they succeeded or not.

[2020-06-14 03:04] scottnonnenberg-signal commented on #3868
Yep, would still like a debug log.

[2020-06-14 03:34] Jawshy commented on #3868
https://debuglogs.org/0ad901d831a977561481b7c8a2a5c2eb2e50b34fb0060a883318896140b70b8c

[2020-06-14 07:08] Jayman007 commented on #522
Is this still possible from the windows desktop app?  The Github page on this makes it sound like it's not.  I need to reinstall windows and then the signal app and I'd like to take my message history with me.

[2020-06-14 07:44] Leslieallen007 opened #4350 "When Signal Desktop goes to update... it just stops half way."

[2020-06-14 07:47] Leslieallen007 commented on #4350
What
What's wrong with this website.  I make a long comment, then when I save it... it returns with no description provided. This is about the Installation of the latest update of Signal Desktop.  OS is Windows 7  The desktop starts to install... goes half way then halts.  I try again... does the same thing.

[2020-06-14 14:34] DarkKn1ght66 opened #4351 "the linux desktop app of signal doesnt make calls that makes it kinda useless for any online related work"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2020-06-14 18:07] Genis-Sage commented on #4351
hey @DarkKn1ght66

1) just a title does not help at all. when you want other to invest time, you should also invest time

2) it's a duplicate of #554 and #1046

3) the signal devs are already hard on implementing it. see [Adding voice and video call support to the desktop app](https://community.signalusers.org/t/adding-voice-and-video-call-support-to-the-desktop-app/1078/55?u=parasym) in the commu

[2020-06-14 22:13] rabailsofi commented on #4345
Hi, any updates?

[2020-06-14 22:58] Jamesnastics commented on #4012
I have the same issue under Linux and Windows 10 desktop applications. I don't want to use the American dictionary as I am Australian and use Australian/British English.

[2020-06-15 02:17] thomasst opened #4352 "New line shortcut should be option-return on Mac"
Current behavior:

When typing in single-line mode in Signal (v1.34.2) on macOS, Shift+Return inserts a new line and Option+Return sends the message. This is inconsistent with other macOS apps (e.g. Apple Messages) which use Option-Return to insert a new line.

Expected behavior:

- Option+Return should insert a new line
- Shift+Return should behave like Return and should send the message. (Altern

[2020-06-15 07:49] toxpal opened #4353 "Fresh installation of 1.34.x doesn't start because of JSON error"
Just installed a fresh copy of Signal on Manjaro KDE (Arch). However, it doesn't start at all. Running **signal-desktop** via CLI returns many errors:

[code]

Completely uninstalled and re-installed 3 times, no result. The same version of Signal was running perfectly on the same machine previously, but it was old installation made months ago (which was continuously updated). The issue happened af

[2020-06-15 09:02] geninvin opened #4354 "Starting a new chat"
Attaching screenshot where i cleared all my chats. Now i dont know who are all in Signal. How will i start a new chat?

Windows 10 Version.

Version 1.34.2
![Annotation 2020-06-15 142443](https://user-images.githubusercontent.com/42903995/84638791-146bbb00-af15-11ea-978d-7eb7532b1e7d.jpg)

[2020-06-15 10:01] strugee commented on #522
@Jayman007 what exactly makes it sound like it's not possible? I don't see why it wouldn't be.

[2020-06-15 12:33] billyc commented on #3410
I'm no pro at Electron apps so I'm wondering if someone can help me debug this. The import of the native 'zkgroup' package is failing, and it is failing when it tries to import the 'ffi-napi' package. But what is strange is that I can add a `require("ffi-napi")` to main.js, and it imports without crashing.

The zkgroup package itself (and libzkgroup too) seems to be building properly and even pass

[2020-06-15 13:53] osm-frasch commented on #4342
I just got an update to Signal-Desktop 1.34.2
Everything seems to work exactly as it should

Many thanks!

[2020-06-15 15:34] Jayman007 commented on #522
I guess it would be this...

"Manually transferring folders is not supported and may result in errors. Signal uses a stateful protocol, meaning that you cannot simply copy files to another instance of Signal or copy files after linking and using Signal."

https://support.signal.org/hc/en-us/articles/360007059752-Backup-and-Restore-Messages#desktop_restore

[2020-06-15 15:43] dns2utf8 commented on #3489
Are there any news on this?

[2020-06-15 16:18] FrancescoReyes opened #4355 "Not able to send messages from Signal Dekstop"
Signal Dekstop v1.34.2 on Windows 10

On a chat where it's only me writing, after writing and sending a text message, the operation of sending is not accomplished.
On a chat where I am receiving messages, my messages disappear after me sending them, and never reach the destination.
In both cases the messages that I try to send do not synchronize on the smartphone.
For the rest, Signal on the smart

[2020-06-15 18:07] adrianlshaw commented on #3098
Happens quite often for me, over many years. Here is a recent debug log.

[signal.log](https://github.com/signalapp/Signal-Desktop/files/4782097/signal.log)

[2020-06-16 00:38] konaisland opened #4356 "somehing went wrong,when desktop opened"
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  step one---- open signal
2.  step two---- wrong

Actual Result:
Someting Went Wrong! dispayed

Expected Result:

### Platform Info

Signal Version:

Operating System: ubuntu 20.04

Linked Device Version: not linked

### Link to Debug Log

[2020-06-16 08:39] shmuel1234 opened #4357 "Spellcheck does not work on Windows 10"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

Spellcheck does not work on Windows 10, even though it's selected in the settings. Attached is a screen capture of my Windows version. Meaning, I don't get any red underline when I misspell a word.

### Steps to Reproduce

### Screenshots

### Platform Info

Signal Version:

v1.34.2

Operating System:

![snap1158](h

[2020-06-16 11:51] rainerzufall commented on #4336
Do more debug logs (and message IDs) help to track this down or did you already understand why this is happening?
There is definitely some bug here. I just started up Signal Desktop and in one group only 2 out of 23 emoji reactions have "survived" on Signal Desktop (all these reactions were sent during the last hour where Signal Desktop was offline).
On my second Signal Desktop instance 3 out of t

[2020-06-16 13:18] jediMasterMindTrick opened #4358 "Spellcheck still not working on Windows 10"
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

Spell check is not working on some Windows 10 instances.  I have a Windows 10 laptop that Signal's spellcheck works fine on, but not on my Windows 10 desktop.  I've tried uninstalling and reinstalling on the desktop, but it doesn't help.

### Steps to Reproduce

1.  Open Signal
2.  Write misspelled text in textb

[2020-06-16 17:08] #4351 closed

[2020-06-16 17:11] scottnonnenberg-signal commented on #4353
Check the data you have in `~/.config/Signal` - it stays around between install and uninstall.

[2020-06-16 17:16] scottnonnenberg-signal commented on #4345
@rabailsofi You should be able to unblock that send if you go the the Preferences screen and click 'Import Now.'

[2020-06-16 18:05] josh-signal commented on #4350
are you updating in-app or did you download the update through the website and are attempting to install it?

[2020-06-16 18:08] josh-signal commented on #4012
Since my last comment we've switched to use electron's built-in spellchecker which also uses hunspell dictionaries under the hood.

[2020-06-16 18:09] josh-signal commented on #4354
@geninvin how did you clear all your chats? You can try using the search feature to search for a phone number or contact to message.

[2020-06-16 18:10] #4342 closed

[2020-06-16 18:11] josh-signal commented on #4355
@FrancescoReyes can you please send us your debug logs so that we can get more information of any possible underlying errors you may have. You can get the logs from the menu View -> Debug Log

[2020-06-16 18:13] josh-signal commented on #4356
@konaisland hello can you please fill out the github template with more information about your issue and also please submit your debug logs so that we can see any underlying errors. You can find the debug logs via the menu: View -> Debug Log.

[2020-06-16 18:14] josh-signal commented on #4357
@shmuel1234 hello can you please send us your debug logs? You can get them via the menu: View -> Debug Logs.

Also, if you can please let us know which language you're using.

[2020-06-16 18:15] josh-signal commented on #4358
Possible duplicate of https://github.com/signalapp/Signal-Desktop/issues/4357

Thanks for providing your debug logs we'll check this out.

[2020-06-16 18:46] josh-signal commented on #4358
I'm also running 1.34.2 on Windows 10. My lang/locale is en-US. I don't see any errors or abnormalities in your logs.

I tried repro'ing this on my machine and here's a screenshot:

<img width="589" alt="Screen Shot 2020-06-16 at 2 43 46 PM" src="https://user-images.githubusercontent.com/60019601/84814655-a54e9f00-afc6-11ea-936f-20e5a15a9c9f.png">

[2020-06-16 19:00] josh-signal commented on #4358
If I recall correctly the spellchecker uses the native OS spellchecking under the hood so please ensure that your OS has spellcheck enabled locally. I believe you can find this under Settings -> Languages or Typing.

[2020-06-16 19:05] jediMasterMindTrick commented on #4358
I checked my OS settings and highlight misspelled words is turned on:

![image](https://user-images.githubusercontent.com/1563067/84816948-71817280-afe2-11ea-9dce-81572ea454aa.png)

[2020-06-16 19:35] nixbits commented on #4132
Problem remains.
Gentoo + fluxbox 1.3.7-r4 + signal 1.34.1 /  1.34.2
Debian + fluxbox  1.3.5-2+b2 + signal 1.34.2
Linux mint (bionic release) +  1.34.2

Overall 5 different installs on 4 different machines

[2020-06-16 20:14] gskerry commented on #3814
Hi there,
+1 on the issue.

Newly installed Signal on Android and Windows.
Signal Android 4.60.7 (Android 10, Samsung Galaxy S9)
Signal Windows 1.34.2 (Windows 10, Hp 15t)

Am getting new SMS messages in Android client, but nothing shows up in Windows client. (Windows client is running as the messages come in. Both devices happen to be on the same network).

There are a range of contacts listed in

[2020-06-16 20:53] kenpowers-signal commented on #4318
It looks like https://github.com/electron/electron/issues/21440 was fixed via https://github.com/electron/electron/pull/24042, so this issue should be fixed in the course of time once we upgrade Electron to whatever release contains those changes.

[2020-06-17 00:42] scottnonnenberg-signal commented on #3814
@gskerry Desktop will not show SMS messages. If you are sending or receiving true Signal messages via the Android app, those will show up in Signal Desktop (you can tell the difference with the little lock icon).

Similarly, only contacts which have true Signal accounts will show up in Signal Desktop - SMS-only contacts in Signal Android will only show there.

[2020-06-17 00:42] scottnonnenberg-signal commented on #3814
I'm going to close this issue to encourage new bugs to be entered. It's been over six months since the original poster entered this bug, and there's never been a follow-up.

[2020-06-17 00:42] #3814 closed

[2020-06-17 03:31] Jamesnastics commented on #4012
Thanks @josh-signal
How about under Windows 10?

[2020-06-17 07:09] itkfm commented on #4210
Experienced something somewhat similar: one message is simply missing in Signal Desktop. It's there on Android. It's there an Signal Desktop on a second computer (which is also where I did send it from).

Note: restarting Signal Desktop made it finally appear.

Signal D.: **v1.34.2**
OS: **Ubuntu 19.10**

[2020-06-17 08:22] ikazim opened #4359 "Signal crashes when trying to share something containing an umlaut"
### Bug Description

Signal crashes when trying to share a file containing umlauts.

### Steps to Reproduce

1.  Rename whatever file name to å - file extension doesn't matter. In my case I've tried both å.mp4 and å.jpeg.
2.  Drag and drop or use the "+"-button to upload said file containing any umlaut.
3.  Signal now turns blue and the only way to exit Signal is to either kill it through the term

[2020-06-17 11:02] Leslieallen007 commented on #4350
updating from the app on my desktop. Every time it stalls half way. So after a day of downloading... I have to quit. And a few days later... same thing.

[code]

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, June 16, 2020 11:05 AM, Josh Perez <notifications@github.com> wrote:

[2020-06-17 11:47] I1eoThe0ne opened #4360 "Improve UX saving multiple images"
### Feature Description

It is burdensome to save multiple images sent by a user.

 - I can only save a single image at a time (either in the chat directly by clicking on an image)
 - Within a chat → ... → "View all Media" → not possible to save multiple images

### Steps to Reproduce

see Feature3 Description

Actual Result:

### Screenshots
![image](https://user-images.githubusercontent.com/4125

[2020-06-17 13:10] rainerzufall commented on #4210
@itkfm For me it sounds like you are experiencing a different issue. This issue is about not all *received* messages being displayed when openeing a conversation. You might want to try and search again if your issue exists already or you have to make a whole new bug report.
In any case (also if your bug has different symptoms, but the same underlying cause and therefore should be reported here) a

[2020-06-17 13:19] SinTan1729 opened #4361 "[Feature Request] Add support for local security PIN"
Sometimes, we have to let someone use our computer for a while (e.g. for watching a video, or reading a mail). It'll be nice to have a security PIN that's needed to be entered after a certain period of inactivity or log off.

[2020-06-17 16:54] scottnonnenberg-signal commented on #4361
Duplicate https://github.com/signalapp/Signal-Desktop/issues/1850

[2020-06-17 16:54] #4361 closed

[2020-06-17 17:02] SinTan1729 commented on #1850
Ikr. This is a much needed feature as Signal is often referred to as the golden standard of private messaging. If its desktop client is vulnerable, it kinda defies all the benefits of having a robust mobile app imo.

[2020-06-17 17:12] josh-signal commented on #4350
Can you please send us your debug logs so we can check if there are any underlying errors? You can find them via the menu View -> Debug Logs.

[2020-06-17 17:13] josh-signal commented on #4359
@ikazim can you please send us your debug logs? You can find them via the menu: View -> Debug Logs.

[2020-06-17 19:10] #4359 closed

[2020-06-18 07:32] toxpal commented on #4353
Thank you, deleting this folder and re-installing fixed the issue.

[2020-06-18 07:32] #4353 closed

[2020-06-18 10:06] cryptomilk commented on #1630
I was able to package signal-desktop for openSUSE in the OBS correctly:

https://build.opensuse.org/package/show/home:gladiac:signal/signal-desktop

[2020-06-18 11:59] miltiad commented on #4043
Same issue here on 1.34.2

[2020-06-18 12:04] janvlug commented on #1914
I ran today in this issue, I think.
According to Signal changed the safety number of one of my *verified* contacts.
I tried to send a message in a group where this contact is also part of, and also directly.

I got an error. Resending the messaged did not work.

Debug log:
https://debuglogs.org/4be74332377a5f9e7777d49279836f268f9b9990fd4df02fd488821833bc8118

[2020-06-18 12:12] janvlug commented on #1914
After that I sent a message to the previously verified contact on Signal Android, I could send this contact also messages again from Signal Desktop.

[2020-06-18 14:44] praemunio commented on #3592
@scottnonnenberg
Will there be a future version to include texting to those without Signal installed or does this become a challenge due to sending txt via TSP provider links and not directly through Signal infrastructure?
Thank you.

[2020-06-18 16:02] nekohayo commented on #4315
I'm encountering a similar issue, with Signal v1.34.2 (Flatpak version on Flathub) on Fedora. I've been unable to use it on the desktop for nearly a week, it just suddenly stopped connecting since Friday. You can close/restart/reinstall the Signal desktop client all you want, it just keeps showing this:

![Screenshot from 2020-06-18 12-00-57](https://user-images.githubusercontent.com/479401/850443

[2020-06-18 16:40] scottnonnenberg-signal commented on #3592
@praemunio You'll want to watch this feature request: https://github.com/signalapp/Signal-Desktop/issues/3225

[2020-06-18 17:47] FrancescoReyes commented on #4355
It's very strange, Signal desktop is now it is working again.
In between I had the computer crashing a few times for no clear reasons, after which I did some checks for hard drive or RAM problems, but without finding any issue.

The log is at
https://debuglogs.org/64551588d46dd31adb10c80da6c596c627765669b27b682a7cb826cfa63d299f

[2020-06-18 19:12] madias123 commented on #3098
This error totally destroyed my message history and f**** up with over 2000 equal error messages within a few hours! So please turn this off, because it's doing totally crazy things and no one of "normal" person would recognized this error is because of too much messages, so why not post the error directly instead of a generic error message?

![image](https://user-images.githubusercontent.com/3707

[2020-06-18 20:47] travisnj commented on #3745
Yes please.. I too am shocked there is no ARM support!

I am on Galaxy Book S.. Win 10 ARM is very very nice now and need Signal!

[2020-06-18 21:52] renaldofreire opened #4362 "Better control of Spell Check"
- [ x ] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  File > Preferences > General
2.  Check enable spell check of text entered in message composition box

Actual Result:
Limited options to control spell check.

Expected Result:
Spell check control option. For example:

- Use app language in English;
- Enable spell check in Portuguese.

[2020-06-18 22:10] scottnonnenberg-signal commented on #4362
Duplicate https://github.com/signalapp/Signal-Desktop/issues/1659

[2020-06-18 22:10] #4362 closed

[2020-06-19 01:04] josh-signal commented on #3098
@madias123 can you please send us your debug logs, you can find them via the menu View -> Debug Logs.

I see you've reset your message history, in the future can you please try and send us debug logs prior to resetting so we can perhaps get a glimpse of how your instance went from a good state to a bad state?

[2020-06-19 10:18] stubu commented on #3904
1.34.1 chomping CPU in Fedora 31.  I think 1.33 was relatively good but now the bug is back.  Consuming a whole core and I'm doing nothing.

[2020-06-19 10:44] lorenzhs commented on #3536
For a few releases now, this has been broken again: the `postinst` script of the Debian package no longer `chmod`s the chrome-sandbox binary :( I don't exactly remember when this started again but it was a few releases ago.

[2020-06-19 16:36] fwjarrod commented on #4156
I have this same issue. Mac running Catalina (MacOS 10.15.3) is failing to sync messages on Signal Desktop (version 1.34.2) with Signal for iOS app (version 3.10.5.3) on my iPhone 6S (iOS 13.4.1).

This most frequently happens with group chats but also sometimes happens with individual chats.

I am including screenshots of a group chat both from my Signal Desktop as well as Signal App on iOS (note

[2020-06-19 18:06] nekohayo commented on #4315
This is what I get:

[code]

[2020-06-19 21:53] culebrasolida commented on #3821
I'm having the same issue trying to create a sticker pack in ubuntu 20.04

[2020-06-20 02:20] josh-signal commented on #3821
@culebrasolida can you please send us your debug logs you can find them via the menu View -> Debug Logs. Can you also open up Developer Tools and check the console to see if there are any error messages displayed on there?

[2020-06-20 02:23] culebrasolida commented on #3821
sure, https://debuglogs.org/5c8a68f97719ce14a82cd06cb8927d3160994377c685da205b9ce0d89e5c6308

console:
DevTools failed to parse SourceMap: file:///snap/signal-desktop/324/opt/Signal/resources/app.asar/node_modules/socks/build/index.js.map
DevTools failed to parse SourceMap: file:///snap/signal-desktop/324/opt/Signal/resources/app.asar/node_modules/socks/build/client/socksclient.js.map
DevTools fai

[2020-06-20 03:28] josh-signal commented on #4012
@Jamesnastics the spellchecking on Windows 10 is provided by the OS so to add words I believe you can edit the `.dic` files that should be in the `%APPDATA%\Microsoft\Spelling` folder. You can open these files with notepad and edit them.

[2020-06-20 10:30] absort0 commented on #4327
I am experiencing this exact same issue on Linux (Debian Buster). Some Sticker Packs keep vanishing from Signal Desktop. On Android the same Sticker Packs are present at all times. The stickers were installed directly on the desktop app. I can't pinpoint exactly when it is disappearing, but it doesn't take long.

Another thing that I've noticed is that if I click on a sticker someone sent me from

[2020-06-20 11:56] janderson2k commented on #3225
THIS FEATURE not existing is why I DONT use signal.

[2020-06-20 13:40] pkorba opened #4364 "Signal doesn't load the chat log for a contact if you switch to another conversation and after that you try to switch to the previous conversation while there's message awaiting to be sent"
- [X] I have searched open and closed issues for duplicates
---

### Bug Description
So I had a problem with DNS resolution on my machine which was caused by short outage of my DNS provider server. During that time I tried to send a message to my friend and message was stuck awaiting to be sent to the Signal server. While the message was pending, I switched to another conversation, and then I trie

[2020-06-20 16:54] skuzzy commented on #4315
I am having a similar issue on Windows 10 Pro build 18363.900.
However, for me it was an intermittent issue earlier, but since the past 12 hours, the connection doesn't resolve!
![Signal connection failure](https://user-images.githubusercontent.com/1962282/85207153-6f871e80-b316-11ea-8f89-227726604bb0.PNG)

My debug log is here:
https://debuglogs.org/bda2de7f8b64465b07337ed78d298e08c137807f92e951c

[2020-06-20 17:35] ajason08 opened #4365 "audio gets interrupted when a second task starts"
- [X] I have searched open and closed issues for duplicates
Specifically I look for all related issues querying "is:issue audio"

---

### Bug Description

Audio file stop playing when a second task starts, such as send a text message, delete some message and so on...

### Steps to Reproduce

1.  Play some received audio
2.  Try to start another task while playing the audio

Actual Result:
Audio g

[2020-06-20 18:45] nekohayo commented on #4315
This might be completely coïncidental, but I see that my laptop where the issue occurs is running version 1.34.2, but my workstation that was not yet updated, and therefore still runs version 1.34.1, is able to connect without problems, on the same network.

[2020-06-20 19:40] wwmbes opened #4366 "Need time tree to go back to previous messages easily"
- [ X] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2020-06-21 07:40] toxpal opened #4367 "Suggestion: remember last directory for saved files"
When downloading/saving attached files on Linux client, Signal always uses `/home/username` directory by default. It would be nice if it remembers last used location to save files (just like any other program - from basic text editor to image processing software).

For example, if user manually saves file to `/whatever/dir/attachments` directory, maybe Signal could use this location next time by d

[2020-06-21 13:32] LendoK opened #4368 "Crash on startup"
### Bug Description

App crashes on startup.

[code]

### Platform Info

Signal Version:

signal-desktop-beta-bin 1.34.2beta.1-1

Operating System:

DISTRIB_DESCRIPTION="Arch Linux"
Linux 5.7.4-zen1-1-zen
Gnome 3.36.3
WM: x11

[2020-06-21 17:55] varshavaradarajan commented on #1632
#2537 was closed , but #2537 appears to be happening without a proxy too.
[signal.log](https://github.com/signalapp/Signal-Desktop/files/4809971/signal.log)

[2020-06-21 18:11] hirusi commented on #4000
Duplicate of https://github.com/signalapp/Signal-Desktop/issues/1042.

[2020-06-21 22:02] sheatsb opened #4369 "Groups persist on Desktop after leaving one on Mobile"
- [ X] I have searched open and closed issues for duplicates
It's a resurgence of #3235 and #2202 with the latest version iOS and MacOS clients.

---

### Bug Description

I left a group on mobile and it behaves appropriately (cannot send or receive messages, disappearing messages expire on time). But when I use the desktop client, the group is not only present, but I can still send and receive me

[2020-06-22 07:11] itkfm opened #4370 "Tray icon does not show up anymore on Budige"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

Tray icon does not show up anymore since I've upgraded Ubuntu Budgie from 19.10 to 20.04.

### Steps to Reproduce

1. `signal-desktop --use-tray-icon`
1. Have a look at “System tray” and “AppIndicator applet”. No Signal tray icon at all.
1. Close Signal's window
1. Still no tray icon
1. Notice that the process i

[2020-06-22 07:14] itkfm commented on #4370
Probably a duplicate of #4132

[2020-06-22 09:00] sorryusernameisalreadytaken commented on #3418
When you write about **Signal Desktop exports** it sounds like that is was possible in the middle of 2019 to export a signal desktop message db?

I do a reset of my pc every year and I dont want to change this. I really dont like it that I have not the same messages then on my pc and my android-phone.

In my opinion a **import function of android-backups** could be a really useful solutions for ma

[2020-06-22 09:04] sorryusernameisalreadytaken commented on #522
Why not implement a import feature of android-backups?

[2020-06-22 11:02] iHarryme commented on #2424
Same problem...
![Screen Shot 2020-06-22 at 3 44 30 PM](https://user-images.githubusercontent.com/45716271/85280411-b9523f00-b4a5-11ea-80cb-5b902e07950f.png)
![IMG_4232](https://user-images.githubusercontent.com/45716271/85280413-bb1c0280-b4a5-11ea-8e3e-5342ac2a9df0.png)

Debug Log Mac OS: https://debuglogs.org/30d9a5ddb02ff35b61bc98726db5fc13e5ce2d1ba87c0f4f12f98f53da074ead
Debug Log iOS:
https:/

[2020-06-22 11:03] iHarryme commented on #2912
Same problem
![Screen Shot 2020-06-22 at 3 47 23 PM](https://user-images.githubusercontent.com/45716271/85280575-07ffd900-b4a6-11ea-9748-6c99db714bf0.png)
![IMG_4233](https://user-images.githubusercontent.com/45716271/85280578-09c99c80-b4a6-11ea-9920-b182c863b262.png)
Mac OS debug log:
https://debuglogs.org/30d9a5ddb02ff35b61bc98726db5fc13e5ce2d1ba87c0f4f12f98f53da074ead
iOS Debug Log:
https://deb

[2020-06-22 13:02] u32i64 opened #4371 "Sealed sender status for message recipients doesn't fully sync Desktop > Android"
The information on whether a message was sent to a recipient via sealed sender doesn't seem to be synced correctly from Desktop to primary device (Android).

### Steps to Reproduce
0. Showing sealed sender icon should be enabled in primary device's Signal settings.
1. Send message on Desktop e.g. to a group with a couple of recipients.
2. Open message details for that message on primary device (An

[2020-06-22 13:41] 315i opened #4372 "Pinned chats"
Hi team

is there a way to be implemented "Pinned chats" similar as on telegram app.
Thanks

[2020-06-22 13:58] nekohayo commented on #4315
I can now say it is not related to a particular version of the desktop client, as the computer that was unable to connect now is able to connect since yesterday. As if it was some problem in the server infrastructure rather than the clients after all?

[2020-06-22 16:19] joelwass opened #4373 "MAC Unhandled Error SyntaxError: Unexpected end of JSON input at JSON.parse"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

I have had signal installed on previous mac's however this is the first time installing on this mac.

I installed signal from [here](https://signal.org/en/download/) by clicking "download for mac"

I followed the instructions to place Signal into applications folder, then attempted launching. this is the error i

[2020-06-22 18:29] scottnonnenberg-signal commented on #4373
You're on a mac, so the data directory is `~/Library/Application Support/Signal`. You could help us out by looking at the `config.json` file in that directory, to see why/how it's malformed.

[2020-06-22 18:34] scottnonnenberg-signal commented on #4315
@nekohayo @skuzzy Both of you have lots of `0 Error` in your log as the result of trying and failing to communicate with the Signal server. This means that you can't connect to the server at all. Do you have a proxy between you and Signal servers?

What happens if you run this?

`curl --insecure https://textsecure-service.whispersystems.org`

You should get this - it should be able to connect, but

[2020-06-22 19:12] joelwass commented on #4373
`~/Library/Application\ Support/Signal/config.json` appears to be empty, although it does exist

[2020-06-22 19:54] scottnonnenberg-signal commented on #4371
I just tested this with a couple of my messages in a group, and I didn't see any inconsistency between my Android and Desktop devices. What kind of pattern have you found in this behavior? Does it happen in all groups? In the same group all the time, the same way?

[2020-06-22 19:55] scottnonnenberg-signal commented on #4373
You should be able to start up if you delete that file. How do you think an empty `config.json` file got there? Did you copy your Application Support directory over from your other mac?

[2020-06-22 19:58] scottnonnenberg-signal commented on #3821
@culebrasolida Sadly, neither your log or those pasted console lines are helpful here. Perhaps something is going to stdout? We've seen other problems loading our 'sharp' native module on certain Linux installs, maybe it has something to do with that?

[2020-06-22 20:00] scottnonnenberg-signal commented on #4366
I'm closing this, because we don't have enough information to make progress on it. Please feel free to reopen when you've provided more context and detail. Thanks!

[2020-06-22 20:00] #4366 closed

[2020-06-22 20:01] joelwass commented on #4373
No idea how it got there, i restored this mac from a backup of my old one (without apps).

Seems to be starting up now, thanks @scottnonnenberg-signal  !!

[2020-06-22 20:01] #4373 closed

[2020-06-22 20:02] scottnonnenberg-signal commented on #4365
Duplicate https://github.com/signalapp/Signal-Desktop/issues/4070

[2020-06-22 20:03] scottnonnenberg-signal commented on #4367
Duplicate https://github.com/signalapp/Signal-Desktop/issues/3961

[2020-06-22 20:04] #4367 closed

[2020-06-22 20:05] scottnonnenberg-signal commented on #4368
Duplicate https://github.com/signalapp/Signal-Desktop/issues/2595

[2020-06-22 20:05] #4368 closed

[2020-06-22 20:05] scottnonnenberg-signal commented on #2707
Duplicate https://github.com/signalapp/Signal-Desktop/issues/2595

[2020-06-22 20:05] #2707 closed

[2020-06-22 20:07] scottnonnenberg-signal commented on #1632
@varshavaradarajan If the desktop app works only when you use NordVPN, then there is some specific blocking in place on your network which NordVPN circumvents.

[2020-06-22 20:08] #4000 closed

[2020-06-22 20:12] scottnonnenberg-signal commented on #4369
In your repo steps, how long was it between step 1 and step 2? Multiple days? Hours?

What happens if you open up Preferences and click the 'Import Now' button?

[2020-06-22 20:13] scottnonnenberg-signal commented on #4370
I don't think we need a separate bug for every Linux distro/WIndow manager. I'm going to close this as a duplicate.

[2020-06-22 20:13] #4370 closed

[2020-06-22 20:19] darkdragon-001 commented on #2595
See electron/electron#24242.

[2020-06-22 20:27] sheatsb commented on #4369
It took 18-24 hours between steps 1 and 2.

The same group appears and I can still interact with it and see group activity.

[2020-06-22 20:31] skuzzy commented on #4315
@scottnonnenberg-signal No, I do not have any proxy between me and Signal servers.
I do get a 404 with that curl  command.

This seems to be and increasingly frequent intermittent issue with each downtime being about an hour long or more, with maybe half an hour of up-time interspersed.
Also, I have recently made the same observation as @nekohayo. This is not related to version 1.34.2 specifically

[2020-06-22 21:33] nekohayo commented on #4315
Likewise no proxy, and the curl command "succeeds" here, but that's not saying much because currently Signal desktop is working; I guess we would need to try that command again when we are unable to connect with the desktop client, in which case we would probably observe the curl command failing as well.

[2020-06-22 21:33] varshavaradarajan commented on #1632
@scottnonnenberg-signal - thanks for the response. Checked the firewall, I couldn't find anything blocking the app. This started happening 4 days ago out of the blue. Anything that I should check for in particular?

[2020-06-22 21:36] scottnonnenberg-signal commented on #4369
When you say 'see group activity' you mean that others are still sending message to you in that group, and you receive them? If so, it suggests that your attempt to leave the group was incomplete on your phone. Nobody should still be sending messages to you if they believe that you've left the group.

I'd recommend that you have someone re-add you to the group, then leave again. It would give your

[2020-06-22 21:44] scottnonnenberg-signal commented on #1632
@varshavaradarajan You could try this - it connects to that server without the need to start the entire app up:

`curl --insecure https://textsecure-service.whispersystems.org`

You should get this - it should be able to connect, but there's nothing at that root location: `{"code":404,"message":"HTTP 404 Not Found"}`

[2020-06-23 01:32] sheatsb commented on #4369
Not directly (there's a lot of chatter in the group), but I do get new messages from the group on desktop. I was readded and tried to drop again, but the same thing happens - mobile does exactly what it's supposed to and I see that I've left the group, but on desktop it's as if nothing happened.

[2020-06-23 05:52] darkdragon-001 commented on #2595
Could someone help me to create such a fiddle?

@scottnonnenberg-signal @unDocUMeantIt @breznak @pahhur maybe?

[2020-06-23 08:50] pahhur commented on #2595
I posted a comment in that bug. Let's wait for his answer.

[2020-06-23 09:05] itkfm commented on #4370
No problem. just did overlook the other issue in the first place because of the long and somewhat unexpected name.

[2020-06-23 09:06] itkfm commented on #4132
Used to work on Ubuntu Budgie 19.10.
Does not work anymore on 20.04.

[2020-06-23 09:24] kaktusztea commented on #2424
I was just thinking yesterday: could it be a timezone issue maybe?
And maybe is it so hard to reproduce it for developers because they all are in the US...?

[2020-06-23 10:03] liplan commented on #3625
I had the same problem - an Signalupdate crashed my db and Signal started with this 'wrong # of entries in index messages_...'-message. I could fix that with 'https://sqlitebrowser.org/'-Browser.

Quit Signal! - using forcequit - make a backup of the signaldir in /Users/USERNAME/Library/ApplicationSupport/Signal.

(1) Open the db with the browser using rawkey from the config.json in your Signal-di

[2020-06-23 10:29] AmigaGPU commented on #3692
This problem **reoccured** with v1.34.2 of signal-desktop.
I used the workaround here and just invoke signal from bash
https://github.com/signalapp/Signal-Desktop/issues/3692#issuecomment-546507577

[2020-06-23 10:35] jackphelps commented on #3098
Hi folks -- this happened with one conversation the night before last, and five (different) conversations last night. Here are my logs from the last ~7 hours: https://pastebin.com/Ciwh2DQD

I've used signal mobile (ios) for many years, but just got the mac desktop client ~3 days ago. I had it open most of the day yesterday & last night. All of the contacts with whom this happened are people I hadn

[2020-06-23 10:53] kaktusztea commented on #3098
Hi @jackphelps,
usually devs request sender ids (it's a partly redacted phone number like +[REDACTED]321) and also need timestamps for problematic messages.
You can get timestamps in Dekstop client. Hover on the message, use the 3dot (...) option, choose "More info" and copy "Sent" and "Received" timestamps (they're like 1592895343716). These help devs to identify and track problematic messages' d

[2020-06-23 11:14] jackphelps commented on #3098
Here are a few such messages (since there are lots):

From one conversation, the first one:
[code]
and the last one:
[code]

From another conversation, the first one:
[code]
and the last one:
[code]

[2020-06-23 11:19] jackphelps commented on #3098
Also, I'm an idiot/lied -- my computer was closed last night, so I did not in fact have the client open all night. Messages were there as soon as I looked at signal after opening my computer. Sorry -- need more coffee. Updated the first comment to reflect this.

[2020-06-23 13:10] kenpowers-signal commented on #4369
Hey, @sheatsb -- can we also get a debug log from your primary mobile device?

[2020-06-23 13:57] kenpowers-signal commented on #4156
Hi, @fwjarrod. Do the messages show up if you search for them on Desktop? It's possible that they're in the conversation and sorted incorrectly.

If you can't find the messages, can you provide us with a debug log and the "sent ids" of the missing messages? You can upload a debug log from desktop by going to View > Debug Log and you can get the sent ids of the missing messages by going to the mess

[2020-06-23 14:37] MaralAfris commented on #4327
Hello again,
As @absort0 described I have no problem over android and packs installed there stay. Installing packs from signal desktop also get installed there and stay.
I attach a full log, noticed this time that many packs dissapeared, not sure when either.
Sorry to not be more precise but I haven't observed any specific behavior that triggers this so far.

Here is the complete log:
[signal_full

[2020-06-23 15:25] u32i64 commented on #4371
I observe it in at least 2 groups.

**Definitions:**
From Desktop to Android (Android > Desktop always :heavy_check_mark:):
- :heavy_check_mark: sealed sender status synced correctly;
- :x: sealed sender icon appears on Desktop but not on Android.

It appears that within a group, it's always the same set of people that have :heavy_check_mark::
- For the group where my screenshots are from, :heavy_

[2020-06-23 15:56] varshavaradarajan commented on #1632
@scottnonnenberg-signal -

[code]

Ran this when I was _not_ on NordVPN. But, Signal still shows cannot connect to server.

[2020-06-23 16:05] #4365 closed

[2020-06-23 16:10] denver-s commented on #414
This behavior is not happening anymore. Can this be closed @brad2014 ?

[2020-06-23 17:06] #414 closed

[2020-06-24 00:24] denisbider commented on #2424
@kaktusztea - I live in the US, both phone and computer are in the same time zone, I've had this issue happen just like that.

As far as I can tell, the developers seem to be ignoring this as "by design", while they add support for annoying stickers.

[2020-06-24 00:32] denisbider opened #4374 "Verify PIN misfeature is annoying, makes incorrect assumptions about user"
The misfeature that requires the user to verify their PIN *every few days* is not only annoying, but assumes the user's workflow is to use a PIN that could be remembered.

Obviously, I did not use a PIN I can remember. I randomly generated a miles-long PIN and stored it in a password manager.

The PIN is safe. The password manager is going to remember it. It has backups. Stop asking me to verify t

[2020-06-24 01:31] scottnonnenberg-signal commented on #4374
Signal Desktop has no support for PINs. Please try the iOS or Android repositories.

[2020-06-24 01:31] #4374 closed

[2020-06-24 01:33] scottnonnenberg-signal commented on #4327
Something that you might try when installing on Desktop is opening up the sticker pack dialog, and then waiting maybe a minute (wait for a bit after all the stickers within the pack have been downloaded), and _then_ select to install the sticker pack. Does that change things?

[2020-06-24 06:00] tbalbous commented on #4315
On a MBP (Mojave) with 1.34.2, I've the same problem. I usually run a VPN (protonvpn) and a antivirus (kaspersky). Both are shutdown and I've the following result for the curl command :
curl --insecure https://textsecure-service.whispersystems.org
curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to textsecure-service.whispersystems.org:443

[2020-06-24 10:33] MaralAfris commented on #4327
I tried that earlier thinking that installing an incomplete pack could be the source but it does not change the problem. Even if all stickers are loaded before installing the pack, installation goes fine (I get a installation complete message) but after some time it dissapears from the installed packs.

[2020-06-24 13:08] Neverminder commented on #3052
This really is annoying. I use Ubuntu 18.04 with Unity and all the other apps have sound notifications, just to name a few - Thunderbird, Slack, Skype, Telegram. It should be pretty simple to implement. Are there like political reasons not to do this?

[2020-06-24 13:55] 11janci commented on #4341
I'd like to take a look at this as my first issue

[2020-06-24 15:19] kenpowers-signal commented on #4315
@tbalbous How did you install curl? It looks like the `--insecure` flag might not be getting passed down to LibreSSL.

[2020-06-24 16:12] yurrriq commented on #3986
Given the `:` functionality in messages, it would be great to able to type e.g. `+:+exploding_head:` to react with :exploding_head:.

[2020-06-24 16:26] scottnonnenberg-signal commented on #3986
I'm going to close this, since we've release this to production.

[2020-06-24 16:26] #3986 closed

[2020-06-24 17:18] tbalbous commented on #4315
Hi,
I don't remembere installing curl.
I used the OSX Terminal. The curl version if that could help.

curl -V

curl 7.54.0 (x86_64-apple-darwin18.0) libcurl/7.54.0 LibreSSL/2.6.5
zlib/1.2.11 nghttp2/1.24.1

Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3
pop3s rtsp smb smbs smtp smtps telnet tftp

Features: AsynchDNS IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SS

[2020-06-24 17:19] darkdragon-001 commented on #2595
@scottnonnenberg-signal Signal is using electron wrongly. See their answer in https://github.com/electron/electron/issues/24242#issuecomment-648914819.

[2020-06-24 20:33] johnfurber opened #4375 "Signal Mac desktop not showing messages from Signal Android"
I just installed the Signal desktop app today on MacOSX10.11.6 ElCapitan on a mid-2010 MacBook Pro7,1.
I successfully used the QR code to link it to my Android MotoG6 Project Fi phone that I have been using just fine with Signal for almost 2 years.
Unfortunately, the Signal Desktop window shows me ONLY a list of my contacts in the left side of the window, but does not show any past messages or his

[2020-06-24 22:41] amosshapira commented on #2424
While we are bitching - I just discovered that Signal on iPhone is the only messaging app among the ones my partner uses (vs. Signal, WhatsApp) that won't allow her to take her messages with her to a new phone number on another phone...

[2020-06-25 00:00] scottnonnenberg-signal commented on #2424
@amosshapira https://signal.org/blog/ios-device-transfer/

[2020-06-25 00:03] scottnonnenberg-signal commented on #2595
Thanks for filing that bug for us - we have a task on our backlog now for moving native binaries out of the .asar.

[2020-06-25 00:08] scottnonnenberg-signal commented on #4375
![Screen Shot 2020-06-24 at 5 05 33 PM](https://user-images.githubusercontent.com/36971246/85639237-ec7b0680-b63c-11ea-8ef9-694563bb11ab.png)

Did you see this notification when you linked Desktop to your Android device?

You're probably looking for this feature request: https://github.com/signalapp/Signal-Desktop/issues/444

[2020-06-25 00:08] #4375 closed

[2020-06-25 00:08] scottnonnenberg-signal commented on #4341
A fix for this will be in the next beta release.

[2020-06-25 00:56] Jamesnastics commented on #4012
Thanks very much for that :-)
Have a great day!

On Sat, 20 Jun 2020 at 13:28, Josh Perez <notifications@github.com> wrote:

[2020-06-25 07:14] DiagonalArg opened #4377 ""Error Handling Incoming Message", but nothing on phone."
Ubuntu 16.04
Signal 1.34.2
[Log](https://debuglogs.org/ba64d8560714bd523b070b4fd1aff4bf5f6cb21057e56cde3a2ec7d3c820aabe)

iPhone 5S
Signal 3.11.1.1
[Log](https://debuglogs.org/f07c9cfcfa6e1d66f9060a000b182db83e73fb076f397c93f1d33ef3b147539f.zip)

All I can tell you about my correspondent is that they have an iPhone, a Mac laptop and an iMac.  As they are travelling they are probably texting from t

[2020-06-25 07:33] RalfJung opened #4378 "Images do not load any more"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

When I receive an image, it does not load in Signal-Desktop. I just get the load spinner. The image loads fin on Signal-Android.

### Steps to Reproduce

1.  Send an image to myself in "note to self"

Actual Result:
On Signal-Desktop, the image does not appear, it juts shows a load spinner going on forever.

Exp

[2020-06-25 09:19] amosshapira commented on #2424
Thanks @scottnonnenberg-signal , I missed that in my searches about a week ago.

[2020-06-25 09:28] sheatsb commented on #4369
https://debuglogs.org/8bb41b898d4bb61a0478f66e67962c6200e24e025402fac75eb1cfcc9e1dba3f.zip

[2020-06-25 12:55] bwagner commented on #2131
I set both env vars HTTP_PROXY and HTTPS_PROXY and they work for e.g. `curl -X $HTTP_PROXY` or installing python packages via pip.
Signal Desktop does not work. Here's the entire log for one unsuccessful start/stop:
[https://gist.github.com/bwagner/ad185d8a04d494446b71d14c7b813b12](https://gist.github.com/bwagner/ad185d8a04d494446b71d14c7b813b12)

[2020-06-25 13:32] kenpowers-signal commented on #4378
Hi, @RalfJung. Can we get a full debug log? You can upload a full debug log by going to `View > Debug Log`.

[2020-06-25 14:05] ninefathom commented on #3411
Quick bump on this issue - I was just last night able to get Signal Desktop running natively under Wayland.  It requires a custom Electron build w/ the necessary Ozone configuration enabled, and shoehorning that custom Electron dist into Signal Desktop.  If anybody is curious as to the process I used, or how I recommend repeating the process now (in hindsight), please do let me know.  For the mome

[2020-06-25 14:34] RalfJung commented on #4378
Does this help? https://debuglogs.org/847a5e79a5696f22f26e3e6ee6c536f42f7690c0e78b9310697b936dd3aa8d46

[2020-06-25 15:11] mueller-ma opened #4379 "Link on "How to join beta" website broken"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

On https://support.signal.org/hc/de/articles/360007318471 the links to the beta versions for Windows and macOS are broken.

### Steps to Reproduce

1.  Go to https://support.signal.org/hc/de/articles/360007318471
2.  Click on "Windows 64-bit 7, 8, 8.1 und 10"
3.  Get a 404

Actual Result:

Get a 404

Expected Re

[2020-06-25 15:57] 11janci commented on #4341
I saw the fix in the repo after, however it did not fix the issue. On line 93, it selects the message using `contacts.length > 1 ? 'multipleJoinedTheGroup' : 'joinedTheGroup';`, however if you check line 78, it's doing `if (contacts.length === 1) {`, meaning the code on line 93 will always evaluate as true and thus select `multipleJoinedTheGroup` every time.

I created a PR with a fix above and ex

[2020-06-25 16:56] scottnonnenberg-signal commented on #4378
Wait, are you trying to message with people on the production service? You're hitting the staging CDN.

[2020-06-25 18:47] RalfJung commented on #4378
I use this as my production client, yes -- when I set this up years ago, I followed the instructions for that. And outgoing/incoming messages with production users are working fine.

[2020-06-25 19:03] scottnonnenberg-signal commented on #4378
This is probably what happened - you need to change your overridden config: https://github.com/signalapp/Signal-Desktop/commit/a0e9791623a281a4738d429f38ae28298c99c3c7#diff-1e9c3d615e9ebaaaa3669b4c2fd87d00

Please consider going to the forums for things that don't repro in official Production or Beta builds.

[2020-06-25 19:03] #4378 closed

[2020-06-25 20:00] johnfurber commented on #4375
Thanks @scottnonnenberg   No, actually I did not see that notification. Perhaps I was distracted when it came up. Perhaps it might be valuable to have the user checkbox an acknowledgement for this notification. Can you pass this suggestion to the appropriate development team?   ...Meanwhile, I will delete my desktop Signal, since it cannot serve as my default text messaging app for non-encrypted S

[2020-06-25 22:36] #4341 closed

[2020-06-26 00:35] zx2c4 commented on #4338
Why would you recommend people do that?

[2020-06-26 02:22] gaasedelen commented on #4327
I can confirm that this is an issue on Windows 10 too, my sticker packs get deleted all the time. So this is definitely a bug in the client, and not a platform specific issue.

This sounds a bit strange, but is it possible that the issue somehow stems from disappearing convos? Like if the sticker pack is sourced from a convo with someone who you have disappearing messages enabled for, is there a b

[2020-06-26 06:33] lesley2958 commented on #3551
Potential first-time contributor here - I think I want to take this bug on :)

[2020-06-26 06:40] RalfJung commented on #4378
Thanks a lot for your help, that did it. :)

The reason I am building from source is that as a matter of policy, I do not add third-party repositories to my package manager. I do not feel comfortable giving root privileges to anything but the official Debian repositories. So I cannot even test if something repros in official builds. If there was a tarball installer that I could just extract and ru

[2020-06-26 13:14] wdormann commented on #3916
I think this bug is overly complicated.  I'm pretty sure the underlying problem is this:

### Bug description
The prompt for admin user credentials (for installing a Signal update) eats up 100% CPU time as long as it's displayed.

### Steps to reproduce
- Install a not-latest version of Signal (e.g. 1.34.2) on MacOS
- Run Signal as a normal user
- Watch CPU usage while the credential prompt is pre

[2020-06-26 14:22] kenpowers-signal commented on #4315
@tbalbous do you have Homebrew? If so can you update to the latest version of curl with `brew install curl`?

[2020-06-26 14:52] hhch0u commented on #3962
**Please** _please_ _please_ make this happen, the non-collapsible contact list pane is not just a waste of screen real estate (not too much of a functional hinderance since many of us work with multi-monitor setups) -- however, it is unsightly and make Signal look unrefined especially compared to other messaging platforms that do support this feature. Form is (sometimes) just as important as func

[2020-06-26 15:28] LePhil commented on #4331
Agreed. Collapsable or even resizable would be very nice. For now you could open the dev-tools and set the `.gutter`'s width to 0 - just tested on the Mac version. This has to be done each time you start the app, of course...

[2020-06-26 16:03] tbalbous commented on #4315
Hi,
I didn't.
When I tried to install it using the command on the homepage of the
website, it prompted the same curl error

/bin/bash -c "$(curl -fsSL
https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to
raw.githubusercontent.com:443

After that I found and ran the following command

networksetup -setv6off Wi-Fi

[2020-06-26 16:15] tbalbous commented on #4315
Hi,
I also installed brew then curl (your command) and I do have the following :

curl --insecure https://textsecure-service.whispersystems.org

{"code":404,"message":"HTTP 404 Not Found"}

so it seems to be ok, and the app is up&running

Tremeur
---
Tremeur BALBOUS

Pyxis Suisse
+41 (0) 22 575 20 75 <+41%20(0)%2022%20575%2020%2075> | +33 (0) 6 63 52 94
93 <+33%20(0)%206%2063%2052%2094%2093>
tbalb

[2020-06-26 16:48] scottnonnenberg-signal commented on #4331
Duplicate https://github.com/signalapp/Signal-Desktop/issues/3962

[2020-06-26 16:48] #4331 closed

[2020-06-26 16:50] scottnonnenberg-signal commented on #3551
@lesley2958 No, that's likely not the problem here. We replace all emoji with our own custom images. If anything, we need to go look at our emoji data providers, see if we need to upgrade them to support newer emoji like this.

[2020-06-26 16:57] scottnonnenberg-signal commented on #4327
@gaasedelen It is intentional that non-installed packs are deleted when all messages which reference them are deleted from your local client. But it sounds like you're saying that you install a pack and it shows in the sticker picker, for example, and then later when a disappearing message is deleted, the pack is also deleted?

[2020-06-26 17:13] gaasedelen commented on #4327
Yes, that is correct. Our explicitly *installed* sticker packs are getting deleted on the desktop client. I don't have this issue on the mobile app.

Within @MaralAfris's log `signal_log2.log` you can see the only 'sticker' event that occurs between him having to reinstall the stickers is the following:

[code]

The issue has been annoying enough that I took a quick look at the code last night to

[2020-06-26 17:53] scottnonnenberg-signal commented on #4327
Calling `deleteStickerPackReference()` by itself isn't enough to cause the problem. That function only deletes a given pack if its status wasn't 'installed' when we delete the last reference to it: https://github.com/signalapp/Signal-Desktop/blob/fd6358ac9dca839ad5fc15f4692c035b4275c41a/ts/sql/Server.ts#L3318-L3412

Really, what we need is the state of the sticker packs right before that function

[2020-06-26 18:57] gaasedelen commented on #4327
I just watched one of my packs get deleted again, a few minutes ago.

I asked a friend to re-send me a sticker from the pack. After reinstalling the pack, the `status` field showed 'installed' but `attemptedStatus` shows 'downloaded':

![image](https://user-images.githubusercontent.com/9522648/85890997-65549c80-b7bc-11ea-94eb-dae8d00633df.png)

These conflicting (?) status fields persist across mu

[2020-06-26 19:53] scottnonnenberg-signal commented on #4327
@gaasedelen It's most certainly a bug! It would help us if you posted another update like that after the pack is deleted. I think I've found something which contributes to this behavior, but it doesn't fully explain things.

[2020-06-26 20:29] 11janci commented on #4332
I'd be happy to take this on

[2020-06-26 21:59] Mihahn commented on #4379
Can't reproduce in Safari.

[2020-06-27 04:26] DiagonalArg commented on #4377
Just got four more of these errors.  Here is the [log from the laptop](https://debuglogs.org/94ee0d77e68e64fabbafa29668641bf3d11f66dd8fce32725b33c65442c90cb9).  Four messages:

[code]

This time the phone reports "Received message was out of sync. [Reset Session]"

Here is the iphone log](https://debuglogs.org/5aa58301f1a3f48006293cffcf9844da332248b4e544b1a3d3566f9d1edbffdc.zip).

[2020-06-27 05:01] gaasedelen commented on #4327
I can reproduce this pretty easily, but after a sticker pack gets deleted, it is no longer in the 'packs' dict so I can't get an 'after' snapshot for you.

Here's the repro steps:

1. Set message timer to 30 seconds
2. Receive a message that includes non-default sticker
3. Install the non-default sticker pack from the message
4. Wait for the non-default sticker message to delete itself.
5. The ins

[2020-06-27 17:40] f00b4r0 commented on #3542
I tried sampling during "typing indicator". Sampling while rainbow disc seems impossible as nothing is responsive during that time and the Activity Monitor sampling period is very short (3s).

As far as I can tell the GPU helper is the one hogging the CPU.

HTH

[Échantillon de Signal.txt](https://github.com/signalapp/Signal-Desktop/files/4841006/Echantillon.de.Signal.txt)
[Échantillon de Signal H

[2020-06-27 19:45] titaniumbones commented on #3411
@ninefathom I would love to hear how you did it -- thanks so much for hte heads-up

[2020-06-28 08:43] mueller-ma commented on #4379
Seems to be fixed.

[2020-06-28 08:43] #4379 closed

[2020-06-28 13:56] Cerberus0 commented on #4372
Duplicate of https://github.com/signalapp/Signal-Desktop/issues/1860

[2020-06-28 14:13] ninefathom commented on #3411
@titaniumbones The main thing is getting a build of Electron with the necessary flags going.  I followed their standard build instructions [here](https://www.electronjs.org/docs/development/build-instructions-gn), specifically for a release Linux build.

I also added patches from Arch's [electron-ozone on AUR](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=electron-ozone) and used that as

[2020-06-28 17:52] marcusrugger commented on #3225
I must say that it is quite disappointing to discover this issue.

I would like to replace Google Messages with Signal but being able to send SMS messages from my PC has become an integral part of my messaging needs.

[2020-06-28 18:48] Philzen commented on #4312
Same problem here. Has been persisting over a couple of recent versions for a couple of months now.

Running snap package signal-desktop 1.34.3 under XFCE, Linux Kernel 5.4.44-1-MANJARO

user locale: de-DE

[2020-06-29 04:38] UserX404 opened #4382 "signal crashed due to database error"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description
When i starded Signal Desktop yesterday it crashed with database error but i had no time to investigate.
All data is gone and i have to relink. I decided to role-back my data directory and start it again but it crashed again with database error.
I remember it has been a updated a few days ago but i didn't restart

[2020-06-29 13:14] laurens94 commented on #3332
I encounter the issue of missing messages on desktop almost every day, only a few messages are displayed while some of them are missing. Restarting Signal on desktop does show the messages again. It also seems to be platform independent (it occurs on Mac, Windows and Ubuntu).

If there's anything I can do to help debug this, please let me know. I'm using Signal on iOS.

[2020-06-29 16:13] TommyTwoTap commented on #3302
@splagemann splagemann's answer worked for me. I don't believe I used homebrew. I downloaded and installed from the website.

[2020-06-29 17:32] amac16 commented on #1389
Recent Sig desktop user long time mobile. Surprised to see this feature wasn't included and surprised this issue has been open so long. I'm finding that after using Skype all day at work, this is a sorely missing feature. A preferences toggle would be nice!

[2020-06-29 17:43] beatschubser commented on #2424
I have the same issue on multiple devices. Wrong order of messages is an absolute deal breaker for a chat app. This and the ridiculous time it takes to load the chat history even on high end mobile devices.

[2020-06-29 20:56] scottnonnenberg-signal commented on #2424
@beatschubser Have you reported your mobile performance issues? I'm sure the iOS or Android team would appreciate hearing about your scenario.

[2020-06-29 20:59] scottnonnenberg-signal commented on #3332
@laurens94 The specific steps you go through to get it to happen would really be useful.

Our understanding of the scenario is this: "You start Desktop up with 50+ messages to download, and when the loading screen goes away, your first load of a conversation may have some missing messages (they show in the left pane though). Switching away from that conversation and then back to it will show the m

[2020-06-29 21:00] scottnonnenberg-signal commented on #4382
You can't think of any forced close of Signal Desktop? That's generally the thing that can cause this.

[2020-06-29 21:01] scottnonnenberg-signal commented on #4312
I'm going to close this, as we don't support the snap re-distribution.

[2020-06-29 21:01] #4312 closed

[2020-06-29 21:06] scottnonnenberg-signal commented on #4377
@DiagonalArg Were they all with the same contact? What can you say about your communication with that contact prior to those errors?

[2020-06-29 21:06] scottnonnenberg-signal commented on #4377
@DiagonalArg Were they all with the same contact? What can you say about your communication with that contact prior to those errors?

[2020-06-29 21:07] #4372 closed

[2020-06-29 21:08] Skarfrael commented on #3332
@scottnonnenberg-signal this does indeed happen on my machine. I have seen it happen without the 50+ messages though. "While being in chat A, in chat B 2+ messages are received, I click on chat B and not all messages are presented so I go to chat A and come back to B to fix it." And left pane seems to show them correctly.

Cheers.

[2020-06-29 21:12] scottnonnenberg-signal commented on #3542
@f00b4r0 Thanks for taking those samples. However, they aren't very useful without a pretty detailed account of what was happening in the app at that time. You mention a typing indicator - were you in a 1:1 chat with someone, with the typing indicator showing?

[2020-06-29 21:15] scottnonnenberg-signal commented on #4327
Thanks for the additional detail. We have a small change ready that will address at least part of what you're seeing.

Can someone confirm something for me? I re-read this thread, but I'm not finding any discussion of what happens to a disappeared sticker pack when you restart Signal Desktop. Does it come back?

[2020-06-29 21:18] f00b4r0 commented on #3542
@scottnonnenberg-signal well, I merely did what you asked: you asked for samples, I provided. You didn't ask for context 😛
FWIW I didn't find a detailed "how to report a bug" entry on signal.org's FAQ (the closest thing was "how to share a debug log", which isn't helpful here), and I can't guess what you need: please be specific, and I'll do my best.

Re your question: Signal app started, 1:1 chat

[2020-06-29 21:30] absort0 commented on #4327
Hi Scott, not for me it doesn't. The only way to get the stickers pack back again is reinstalling it. I'm glad to hear you are very near to fixing this :)

[2020-06-29 23:42] scottnonnenberg-signal commented on #3542
@f00b4r0 Thanks. What can you say about your computer? Model? Year?

[2020-06-30 00:52] scottnonnenberg-signal commented on #4369
@sheatsb Unfortunately, that log does not have the important moment in it - the moment when you left the group, sending a message to all of the group members and your linked devices. Next time you leave the group (have someone re-add you then you can try again), please check beforehand to ensure that logging is enabled. Thanks!

[2020-06-30 04:21] UserX404 commented on #4382
If you talk about killing Signal from Taskmanager or something similar, no.
It could be that Windows crashed during a update process while Signal was running but that's not 100% sure.
Do you think there is a possibility to get the database back running or is there an other way to keep my history?

[2020-06-30 08:21] f00b4r0 commented on #3542
See https://github.com/signalapp/Signal-Desktop/issues/3542#issuecomment-528908823

[2020-06-30 08:52] lnicola commented on #3542
I noticed the same thing (Skylake iGPU laptop, Linux). When the typing animation is running, the text I'm typing does not appear.

[2020-06-30 09:15] Parthvsquare opened #4384 "Add Signal Desktop to macOS share menu"
This is not a bug but feature request.
i want signal to appear on share menu just like other apps (say telegram)
![Screenshot 2020-06-30 at 2 44 55 PM](https://user-images.githubusercontent.com/26404957/86108018-44ec5100-bae0-11ea-828f-edb8bcee63a1.png)
It will be quicker to share with friends. I installed signal via homebrew

[2020-06-30 09:40] DiagonalArg commented on #4377
Yes.  One contact.  Prior communications were fine.  I've subsequently received a number of messages that worked.

[2020-06-30 12:20] laurens94 commented on #3332
@scottnonnenberg-signal I can't seem to reproduce it now, but most of the time it happens with ~10 messages. Then the first 2 or 3 messages are not displayed until I reopen the chat.

[2020-06-30 16:03] john1watson commented on #4316
https://debuglogs.org/f68361d8af202d9c9f2b01f50575436e62c8898b9275a93e5245d9c08f0fcbdb

[2020-06-30 16:09] john1watson commented on #4316
https://debuglogs.org/c1ded6806d3628f6d1e9296e5b3bff6ae6ab92c1b7ff4026ca65e064dd21196e.zip

[2020-06-30 16:09] john1watson commented on #4316
Desktop Debug Log:  https://debuglogs.org/acf055a67be6bdc3c06b2ba2a7035bedc8aa775a0b924f4dcc05e6bb0811d561

[2020-06-30 16:39] scottnonnenberg-signal commented on #3139
This is in place in production builds.

[2020-06-30 16:39] #3139 closed

[2020-06-30 16:41] #4348 closed

[2020-06-30 16:42] #4205 closed

[2020-06-30 16:50] scottnonnenberg-signal commented on #4382
@UserX404 Old builds are available on the same server, you just need to generate the right URL. However, I don't think that will help with a corrupt database.

I've seen people fix SQLCipher database corruption with various tools. You might consider trying some things before fully deleting everything and starting over. If you find `config.json` in your data directory `<YourUser>/AppData/Roaming/Si

[2020-06-30 17:44] thiemo-taken opened #4385 "Linux openSUSE Tumbleweed, Signal fails to connect"
- [X] I have searched open and closed issues for duplicates
---

### Bug Description

Signal displays message that there is no connection to the server and clicking the connect button, it goes to this state again. Reception and sending of messages is impossible.

### Steps to Reproduce

I do not know.

Actual Result:

Signal displays message that there is no connection to the server and clicking t

[2020-06-30 17:54] 82ba10b5e8dc commented on #4335
@igorkulman I also tried this with different files and couldn't reproduce it. After some searching, it seems like it might be defaulting to "paste and match style". Would you have this set by default on your machine?

How to check / set:
https://havecamerawilltravel.com/photographer/set-paste-match-style-default-mac-osx/

Another option is that there might be an alias of keys that's causing it to

[2020-06-30 19:50] shw1n commented on #2021
Would also like this, so I can keep my phone off and in a drawer all day but still be reached.

[2020-06-30 21:18] scottnonnenberg-signal commented on #4385
How did you install Signal Desktop on that Linux distro?

[2020-06-30 22:07] thiemo-taken commented on #4385
It is provided in the repository with the name **network:im:signal**. I could not find an official repository, unfortunately.

[2020-06-30 22:12] scottnonnenberg-signal commented on #4385
At the moment, the only install mechanism that we support is via `apt`. Your best bet is to look for help from other people in your situation on the forums: https://community.signalusers.org/

Looking at your log, it appears that very basic network operations aren't working. That'd the first place to focus when troubleshooting.

[2020-06-30 22:12] #4385 closed

[2020-06-30 22:14] scottnonnenberg-signal commented on #4316
Looking at the iOS debug log, the QR code was indeed invalid. If you could get really specific with all of your steps and hardware configurations, maybe we'll find some small detail you didn't think to mention originally?

[2020-06-30 22:19] thiemo-taken commented on #4385
Ok. However, as written already and as of time of writing I use Firefox to update the issue while Signal is unable to connect on the very same computer and account. So I assume, the network is actually in perfect state and only Signal is unable to use it. I had a quick look at the log and it seemed to me, entries were missing.
Petty and bad luck, only apt-based distros are supported. What about a

[2020-07-01 00:20] Cerberus0 commented on #4384
Duplicate of https://github.com/signalapp/Signal-Desktop/issues/1905

[2020-07-01 00:50] #4384 closed

[2020-07-01 01:59] #4332 closed

[2020-07-01 03:29] DiagonalArg commented on #4377
Now I've got another one on the laptop that didn't work:

[code]

The phone again reports "Received message was out of sync. [Reset Session]"

Here is the [log from the laptop](https://debuglogs.org/bf498101b40eb454c78f6af89270d5009e3f3f0eabb7c8b7fdee0f9640d42c2a) and here is the [log from the phone](https://debuglogs.org/f7aac0e2e6db7c3110c2a3e8bb527ba2bc15675b0c3c4f7a5a65692c96331668.zip)

[2020-07-01 05:34] Oymate opened #4388 "The font for Bangla/Bengali language is very small and hard to read"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description: The font for Bangla/Bengali language is very small and hard to read.

### Steps to Reproduce

1.  Open the desktop app.
2.  Look at the top left corner.

Actual Result:
![Signal is git](https://user-images.githubusercontent.com/50857856/86205956-12e4f880-bb8d-11ea-90b9-6877062679b4.png)

## Text is very illegibl

[2020-07-01 05:36] Oymate commented on #4388
TL:DR Make the font in Bangla bigger and use a native font(NikoshBAN or SutonnyMJ).

[2020-07-01 05:38] Oymate commented on #4333
@scottnonnenberg-signal I think the person meant the stickers.

[2020-07-01 06:24] DiagonalArg commented on #4377
Four more bad ones, after which I reset the session.

[code]

[Log from the laptop](https://debuglogs.org/0ba5c77d0a18948f9ba1fce1a10129bfaee117c4120897587f1317a9a56199aa) and [log from the phone](https://debuglogs.org/10c5b68bfc8338602b884b22c04c913fd9e2032e6fac005b8b40deb3c125644c.zip).

[2020-07-01 08:06] itztaylorau commented on #3137
Any update?

[2020-07-01 11:44] igorkulman commented on #4335
You are right, "paste and match style" is set up on bot my systems.

[2020-07-01 13:40] riccoho commented on #4232
I also noticed the font is "standing out" from other Mac applications. In macOS there is a list of "Preferred Languages" to decide the order of preferred language (which affects the font to be used). In my Mac, PingFang HK should be used to display Chinese characters. However, Signal for Mac seems to be using Hiragino Sans GB instead. It would be nice if either Signal follows the system preference

[2020-07-01 13:56] MaralAfris commented on #4327
Same as @absort0 for me, the only way to get it back is to reinstall it.
They are also brought back if reinstalling signal desktop, but it is because they are pulled from the phone I suppose.

[2020-07-01 13:57] MaralAfris commented on #4327
Same as @absort0 for me, the only way to get it back is to reinstall it.
They are also brought back if reinstalling signal desktop, but it is because they are pulled from the phone I suppose.

[2020-07-01 14:00] orschiro opened #4389 "Add ability to reply from Mac notification"
Hi there,

I am wondering if we can add the feature to reply from a Mac notification (see below example)?

Currently it only has the option to close.

I know that WhatsApp and Telegram offer such a way on the Mac.

Thanks for considering this!

![Screenshot 2020-07-01 at 15 56 22](https://user-images.githubusercontent.com/170947/86252763-e4c6df00-bbb3-11ea-836e-5f2c9b609604.png)

[2020-07-01 15:21] lukasz-gatnicki commented on #3745
I'm waiting for this too

[2020-07-01 16:21] gaasedelen commented on #4327
Yeah it's hard to say. I did a test with the above steps again, and the 'deleted' packs re-appeared on restart, but they get deleted again some time later.

I also have one pack that disappears far less frequently than the two I cited above. It also 'reappears' without me having to reinstall it. Not totally sure what the deal is with it, but I rarely use that one, and I installed it from a differe

[2020-07-01 16:32] scottnonnenberg-signal commented on #4377
@DiagonalArg What kind of usage patterns are involved here? It's your desktop and a mobile device, or another desktop? Is your desktop offline a whole lot? The more you can contextualize these errors, the more useful your logs will be in tracking down what's happening.

[2020-07-01 16:33] scottnonnenberg-signal commented on #4333
Perhaps https://github.com/signalapp/Signal-Desktop/issues/4327 describes the behavior then?

[2020-07-01 16:48] 82ba10b5e8dc commented on #4335
@igorkulman Ah that's great to hear, so we can close this ticket out then?

[2020-07-01 16:58] #4335 closed

[2020-07-02 02:29] DiagonalArg commented on #4377
On my side it's my laptop and my iphone, as described in the OP.  I boot the laptop once a day and have it on for half the day.  Many of those errors were received while the laptop was on and not immediately on bootup.  The phone I connect at the same time my laptop is connected, though once or twice in the day I'll connect for a few minutes just to check messages.

On their side it's a newer ipho

[2020-07-02 11:35] Philzen commented on #4312
Can anyone kindly advise what would be the right person / project to report this issue to instead?

[2020-07-02 14:06] agompel opened #4390 "signal-desktop (Linux) signal-desktop-1.34.2-1.fc32.x86_64.rpm, after downloading contacts, only the "signal-connected" contacts show up"
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

**On Android Phone Android 9), Signal can be used as default SMS, messenger, which is good.
However on the signal-desktop (Linux) signal-desktop-1.34.2-1.fc32.x86_64.rpm, after downloading contacts, only the "signal-connected" contacts show up, which remove easy use.
It would be a nice feature, to have full-tran

[2020-07-02 14:13] Vash63 commented on #3332
I'm having this issue as well. I use 2 different computers (Desktop w/ Linux client and laptop with MacOS client, plus Android phone) and sent a few messages with my desktop. A few hours later I checked the client on the laptop (which was asleep at the time) and they are out of order.

New message:
[code]
Shows before old message from the day prior:
[code]

[2020-07-02 14:53] cfoster commented on #1689
Given the EncroChat hack. I would suggest this Issue has become more urgent.

This also goes for the client verifying that downloaded automatic upgrades are signed by the Signal Code Signing key (If this is not happening already).

If the Signal Domain (or even computer issuing the binaries) was compromised and dodgy binaries go flying out, that's the end of Signal, full stop, forever. All users k

[2020-07-02 16:44] scottnonnenberg-signal commented on #4390
Duplicate https://github.com/signalapp/Signal-Desktop/issues/3225

[2020-07-02 16:44] #4390 closed

[2020-07-02 16:57] scottnonnenberg-signal commented on #4377
@DiagonalArg If we could get a debug log from their desktop instances, that would really help us out. Because you're getting errors on your phone, it looks like the problem is with the sender's device.

In your log, there are no messages from that user's .1 device (phone), and all messages from that user's .2 device are failing (desktop or iPad).

[2020-07-03 02:16] briankung commented on #2599
Text replacement currently works for me on macOS 10.15.5 / Signal Desktop v1.34.3.

[2020-07-03 02:19] briankung commented on #2599
However, there is an issue with text replacement using emojis:
![Screen Recording 2020-07-02 at 9 18 18 PM mov](https://user-images.githubusercontent.com/2836167/86425007-a3b0f680-bca9-11ea-8b34-c5261973016b.gif)

[2020-07-03 02:32] briankung opened #4391 "Text replacement on macOS with emojis does not replace text or update cursor position"
- [x] I have searched open and closed issues for duplicates
---

### Bug Description

Text replacement on macOS with emojis does not replace text or update cursor position.

### Steps to Reproduce

1.  Set a text replacement shortcut to result in an emoji (detailed instructions: https://support.apple.com/guide/mac-help/replace-text-punctuation-documents-mac-mh35735/mac)
2.  Use text replacement in

[2020-07-03 09:14] jfjallid commented on #1430
Is it possible to instruct Signal Desktop to let the SOCKS proxy handle the DNS lookups? This is necessary for proxies that whitelist domain names.

[2020-07-03 11:53] TheOnlyRealCoder commented on #4350
I'm also encountering this problem trying to update Singal. I first tried to update through the app. That didn't work so I tried deleting all files related to Signal and run the installer. It keeps stopping at about 1/3 of the way. People in [this](https://www.reddit.com/r/signal/comments/epgarh/signal_hangs_during_install/
![hang](https://user-images.githubusercontent.com/64774344/86466809-9e4cbe

[2020-07-03 18:46] alexchhll opened #4392 "Recent media can only be viewed once"
### Bug Description
Recent media page can only be seen once.

### Steps to Reproduce
1. Have some media (pictures, video) in your recent media in a conversation with another contact.
2. Go into that conversation (#1).
3. Click on the three dots button, than View recent media.
4. Optional, click on any picture from the gallery.
5. Click on another conversation (#2).
6. Go back to conversation #1.
7

[2020-07-03 19:45] invious commented on #2230
+1

[2020-07-03 20:24] RainmakerRaw commented on #4306
I came here after searching whether Signal is available on FreeBSD, so consider this a **+1** please.

[2020-07-04 02:03] foliovision commented on #3445
It is very weird that I have to come to GitHub issues to learn something concrete about video size limits. I'm still not sure why the iPhone video uploads fail or come out horribly low res, while I was able to upload a very nice 1080p file from desktop (15.7 MB). Still more surprised that documentation doesn't offer detailed and explicit limits and per platform explanations about how video sharing

[2020-07-04 09:52] MatejKovacic commented on #522
This software is not workig: https://github.com/mattsta/signal-backup/issues/13

Any other ideas what to use?

[2020-07-04 13:41] tribut commented on #522
https://github.com/bepaald/signalbackup-tools works best currently.

[2020-07-04 19:33] MatejKovacic commented on #522
Well, as I said, I am looking for Signal DESKTOP backup tool.

[2020-07-04 22:13] Sdaswani commented on #2579
Any update on this? I so want to leave WhatsApp but this is a blocker. It's needed in order to have effective conversations in larger groups.

[2020-07-05 06:11] DiagonalArg commented on #4377
The first errors did not appear on the phone.  I've also just received 3 more errors, with no sign of anything on the phone.

Do you see a .3 device for that user?  They would rarely be using the iphone, most of the time be using either the Mac laptop or iMac.  I have received multiple good messages from that user, so is it possible that they are having trouble with their .2 device, but .3 is fine

[2020-07-06 22:39] john1watson commented on #4316
OK, I now have downloaded and installed Signal v1.34.3 on Windows 10 Pro,  version 10.0.18363 Build 18363.  I open Signal, the QAR code automatically pops up. I open Signal on my  iPhone XR, Software Version 13.5.1, Model Number MT362LL/A. I open Signal on my iPhone XR, press the icon in the upper left part of the screen, press on Lined Devices, press on Link New Device (Scan QR Code), hold the iP

[2020-07-06 22:49] john1watson commented on #4316
The Signal version on the XR is 3.11.1.1.  I deleted the app on the iPhone XR and installed Signal version 3.12.3. The linking finally worked.  Thanks for the information!!!

[2020-07-07 01:10] #4316 closed

[2020-07-07 08:14] repentsinner opened #4393 "Windows desktop app doesn't follow system-wide dark theme/mode setting"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

When I toggle the system-wide dark mode on Windows, Signal doesn't follow along. Instead I have to use an in-app preference to manage light/dark mode.

### Steps to Reproduce

1.  Secondary-click on desktop, select "Personalize..."
2. Select "Colors" and "Choose your color: Dark"

Actual Result:

Signal does not

[2020-07-07 10:41] Flupkees opened #4394 "Signal doesn't start after upgrading to electron 9.1.0"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

Signal doesn't start after upgrading to electron 9.1.0
Downgrading electron to 9.0.5 solves it.

### Steps to Reproduce

1.  upgrade to electron 9.1.0
2.  shut down signal or reboot (not sure whether reboot is necessary, but I happened to reboot for another reason)
3.  start signal
4. See that nothing happens
5.

[2020-07-07 11:16] Mushoz commented on #4394
Can confirm and reproduce the issue. I am also running arch, and since the update to electron 9.1.0 Signal refuses the start with a similar log as posted above.

[2020-07-07 14:31] aDogCalledSpot commented on #4394
Starting signal-desktop from the command line gives me a very similar message. The most important information is probably this:

[code]

[2020-07-07 17:03] Edu4rdSHL commented on #4394
It's a bug from the ArchLinux side, they need to rebuild the application because it's linked with the old electron version.

[2020-07-07 17:19] not-a-lot commented on #1103
@scottnonnenberg Hi, I’m sorry to ask about that again, but I tried changing my keyboard layout to `English (UK)`, and the keyboard shortcut for `Zoom in` works for me with this layout, so, I’m thinking that the shortcut does not work for layouts that need the <kbd>Shift</kbd> key to get the `=` sign, like with several variants of the QWERTZ layout. Do you have any idea about how to fix that ? On

[2020-07-07 17:53] kpcyrd commented on #4394
This has been fixed with the 1.34.3-2 update, please report Arch Linux specific issues in the Arch Linux bugtracker instead.

[2020-07-07 17:54] darkdragon-001 commented on #2743
Same problem on Ubuntu with Signal 1.34.3. The user was in my contacts but we never messaged before. On my phone, I could decrypt the message successfully, I even responded and he responded back. A couple of days later, I opened the desktop client. The desktop client could only decrypt my own messages not the other ones. Restarting the desktop client didn't help.

[2020-07-07 18:43] #4394 closed

[2020-07-07 18:45] Flupkees commented on #4394
Ah, great to see that it's fixed! Updated both electron and signal and everything works fine again.

@kpcyrd Was there a way for me to know that this was an Arch Linux specific issue?

[2020-07-07 18:52] pythoneer commented on #4394
it is already in the Arch Linux bugtracker https://bugs.archlinux.org/task/67214

[2020-07-07 19:03] daya commented on #2230
+100

Considering WhatsApp is on the heels albeit without desktop screen sharing functionality this feature in Signal will be a big plus and would make me dump WhatsApp, Screen, Teams and Skype forever.

[2020-07-07 20:40] pescepalla commented on #3877
It seems to be resolved for me on 1.34.3.

[2020-07-07 22:22] sachdevaprash commented on #4164
I also get this bug for HEIF on macOS Signal-Desktop app version 1.34.3. Cannot view on Signal-Desktop individual HEIF photos shared from Google Photos on Android (Signal-Android v4.65.2).

[2020-07-08 06:43] LuNiKoFf commented on #3877
Not resolved on 1.34.3 on Debian 10.4 with awesome window manager.

[2020-07-08 14:59] maitra commented on #3877
Not resolved on 1.34.3 on Fedora 32 with openbox window manager. However, now, signal desktop does come up when used with --use-tray-icon and --start-in-tray. Here is what I get:
[code]

[2020-07-08 15:19] andpol commented on #3877
Maybe the difference between distros is the version the Electron dependency. Signal (v1.34.3) with Electron v9.0.5 is working for me on Arch as expected once again.

[2020-07-08 18:26] StanislawStanislaw opened #4395 "Sharing message separately to multiple selected people"
Hey guys,

Could you add a feature of share message separately to multiple selected people ? Like in the fb messenger mobile app.
In signal when i want to send message, using share button then i can choose only one recipient. After clicking in recipient, the conversation of this person shows up, and only there i can push "send" button. Its very unergonomic and uncomfortable in using.

What solutio

[2020-07-08 18:44] StanislawStanislaw opened #4396 "[Issue] Signal Desktop changes the order of messages or lose some messages"
Hey Guys !

- [ ] I found that Signal Desktop has problem with order of messages or loosing them. This is happening when i turn on my computer and signal synchronizes messages with mobile app. Example is below, first message should be last - it was send last:

![obraz](https://user-images.githubusercontent.com/38114029/86956765-e8310c00-c159-11ea-8705-9f377ebffc30.png)

- [ ] Often happens that it

[2020-07-08 21:13] tparikka commented on #4175
Same problem on Windows 10 x64 with the `signal-desktop-win-1.34.3.exe` installer. I had Signal installed at one time previously, uninstalled it, and am now trying to reinstall.

[2020-07-09 03:51] josh-signal commented on #4175
@tparikka what happens when you install Signal? Does it start up? Are you able to provide us with debug logs?

[2020-07-09 03:54] josh-signal commented on #4396
Is this different from https://github.com/signalapp/Signal-Desktop/issues/3332?

[2020-07-09 03:55] josh-signal commented on #4395
Which share button on desktop are you referring to?

[2020-07-09 03:58] josh-signal commented on #4164
@sachdevaprash do you mean you're not able to view the photo directly in the chat or are you not able to download the image and view it on your computer?

[2020-07-09 03:59] josh-signal commented on #4394
The version of electron that Signal officially supports is listed in our `package.json`: https://github.com/signalapp/Signal-Desktop/blob/development/package.json#L207

[2020-07-09 04:01] josh-signal commented on #2743
@darkdragon-001 can you please provide us with your debug logs? You can find them on the menu View -> Debug Logs.

[2020-07-09 04:07] josh-signal commented on #4393
@repentsinner can you please send us your debug logs? You can find them on the menu View -> Debug Logs.

[2020-07-09 06:15] darkdragon-001 commented on #2743
@josh-signal Debug log can be found [here](https://debuglogs.org/5d3586bbbb243f3aebc39309cc96b270c56c779cf3c751464d17315f88e3e738).

[2020-07-09 08:28] LuNiKoFf commented on #3877
Indeed, it is not working on Debian 10.2, and I have this :
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Signal/1.34.3 Chrome/80.0.3987.165 Electron/8.2.5 Safari/537.36 node/12.13.0 env/production

[2020-07-09 08:35] StanislawRusnak commented on #4395
Sorry, i didn't describe it properly. In signal desktop is no share button, i don't see that option, but i think i would be very nice to have that option in desktop.
I have described it above expecially for signal mobile app - this one has share button but it dont have option of sharing to multiple people.
When i should put this issue ? @josh-signal

[2020-07-09 08:40] StanislawRusnak commented on #4396
This is similar to the issue you linked above, but i use Windows. and in #3332 is not present info about bug : "badly encrypted message" on mobile app

[2020-07-09 12:51] keylogthis commented on #3877
Works for me now too with Signal v1.34.1 and Electron v9.0.3 running Manjaro and XFCE.

[2020-07-09 14:56] pieterhouwen opened #4397 "Feature request: Protect Desktop client with password"
Right now a user only has to open the Signal Desktop application and get access to every Signal message. It would improve security to give the user an option to enable a password for startup. That way the only way to see Signal messages on your computer would be if you know the password.

### Platform Info

Signal Version: 1.34.3

Operating System: Windows 10

Linked Device Version: Android 9

[2020-07-09 16:42] repentsinner commented on #4393
@josh-signal added to issue description.

Looks like there is an explicit check to only enable "System" theme on MacOS:

https://github.com/signalapp/Signal-Desktop/blob/0865a5481c8175ce0c86a08b219f23c4afcf3de1/js/views/settings_view.js#L162

I believe Windows started offering a system-wide toggle in Windows 10 Oct 2018 update (or thereabouts). It's definitely exposed to apps now to toggle in-app

[2020-07-09 17:25] josh-signal commented on #4397
Duplicate of https://github.com/signalapp/Signal-Desktop/issues/2679 and maybe https://github.com/signalapp/Signal-Desktop/issues/1850

[2020-07-09 17:25] #4397 closed

[2020-07-09 17:28] josh-signal commented on #4396
What is "badly encrypted message"? Is there a particular error message you're getting in the message details?

Can you please provide us with your debug logs you can find them in the menu View -> Debug Logs. It would also help if you send us the message IDs of the out of order messages.

[2020-07-09 17:29] josh-signal commented on #4395
These sort of feature requests are good to share on the community forums: https://community.signalusers.org/

[2020-07-09 18:01] tparikka commented on #4175
Hi @josh-signal! Re-reading this I meant to reply to a different issue - mine is related to install, and I had mistakenly replied to this issue which I had opened while searching the backlog. Sorry!

[2020-07-09 18:02] tparikka commented on #4350
Same problem on Windows 10 x64 with the `signal-desktop-win-1.34.3.exe` installer. I had Signal installed at one time previously, uninstalled it, and am now trying to reinstall.

[2020-07-09 18:13] 82ba10b5e8dc commented on #4388
@Oymate I think this might be something device specific. One issue is that there's also some overflow text happening on your signal instance, probably from the images failing to load causing alt text to be rendered. Can you please check if there are any errors in the console? You can do this by going to View > Toggle Developer Tools. The other is that the vertical alignment on the chromium browser

[2020-07-09 19:52] dfeinstdigidems commented on #3052
Please implement this feature!!!

[2020-07-09 23:15] Leslieallen007 commented on #4350
https://debuglogs.org/af74927a2881709ce1308b64581ebfbe3cf7b73a798005d0203ce486f0d513b2

[code]

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, June 17, 2020 10:12 AM, Josh Perez <notifications@github.com> wrote:

[2020-07-10 01:29] Oymate commented on #4388
Here is the console:
[code]

Also my Bangla font is a lot smaller here. Another thing is that I am using the flatpak version.

[2020-07-10 08:44] samtuke commented on #999
Looking forward to this, especially links

[2020-07-10 14:46] rhymefororange opened #4398 "Letter "ц" rendered not on the same level as other message text in chat list preview"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

The letter "ц" appears lower that all other message text in the last message preview in chat list.
I don't know why this occurs only with letter "ц". For example, a similar letter "щ" renders just fine.
This is also an issue only in Signal Desktop, because the Android app renders the text correctly.

### Steps t

[2020-07-10 19:34] scttmllmn commented on #1636
I'm in the exact same boat. I would love to use signal as my sole messaging service, being able to have signal double as my SMS app on my phone is great, but lacking desktop support is frustrating.

[2020-07-10 21:34] josh-signal commented on #4350
@Leslieallen007 can you try restarting desktop and seeing if the download succeeds then?

[2020-07-10 21:55] josh-signal commented on #4398
@rhymefororange sorry that's not my native language so I don't quite see the bug you're referring to. What do you mean by it's rendering lower, where is it supposed to be rendering? Can you draw a line perhaps through where it should be?

[2020-07-10 22:19] rhymefororange commented on #4398
@josh-signal Sure.

Here is how the actual message is rendered in the chat log:
![image](https://user-images.githubusercontent.com/16821550/87206441-40eadb00-c2f9-11ea-89a7-465a8878c4e7.png)
You can see here that the tops and bottoms of all letters are aligned perfectly.

Here is how it is rendered in the chat list preview:
![image](https://user-images.githubusercontent.com/16821550/87163441-e16bd

[2020-07-10 22:24] rhymefororange commented on #4398
Interestingly enough, I just uncovered that this issue appears only when I set the zoom level to "Actual size". If I zoom in or out, the issue disappears and everything is aligned perfectly.

[2020-07-10 23:09] barndawgie commented on #3268
This problem went away and never came back , so I'm closing this.

[2020-07-10 23:09] #3268 closed

[2020-07-11 10:43] Oymate commented on #3962
Is this forgotten?

[2020-07-11 13:17] LeoniePhiline opened #4399 "Contact/conversation missing after pairing iOS Signal with MacOS Signal"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

When synching from iOS to MacOS, a contact / their conversation was not synced, even though there were already messages exchanged via iOS. Other contacts, without previous messages, were properly synced to iOS.

### Steps to Reproduce

1.  Use Signal iOS.
2.  Have two friends (A, B) you chat with on signal, and

[2020-07-11 13:24] LeoniePhiline commented on #3486
For me, the context menu appears no matter if I right-click or left-click. I wish to have Signal open on left-click rather than have it show the context menu.

Did you find any setting to open Signal instead of show the context menu on left-click?

I'm using OpenSUSE Linux with KDE.

[2020-07-11 16:04] jellopuddingstick commented on #4369
Wanted to report the same issue, but from the other side. I am part of a group with three members. Unbeknownst to any of us, a fourth member who left the group months ago has continued receiving our messages on their desktop client.

There is no indication in the app that this fourth party is still receiving messages. This is a total breach of the privacy of the group, since there's no way to audi

[2020-07-11 20:47] TomasPech commented on #4132
I can sadly confirm problem also with Linux Mint 20 - Cinnamon.
Today I did upgrade from 19.3 where was icon shown OK but in current Mint (mint 20) I can only see that Signal running in tasks but there isn't icon in tray.

Thank for your effort

[2020-07-11 22:20] p3k commented on #3410
i installed signal messenger on a pinebook pro using the [privacyshark](https://privacyshark.zero-credibility.net/#howto) repo. works great!

[2020-07-12 20:29] bhlevca commented on #3546
Chromium has bin fixed since version 81.  It is only Electron that dos not follow suit. I don' understand what takes them that long. The bug in Chromium has been fixed for almost one year.

[2020-07-12 21:04] TheOnlyRealCoder commented on #4350
In my case, I did try restarting, do not have any firewall rules for Signal and I did try the latest version from signal.org. I can't provide debug logs since I tried deleting every Signal-related file in an effort to solve the problem (not succesful).

[2020-07-12 21:50] supaeasy commented on #2026
So - is there a reason why this has not been implemented yet?

[2020-07-13 01:45] Gieted commented on #4392
I can reproduce the issue on Windows 10.

[2020-07-13 04:39] Gieted commented on #4392
After doing some experiments, I discovered that actually all menu buttons become unclickable after doing the following:

1. Select any conversation
2. Open "View recent media" panel
3. Switch to different conversation, without closing the panel
4. Switch back to previous conversation
5. All menu actions for this conversation are now permanently broken

Also, I found out it happens, because `onClic

[2020-07-13 10:33] jonathannz opened #4400 "Signal Desktop App can't connect. Appears to try download all messages again. Stuck in a loop."
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

Earlier today (perhaps 8 hours ago) I noticed Signal Desktop app (Mac OS X 10.13.6, Signal v1.34.3) had stopped downloading messages.

It kept displaying a message that it was reconnecting, and something like "shouldn't be long now", and then it would look like it had connect, but still no messages coming throug

[2020-07-13 12:52] alexchhll opened #4401 "Documents located in Media and duplicated"
Bug Description
The documents of the whole month of May are duplicated in the Media tab and the Documents tab and they are misplaced.

### Steps to Reproduce
1. View recent media.
2. Go to the Documents tab.
3. Go back to the Media tab, the Document of May are showing there.
4. Go to the Documents tab again.
5. Go back to the Media tab again

Actual Result:
1. The Documents of May are duplicated i

[2020-07-13 13:02] alexchhll opened #4402 "Wrong month in Documents"
### Bug Description

There are some issues with Documents in Recent media, with months.
The month label is wrong.
One file is located in the wrong month's list.

### Steps to Reproduce

1. Have Documents in a conversation.
2. Go to the Recent media, in the Documents tab.
3. Scroll down to April (displayed as May).

Actual Result:
1. The month label is wrong for April (it is currently displayed as

[2020-07-13 13:24] hrehfeld commented on #3281
This is not fixed: https://i.imgur.com/vSbelcp.png

version window shows, preferences also renders blue. On loading, sometimes the contact list and messages show for a fraction of a second, then everything turns blue.

I suspect that this might be caused by killing the app (e.g. during crash, disk space, reboot while the app is running). Deleting `.config/Signal helps`.

Nothing in the terminal lo

[2020-07-13 15:00] Gieted opened #4403 "CONTRIBUTING.md is missing some information"
Hi, I don't have much experience, but I would like to help in this project.
I've read CONTRIBUTING.md, yet I still have some questions.

First, [this section](https://github.com/signalapp/Signal-Desktop/blob/master/CONTRIBUTING.md#windows) requires an update, because you'll get [this error](https://github.com/nodejs/node-gyp/issues/1486) while trying to do yarn install. A solution for that is inst

[2020-07-13 15:13] Gieted commented on #4403
I've forgotten, that I also wanted to ask about Prettier. Is there some pre-commit hook, that will format staged files automatically or you have to do it manually before each commit?

[2020-07-13 16:43] scottnonnenberg-signal commented on #4403
As you've discovered, we don't have many people developing for SIgnal Desktop on windows!

Yeah, we'll update the `windows-dev-tools` install command to include the `--vs2015` option. As you've noticed, as things have been upgraded over time, it's necessary.

What's the error you get with the `dev` script?

There is no pre-commit hook, but you should consider consider running `yarn ready` before c

[2020-07-13 16:45] scottnonnenberg-signal commented on #3281
We haven't upgraded to Electron 9 yet. You'll need to follow up with your Signal Desktop packager.

[2020-07-13 17:34] mcarifio commented on #3791
Signal v1.34.3 has done the same on my ubuntu box. How do I "unregister it" for text/html?

[2020-07-13 17:43] Gieted commented on #4403
`'NODE_ENV' is not recognized as an internal or external command, operable program or batch file.`
`VAR_NAME=value` is just not the way you set environmental variables in Windows.
[cross-env](https://www.npmjs.com/package/cross-env) is a one way you can overcome it, the second is setting environment in your IDE or other external tool instead of using npm scripts. Here's how you can do it in WebSto

[2020-07-13 18:26] scottnonnenberg-signal commented on #4350
Hey everyone. I'm sorry that you're running into these install/update difficulties.

Unfortunately, we have been unable to reproduce these problems on our own Windows machines and VMs. So, what we need from you is as much information as you can provide. In particular, when did it stop working. Seems that some updates historically worked for you - when did it stop?

Beyond that, what can you say ab

[2020-07-13 18:30] scottnonnenberg-signal commented on #4403
Ah, I see the problem - `dev:webpack` and `dev:storybook` need `cross-env`. You may have noticed that it's already in use on the scripts used for release, since they are regularly run on windows.

For debugging, you can just open the dev tools while running the app. If you want to debug the Node.js side of things, that's just like any Node.js app.

[2020-07-13 18:32] scottnonnenberg-signal commented on #3791
@mcarifio Are you completely sure that it was v1.34.3 that did it? Or is this possibly an old registration from a previous install?

I believe this post has the command you'll want to use to restore the text/html mapping you want: https://github.com/signalapp/Signal-Desktop/issues/3602#issuecomment-537630627

[2020-07-13 18:37] scottnonnenberg-signal commented on #4369
@jellopuddingstick What do you see when you go to group members on your devices? What do you see on the details screen for messages sent to that group? You'll want to go device by device, because I suspect that there are just a few errant devices which believe that this removed member is still part of the group.

[2020-07-13 18:39] scottnonnenberg-signal commented on #4369
Also, one technique to address this is to open a device that has the right group membership, and update the group title. Then all group devices will get a new message which describes group membership, and should update their local membership list.

[2020-07-13 18:49] scottnonnenberg-signal commented on #4399
What else can you say about Friend B? Do you have them in your address book? Did you have an active conversation with them in your iOS app? How long before initial Desktop sync was the last message sent/received with them? Does their phone number end in 711?

[2020-07-13 18:58] LeoniePhiline commented on #4399
Hi! Thanks for your response!

Yes

Yes, there had been messages in both directions.

About 24 to 26 hours.

No. It ends with 798. It does contain a 117 somewhere in the middle, but no 711 anywhere.

I am super curious about how that could have to do with the issue. :)

[2020-07-13 19:00] scottnonnenberg-signal commented on #4398
Quite interesting. I looked at the fonts for these two contexts, and they are quite similar:

[code]

It's the same font-family. Perhaps it has something to do with the letter-spacing? Or the overall font size? Maybe even the wrapping/break/spacing?

You could experiment by opening the devtools and changing these values. I'm leaning towards Chromium rendering bug at this point.

[2020-07-13 19:09] scottnonnenberg-signal commented on #4399
@LeoniePhiline Why 711? Thise last three digits were in one of the log errors you posted.

Well, your full log isn't showing any evidence of missing contacts. If you could really dig in on the differences between Friend A and B and the conversations you had with them, that would really help.

[2020-07-13 19:30] LeoniePhiline commented on #4399
Hi @scottnonnenberg-signal
I had edited my previous post while you answered. Maybe there's useful information in there now.

Maybe this will be one of these strange bugs that do not get fixed because they are too difficult to track down (also because I had not initially found the Debug log option, so the log only starts after a "wipe all data and re-pair" cycle).

One last try though:

- Here's a

[2020-07-13 19:52] Gieted commented on #4403
What actually wanted to do, is to attach my debugger to a renderer process. I solved it by starting app with `electron . --remote-debugging-port=9222`. Still, it would be more convenient to be able to host UI on something like Webpack dev server and then open it in a browser of your choice.

[2020-07-13 20:47] mandree commented on #2117
I have the same issue as in https://github.com/signalapp/Signal-Desktop/issues/2117#issuecomment-642182017 and investigated with exiftool and exiv2, and when I save a file from the desktop that I've received with Signal Desktop v1.34.3 on Electron 9.0.5 (to fix the "icon missing issue") on a Fedora 31 Linux host (coupled to the Android Signal I describe below), there are no exif data in the saved

[2020-07-13 22:18] Gieted commented on #4403
Actually `dev:webpack` script exists which does exactly what I'm asking about, except seems to be completely broken since the page never loads

[2020-07-13 22:51] scottnonnenberg-signal commented on #2117
Yes, we don't officially support Electron 9 yet, and it does seem to require some interesting changes around image rotation handling.

[2020-07-13 23:03] scottnonnenberg-signal commented on #4399
Do you perhaps have an iOS debug log we could look at? The data Desktop shows right after link comes straight from your phone, so we're looking for a little bit more context.

[2020-07-13 23:27] jonathannz commented on #4400
An update on this.
After roughly 10 hours of Signal doing what I have described, I closed it.
When I started it again, it opened right away (as opposed to going to the blue window with messages downloading).
It was again in the same state it was before... in which it was constantly switching in and out of "reconnecting" "Shouldn't be long now" and appearing to be connected.

I took a new error log

[2020-07-13 23:28] mcarifio commented on #3791
I certainly upgraded from a previous install to 1.34.3 so I can't say for sure who did it. Your "previous install" hypothesis is quite plausible.

[2020-07-14 04:43] jonathannz commented on #4400
More updates on this issue.
Signal (desktop) continues its connection attempt loop.
I've discovered that if I send a message to a conversation, it actually gets through to them. It shows up on my phone, and they receive it. Signal (desktop) will just show one tick, indicating it's not reached the recipient. Any incoming messages don't appear, as previously reported.

Is there a way I can somehow r

[2020-07-14 05:18] tparikka commented on #4350
Hi @scottnonnenberg-signal - I had Signal installed on this PC some months ago, not sure when, but had uninstalled it. Thus my attempt to install is not on a "clean" machine per se. I do have Visual Studio installed, along with other complex applications like MS SQL Server, SSMS, Hyper-V, etc but they were also all installed when I installed Signal the first time. Is there anywhere the installer l

[2020-07-14 07:45] mvvvmd commented on #4132
In Linux Mint 20 (cinnamon) it segfaults on two separate systems I have running. Signal does keep running, just no tray icon.

`Jul 14 09:38:15 kernel: [ 2104.460826] xapp-sn-watcher[2977]: segfault at 0 ip 00007f6ddebcb6e4 sp 00007ffd61bcb230 error 4 in libglib-2.0.so.0.6400.3[7f6ddeb60000+84000]`

`Jul 14 09:38:15 kernel: [ 2104.460834] Code: b7 6d db b6 c1 c8 02 3d 49 92 24 09 0f 97 c0 0f b6 c0

[2020-07-14 10:50] rhymefororange commented on #4398
I experimented a bit as you suggested. Here are my findings:
1) Changing line spacing does not fix it
2) The default value of the font-size in .module-conversation-list-item__message__text is 13px. If I change it to 12px or 14px - then everything is aligned perfectly again.

Please try it for yourself. Here are the details for that character:
Name: Cyrillic Small Letter Tse
Unicode number: U+0446

[2020-07-14 13:04] hrehfeld commented on #3281
But it definitely works when you delete .config/Signal and reconnect...

[2020-07-14 14:04] Gieted commented on #4403
#4404

[2020-07-14 18:55] Gieted opened #4405 "Generate source maps for easier debugging"
There should be a way to launch app with source maps, so dev tools can find `.tsx` files, corresponding to generated `.js` files.
Currently, there are no source maps, so you must work on generated and not actual code while debugging.

[2020-07-14 20:16] scottnonnenberg-signal commented on #4405
No, we will not be doing this.

[2020-07-14 20:16] #4405 closed

[2020-07-15 00:43] scottnonnenberg-signal commented on #4400
Thanks for the bug report. We are looking into this.

[2020-07-15 02:03] jessebett opened #4406 "Vim Keyboard Shortcuts"
![The Signal Desktop keyboard shortcuts](https://user-images.githubusercontent.com/4240549/87491477-393b7700-c616-11ea-8449-1552d07ce21d.png) are great! However, they could be significantly more comfortable for vim users. Has there been any discussion of an optional alternative keybinding?

The shortcut always assumes you're in insert mode, so the shortcuts often involve chords of modifiers like `

[2020-07-15 08:30] FlorianAlexander opened #4408 ""Join the Beta" doesnt show in Help menu on Mac"
- [x] I have searched open and closed issues for duplicates

### Bug Description

"Join the Beta" doesnt show up in the Help menu on the Mac in version 1.34.. It should like its stated in the release notes.

### Steps to Reproduce

1. open Desktop app
2. klick on "Help" in the menu bar
3. look for the menu item "join the beta"

Actual Result:
"join the beta" doesnt exist in the Help menu

Expected

[2020-07-15 13:07] demux4555 opened #4409 "[BUG] Endless respawns of new installers when doing update. Results in hard crash. (Windows 10)"
- [x] I have searched open and closed issues for duplicates
- [x] I am submitting a bug report for existing functionality that does not work as intended
- [x] I have read https://github.com/signalapp/Signal-Android/wiki/Submitting-useful-bug-reports
- [x] This isn't a feature request or a discussion topic

----------------------------------------

### Bug description
I have seen this happen enough

[2020-07-15 13:30] rhymefororange commented on #4398
@scottnonnenberg-signal I see you added "Upstream Change Needed" label. Is it really a Chromium rendering bug?

[2020-07-15 13:36] LeoniePhiline commented on #4399
@scottnonnenberg-signal
Here's the iOS log: https://debuglogs.org/7cda8b836a70be650712f85c830d0716c412fbecd25ec2cccd223ebc8e2e868a.zip

Hope this helps! :)

By the way: On Linux & KDE, if I click on a signal notification, the app does not open. The click seems to be ignored. Is that a bug I should report separately or is this widely known anyway? Also clicking the tray icon (left mouse button) doe

[2020-07-15 14:23] 3vi1 commented on #1946
Not being present in the store is also a problem for companies that want to deploy Signal to machines managed via a device management system like Intune.  Intune only allows Windows 10 apps to be installed from the Microsoft store or as a line-of-business package (.msix)... neither of which work in Signal's case.

[2020-07-15 16:09] scottnonnenberg-signal commented on #4399
@LeoniePhiline Thanks for the log - hopefully we'll find something useful in it.

I think your first extra issue needs a new issue, but the second one is probably already tracked. As always, please looking for existing bugs before entering anything new. :0)

[2020-07-15 16:09] scottnonnenberg-signal commented on #4398
@rhymefororange Do you have other theories as to what it could be?

[2020-07-15 16:10] codywohlers commented on #1965
agreed.  I thought there was a problem with my system tray

[2020-07-15 16:15] rhymefororange commented on #4398
@scottnonnenberg-signal No. Frankly, this bug seems very weird to me. I don't know why it would be fine with 14 px and misaligned with 13px font size.

[2020-07-15 16:16] rhymefororange commented on #4398
I was just surprised that this is the case.

[2020-07-15 17:59] ProactiveServices commented on #3486
I've just started experiencing this bug on Signal after updating to 1.34.4. I'm on Ubuntu 19.10, KDE Plasma. I've had the exact problem with Skype for Linux for ages, so smells like an Electron bug. [One of several](https://github.com/electron/electron/issues/14941) Electron bug reports.

[2020-07-15 18:42] DirkPitt1 commented on #4408
I have the same bug on Windows 10

BTW I can still see Help menu items "Contact us" and "Go to GitHub" in English instead of Polish even though those 2 strings have been translated to Polish 20 days ago.

Screenshots
![SignalMenu](https://user-images.githubusercontent.com/28538453/87582840-837e3000-c6ca-11ea-9a1a-0298bb7d0e93.jpg)

Platform Info:

Signal Version: 1.34.4
Operating System: Windows 1

[2020-07-15 22:31] mandree commented on #2117
"interesting changes" is more a question of why the orientation tags in IFD0 go missing on the Linux images when Android has them.

[2020-07-15 23:58] jromero2k opened #4410 "Throttle downloads or reduce download size"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

The user experience with Signal Desktop's update system is very bad, at least in macOS.

1. Unlike Android or iOS, where I can decide when to update, Signal in macOS updates automatically and as soon as there is a new version, sometimes several times a day

2. There is no option to throttle the updates to (let's

[2020-07-16 06:46] Yorgh commented on #4410
Hi Jorge,

You may use Homebrew with your Mac.
You should not use any application using an account with administrative permissions.
In this case, Signal will fail to automatically update. It will generate popups sometimes until you will deploy the update using commandlines with Homebrew with an administrative account. The brew update comes generally less than 10 hours than the one delivered by the

[2020-07-16 09:33] szepeviktor commented on #1603
Please share where the Desktop app gets the language on Windows.
Maybe we can hack our way around it.

[2020-07-16 15:21] rainerzufall commented on #4336
Looks like https://github.com/signalapp/Signal-Desktop/commit/4289c28a38b5908684590482ff1c5eed523bec31 improved the behaviour a lot!!! In my testing and trying to break things ;) around 7 emoji reactions did not make it through, but the rest now made it through :) Not sure how many reactions I sent, probably 60 - 100 all in all.

3 of the not received ones:

1.
- Android message ID:
`1594719143567

[2020-07-16 15:54] syss commented on #1632
the following batchfile worked for me (using dynamic tunnel on ssh host):

set HTTPS_PROXY=socks5://127.0.0.1:1080
set NO_PROXY=localhost,127.0.0.1

start "" "%localappdata%\Programs\signal-desktop\Signal.exe"

[2020-07-16 23:17] loxK commented on #4082
It is solved with the new version release.

[2020-07-17 13:48] Fmstrat commented on #1871
Minimum height is also an issue on 1080p monitors in GNOME. If you put 4 messenger apps in 4 corners, Signal is taller than half the monitor.

[2020-07-17 14:50] Fmstrat commented on #1871
Ok, so I've been doing some testing for a PR on this. The problems with the above recommended settings are that they are too short for the sticker window, and too narrow for the default "Send a message" text (they cause scrollbars to appear).

Once I locate where the height settings are for the sticker panel I'll test things in OSX/Windows/GNOME and submit a PR.

[2020-07-17 16:48] hwinnemoe opened #4411 "Error: Cannot find module after upgrading to 1.34.4 on Windows 10"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description
After updating from 1.34.1 directly to 1.34.4, I only see the following error mesage (see Screenshots) and cannot use the app. The stacktrace reads very similar to https://github.com/signalapp/Signal-Desktop/issues/4394#issuecomment-654904562.

### Steps to Reproduce

1.  Update to 1.34.4
2.  Restart the App

Act

[2020-07-17 16:50] scottnonnenberg-signal commented on #4411
Please provide your full debug log - you can find it at `C:\Users\<You>\AppData\Roaming\Signal\logs`.

[2020-07-17 16:52] hwinnemoe commented on #4411
Can I send to you directly?

[2020-07-17 16:52] scottnonnenberg-signal commented on #4411
If you would be more comfortable with that, go right ahead.

[2020-07-17 16:57] hwinnemoe commented on #4411
I just did some quick search and replace, here you go:
[log_san.log](https://github.com/signalapp/Signal-Desktop/files/4939060/log_san.log)

Thanks for the quick reaction :)

[2020-07-17 17:03] scottnonnenberg-signal commented on #4411
![Screen Shot 2020-07-17 at 10 03 24 AM](https://user-images.githubusercontent.com/36971246/87812269-c2200180-c814-11ea-97f1-ae22e569a579.png)

I think you'll need to zip that up.

[2020-07-17 17:28] kpcyrd commented on #2117
I've changed my package to bundle the electron version specified in package.json and it does indeed solve the orientation issue for me, thanks for the hint!

[2020-07-17 18:11] 82ba10b5e8dc opened #4412 "[developer experience] Adding husky and commitlint"
- [x] I have searched open and closed issues for duplicates

### Description

To add more consistency for commits and make running sanity checks, it'd be great to add husky and commitlint to the project.

https://commitlint.js.org/#/
https://www.npmjs.com/package/husky

Commitlint would allow us to standardize messages with type of code change, e.g. feat, docs, test and overall length of message.

[2020-07-17 18:49] Fmstrat commented on #1871
The above PR does not address a smaller left pane, but it does shrink the window down while adjusting sticker and emoji panels down just a bit so that multi-line text entry does not bump it off the canvas. Hopefully this goes through smoothly. Thanks!

[2020-07-17 20:56] sachdevaprash commented on #4164
Not able to view it directly in the chat, yes. I am able to download it though.

[2020-07-17 22:58] scottnonnenberg-signal commented on #4412
That's a really big change to the way things are done around here; I don't think we'll be doing that. You're absolutely free to create your own commit hooks.

[2020-07-17 22:58] #4412 closed

[2020-07-17 23:04] scottnonnenberg-signal commented on #4411
No hints in the log, unfortunately. I'd recommend two things:
- First, you might go into `C:\Users\<You>\AppData\Local\Programs\Signal` to see if you can find the file it's not able to access on disk
- Second, you can try reinstalling from https://signal.org/download to see if it fixes things. Reinstalling on top of an existing install will preserve all of your data (uninstall will remove it, thou

[2020-07-18 08:59] hwinnemoe commented on #4411
I managed to extract the `app.asar` file and the `node_sqlite3.node` file is in there and extracted fine. Should I upload it?

Thanks, I will do this when you tell me that there is nothing left for me to investigate.

[2020-07-18 11:25] shirsho-12 commented on #2941
Having the same problem with the Github Desktop software. I'm using Windows 7, all defaults, no added tweaks or anything.

[2020-07-18 16:09] a-type opened #4414 ""1 Unread Message" reported on all conversations after linking"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

After linking the Desktop app to a phone, viewing conversations with users for the first time erroneously reports "1 Unread Message" at the top of the conversation pane, above the security notice about not transferring conversation history, even if there are no new messages (according to the phone app) or even n

[2020-07-18 16:15] mandree commented on #2117
I've retried with the fedora-multimedia build of 1.34.3 that is apparently based on Electron/8.2.5, orientation issue persists.

[2020-07-18 16:46] joatca commented on #2210
I have the opposite problem. My Linux Signal desktop starts with a tray icon which I don't want - I want to to minimize to the taskbar in the normal way but I can't find any way to get rid of the tray icon. --no-use-tray-icon doesn't work, but doesn't complain either.

[2020-07-18 23:22] kpcyrd commented on #2117
@mandree it didn't fix the orientation for old messages for me, only messages received with electron 8

[2020-07-18 23:26] benjertho opened #4415 "Image zoom beyond chat window size"
- [x] I have searched open and closed issues for duplicates

---

### Feature Request Description

Allow image, once selected and maximized within the chat window, to be zoomed in on further. This action would preferably be hooked to the both the mouse scroll wheel and zoom buttons.

[2020-07-19 14:46] 2tata opened #4416 "Crashlog Unhandled Error"
### Bug Description

Signal-Desktop instantly stops after some time.

### Platform Info

Signal Version: v1.34.4

Operating System: Linux 5.7.8-arch

### Link to Debug Log

[code]

[2020-07-19 15:54] TheOnlyRealCoder commented on #4350
@scottnonnenberg-signal I do have Visual Studio Code installed, along with some other IDE's. Altough, like @tparikka , I also had at least Visual Studio Code installed when I first installed Signal (that was like a year or two ago though). I honestly couldn't say when the issue first started, it was several months ago. If you provide me a more private channel I'll send you a list of all the progra

[2020-07-19 17:41] max-l commented on #3923
Same thing here, error happens after days of running:

Unhandled Error

Error: EACCES: permission denied, rename '/home/maxou/snap/signal-desktop/325/.config/Signal/logs/log.log.1' -> '/home/maxou/snap/signal-desktop/325/.config/Signal/logs/log.log.2'

[2020-07-19 18:40] gaasedelen commented on #4327
I just wanted to say that I haven't had my sticker packs disappear since you pushed out a14936451eef4892f373e236ae0d8460caf1e6bb in the new beta.

I think this issue can be marked as fixed. Thanks!

[2020-07-19 22:53] swxxii commented on #3710
I think the issue is the time it takes to do this, not so much the wording (tell me to log separate but if needed). I want an option to disable message sync on desktop. This sync makes the app take over 10s to load and I am a light user - can't imagine heavy users. Reading past messages is not why I use Signal on my PC. It's usually I found a link or want to send a quick message while I'm working

[2020-07-20 03:25] 211217613 opened #4417 "[Feature Request] Typing should automatically populate the text window"
When you've navigated away from the text box via tab key, or anything else, typing should take you back to the text box.

[2020-07-20 04:23] ddickstein opened #4418 "Cannot find module node_sqlite3.node"
- [x] I have searched open and closed issues for duplicates

**I believe this is the same issue: https://github.com/signalapp/Signal-Desktop/issues/3065**

I am creating a new issue though since it sounds like a lot of people are having vaguely similar errors and it's probably easier to track them separately.

---

### Bug Description

Crash on start.

### Steps to Reproduce

1. Run `$ signal-desk

[2020-07-20 04:31] ddickstein commented on #4418
Updating from 1.34.1-1 to 1.34.4-1 resolved the issue. Sorry for the noise.

[2020-07-20 04:31] #4418 closed

[2020-07-20 06:48] itkfm commented on #4132
Appears to be working again here (Ubuntu Budgie 20.04) :)

[2020-07-20 09:28] jllynch commented on #3268
I'm getting this error increasingly on Fedora 32 desktop app.

[2020-07-20 11:06] ralienpp commented on #3710
What would also work out is to load the last N messages right away and open the UI, while older messages are loaded in the background at a slower pace.

An alternative would be to apply some "lazy loading" and only load them when the user scrolls the history back far enough when those old messages are actually needed.

[2020-07-20 11:28] marekciupak commented on #3332
Hi @laurens94, since it seems that you figured the scenario, are there any actions planned to fix this problem? Thanks!

[2020-07-20 17:46] sylvanosullivan commented on #4303
**As a user,** I'd say that if there are open questions blocking the 2nd implementation, go with the 1st. It would hugely helpful to me to have conversation muting on desktop as soon as possible. I would not mind having to set muting periods on a per-device basis.

In fact, it might be better not to sync muting preferences, given that I may want to get notifications from a group conversation on my

[2020-07-20 18:00] denver-s commented on #3941
Bug is still occurring on v1.34.4-beta.1 and iOS 3.13.2

[2020-07-20 18:44] flick1999 commented on #2190
2020 checking in, feature still not available.

[2020-07-20 19:19] mvasi90 commented on #3281
In Docker or Podman container, to solve the white screen issue, you can start signal desktop: `signal-desktop  --no-sandbox --use-gl=swiftshader`.
This is because Signal developers use chrome/chromium libraries, python, electron, etc. instead native compiled languages and it own libraries. This is because the Signal desktop size is huge. It could be 10%.

Competent developers are needed.

[2020-07-21 02:14] jonathannz commented on #4400
I am not sure if something was changed on the server side, that allowed my Desktop app to cease having issues....
(Note: I was still running desktop app, as it would at least still allow me to send messages — so long as I started it whilst Internet access was off, so the app would actually open)
After many days of it being stuck in the described loop one day I started the app and it worked perfect

[2020-07-21 07:06] mvvvmd commented on #4132
Yes, this seems to have been fixed on Linux Mint 20 (cinnamon) also, works on both my systems.

[2020-07-21 07:08] floeschie opened #4419 "Encoding issue in "save file" window (Linux, Android)"
- [✓] I have searched open and closed issues for duplicates
---

### Bug Description

I use Signal on Fedora Linux and on my Android Smartphone. When I try to save a file to the hard drive out of the Linux desktop client, the "Save file" window displays weird characters (rectangles) instead of button/menu labels.

### Steps to Reproduce

1.  Open a conversation where you have received a file (e. g

[2020-07-21 07:34] georf commented on #4132
Really! Thanks for this fix

[2020-07-21 15:55] Peter-JanGootzen commented on #4132
It now also works with Polybar again!

[2020-07-21 16:17] jlfranklin commented on #4132
And Debian 10 Cinnamon, too.  Thanks!

[2020-07-21 16:43] scottnonnenberg-signal commented on #2117
@mandree @kpcyrd The only time orientation is checked is when a new message is processed. Good to hear that new messages have properly oriented images.

[2020-07-21 16:44] scottnonnenberg-signal commented on #4327
Thanks for confirmation. If anyone sees this again, please enter a new bug.

[2020-07-21 16:44] #4327 closed

[2020-07-21 16:56] StanislawStanislaw commented on #4396
@josh-signal Yes, sure. I have that issue today so i catch it. Below i put screen and log.
![obraz](https://user-images.githubusercontent.com/38114029/88076519-7655bb00-cb7a-11ea-902b-da3f9a4461af.png)
Log file:
[log-badly encrypted message signal.txt](https://github.com/signalapp/Signal-Desktop/files/4955004/log-badly.encrypted.message.signal.txt)

[2020-07-21 18:01] dnut commented on #1845
The matrix client Element (previously riot.im) has a nice solution for this. You can directly modify the width of the sidebar. If you shrink it (or the window) below a certain width, the sidebar collapses to be icons only. I'd love to see the same behavior in signal.

![element](https://user-images.githubusercontent.com/15116250/88089634-5910f480-cb5a-11ea-90fa-3357dce82e43.png)

[2020-07-21 20:46] jmechnich commented on #4132
Works with tint2 as well! Thanks a lot!

[2020-07-21 21:27] alex opened #4420 "SIGSEGV on starting signal-desktop"
### Bug Description

I run `signal-desktop` under Crostini on ChromeOS, which is basically a debian environment in a VM. Anyhoo, it's been working fine for months. Today, ChromeOS updated, which updated to a 5.x kernel, and now `signal-desktop` SIGSEGVs on startup:

[code]

Running under GDB:

[code]

### Platform Info

Signal Version:

[code]

Operating System:

[code]

[2020-07-21 21:30] LanceHaverkamp commented on #4132
So what has changed?  The official version, from _https://updates.signal.org/desktop/apt xenial main_ is still version 1.33.4, and it's not working in Kubuntu 20.04.

[2020-07-22 00:44] alex commented on #4420
Is there a way to get symbols for the signal binary? I'm not really sure how to debug further without them.

(FWIW, I'm a SWE and more than happy to dive into this if you can point me in the write direction)

[2020-07-22 01:00] awforsythe commented on #4411
I had the same issue; re-running the latest Windows installer fixed it for me.

[2020-07-22 06:19] jmechnich commented on #4132
The current working version is 1.34.4

[2020-07-22 06:31] itkfm commented on #4132
[code]

[2020-07-22 13:58] Sgn-32 commented on #4343
Solved with https://github.com/signalapp/Signal-Desktop/commit/cfa8c89077b17d8e73798aca95bc950df1f00a16 in 1.34.3.

[2020-07-22 13:58] #4343 closed

[2020-07-22 18:16] alex commented on #4420
Installed `signal-desktop-beta` and it exhibits all the same behavior.

[2020-07-22 18:18] LanceHaverkamp commented on #4132
I'm getting the impression that no one at Signal is tasked with updating that repository; this is not the first time I've had to remind them to update that repo.  ;-)

[2020-07-22 18:29] irenwell opened #4421 "With the update, half of the new messages failed to be transferred to the linked device (from phone to computer). Status "Error handling incoming messages""
- [ ] I have searched open and closed issues for duplicates

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2020-07-22 19:50] aibaraiduas commented on #3961
Shouldn't the initial default directory for Signal's downloads be whatever default is defined by the OS? On Ubuntu and variants, normally that's `~/Downloads`, but it is user configurable, so it should only be home if the user has defined home as their download directory. (I have the same issue with Ubuntu 16.04 (Unity) and Kubuntu 20.04.)

Whether or not Signal should remember the last saved dire

[2020-07-22 20:07] alex commented on #4420
Ok, I think this is an electron problem, I'm reproducing it with just electron:

[code]

[2020-07-22 20:14] alex commented on #4420
I've now filed a bug on the electron side, since this doesn't appear to be signal specific: https://github.com/electron/electron/issues/24696

Not sure if y'all would prefer to close this or leave it open for tracking.

[2020-07-23 02:26] josh-signal commented on #4421
@irenwell can you please describe more of how you got into this state? Sending us your debug logs will also help us in investigating what is going on. You can grab the logs from the menu View -> Debug Logs.

[2020-07-23 02:33] josh-signal commented on #3268
@jllynch can you please send us your debug logs so we can investigate your issue? You can find them from the menu View -> Debug Logs.

[2020-07-23 02:37] jllynch commented on #3268
Where do I sent them to?

[2020-07-23 02:42] josh-signal commented on #3923
@max-l any chance we can get your debug logs see if they shed some light on this issue? You can find them off the menu View -> Debug Logs. You may want to try restarting the app as a previous user has mentioned this resolves the issue.

[2020-07-23 02:42] josh-signal commented on #3268
You can post them right here

[2020-07-23 02:47] regsoft commented on #3923
Wow that must have been quite a while ago. I think the app has been
upgraded many times since that problem. Great desktop app. Thank you for
working on it.

On Wed, Jul 22, 2020 at 7:42 PM Josh Perez <notifications@github.com> wrote:

[2020-07-23 03:05] jllynch commented on #3268
https://debuglogs.org/9f3c3c69e1c2891d6f4e24b02d53035ab5a27018946b8c1fb38587e9556f8314

[2020-07-23 06:37] janvlug opened #4422 "Messaged received while initializing (loading messages) got lost"
I started my Signal Desktop after that I had not used it for quite a while. When Signal Desktop started it was loading a lot of messages. During this loading, I received a Signal message on my phone. When Signal Desktop was done loading, this message was not in the conversation. But another messaged, in the same conversation that I received yesterday was present.

Debug log:
https://debuglogs.org/

[2020-07-23 13:42] irenwell commented on #4421
Hi, @josh-signal , I thought the debug log was there, as I actually started with it.
Anyway, I am trying to reproduce the error for you, with the printscreens, too.
1) Conditions. I am using Signal on phone (iPhone 6s) almost on a daily basis; I also have Signal installed on the laptop (Windows 10), but using it... well, maybe once every two months. The devices are linked, of course. Yesterday I r

[2020-07-23 19:38] vallejo915 commented on #3923
Hey guys, was wondering if I could get some help regarding this issue (signal on desktop)

Unhandled Promise Rejection Error: EPERM: operation not permitted, unlink 'C:\Users\MTWN73\AppData\Roaming\Signal\logs\log.log

I have tried uninstalling and removing signal and whisper systems from my windows registry, now I cant even reinstall it (didnt even get a debug log :X). Any thoughts?

[2020-07-23 19:51] hwinnemoe commented on #4411
I installed 1.34.4 and it now starts and works fine. I preserved the previous app.asar file if it is of any interest for further investigation.

[2020-07-24 01:51] josh-signal commented on #4417
Thanks for the feature request. While all of our shortcuts currently require some sort of meta key to activate I'm not sure we would ever have so many keys have the chance to activate the composer.

[2020-07-24 01:51] #4417 closed

[2020-07-24 01:53] josh-signal commented on #3923
@vallejo915 what happens when you try to install it? Are you able to pull logs from your machine about the installation?

[2020-07-24 02:04] regsoft commented on #3923
Please remove @brillouinenergy from this thread.

On Thu, Jul 23, 2020 at 6:54 PM Josh Perez <notifications@github.com> wrote:

[2020-07-24 16:49] dnut commented on #1850
Doesn't the android client have a similar vulnerability? It has encrypted storage, but how is the key stored?

First of all, signal-desktop needs to have encrypted local storage. Critically, the user should be able to configure signal to require a user-entered password to decrypt the local storage upon startup. This may require changes in both desktop and mobile.

This vulnerability means someone

[2020-07-24 18:56] vallejo915 commented on #3923
Hey man, thanks for the reply. It finally installed but it gives me the error I listed above after installation. The thing is that I'm not able to run it, it just gives me the error and doesnt allow me to get a Debug Log.

[2020-07-24 20:34] taxilian commented on #1636
Same problem here. Surface Pro X, want to use signal and can't.

[2020-07-24 23:23] scottnonnenberg-signal commented on #4132
@LanceHaverkamp Sorry, what repo is not being updated?

[2020-07-24 23:24] scottnonnenberg-signal commented on #4400
Glad to hear it; I'm going to close this issue.

[2020-07-24 23:24] #4400 closed

[2020-07-24 23:26] scottnonnenberg-signal commented on #4416
It looks like things were built wrong for the package you installed, unfortunately. You'll need to reach out to the folks who manage Signal Desktop for arch.

[2020-07-24 23:26] #4416 closed

[2020-07-25 01:09] josh-signal commented on #3923
Not looking for a debug log but maybe system logs can tell us why the install is failing?

[2020-07-25 01:18] josh-signal commented on #4422
@janvlug can you please tell us the message ID of the message that you received that is not showing up in your desktop instance? You can find this on the phone via the message details screen and you can get it by long pressing on the `Sent` timestamp.

[2020-07-25 01:19] josh-signal commented on #4419
@floeschie can you please reach out to the packager of signal for fedora?

[2020-07-25 01:41] josh-signal commented on #4421
@irenwell I noticed that there are a few errors specifically with the device ending in `710`, you can try resetting your session with them and seeing if this helps the issue.

[2020-07-25 01:52] josh-signal commented on #3941
@denver-s can you please include your debug logs, the message ID, and also if we can please have the sender's debug logs as well it would help us paint a full picture on what's going on here.

[2020-07-25 02:21] regsoft commented on #3923
PLEASE REMOVE github@brillouinenergy FROM THIS LIST!

On Fri, Jul 24, 2020 at 6:09 PM Josh Perez <notifications@github.com> wrote:

[2020-07-25 08:47] corbolais commented on #2912
Getting the exact same msg as @chocolatekitkat on Linux Signal-Desktop v1.34.4 .
Was working before just fine.

[2020-07-25 09:07] mandree commented on #2117
@scottnonnenberg-signal just to make sure I understood correctly, you're saying that when a new message with image *ARRIVES* its properties are analysed by whichever Electron version Signal is running on and that information in Signal's database is then used henceforth, independent of Electron version, correct?

[2020-07-25 09:34] SEE-ICT commented on #2912
I had the same/a similar problem a few days ago. With only 2 of my contacts. And then only for a few messages.

Several error messages from one contact, all with the same "More info":

And from a second contact. Again all bad messages from that contact had the same "More info":

Note that the Sent time for both sets of bad messages was the same, while the Received time was different, although in e

[2020-07-25 10:25] martinstein commented on #4350
I had the same issue. Thanks for pointing out that reddit thread @TheOnlyRealCoder  . The steps mentioned in the comment at https://old.reddit.com/r/signal/comments/epgarh/signal_hangs_during_install/fem4y3e/ fixed it for me, i.e. manually removing all Signal-related entries from the registry (after making sure all Signal-related files in AppData were deleted previously).

In order to find the rel

[2020-07-25 12:30] phrxmd commented on #1630
@cryptomilk I get a 404 when trying to access this link. I also don't see it in community packages.

OBS does have an version in the experimental build packages, though: https://build.opensuse.org/package/show/network%3Aim%3Asignal/signal-desktop

[2020-07-25 14:19] denver-s commented on #3941
I did it already

[2020-07-25 14:21] denver-s commented on #3941
Next time I encounter this problem I’ll ask my friend to send me a debug log.

[2020-07-25 14:31] JamieMBragg commented on #1653
t-makaro's workaround can be slightly shortened, thought it was worth posting as it fits better (readable at a glance) in a task's action box.
[code]

[2020-07-25 17:47] TheOnlyRealCoder commented on #4350
@martinstein I tried the same steps but they didn't solve it for me.

[2020-07-25 21:16] TheOnlyRealCoder commented on #4350
Okay. I was finally able to resolve the problem. I tried regedit before and deleted all registry entries containing "whisper", that didn't do it for me. I now went through all the registry entries containing "signal" (yes it was kind of a pain) and deleted the ones related to Signal. That finally solved the issue.

Some entries were located in the user/downloads folder (don't know if they were par

[2020-07-26 23:24] kpcyrd opened #4423 "Mark as unread"
- [X] I have searched open and closed issues for duplicates

### Description

There's a "mark as unread" feature on mobile, but it seems the status isn't synced to signal-desktop yet, and it's not possible to mark a message as unread on signal-desktop.

This would allow me to read messages while being on mobile/on the run, then mark it as unread and respond to it calmly with signal-desktop after I

[2020-07-27 01:49] darylstyrk opened #4424 "Single contact calls are reported only as missed"
One of my contacts can not call me. Messages are fine. The contact isn't muted and as far as I can tell they look exactly like the rest of my contacts. However, 100% of calls do not come in and I'm notified there was a missed call. I'm able to connect to the contact the other way as expected. I'm out of ideas on how to bisect the issue on my end.

[2020-07-27 05:54] cryptomilk commented on #1630
Everything moved to https://build.opensuse.org/package/show/network:im:signal/signal-desktop

[2020-07-27 07:59] speedy-10 commented on #4266
Hi there,
I' m missing that feature severly, too. Writing on a keynoard at the pc is much faster and easier.
Platform: Ubuntu 20.04.1, 5.4.0-40-generic x86_64, Desktop: Gnome 3.36.3
Signal-Desktop: 1.34.4

Regards Speedy-10

[2020-07-27 08:07] speedy-10 commented on #3877
Hi, I have installed signal-desktop like shown on https://signal.org/de/, i.e. not as snap.
It is **not** working for me with Ubuntu 20.04.1, Kernel: 5.4.0-40-generic x86_64, Desktop: Gnome 3.36.3,  signal-desktop 1.34.4

[2020-07-27 11:28] speedy-10 opened #4425 "Feature Request: Ability to download all attached files of a message with one click"
- [ x] I have searched open  issues for duplicates

---

### Bug Description

It would be nice to have a further **download option:** If I receive a message with several pictures it's awkward to save  picture by picture (especially if I would like to change the path of the files every time).

Proposal: If I select a message and select the options "..."  there could be a new feature e.g. "**save al

[2020-07-27 18:18] scottnonnenberg-signal commented on #4424
@darylstyrk Just to be crystal clear, this is the Desktop repository, and it doesn't support calls at all. Is that the problem?

Or perhaps you need to report this bug in the [Android](https://github.com/signalapp/Signal-Android/issues) or [iOS](https://github.com/signalapp/Signal-iOS/issues) repositories?

[2020-07-27 18:26] scottnonnenberg-signal commented on #3941
@denver-s Yes new logs please. If you click the links for your previous logs, you can see that they've expired.

[2020-07-27 18:27] scottnonnenberg-signal commented on #2912
@corbolais @SEE-ICT Please provide your debug logs. The specific message details are really important to help us better analyze the logs, but we need the logs!

[2020-07-27 18:29] scottnonnenberg-signal commented on #2117
@mandree Yes, with one caveat: as the message attachment is initially downloaded, it is processed based based on the detected orientation, and then the resultant file is saved.

[2020-07-27 18:31] scottnonnenberg-signal commented on #3923
@regsoft This is not a list. It's a bug on GitHub. You need to come to [this URL on GitHub](https://github.com/signalapp/Signal-Desktop/issues/3923), and click the 'Unsubscribe' button. Or turn off GitHub email notifications entirely for your account.

[2020-07-27 18:51] SEE-ICT commented on #2912
Good point! Log is here:

https://debuglogs.org/094b7ad91ede144c5840ec191aae26529ac136f4953281c17e9ef657ea60bc1e

[2020-07-27 19:03] scottnonnenberg-signal commented on #4396
@StanislawStanislaw Thanks for providing your logs. Unfortunately, that partial log will not help us. What we're looking for when we analyze encryption errors like that is the history of your instance - can we also see the last time you successfully got a message from that contact? We're looking to put together how you got from a good to a bad state.

Please provide your full log next time. Thanks

[2020-07-27 19:12] scottnonnenberg-signal commented on #4419
I'm going to close this, since we don't provide any installers for Fedora.

[2020-07-27 19:12] #4419 closed

[2020-07-27 19:16] scottnonnenberg-signal commented on #3268
@jllynch Unfortunately we could find nothing useful in your log, because it doesn't have a 'good' period preceding the 'bad' period. We have no clues how your desktop went from a good state to a bad state. Your best bet at this point is to click 'Reset session' in the top right of each of the problematic conversations, then reach out to us with a log ASAP if it happens again.

[2020-07-27 19:20] irenwell commented on #4421
Hey, guys, thanks for the help! In fact, I am not complaining (nothing was lost, and even those messages I could not download were not critical) - just wanted to make sure you know about the errors. Cheers - and good luck with your work!

[2020-07-27 19:20] #4421 closed

[2020-07-27 19:27] scottnonnenberg-signal commented on #2912
@SEE-ICT Unfortunately that log has neither your two listed messages from above, nor any mention of 'Bad MAC.' Desktop only saves three days of log data, so all of that useful information has scrolled out of the log.

Next time you report problematic behavior, please do it ASAP and include the logs so the important parts are still in the log!

[2020-07-27 19:46] SEE-ICT commented on #2912
Understood and will do.

[2020-07-27 20:52] shuchow commented on #2912
Hi, I just started getting this issue.

My Mac (27" iMac, Catalina) crashed right in the middle of a conversation.  On relaunch, it started to spit out the "Error handling incoming message" message.  iPhone app is still working fine.

https://debuglogs.org/8d82d268de6e727c4199c66f570d3d163ba225bb08a0918bfc8341792a0cf312

[2020-07-27 21:33] scottnonnenberg-signal commented on #2912
@shuchow Your computer crashed, or Signal Desktop did?

[2020-07-28 02:24] brimwats commented on #3098
I am having this issue with two contacts that use signal but not all of them. I can no longer get messages on desktop. https://debuglogs.org/f688938350ba052dc902d7efc7e0585242da03f56a4cd6c748ec1974349b0ad1

[2020-07-28 02:57] darylstyrk commented on #4424
You're correct, I need iOS.

[2020-07-28 02:57] #4424 closed

[2020-07-28 08:13] denver-s commented on #3941
OK so I've got this chat with a friend. Disappearing messages timer is set to 1 day.
This issue ALWAYS happens when I start Signal Desktop after a few days, after the messages should've been expired.

My Desktop v1.34.4-beta.1
Log: https://debuglogs.org/8373c253f9ab321b201591203974688d0a933208a5656dd449e4549be3dfd162

My iPhone 8 Plus - v3.13.2.6
Log: https://debuglogs.org/78f6c0e6cc10a08a8a5de58c

[2020-07-28 12:12] new-mikha commented on #2545
If immutable history is something the code owners are caring about - why not allow to edit with keeping editing history then? This would allow to fix typos, but still have a track of whatever's been sent. This history might even be searchable, or expandable into separate messages, etc.

[2020-07-28 18:39] An0nDev commented on #4425
In the meantime, you might have better luck asking the sender to just zip the files and send the zip.

[2020-07-28 20:43] speedy-10 commented on #4425
That doesn't work for me: I often send  some pictures (from my Android-phone) to my PC to use them there ...

[2020-07-28 21:01] scottnonnenberg-signal commented on #3098
@brimwats What can you tell us about your previous interactions with these contacts? Is there any action you can connect this behavior to? For example, did you have desktop offline for a while, and then when you started it back up you saw this? FYI, I only see the 'Over 5000 messages into the future' error for one contact in your log. I see no successful messages from that contact in your log, so

[2020-07-28 22:15] jmarthernandez commented on #4423
Could we implement this at the conversation level first?  From what I can tell none of the platforms have mark message as unread yet. There seems to be some prior art in this commit from iOS that could possibly be lifted.  I'd be happy to take a stab at it

https://github.com/signalapp/Signal-iOS/commit/3d084f958d5e034d8a1f10c7f603014ac5cf925b.

[2020-07-28 22:46] jmarthernandez commented on #4423
Slack has a popover menu when clicking on conversations which is a decent UX and could be made accessible with a hidden button for screen readers.  There is already a "..." button in the selected conversation view.  Maybe that could be shown on hover in the side bar.

<img width="317" alt="Captura de pantalla 2020-07-28 a la(s) 4 39 43 p  m" src="https://user-images.githubusercontent.com/5953350/8

[2020-07-28 23:10] putnam commented on #3098
Today I experienced a flood of these errors on the Mac app. The errors appeared in my 1:1 chats with several individuals, but they are all part of a group chat and none had been talking to me 1:1. The group chat is missing quite a few recent messages. It seems likely the group thread tried to sync to the desktop app and something went wrong, then an error was generated for every individual group m

[2020-07-29 01:32] kpcyrd opened #4426 "Deleting conversations with many messages should display progress bar or indicator"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

It's very reasonable that deleting a large amount of local data takes time. The app should display either a progress bar or a generic progress indicator so the app still feels "alive" while the data is deleted in the background. The app should not show a half-deleted conversation, I assume this happens if the co

[2020-07-29 11:23] srirambv commented on #3877
Works on Signal/1.34.4 Chrome/80.0.3987.165 Electron/8.3.4

[2020-07-29 14:56] toxpal opened #4427 "Images don't load anymore"
Searched all the issues and found exactly the same - https://github.com/signalapp/Signal-Desktop/issues/4378 - but it's closed. However, that user didn't run "production" build.

In short, if someone sends a photo to me, it works fine on Android, but desktop client keeps loading spinner forever. Started a week ago or so...

Debug log: https://debuglogs.org/66369afb17ec562706df44441dff96047811afb92

[2020-07-29 16:27] scottnonnenberg-signal commented on #4427
[code]

Is there something wrong with your connection to `https://cdn.signal.org`?

[2020-07-29 16:28] jonathanturcotte commented on #3332
My friends and I have this issue fairly regularly, where either messages will come in out of order, some messages won't be received at all, or both. It is **not** fixed by switching conversations and then going back to the original conversation. Restarting signal desktop also does not fix the issue. You can only tell something is wrong by how garbled the conversation looks, and then comparing it w

[2020-07-29 16:31] scottnonnenberg-signal commented on #4426
Related, but not quite the same: https://github.com/signalapp/Signal-Desktop/issues/2060

[2020-07-29 18:13] toxpal commented on #4427
Trying to open this URL via Vivaldi browser displays warning:

Trying to open it via Firefox doesn't work at all (server not found). Will try changing VPN...

[2020-07-29 18:19] toxpal commented on #4427
Update: disabled VPN completely. Vivaldi still gives the same error (connection not private), Firefox can connect to the server now, but displays "security risk" message. If I choose to ignore this warning and continue to site, it displays "access denied" error, but I guess it's normal?

[code]

P.S. desktop client still doesn't load images. Rebooted router and PC just to be sure...

[2020-07-29 19:41] jmarthernandez commented on #4423
I cobbled together a client side only solution for fun.  I still need to figure out how to propagate the "marked unread" event to other devices.  I added a "Mark Unread" to the `...` menu which sets `isMarkedUnread: true` on the conversation model when clicked.  It renders an empty blue notification dot if `isMarkedUnread` is true.

<img width="325" alt="Captura de pantalla 2020-07-29 a la(s) 1 36

[2020-07-29 21:05] scottnonnenberg-signal commented on #4427
@toxpal Are you receiving new messages in this new configuration? That would be the best test after changing things. Old messages are retried over time, and won't immediately retry on startup.

[2020-07-30 06:57] toxpal commented on #4427
When you say "messages", do you mean text messages or photos? I received text messages perfectly all the time, but still can't receive photos/videos (spinner is displayed forever).

[2020-07-30 07:28] toxpal commented on #4427
So I did some more tests (with multiple reboots of router and PC after every change) and here are results:

If VPN is disabled, I can access cdn.signal.org and images work fine.
If VPN is enabled, access to cdn.signal.org is blocked and images don't work. Tried using 3 different VPN servers so far, result is the same - access blocked. I'm using the same VPN provider on Android phone too, and acces

[2020-07-30 08:03] toxpal commented on #4427
So finally I got it working again after trying different VPN servers (all from the same provider). The issue is solved, but one of questions remains - is it Signal blocking IPs, or VPN provider blocking Signal...

@scottnonnenberg-signal thank you very much for your fast and prompt response regarding this matter.

[2020-07-30 15:59] snehsumant commented on #4426
Can i work on this issue ??

[2020-07-30 16:15] Mladia opened #4428 "Forwarding media to different chats"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

Ability to forward media between different chats.

### Steps to Reproduce

1. Send or receive an image.
2. Right click on it

Actual Result:
Option to only forward it in the same chat (quote)

Expected Result:
Be able to forward it to different chats (it works on mobile)

### Platform Info

Signal Version:
v1.34

[2020-07-30 16:25] scottnonnenberg-signal commented on #4426
@snehsumant If you decide to work on it, the first thing we'll want to see is visual mockups for the progress bar. We'll pass that by our designers, and once we're settled on that, you can feel free to work on the code.

[2020-07-30 16:53] danafton commented on #2424
Using latest version of Windows and android apps, I just had a message show up out of sync. Message from an hour ago is showing up in between messages from 9 hours ago.

[2020-07-30 17:11] stjornandi opened #4429 "Request: Using of default theme(system theme) (flatpak package)"
- [x] I have searched open and closed issues for duplicates

---

### Request Description

It would be nice if Signal could support the default theme(colour) of one's system.

Actual Result:
There is only a switcher for dark and light mode.

Expected Result:
A third choice for the default theme.

### Platform Info

Signal Version:
1.34.4(flatpak package)

Operating System:
Fedora 32

[2020-07-30 17:16] piramiday opened #4430 "Make message bubble wider with both image and long message"
- [x] I have searched open and closed issues for duplicates
---

### Bug description
when attaching images, most often small images, Signal makes reading a message uncomfortable by matching the text box width to the image width.
this means that messages with long lines -- that should be only a handful of lines if the text spanned the entire conversation width -- end up using only a few words per l

[2020-07-30 18:10] scottnonnenberg-signal commented on #4429
Do you believe that this is truly specific to the flatpak installation method? Or is it generic to all Linux distros?

[2020-07-30 18:36] stjornandi commented on #4429
I can't find that option in the snap/flatpak/nix installation, although it seems like it exists in Mac OS(#4098).

[2020-07-30 18:53] scottnonnenberg-signal commented on #4429
Today's beta introduces OS theme support for all platforms: https://github.com/signalapp/Signal-Desktop/releases/tag/v1.34.5-beta.1

Here's how to install the beta: https://github.com/signalapp/Signal-Desktop#install-the-beta

[2020-07-30 18:58] stjornandi commented on #4429
I guess i was a bit to late with my request….
Anyway, thanks for Signal!

[2020-07-30 18:58] #4429 closed

[2020-07-30 21:23] SamWWJD420 commented on #2882
Hey Signal, PLEASE notice this? :) Thank you!

[2020-07-31 07:21] FlorianAlexander commented on #2912
Just after opening Signal today i was getting the Bad Mac error for one contact aswell. It was working fine yesterday and i exchanged plenty of messages. no Crash noted before.

Here is the debug log: https://debuglogs.org/20f03627a35d41c509d0d9eb321dfefd88c75746c5496d44d9d1f9f8df939bef

[2020-07-31 07:26] WebMechanic commented on #3946
For the record: installed Signal today and this also happens with an Android 10 device (Nokia 3.2)
Only a random list of (7) contacts is shown.

[2020-07-31 07:34] toxpal commented on #4427
I'm reopening because I'm not sure why blocking keeps re-occurring again and again. Every time I change VPN server, it works for a few hours, then images stop working again because connection to cdn.signal.org gets blocked. Then I have to use another VPN server (which I never used yet), and it works again for a few hours. Until... connection to this particular domain is blocked again.

I really do

[2020-07-31 16:20] WebMechanic commented on #3946
Updated previous post and included version information.

Meanwhile: After having some new chats with **other contacts** than the random list above on my Phone, these *new* conversations and attachments now showed up on the PC version. Previous SMS however are not synched toPC but are present on my phone.

I also sent a new message to one of the "random" contacts from the initial import and it was

[2020-08-01 09:35] #4427 closed

[2020-08-01 12:13] benjaoming commented on #4249
It's not a fingerprint that's added to apt-keychain, it's a public key. This makes apt able to verify the metadata of the repository, which specifies the checksums of the packages downloaded from `updates.signal.org`. This would guard you against the site being hacked and publishing unauthorized metadata about packages. If there is a mismatch between the repository metadata and the packages listed

[2020-08-02 07:52] janvlug commented on #4422
I tried to find the messages, but could not find them. Maybe I was mistaken, maybe they did appear after a restart of Signal Desktop. Anyway, as I cannot provide more detailed information, nor reproduce this issue, feel free to close it. The debug log states several errors related to a key change. The contact indeed changed their phone, but that was on 6 July.

[2020-08-02 10:53] sob727 commented on #4054
Hi,

Similar observation here:
Debian bullseye/testing
Signal 1.34.3

Signal uses 300MB+ of memory on startup, and >2.5GB after a couple days.

[2020-08-02 19:16] Myzel394 opened #4431 "Program is completely unusable because the display glitches"
- [ x] I have searched open and closed issues for duplicates

---

### Bug Description

The display is completely glitched and the QR code can't be scanned. See screenshots for an example

### Steps to Reproduce

1.  Install Linux Mint Cinnamon
2.  Install Signal desktop
3.  Start Signal desktop

Actual Result:

The display of the program is completely glitched.

Expected Result:

No glitches

###

[2020-08-02 19:22] lawssy opened #4432 "Signal on windows 7 has no sound options"
Hi, I'm wondering why my signal desktop doesn't have any sound options under notifications. My buddies which is using signal has a tick box to enable or disable sound notification. Is it because I'm using windows 7.

Please refer to the attached photo.

Thanks

![signal](https://user-images.githubusercontent.com/69121538/89130577-c86fd800-d4ba-11ea-9a7f-d0425faa238f.JPG)

[2020-08-02 22:45] shuchow commented on #2912
Computer did.  I occasionally get a kernel panic with a problematic app.  Signal was open at the time.

[2020-08-03 00:50] e-zk commented on #4306
I have not tired it myself, but have you looked into FreeBSD's Linux Binary Compatibility: https://www.freebsd.org/doc/handbook/linuxemu.html

[2020-08-03 08:50] Energiereaktor opened #4433 "Request to rebuild the message details page with css grids instead of html tables"
- [X] I have searched open and closed issues for duplicates

### My Idea

I was changing something on the message detail page and thought it would be easier to maintain the code and add features, if the message detail page uses css grids instead of html tables. It would be much easier to shift things around and change the layout of the page. An advantage of css grids over html tables is that every

[2020-08-03 18:34] josh-signal commented on #4432
Looks like it's because the code disables it for that version of Windows: https://github.com/signalapp/Signal-Desktop/blob/development/ts/types/Settings.ts#L6 happened in this commit: https://github.com/signalapp/Signal-Desktop/commit/ecf23b6b2

We might be able to enable that and notification grouping again since I believe the bugs have been resolved. A pull request along with some testing on Win

[2020-08-03 19:12] GlenMerlin opened #4435 "Embeds/previews have the link in all caps"
- [x] I have searched open and closed issues for duplicates

---

### Bug Description

When a link that signal previews is sent (imgur, reddit, youtube etc.) the preview shows the link in all caps

### Steps to Reproduce

1.  Find a link that works (I personally used https://imgur.com/gallery/ZoFdaVg as my test but other links work as well)
2.  Wait for the preview to load and send it either to so

[2020-08-03 21:01] josh-signal commented on #4435
Thank you for your feedback. I'm going to close this as it's not a bug, this is by-design: https://github.com/signalapp/Signal-Desktop/blob/7b5fe0cdbf4521ffb2a136a996cc05d780dd7927/stylesheets/_modules.scss#L924

[2020-08-03 21:01] #4435 closed

[2020-08-03 23:11] Gieted opened #4436 "Can't copy pictures via context menu"
- [X] I have searched open and closed issues for duplicates

---

### Bug Description

Pictures can't be copied using right click (pretty sure it worked a few updates before).

### Steps to Reproduce

1.  Click on a picture to view it full screen
2.  Right click on it

Actual Result:

Nothing happens

Expected Result:

Context menu with "copy" option should appear.

### Platform Info

Signal Versi

[2020-08-04 07:30] acolad commented on #3332
Hi all !

Just wanted to chime in to inform that I also regularly have to notice that Signal desktop definitely doesn't show all messages. Fortunately, the conversations are at least always complete on my android device (at least for now).

I just received a Signal from my wife 5 minutes ago and launched Desktop app to answer her because I had to write quite a lot of text and noticed the message I

[2020-08-04 08:07] marekciupak commented on #3332
👋 It would be nice to get some update from official members here. To me this kind of issue is quite critical (certainly much more important than introducing new functionalities) and I would like to know what priority it has on the project roadmap.

I try to convince as many friends as possible to use Signal but some of them are complaining about the realibilty of the app. Knowing the priority of s

[2020-08-04 08:28] acolad commented on #3332
For sure !

[2020-08-04 08:40] Mushoz commented on #3332
I wholeheartedly agree. I've had new users that I introduced to Signal ask me about missing messages on their desktop. When I told them it was a known bug for over a year now, I've had multiple of those people stop using signal and swapping back to Whatsapp, forcing me to use Whatsapp to communicate with them as well. Due to this, I've stopped recommending Signal to new users that I know use their

[2020-08-04 08:48] akorb commented on #3332
I have to agree as well.
A few years ago I tried many messaging apps and the big reason why I didn't choose Signal is because the disappearing of messages. For me the main task of a messaging app is to organize messages. Even if the security and privacy concept is great, I don't want to use it when I lose messages on a regular basis. What is unfortunate, because otherwise I like signal very much.

[2020-08-04 12:40] dagguh opened #4437 "Play MOV files in app"
- [X] I have searched open and closed issues for duplicates

<details>
<summary>searched issues</summary>
I didn't find any issues for MOV.
I found a mention of video-support in #2217:

But MOV files do play in Chromium
</details>

### Feature Request Description

Play MOV video files in the Signal Desktop app.

### Steps to Reproduce

1.  send [a MOV file](https://file-examples-com.github.io/uplo

[2020-08-04 16:36] maqp opened #4438 "Characters are not rendered properly on OS side."
### Bug Description

Signal's text in GNOME is not rendered properly, it only shows squares.

### Steps to Reproduce

No particular steps.

### Screenshots

Context menu for Signal's tray icon:

![](https://i.imgur.com/pnAk0m3.png)

Selecting an attachment to send:

![](https://i.imgur.com/4Swvrwu.png)

### Platform Info

**Signal Version:** 1.34.4 (Signal Desktop)

**Operating System:** Fedora 32

[2020-08-04 21:10] afiaka87 commented on #1208
It might be useful to make this clearer near the description of the "Import Contacts" functionality. I'm aware you probably do this for privacy reasons, but it's definitely one of those things you're used to coming from a platform like iMessage, etc.

Not trying to be critical btw. I understand that the wording "Import Contacts" implies just that, and not that messages will show up. But for some r

[2020-08-04 21:49] #4422 closed