[2022-02-18 22:27] EvanHahn-Signal commented on #5749
There are three relevant unread indicators here:

1. In the system tray, you'll see a number badge.
2. In the chat list (AKA the left pane), you'll see a number badge.
3. In the message timeline, you'll see something like "2 unread messages".

Are all of these incorrect for you? Or just one of them?

[2022-02-18 22:28] EvanHahn-Signal commented on #5772
Thanks. We'll take a look at this.

[2022-02-19 00:31] ngleb commented on #5749
1 and 2 are working incorrectly. There's also new messages counter in the window title.

3 won't disappear until I switch conversations, so it seems irrelevant here.

Here's what I see:
![signal](https://user-images.githubusercontent.com/46774/154778053-814302b7-4433-492f-afff-99ffd22b466e.png)

1 and 2 would disappear as soon as I open Signal window before version 5.26. Since version 5.26 it take

[2022-02-19 18:10] Eagle3386 commented on #1603
How to vote there when there's no real voting feature & voting for features isn't respected by the developers?

Besides, I don't even get the benefit of breaking the "typical developer's dream of 1 single ALM system to handle all developer related tasks" by using GitHub for dev-stuff only & forcing users to use an (quite awful regarding UX, to be honest) community website somewhere else.

[2022-02-19 18:25] DidierLoiseau commented on #1603
Well I noticed there is a like button there but then I have no idea how the devs can use this information TBH.

And I don’t know either how they can manage feature requests properly like that, but this one is closed so we don’t have much choice.

[2022-02-19 19:43] p-himik commented on #5749
Same here, and I've been experiencing this for quite some time now. Ubuntu 21.04, 21.10, and now an alpha of 22.04 - doesn't make a difference.
Two things worth noting:
- The unread messages count badge in the chat list disappears after 10 seconds or so, while the "N Unread Messages" divider in the timeline stays there indefinitely (I think it disappears when either I send a message or the other p

[2022-02-19 19:44] p-himik commented on #5749
This issue, while being quite old, seems relevant: #3818

[2022-02-19 20:27] Dale-CDL commented on #5719
I installed Debian Testing Gnome with Wayland yesterday. I'm using an Nvidia 1650 with 510.47 binary.  I used version 5.32.0 of the Flatpak of Signal all day with no issues.  I booted my desktop today and Signal opens to a black screen.  None of the command line options I have tried in the above comments do any good.
The strange thing is, nothing changed on my computer.  I didn't install any updat

[2022-02-19 20:58] dennisameling commented on #3410
Hi all,

Update regarding Linux ARM64 support! A bunch of (native) dependencies have been updated now which makes it _much_ easier to build Signal on Linux ARM64. Especially `ringrtc` and `libsignal-client` now have official builds provided by the Signal team:

- [x] [ringrtc](https://github.com/signalapp/ringrtc/issues/40)
- [x] [libsignal-client](https://github.com/signalapp/libsignal-client/pul

[2022-02-19 22:28] p-himik commented on #5749
Another potentially useful observation - when the other person starts typing, the "N Unread Messages" divider in the timeline disappears almost immediately, and the unread messages count badge in the chat list disappears within a couple of seconds after it.

[2022-02-20 10:38] ngleb commented on #5749
I do have more than one conversation, and switching conversations doesn't help. The only thing that works is waiting for about 10 seconds, and making sure that Signal is in focus and some action was performed (e.g. move a cursor or press any button like Ctrl).

If I close Signal window before messages marked as read, then they will stay unread indefinitely.

[2022-02-20 23:07] Altonss opened #5800 "Broken sticker popup"
### Bug Description

The sticker popup behavior is slightly broken.

### Steps to Reproduce

1.  Open a conversation
2.  Click on a sticker
3.  A popup for this sticker pack opens

Actual Result:

There is unnecessaryhorizontal scrolling and the rounded corners are lacking on the bottom

Expected Result:

Just vertical scrolling (on big enough screens) and homogeneous rounded corners (that is not

[2022-02-21 02:13] protist commented on #2442
This works fine for me now without `--disable-gpu` (although there are plenty of different systems and comments represented in this thread). My system details are [above](https://github.com/signalapp/Signal-Desktop/issues/2442#issuecomment-406154200), but my versions are now:
[code]

[2022-02-21 13:36] mikeooi opened #5801 "Can't highlight (and then copy) more than 15 messages at a time in mac"
### Bug Description

As in title

### Steps to Reproduce

Obvious

Actual Result:

As in title

Expected Result:

As in title

### Screenshots

N/A

### Platform Info

Signal Version: 5.32.0

Operating System:

macOS 10.13.4

Linked Device Version:

15.1 iPhone

[2022-02-21 13:39] major-mayer opened #5802 "Visual issues with incoming voice message in reply to a long message"
- [x ] I have searched open and closed issues for duplicates

- [x ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description
When i receive a voice message that is a answer to a previous message from me it looks very weirdly scaled to me.
I think the reason for this is, that Signal forces the answer to be at maximum 2 lines long. That's why the

[2022-02-21 16:23] maysara commented on #5666
I second the need for dependencies (really, please...), I use singal inside a debian container, and almost every updata (max every second update) I run into trouble due to missing dependencies, currently I install :

gnupg \
apt-transport-https \
libasound2 \
ca-certificates \
libx11-xcb1 \
libcanberra-gtk-module \
libcanberra-gtk3-module \
libpulse0 libdrm2 \
libice6 \
libsm6 \
libgbm-dev \
libxs

[2022-02-21 16:30] maysara commented on #4040
now on v. 5.32, the trick is to use --in-process-gpu :/

[2022-02-21 16:34] maysara commented on #3281
now on v. 5.32, the trick is to use --in-process-gpu :/

[2022-02-21 18:53] CaviaPorcellus commented on #5604
Still bug is still present in version 5.32.0. Not sure if I should open a new, identical report, or if this should be reopened.

[2022-02-22 07:23] fat-tire opened #5803 ""Disappeared" message/user remains in conversation list even after expiring"
### Even after expiring, old message/correspondent is visible on left view of conversations.

Final message set to expire after a week is still visible as the "last message" in the user list on the left (English).

On the Android version of Signal, after a message expires and is deleted from the chat, that message does NOT appear on the left side which shows the list of recent users along with the

[2022-02-22 07:53] hiqua commented on #5803
I can't reproduce this, my message disappears from the left pane as soon as it disappears from the main conversation. I've tried to switch to another conversation before it expires, but same.

I've tried with a timer of 30s though, can you confirm that you experience this bug no matter the delay you set? It's unlikely to be specific to the 1w timer, but we never know.

https://user-images.githubus

[2022-02-22 17:47] FredMa01 commented on #5766
I don't have anymore errors with the version 5.32 of Signal !
Thanks !

[2022-02-22 17:47] #5766 closed

[2022-02-22 18:10] indutny-signal commented on #5766
Awesome. Glad to hear it!

[2022-02-22 22:30] indutny-signal commented on #5604
Unfortunately, I don't believe we could do much about it on our side. The rendering is provided by Electron/Chromium so it is completely out of our control. Sorry I couldn't help!

[2022-02-22 22:46] indutny-signal commented on #5803
@fat-tire similarly to @hiqua I'm unable to reproduce this. Does this happen to you consistently? Do you think you could record a video for us to demonstrate what it looks like? This definitely shouldn't happen, and we would like to make sure it works as designed for you!

[2022-02-22 22:48] indutny-signal commented on #5801
Sorry, but this is expected limitation of our UI system. We "virtualize" the list of messages and display only a few of them on the screen to improve CPU usage, this is why you cannot copy the contents of a lot of messages when you scroll to the top of the conversation.

Sadly, the only viable alternative is to copy the contents of a few messages at a time. Sorry again!

[2022-02-22 22:48] #5801 closed

[2022-02-23 00:19] MoritzLerch opened #5804 "Shortcut for closing Signal"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

A lot of other apps support the shortcut-command `Ctrl` + `W` or `Ctrl` + `Q` to close the app. I looked through the source code of Signal Desktop and found something [corresponding](https://github.com/signalapp/Signal-Deskt

[2022-02-23 00:20] indutny-signal commented on #5749
@ngleb sorry to keep coming to you with additional questions, but if you'd try to scroll the message list in the window - would it immediately mark them as read or would you still see a 10 second delay? We have a code that should mark visible message as read when the window is active (i.e. mousemove event or other events), when conversation is scrolled, and when new messages are added.

[2022-02-23 00:26] indutny-signal commented on #5800
Sorry about that. Thanks for letting us know!

[2022-02-23 00:48] indutny-signal commented on #5802
Thanks for reporting it. We will look into it.

[2022-02-23 00:52] indutny-signal commented on #5717
@elmomalmo could you try starting the app with `/Applications/<application>.app/Contents/MacOS/<application> --lang=cy` and see if it works for you? This is the way I tested this change, and it appears to be working fine on my end with new lproj files being placed alongside the ones provided by Electron natively.

[2022-02-23 03:42] digiter commented on #5652
The latest versions no longer have issues for me. Thanks for the fix!

[2022-02-23 05:47] fat-tire commented on #5803
Sure-- I can only confirm it happened on a message I left for a friend which was received but never read (it has the two check marks but they are not filled in).  It was set to expire after one week, yet I am still looking at it right now-- it is still in the list, the last message is still readable, and the date listed is "Feb 12", so definitely over a week ago.  This message does NOT appear in t

[2022-02-23 12:04] Meteor0id opened #5805 "Desktop might ne incorrectly reporting some contacts as unavailable to form a new group with"
- [ ] I have searched open and closed issues for duplicates

- [x
] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

https://community.signalusers.org/t/why-are-contacts-greyed-out-when-creating-a-new-group/42099

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Plat

[2022-02-23 16:19] v6 commented on #522
I'd like to see this, too, especially since "my phone dropped in the ocean" is a real thing.

[2022-02-23 16:38] jayabrown commented on #5774
Having the same issue.  Always loads thousands of messages and it takes 20 min to start on desktop.

![Screen Shot 2022-02-23 at 10 40 48 AM](https://user-images.githubusercontent.com/3712265/155353858-04bb7c66-f894-4b6e-9df3-faabf86b2667.png)

Debug log:
[code]
https://debuglogs.org/desktop/5.32.0/8e827569388801eb51c3bcb7f280eb201f74c3f2aa174202fc57b85d57af8d95.gz

[2022-02-23 17:58] real-or-random commented on #4252
Unfortunately the recent change to show absolute timestamps instead of relative timestamps (even for recent messages) made this issue appear worse. I see AM/PM all the time now.

[2022-02-23 18:42] scottnonnenberg-signal commented on #5799
What version of Signal Desktop are you running? In 5.31 we made a change to honor the 'prefer contact photos' setting from your phone. What phone are you using?

Can we get a debug log from phone and from your desktop?

You can double-check that everything is as it should be by flipping the option back and forth on your phone, then going to `Preferences -> Chats -> Import Now` to get the latest da

[2022-02-23 18:50] esysfound commented on #5799
Hi - thanks for writing. All latest versions. Desktop 5.32,0 Phone is 5.32.7
Have done the flipping the option bit-no change

How do I create debug logs on the desktop - have just submitted a phone log?

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, February 23, 2022 7:42 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-02-23 18:58] esysfound commented on #5799
I think I figured it out - Desktop Log

url
"https://s3.amazonaws.com/signal-debug-logs"

fields

bucket
"signal-debug-logs"

X-Amz-Algorithm
"AWS4-HMAC-SHA256"

X-Amz-Credential
"ASIA3GTTN33EACWPAXFW/20220223/us-east-1/s3/aws4_request"

X-Amz-Date
"20220223T185539Z"

X-Amz-Security-Token
"IQoJb3JpZ2luX2VjECMaCXVzLWVhc3QtMSJIMEYCIQCRP8AQ4wOU8a26Ulsh6sNqUAIaQgP36GjH7pQDsGbUiwIhAKM7XanHmz9p2E/GMpGc2

[2022-02-23 19:17] scottnonnenberg-signal commented on #5799
You've done something very strange - that's not a debug log. Go to `View -> Debug Log`, upload the log, and then click `Copy Link` and paste that URL here. It would also help if you came to the GitHub website instead of replying via email.

[2022-02-23 19:53] esysfound commented on #5799
https://debuglogs.org/desktop/5.32.0/6e0f8cc568a97c0b475342d5a6ab2f36ddf0e4423bc0c3adc6f3db62d2dccf68.gz

Well I replied to your email here.

It is easier for me than Github but I will have a look

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, February 23, 2022 8:17 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-02-23 19:55] esysfound commented on #5799
Ok we can continue here

[2022-02-23 20:24] scottnonnenberg-signal commented on #5799
A phone log will be useful as well, since this feature requires interaction between your Desktop and Phone. Thanks!

[2022-02-24 02:27] indutny-signal commented on #5803
@fat-tire thanks for giving it another try! If you'll see it happen again - could you try recording the message timestamp ("..." next to the message, and then More Info). Thanks!

[2022-02-24 04:24] indutny-signal commented on #4252
@real-or-random could you try the latest 5.34.0-beta.1 release and see if it is any better, please?

[2022-02-24 04:39] indutny-signal commented on #5774
@jayabrown you are getting a lot of read receipts from one contact's phone as well. Do you think you could try starting signal with `--enable-dev-tools` and running this snippet in Dev Tools' console:

[code]

It should give you the title of the contact that sending the receipts to you. If you could ask them to send a debug log from their phone - it would be very helpful in investigating it!

[2022-02-24 05:24] ngleb commented on #5749
@indutny-signal
Scrolling doesn't help. I still have to wait the same 10 seconds. Sometimes less, sometimes more.

By adding new messages, do you mean new messages from my contact or from myself? Because adding new messages from myself (i.e. replying) also doesn't help. For example:

1) I received two new messages,
2) Open Signal, messages are short so I read them quickly. They are marked as unrea

[2022-02-24 10:26] real-or-random commented on #4252
@indutny-signal No, it's the same:
![image](https://user-images.githubusercontent.com/1071625/155506408-d9764ac5-1981-4634-8a32-271aada59806.png)

[2022-02-24 11:50] elmomalmo commented on #5717
@indutny-signal, thank you for looking into this.  Running that command renders Signal using the Welsh language. Hopefully that helps you.

For what it is worth, I think that this would have worked before https://github.com/signalapp/Signal-Desktop/commit/65e107fba57a8f1a8b3948163b4bffa0c4195e3a

The issues isn't that Welsh isn't packaged and available in the application – it is there.

The issue

[2022-02-24 12:04] gromeck commented on #3961
The same is true for the dialog to attach files in the chat. It also doesn't remember the last location, which is really annoying.

[2022-02-24 12:34] esysfound commented on #5799
How do I generate this?  Tell me what you need please and how.

[2022-02-24 12:50] esysfound commented on #5799
Do you mean only calls or a complete logcat? - that I can do...

[2022-02-24 14:12] p-himik commented on #5749
I have a hypothesis - perhaps it has something to do with syncing such statuses with other clients logged in with the same account.
In my case, I have an Android client. When I receive a message, I get a notification both on my PC and on my phone. When I read it on the PC, the behavior described in this issue can be seen. And during that whole time, the notification light on my phone keeps blinkin

[2022-02-24 16:34] jamesjrwood commented on #5652
I am on Signal version 5.33.0 and I am experiencing this issue.  My system is a 2020 Macbook Pro M1 13".  I am running Monterey 12.2.1.  The app was in a bad state where I couldn't get the DebugLog menu to come up, sorry.  I can reliably reproduce this though, all I have to do is wait for the laptop to sleep and when I wake it the Signal Renderer will me at 100% cpu and unresponsive.

[2022-02-24 16:51] jayabrown commented on #5774
I wasn't able to figure out how to get the Dev Tools console to show, but I followed what the above user did, scrolled through chats til I found a group conversation request from years ago that had been left in the `Delete`, `Block` or `Accept` state.  I deleted and now Signal loads instantly 👍🏼

[2022-02-24 17:12] indutny-signal commented on #5774
Gotcha. Thanks for doing that!

[2022-02-24 17:12] #5774 closed

[2022-02-24 17:18] indutny-signal commented on #5652
@jamesjrwood gosh, sorry about that! Next time it happens - could you try opening Activity Monitor (I presume you already have it open since you report large CPU usage), selecting the offending process and clicking "i" button on top:

<img width="751" alt="image" src="https://user-images.githubusercontent.com/79877362/155574217-a36ba48a-6bd3-4381-9c9d-e406230d1036.png">

Then click "Sample" button

[2022-02-24 17:22] indutny-signal commented on #5799
@esysfound we have a support page that describes the process: https://support.signal.org/hc/en-us/articles/360007318591-Debug-Logs-and-Crash-Reports . Hope it helps!

[2022-02-24 17:23] jamesjrwood commented on #5652
No problem, I’ll grab this data for you the next time the issue arises.

On Thu, Feb 24, 2022 at 9:18 AM Fedor Indutny ***@***.***>
wrote:

[2022-02-24 17:25] indutny-signal commented on #5717
Gotcha. We will come up with a fix for this soon. Sorry again!

[2022-02-24 18:28] indutny-signal commented on #5772
@rootless4real I'm sorry it took us so long to go back to you. We are looking into your logs and it would help us to know the sent timestamps for the messages that are missing. Do you think you could send us those, please?

[2022-02-24 18:54] indutny-signal commented on #2735
@protist we have upgraded Electron once more. Are you able to reproduce it on 5.33.0 or 5.34.0-beta.1?

[2022-02-24 19:36] esysfound commented on #5799
Submitted phone log  direct via Signal Phone App as per  instructions.  (pretty sure I did this yesterday)

Again the Desktop link is

https://debuglogs.org/desktop/5.33.0/5ababa879599c847cd928bbd028f82878553118175c836c79fbd42ca9b8ef73a.gz

[2022-02-24 19:37] esysfound commented on #5799
Did not mean to close

[2022-02-24 19:43] indutny-signal commented on #5749
@ngleb  This is very weird...

When you say "They are marked as unread" what do you exactly mean? Could you provide screenshots to help us understand what's exactly going on?

[2022-02-24 19:57] scottnonnenberg-signal commented on #5799
@esysfound We don't get your phone log unless you provide the link to us here.

[2022-02-24 20:21] jamesjrwood commented on #5652
Here is the spindump of the Signal Renderer process, as requested @indutny-signal.
[Sample.of.Signal.Helper.Renderer.txt](https://github.com/signalapp/Signal-Desktop/files/8135497/Sample.of.Signal.Helper.Renderer.txt)
.

[2022-02-24 20:26] indutny-signal commented on #5652
Thanks!

[2022-02-24 21:11] indutny-signal commented on #5652
For posterity, here is the symbolicated spindump: https://gist.github.com/indutny-signal/04f9c35ba1a29571dd96d7211e6bbf9e

[2022-02-24 21:13] indutny-signal commented on #5652
@jamesjrwood could you send your debug log from the desktop please?

[2022-02-24 21:15] jamesjrwood commented on #5652
Here is the DebugLog from my desktop signal client @indutny-signal
[debuglog.txt](https://github.com/signalapp/Signal-Desktop/files/8136432/debuglog.txt)
.

[2022-02-24 21:21] indutny-signal commented on #5652
I just realized that this is the same sample as posted by @kinoroy above. Would you mind collecting the sample when this will happen to you again and send a fresh debug log after that, please?

[2022-02-24 21:22] jamesjrwood commented on #5652
you know what - i was looking at the other spindump in this thread and i think i got my sample mixed up with the one i downloaded from this thread.  Here ill reupload.
[Sample of Signal Helper (Renderer).txt](https://github.com/signalapp/Signal-Desktop/files/8136469/Sample.of.Signal.Helper.Renderer.txt)
.

[2022-02-24 21:30] rootless4real commented on #5772
Well it just happened again. From a different user this time.  The timestamp on that one is 12:27 GMT-7.

Desktop client - not updated to latest: https://debuglogs.org/desktop/5.32.0/2a0cd95fb267a99f77cbd9f8dbd3de28c301dbf0ccbb79a430135c3731817791.gz

Desktop client - latest: https://debuglogs.org/desktop/5.32.0/2a0cd95fb267a99f77cbd9f8dbd3de28c301dbf0ccbb79a430135c3731817791.gz

Android client: h

[2022-02-24 21:39] indutny-signal commented on #5772
@rootless4real thanks for that. Could you also send us the numeric timestamp (large number starting with 1...).

[2022-02-24 21:42] indutny-signal commented on #5652
Thanks! Here's the symbolized spin dump: https://gist.github.com/indutny-signal/2e0e24355ede23ed6edbbcc53239517b

[2022-02-24 22:03] indutny-signal commented on #5652
Oh, I think I know what's going on. Do you have VPN enabled/installed on your macOS machine?

[2022-02-24 22:42] jamesjrwood commented on #5652
Yes, my laptop has Cisco AnyConnect installed.  I think the cisco anyconnect applicaiton has been in a running state, but not a connected state (active vpn connection) when this issue occurred.

[2022-02-24 22:44] indutny-signal commented on #5652
I see now. There is an Electron bug that should get fixed with the next beta release, and then eventually a production release. Please stay tuned, I expect it all to go live next week.

[2022-02-24 22:53] ngleb commented on #5749
@indutny-signal it's the same as above (https://github.com/signalapp/Signal-Desktop/issues/5749#issuecomment-1045430217) except that a new messages are typed in and sent by me.

By "marked as read" i mean the new messages counter in the left pane and and in the tray icon. It won't disappear.

[2022-02-25 08:41] cryptomilk commented on #1630
I was finally able to build nodejs-electron and signal-desktop for Fedora.

https://build.opensuse.org/package/show/network:im:signal/signal-desktop

[2022-02-25 09:02] melonmouse commented on #1630
cryptomilk, thanks for the updates and the great work! I tried to install signal-desktop from the fedora rawhide repo to help testing, but it is not there yet. Any idea when the package could appear?

[2022-02-25 09:42] cryptomilk commented on #1630
I can see it:

https://download.opensuse.org/repositories/network:/im:/signal/Fedora_Rawhide/x86_64/signal-desktop-5.33.0-4.1.x86_64.rpm

[2022-02-25 10:36] danielmader commented on #1758
I have donated once, and quite a lot so, but the difficulties to use Signal on non-DEB Linux distributions annoy me so much that I am no longer recommending this to anyone. Much small projects with a lot less funding do a much better job in packaging their app.

[2022-02-25 11:56] piotr-dobrogost commented on #1630
@cryptomilk
I guess opensuse.org is not the official source of Fedora's packages.
Is Fedora using some services provided at opensuse.org?
Is there any process in motion to have this package available through official Fedora repository?

[2022-02-25 12:06] cryptomilk commented on #1630
If you want to maintain the packages in Fedora, that would be great :-)

[2022-02-25 12:08] aklapper commented on #1630
As written before, https://github.com/luminoso/fedora-copr-signal-desktop/ exists and maybe folks could sync with luminoso to avoid duplicating efforts for no good reasons.

[2022-02-25 12:23] cryptomilk commented on #1630
This package is not allowed to build in COPR for legal reasons.

[2022-02-25 12:30] dreua commented on #1630
In copr? Can you cite a source for that? I could imagine it's a problem in Fedora Main repsoitories but Rpm fusion and copr should be way more relaxed.

[2022-02-25 12:31] cryptomilk commented on #1630
https://docs.pagure.org/copr.copr/user_documentation.html#what-i-can-build-in-copr

[2022-02-25 12:38] cryptomilk commented on #1630
Btw. if you go to:

https://copr.fedorainfracloud.org/coprs/luminoso/Signal-Desktop/

Installation Instructions

⚠️ Before proceeding

* If you're on OpenSUSE, please migrate to [obs network:im:signal](https://build.opensuse.org/project/show/network:im:signal) instead of using this Copr
* Consider using [Signal's Flathub release](https://flathub.org/apps/details/org.signal.Signal)

[2022-02-25 12:41] cryptomilk commented on #1630
I think 1. is true for Fedora as soon as we have Fedora 36 beta out. Another option is that people start maintaining the required packages in Fedora. I already did all the work including getting ffmpeg into Fedora.

https://src.fedoraproject.org/rpms/ffmpeg/
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/Q4ZYYBTEP2ODUI6KV77JUOB4QZG2BTPD/

[2022-02-25 13:39] dreua commented on #1630
I stand corrected about what's allowed to build in copr, thanks. In practice it seems that those rules are not always enforced :thinking:

[2022-02-25 17:12] ZakDank commented on #5005
Can also confirm, disabling FXAA in Nvidia control panel fixed the issue for me.

[2022-02-25 18:49] tinyboxvk opened #5806 "Signal Desktop crashed after showing blue screen within the app"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Signal Desktop crashed after showing blue screen within the app.

### Steps to Reproduce

Unknown.

Actual Result:

A blue screen filled the application window out of the blue. Moments later it crashed.

Expected Result:

Ap

[2022-02-25 20:34] dennisameling commented on #1636
Just wanted to inform folks here that I'll have to stop supporting Signal 32-bit.

Over the last few months, my main focus was to get Signal to work on Apple Silicon and Windows arm64. The main chunk of that work was to get their native dependencies like [ringrtc](https://github.com/signalapp/ringrtc/commit/142cbdc43df92afd647bd436ba2a861340e8e9a0) and [signal-client](https://github.com/signalapp/

[2022-02-25 22:29] rootless4real commented on #5772
Is there any way to get those to display or be accessible in the client?

[2022-02-25 22:30] indutny-signal commented on #5772
@rootless4real they should be visible in your Desktop client:

<img width="326" alt="image" src="https://user-images.githubusercontent.com/79877362/155811863-e6962fba-7552-400e-ae3d-d265ccaa3ac4.png">

if you are on iOS/Android I believe you can tap and hold on the timestamp to copy the numeric value to clipboard.

[2022-02-26 12:08] esysfound commented on #5799
[https://debuglogs.org/android/5.32.14/db15c1b75e1015061ef0eb8c3c2722b2a354e96b082b7a971baa023d436d2824](url)

[2022-02-26 12:55] daveseff commented on #1965
Welcome to 2022. Still no default tray support. :(

[2022-02-26 16:05] sesse commented on #2721
I'm seeing the same problem under Linux. But I don't seem to have a way to open up developer tools (there's no Developer Tools in the menu).

[2022-02-26 16:33] hiqua commented on #2721
@sesse start it with `signal-desktop --enable-dev-tools`

[2022-02-26 16:42] sesse commented on #2721
Thanks! Except console.log() is broken. It just prints “undefined” even for hello world.

[2022-02-26 19:59] Sorinaki commented on #1630
Even an installable .tar would be a solution - heck, even providing the .deb that can be alien-ated is better than saying "add this Ubuntu repo and gtfo"

[2022-02-27 10:33] 22-all commented on #4925
I can also confirm video orientation problems as follows.
Caller: signal-desktop 5.33 (on Linux). Video of caller (self) is rotated 90 degrees counterclockwise in the desktop client.
Callee: signal on Android. Video of caller is similarly rotated 90 degrees counterclockwise.

signal-desktop is on a 2-1 laptop. Rotating the laptop by 90 degrees clockwise causes the caller video to be correctly disp

[2022-02-27 14:51] joeri-juramento commented on #5766
- [X] I have searched open and closed issues for duplicates (and found this closed one and extended on it).

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Signal crashes on launch, same error.
[code]

### Steps to Reproduce

1.  Start Windows and log in.
2. Crash happens (Drive with default Downloads path is still locked.)

I've

[2022-02-27 14:52] joeri-juramento commented on #5750
- [X] I have searched open and closed issues for duplicates (and found this closed one and extended on it).

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Signal crashes on launch, same error.
[code]

### Steps to Reproduce

1.  Start Windows and log in.
2. Crash happens (Drive with default Downloads path is still locked.)

I've

[2022-02-27 14:56] joeri-juramento commented on #5766
FYI: https://github.com/signalapp/Signal-Desktop/issues/5750#issuecomment-1053578978
Because of the relation of locked drives either by TrueCrypt or BitLocker.
(Moved my first post as #5750 is still open at moment of writing.)

[2022-02-27 14:59] joeri-juramento commented on #5750
@PeterTrischberger I stumble on the same crash. Any chancee you unlocked a drive in those 2 to 4 hours?

[2022-02-27 22:55] grrrrr commented on #5309
closing as I can no longer reproduce on newer versions of signal-desktop

[2022-02-27 22:55] #5309 closed

[2022-02-28 08:38] Septa9 commented on #1636
Hi Dennis,

it's a pity that you have so stop supporting Win32 signal, but I understand your reasons. Thanks a lot for all the work you've done in the past!

[2022-02-28 09:16] praetp commented on #5300
Still happening IMHO
Signal 5.30.0

[2022-02-28 10:46] wadid opened #5808 "How to import a backup from android into the Desktop app?"
I just made a fresh install of Signal Desktop. But now all my old chats from the phone are not shown there. I made a backup on the phone and transferred it on my computer. Unfortunately I can't find a function in Signal desktop to import the backup. Is there a way to restore the chats from the phone on the Desktop version?

[2022-02-28 11:03] hiqua commented on #5808
No, this is a feature request: https://community.signalusers.org/t/message-history-sync-for-newly-linked-desktop-and-ipad-devices/2839

[2022-02-28 15:28] EvanHahn-Signal commented on #5300
@praetp Could you make sure you're on the latest version of Signal Desktop? The latest version is 5.33.0.

[2022-02-28 20:27] maitra commented on #5804
Certainly for the linux version, Ctr+Q shuts down Signal.

[2022-02-28 20:33] indutny-signal commented on #4252
Oh, too bad! Sorry.

A few more questions:

- What OS are you on? (Judging by font rendering - Windows or Linux?)
- What locale are you on? (What language is your OS in?)
- Could you try running this in your Chrome or Firefox's dev tools console: `new Date().toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' })`

Thank you!

[2022-02-28 20:48] indutny-signal commented on #5299
@protist we have made a few fixes that should hopefully help with the issue. Sorry to bother you, but you could check if it still the same on 5.33.0 or 5.34.0-beta and send a debug log if you can reproduce it?

Thank you for your patience!

[2022-02-28 22:39] scottnonnenberg-signal commented on #2721
`console._log()` is necessary for packaged builds, since `console.log()` is redirected to the log.

[2022-02-28 22:40] #5808 closed

[2022-02-28 23:01] real-or-random commented on #4252
I'm on Linux.

[code]

Gives 12 h output.

My problem is exactly the one on https://github.com/signalapp/Signal-Desktop/issues/3317 but this may be hard to solve because browsers ignore LC_TIME and js doesn't have a concept for different locales for different things. (MESSAGES vs TIME for example.) And the same seems to be true on Windows...

I wonder if a setting is a good idea. If not, I fear th

[2022-02-28 23:03] indutny-signal commented on #4252
Oh, I see. So the issue here is that we don't respect LC_TIME. Gotcha. Thank you!

[2022-03-01 13:01] francwalter commented on #3281
How can I run that flag on Mac OS 10.11?

[2022-03-01 18:17] indutny-signal commented on #5806
Thank you. Symbolized your dump: https://gist.github.com/indutny-signal/5a4abc60ae755f1ab8cac8fa5bca90f2

[2022-03-01 18:20] scottnonnenberg-signal commented on #3281
@francwalter On macOS, you can open the Terminal app, then run this:

[code]

This might be a little different if you're running beta. You can also try `--disable-gpu` to see if that helps.

[2022-03-01 18:21] indutny-signal commented on #5806
Created a chromium issue for this https://bugs.chromium.org/p/chromium/issues/detail?id=1302006

[2022-03-02 08:53] protist commented on #2735
Sorry for the delay @indutny-signal and @EvanHahn-Signal. I tested with the latest version 5.33.0, and I can still reproduce as per the [steps above](https://github.com/signalapp/Signal-Desktop/issues/2735#issuecomment-640158819). Again, it doesn't fail every time, but perhaps fails more reproducibly if you give more time (e.g. 15 seconds) between steps 3 and 4. FWIW I used my (Android) phone to c

[2022-03-02 17:10] indutny-signal commented on #5299
@protist I totally understand. Thanks for submitting the report still, it helped us dig into some of the related issues!

[2022-03-02 18:22] hiqua commented on #5668
Just tested on Linux and the behavior seems to be mostly the same, meaning that the upload tries to finish although the message has been deleted already.

On top of the reasons mentioned in the OP, it's also quite bad because:
* I no longer see the option to "delete for everyone" while the message is being sent. Meaning that you would tend to use the "delete for me" feature to prevent the message

[2022-03-02 20:32] esysfound commented on #5799
Were you able to use these logs?  Thanks

[2022-03-03 00:57] #5718 closed

[2022-03-03 00:59] scottnonnenberg-signal commented on #5799
@esysfound I don't see any `forceRerender` entries in your desktop debug log, but I do see some evidence that you're trying to click 'Import Now' in settings. This tells me that you're not changing the value of the 'prefer contact avatars' option in Android. What do you see in your Android settings? What happens if you flip that back and forth?

[2022-03-03 07:14] esysfound commented on #5799
Hi - I have flipped the switch many times. Have uninstalled/reinstalled the desktop several times. Which is why contacts were imported.
As I said, the preferred avatar is working fine on my phone - both in the Android contact list and on Signal.

It is the Signal desktop (on Win11 fully patched) that is not working correctly. Sometimes when I uninstall/reinstall and import, the preferred avatar di

[2022-03-03 09:12] pgr0ss opened #5810 "URLs with '_ break links on desktop"
- [X] I have searched open and closed issues for duplicates
  - This one seems similar but not quite the same: https://github.com/signalapp/Signal-Desktop/issues/4810
- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

If a URL has a `'_` in it, the clickable part of the link stops at the quote and breaks the link. However, this only

[2022-03-03 09:19] esysfound commented on #5799
Just to update this -so again I completely uninstalled the Desktop version.  Reinstalled. Imported contacts.  When I type in the contact's name for the first time, the correct avatar appears.  Then, as soon as I click on that photo to send a message, it instantly reverts back to an old unwanted version.  This old avatar is absolutely no longer on my phone.  I have manually gone in and cleaned out

[2022-03-03 17:08] Meteor0id commented on #5626
Did https://github.com/signalapp/Signal-Desktop/commit/34eb6a541df30102d263b44914d241fbd01aa4f9 solve this?

[2022-03-03 19:40] scottnonnenberg-signal commented on #5799
It's not about which avatar is stored - it's about which avatar we choose to use. We always have an avatar from the user's profile, which we fetch ourselves. But we also have the avatar from your address book, which your mobile device sends over. Desktop needs to use the value of that setting to choose between them.

What do you see if you run this in your console?

[code]

[2022-03-03 19:41] scottnonnenberg-signal commented on #5799
(to get to the console, go to `View -> Toggle Devoloper Tools` then choose the 'Console' tab. You might need to start the app with `--enable-dev-tools` to get that option to show up)

[2022-03-03 19:55] esysfound commented on #5799
Ok -did all this

Returns "false"

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, March 3, 2022 8:40 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-03 20:04] scottnonnenberg-signal commented on #5799
Well, that fully explains why you're seeing difficulties. If that value is false, then it means that Desktop is explicitly preferring profile photos. And this matches up with the lack of `forceRerender` in your log. It looks like your attempts to set that value in your phone are not transferring over.

Maybe next we can try this: toggle the 'prefer contact avatars' setting in your phone, then wait

[2022-03-03 20:21] esysfound commented on #5799
ok will do - will wait 5 min between.

Meanwhile - I had a thought, could this be related to some Windows UAC permission thing?
The profile where Signal is stored is a Power user, not Administrator, so some privileges are slightly restricted.
I could run as Admin, or reinstall as Admin?

So now 5 min - the phone avatar has reverted back to what I don't want. So will now flip switch.

Phone avatar

[2022-03-03 20:23] esysfound commented on #5799
And ran console again: again FALSE

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, March 3, 2022 9:04 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-03 20:28] esysfound commented on #5799
Not sure if this tells you anything but more from the Console

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, March 3, 2022 9:04 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-03 20:50] esysfound commented on #5799
I am in Berlin, it is pushing on 10 pm here (assuming you are in Seattle or San Fran-we are 9 hrs ahead).
I need to do some house stuff, so will look for any other instructions etc. and execute tomorrow.

Was also wondering if there is some console command I could issue that might force things....?

Thanks for the help - certainly I am learning a few things...

Sent with [ProtonMail](https://proto

[2022-03-03 21:08] scottnonnenberg-signal commented on #5799
Yup, you're nine hours ahead.

The log you provided is unfortunately cut short quite substantially - please upload the log and then provide the link here.

[2022-03-03 21:32] abelbabel commented on #4306
Seems as if there is some progress

https://github.com/MikaelUrankar/signal-desktop

[2022-03-04 05:31] starlord263 opened #5812 "low volume of person speaking on other end on Signal desktop Linux mint client."
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2022-03-04 07:24] esysfound commented on #5799
Not sure what you mean by this - a log of the Console, or just the debug log?

Here is the debug log (but sent earlier)

https://debuglogs.org/desktop/5.34.0/194c150a541d349b9ef6ba6cc0d5619837b6025e3b16589b368401092c430ea5.gz

and here, I think I have copied all the Console error messages.

4node:electron/js2c/renderer_init:33 The vm module of Node.js is deprecated in the renderer process and will

[2022-03-04 18:39] scottnonnenberg-signal commented on #5799
Thanks for that complete log. It looks like you linked that Desktop, starting from scratch, at Wed Mar 02 2022 23:23:18 GMT-0800 (Pacific Standard Time). Did you change the 'Chats -> Use address book photos' option in Android after that point? Because I'm seeing no evidence that Desktop heard about that change after you linked the new desktop.

[2022-03-04 18:40] scottnonnenberg-signal commented on #5812
A few questions: is this a 1:1 or group call? What is the low volume in relation to? Media playing within your local desktop, other people on the call, previous calls you've had, or other applications on your computer? If it's a group call, is anyone else experiencing low volume of that user?

[2022-03-04 18:45] esysfound commented on #5799
Hi - no I did not.
Just did the reinstall after the toggle switch idea you had. (which I had also done repeatedly, though not with the 5-10 min in between.
As I said, I have tried this multiple times, multiple ways.

Watching this closer than I ever have, it does seem that the desktop version tries to update phone contacts daily.

Almost out of desperation, do you think my UAC idea, or running as

[2022-03-04 18:54] esysfound commented on #5799
Forgot to mention - I even did it again this morning 4 March. So the generated console read out is from this.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, March 4, 2022 7:39 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-04 19:00] scottnonnenberg-signal commented on #5052
@hiqua There's clear evidence that the read sync was sent for that message:

[code]

[2022-03-04 19:04] scottnonnenberg-signal commented on #5799
I need a log that includes you toggling that option, because my current theory is that somehow that setting is maybe never getting to your desktop device. When you make the change in your phone, it updates Signal's Storage Service, and then tells Desktop to fetch and decrypt data from that storage service, so I want to see that process happening in the logs.

[2022-03-04 19:13] esysfound commented on #5799
OK here is log with switch toggled off -so NOT using phone avatars.

https://debuglogs.org/desktop/5.34.0/b6b07cda4f64d16b900290dd458f29e1e07b59ad1671d2b7d72ac120371ec69a.gz

I will now toggle on, wait 5 min and send a new log

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, March 4, 2022 8:04 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-04 19:21] esysfound commented on #5799
Here is log with use phone avatars ENABLED (also with Signal Desktop updated and contacts updated)

https://debuglogs.org/desktop/5.34.0/f9ad10fb416162cb23710b7ec3df1087347ad9906a91c786c7452db414dde936.gz

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, March 4, 2022 8:04 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-04 21:34] scottnonnenberg-signal commented on #5799
Can we also get an updated Android log? Thanks!

[2022-03-04 21:43] esysfound commented on #5799
https://debuglogs.org/android/5.32.15/3ca5bcac1b1a8f0d9ca6f0aad1f799721a1fcef9bad4265526c1de02d2552ed0

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

------- Original Message -------
On Friday, March 4th, 2022 at 10:35 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-04 21:48] esysfound commented on #5799
I just sent it

You are aware of a few of these e.g? I've seen some going back to 2018.

https://github.com/signalapp/Signal-Desktop/issues/3208

I've got to power down pushing 11pm here. Will check tomorrow am.
Thanks

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, March 4, 2022 10:35 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-04 23:23] scottnonnenberg-signal commented on #5799
@esysfound Good news - we've tracked this down to an Android issue. There'll be a fix in 5.33.

[2022-03-05 07:40] esysfound commented on #5799
Hi - ok , we shall see. Good that all this effort may have paid off. Thanks for the patient help.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Saturday, March 5, 2022 12:23 AM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-05 18:44] esysfound commented on #5799
Assume you mean upcoming version 5.35?

5.34 is out and so far no change.

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

------- Original Message -------
On Saturday, March 5th, 2022 at 8:40 AM, esysfound ***@***.***> wrote:

[2022-03-06 04:10] cal-zone commented on #2527
This is certainly still an issue. Desktop (MacOS) loses all messages except, basically, one recent one I had.
iPhone has them still. But the desktop has consistently lost messages every so often. Never to be seen again.

[2022-03-06 08:13] hiqua commented on #2527
If you're still having this bug, please confirm that you read https://github.com/signalapp/Signal-Desktop/issues/2527#issuecomment-885067199 and prevented any double-linking by relinking the device that has this issue.

Then, you should also provide the information requested in https://github.com/signalapp/Signal-Desktop/issues/2527#issuecomment-906583793 otherwise it won't be possible to fix anyt

[2022-03-06 14:43] cal-zone commented on #2527
I don't even know what that means. I started signal on my phone, and then installed it on my computer according to the instructions. Those are the only two devices.

This is only iPhone and macOs… not Android-related. I found this thread from a search for others with the same problem to see if there was a solution or what expected behavior was. I created the thread in an attempt to economize on bu

[2022-03-06 15:31] cal-zone commented on #2527
I believe I may have figured out my issue:

According to https://support.signal.org/hc/en-us/articles/360027913252-Troubleshoot-receiving-messages#desktop
"If Signal Desktop was inactive for 30 days or longer: Any messages queued up for delivery to it are dropped. It will not not receive any messages from the period of time that it was offline. It is treated as a brand new linked device."

So that

[2022-03-06 17:49] PeterTrischberger commented on #5750
@joeri-juramento  thanks for the hint: I'm using a network drive as user/home directory and not the default windows directory. So when the network drive is mounted later than the autostart of signal was executed or when I'm starting signal and the network drive is not monunted then signal fails. Now I'm checking carefully whether my networkdrive is mounted and then start signal. This fixed the pro

[2022-03-06 18:23] joeri-juramento commented on #5750
Hey @PeterTrischberger, I guess a network drive could result in the same "state of unavailabilty" as BitLocker locked drive or the #5766's drive/volume mounting.  Good to read you confirmed the cause too.  (Could you edit your orignal post and fix the broken checkbox?)

@scottnonnenberg-signal Fyi: the cause has been confirmed by three users. Short story: If the download folder is unreachable by w

[2022-03-07 00:02] #5648 closed

[2022-03-07 17:31] scottnonnenberg-signal commented on #5799
I mean Android 5.33.

[2022-03-07 18:11] jrlebbs opened #5813 "New Contact Picture on Phone Overrides ALL Contact Pictures on Desktop"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I recently added a new contact on my phone, with a contact picture. When Signal on my desktops next synced, ALL of my contacts now use the new contact's picture. A re-sync of the contacts doesn't fix. Neither does removing

[2022-03-07 20:32] scottnonnenberg-signal commented on #5813
What do you see in your Signal Android app? What do you see in your Contacts app? What happens if you deselect 'Use address book photos' in Signal Android and then archive or unarchive a conversation?

[2022-03-07 20:59] jrlebbs commented on #5813
My Signal app shows the 2nd of my screenshots; ie, the correct picture and the one that matches my Contacts app. Please let me know if you need more clarity on what I see.

Deselecting address book photos, then Archiving/Unarchiving does not change what I see on the desktop. Re-enabling Address Book photos and completing this same process also has no effect.

Additional notes: this only happens wh

[2022-03-08 01:29] scottnonnenberg-signal commented on #5813
@jrlebbs Can you talk about the details of your Android device? Do you have a custom address book or any applications that might be modifying its behavior?

[2022-03-08 01:32] jrlebbs commented on #5813
Hey @scottnonnenberg-signal,

I'm just using a Pixel 5 with the stock Google Contacts app, syncing with my Google account. I do have multiple Google accounts on my phone, none of which I use for contact management. I also have Outlook contacts synced as well.

This issue only happens with my primary contact set. Changes to other contacts, thought Outlook or my other Google accounts, do not affect

[2022-03-08 09:28] #3713 closed

[2022-03-08 13:33] LukasPietzschmann opened #5814 "When right clicking a chat, is stays in it's hovered state"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description
When I'm right-clicking on chat in the list on the left side, the chat stays in its hovered state, even if I'm moving the mouse away. Only clicking somewhere else puts the chat in a normal state again.

### Steps to Reproduce

[2022-03-08 16:57] hiqua commented on #5052
Actually just got one more with FCM fixed and in a 1:1 discussion (and at the same time in a group discussion where I was receiving big attachments).

1:1
[code]
https://debuglogs.org/desktop/5.35.0-beta.1/a466a9cc02a2268c5780eba79e838d73d89a7b5997ade8b445123618f16da68c.gz

Android before opening the convo:
https://debuglogs.org/android/5.32.15/4e7975cc1015db6b8e4ab65f7d7870ae4455ae63555196a11bf44

[2022-03-08 17:31] esysfound commented on #5799
Great, so I am running 5.34

There is NO change - the avatar remains unchanged.
So none of this seems to have worked.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, March 7, 2022 6:31 PM, Scott Nonnenberg ***@***.***> wrote:

[2022-03-08 18:26] scottnonnenberg-signal commented on #5799
The latest version of Android is 5.32.15. This will be improved in Android 5.33 - the option switch in Android will properly send its value over to Desktop when you change it.

For now, you could do some additional tests by changing 'Chats -> Use address book photos' as usual in the phone, then archiving or unarchiving a conversation on that phone. In theory, that will force a storage service upda

[2022-03-08 18:27] scottnonnenberg-signal commented on #5052
Desktop sent the read sync:

[code]

[2022-03-09 00:23] scottnonnenberg-signal commented on #5813
@jrlebbs What is the current state of your `Chats -> Use address book photos' option? What happens if you toggle it and then archive or unarchive a conversation?

[2022-03-09 00:44] jrlebbs commented on #5813
@scottnonnenberg-signal current state is turned on. I tried having it both on and off and it did not impact the contact pictures in my desktop app.

[2022-03-09 08:12] hiqua commented on #5730
It's actually a generic issue that exists with other clients (well, Android at least).

I get a bad behavior from Android with the same steps:
* archive a conversation
* send a message to this conversation from desktop
* this conversation is now unarchived on desktop but still archived on android

On the other hand, unarchiving manually on desktop (e.g. by archiving it again before) works.

Sugges

[2022-03-09 10:12] sneko opened #5815 "Opening a link collapsed due to the preview will not load it fully"
- [X] I have searched open and closed issues for duplicates
- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Someone as sent me a huge link (1200 characters) and its preview was cropped with the `Read more...`, except that when clicking on the link, it will open the link as cropped, it won't load the full link from what I see.

###

[2022-03-09 17:01] jrod9k1 commented on #4047
Might be worth noting that electron-builder seems to have fixed this issue in their 22.14.11 release
https://github.com/electron-userland/electron-builder/releases/tag/v22.14.11
https://github.com/electron-userland/electron-builder/pull/6472

[2022-03-09 17:25] scottnonnenberg-signal commented on #5813
@jrlebbs There's a bug in Android where changing that option will not notify Desktop. You'd need to do something like an archive/unarchive for force Android to tell Desktop about that option change.

[2022-03-09 18:02] patrickdemers6 commented on #5815
I have reproduced on Linux (Ubuntu 20.04). I will work on a PR for this.

[2022-03-10 11:39] asprovagermany commented on #3827
In the current version (5.35.0) this issue doesn't seem to occur anymore. I guess some other change also fixed this bug.

[2022-03-10 13:11] ZwergNaseXXL commented on #2714
It's still happening all the time, easy to reproduce:
- be a member of a group
- have 2 or 3 other members have a conversation while your offline
- go online, start signal
- messages arrive in random order, conversation is completely garbled
- closing and restarting signal doesn't help, messages stay in random order

This is particular fun when you missed a couple of days. There's no way of making

[2022-03-10 17:14] scottnonnenberg-signal commented on #5813
If you open the developer tools and run this in the console (before, during and after your toggles), what do you see?

[code]

(you will probably need to start Desktop with `--enable-dev-tools` to see the `View -> Toggle Developer Tools` menu option)

[2022-03-10 17:15] #3827 closed

[2022-03-10 17:16] EvanHahn-Signal commented on #5626
We recently made some changes here that we believe fix this issue. If that's wrong, let us know and we can reopen.

[2022-03-10 17:16] #5626 closed

[2022-03-10 17:23] scottnonnenberg-signal commented on #2714
@ZwergNaseXXL You're talking about running Android, and receiving messages from multiple senders in a group and seeing it 'completely garbled?' Please enter that at the Android repository: https://github.com/signalapp/Signal-Android/issues

You can really help by providing logs and specific message timestamps - messages that came in properly, and ones that were out of order too. To do that, you ca

[2022-03-10 17:40] mthld commented on #2714
Why do we keep looking for issues on the clients where it's clearly a backend issue? It's still happening, it's a fact, and that's not some bug on some not-updated low-end Chinese devices.

[2022-03-10 17:52] Meteor0id opened #5816 "Sticker selection pop-up should not be side scrollable"
- [ ] I have searched open and closed issues for duplicates

- [ ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I noticed there are a few pixels of side scrolling, and a scroll bar appears too. This should not be necessary.

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screen

[2022-03-10 18:36] scottnonnenberg-signal commented on #5813
@jrlebbs What if you try to pin and unpin a conversation (while also trying to toggle the option)? Does that change things?

[2022-03-10 18:56] scottnonnenberg-signal commented on #2714
@mthld We need all the details from the clients if we're going to track down the root cause of the issue. It might be the server, it might be a client. But we need detailed evidence to make the case for any change.

[2022-03-10 19:35] jrlebbs commented on #5813
Ok, now we have some *minor* progress. The pin/unpin is forcing the value to toggle from false to true. However, the pictures are still not updating correctly, even when forcing a contact import and restarting the Desktop app.

![pin unpin](https://user-images.githubusercontent.com/101134661/157740842-7aadfc5b-ffd3-4cb7-957e-4efbb838c787.png)

[2022-03-10 20:17] theanonymousexyz commented on #4939
I think this issue should be closed as of v5.35.0

[2022-03-10 20:30] #4939 closed

[2022-03-10 20:39] Beasta commented on #5529
also having this issue

[2022-03-11 08:27] hubyhuby commented on #5002
I also have regular freezes when activating video. Here it is the CPU with a TWO person visioconference. I am on Linux and my colleague is on WIndows
 We get a very high constant CPU usage of  150% during all of the conversation. On an intel Core i3 8145U (2 real cores)
My all computer is slowing down aswell.
When using for example google meet it is very smooth and there is no lag at all even with

[2022-03-11 10:08] karam72 commented on #1758
We can not open Signal desktop on other distros except Debian forks :(

[2022-03-11 10:14] DetlevCM commented on #1758
For those on Fedora, openSUSE supports you:
https://software.opensuse.org/package/signal-desktop
https://build.opensuse.org/project/show/network:im:signal

[2022-03-11 10:51] mdedonno1337 commented on #1758
Even with the AppImage I compile ?

[2022-03-11 11:02] francwalter commented on #3281
Since about two updates it works again on my Mac OS 10.11.6
Something has changed too: now I have a progress bar about downloading the update, after the download the update doesnt make any blue screen anymore 👍
Thanks for fixing it 👍

[2022-03-11 13:08] Flexmaen commented on #4800
See also https://github.com/signalapp/Signal-iOS/issues/4892#issuecomment-1064924176 - this is a problem everywhere.

[2022-03-11 17:57] isommers1 opened #5817 "Signal for Mac keeps "crashing" without the application quitting - constant system popups saying Signal crashed but the app remains functional"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I have Signal running on my Mac (10.14.6). Every 30 minutes or so I get a "Signal quit unexpectedly" error popup with the typical error log (attached below). But the Signal app remains up and running, and never actually qui

[2022-03-11 17:58] isommers1 commented on #5817
[system-log.pdf](https://github.com/signalapp/Signal-Desktop/files/8234306/system-log.pdf)
<img width="991" alt="Screen Shot 2022-03-11 at 11 53 37 AM" src="https://user-images.githubusercontent.com/9098063/157923683-8854c815-4e1f-42de-8b29-bf61c2a95436.png">

System log and screenshot.

[2022-03-12 13:12] #5804 closed

[2022-03-12 14:30] karam72 commented on #1758
THere is not official package of Signal based on AppImage.

They are not official packages... Personally Signal is the most important app for privacy for my life. I can not use packages from other sources...

[2022-03-12 17:01] ZwergNaseXXL commented on #2714
Sorry, didn't realize this was the repo for the desktop app. Just ended up here by googling for a solution. There are several issues over there regarding this problem. One of the devs hinted that it's caused by legacy database layout.

[2022-03-12 17:13] mdedonno1337 commented on #1758
you are 100% correct, and this is why you should NOT run my version of the AppImage, but get the code allowing the compilation of the AppImage ( https://github.com/mdedonno1337/docker-signal-desktop/blob/master/.gitlab-ci.yml ), **REVIEW IT**, and compile it yourself.

My PR was not approved, I think it will never be merged (even if this is a trivial thing to do)...

[2022-03-12 17:51] rahmi commented on #1758
I have automated the build inside docker instance at home.
https://gitlab.com/rahmiac/signal-desktop-appimages/-/blob/v5.35.0/build-scripts/docker-build.sh

Put it inside at or cron job and enjoy.

Sent from ProtonMail mobile

-------- Original Message --------
On Mar 12, 2022, 18:13, Marco De Donno wrote:

[2022-03-12 21:27] Fabian42 commented on #5749
According to the comments here, it's not officially supported, but I wanted to remark that this also happens on Manjaro (Arch-based) with KDE+KWin_X11, using the `community/signal-desktop` package. So it's not related to the operating system, desktop environment or window manager.

[2022-03-13 07:52] karam72 commented on #1758
Why the signal team does not accep this :(

[2022-03-14 12:49] GoJiTa972 commented on #2660
Same issue in 5.35 Desktop version. Created a symlink on windows 10 with PowerShell
New-Item -ItemType SymbolicLink -Path ".\attachments.noindex\" -Target "X:\Signal\attachments.noindex\"
No more display of any attachments.
https://debuglogs.org/desktop/5.35.0/9d9acf53b2cab383b8c2a6d8ad0e1725b3c7f30e40cb100a378ad560ee2d4395.gz

[2022-03-14 14:15] ignatzio commented on #5817
It looks like this might be related to the following issue but I'm not sure:
https://github.com/electron/electron/issues/32718

One of the comments in there points out that this happens with Catalina and other older Mac builds. Upgrading to a newer version of Mac OS might address the issue while they roll out a fix for Electron.

[2022-03-14 14:41] isommers1 commented on #5817
Thanks. I rely on an older version of macOS for work reasons, so that isn't
an option unfortunately.

[2022-03-14 16:07] indutny-signal commented on #5817
@isommers1 could you try installing 5.35.0 and see if it is any better for you? I think https://github.com/signalapp/Signal-Desktop/commit/ec8824caa8ea782f5736108110aa36c4dcb1237b should have fixed that. Thanks!

[2022-03-14 17:23] indutny-signal commented on #5002
@hubyhuby sorry about that. What version of Desktop app you are on?

[2022-03-14 18:52] Beasta commented on #5529
@indutny-signal - anyway i could email them or something? i'd rather not post them publicly

[2022-03-14 19:17] SISheogorath commented on #3573
Stalebot is great :)

[2022-03-14 19:18] indutny-signal commented on #5529
@Beasta of course, you can send them over to indutny@signal.org . Thanks!

[2022-03-14 20:02] hubyhuby commented on #5002
Thank you for coming back to me @indutny-signal ,
It have slow video calls since I have started to use signal desktop 9 monthes ago.
I don't think it is some kind of bug. It is just not optimised for video encoding/ decoding on moderne hardware.
Every day for 9 monthes at 9AM I am doing my work conference call with Signal, and every day it slows my computer. And It struggels to show 2 to 10 images

[2022-03-14 20:20] jojomatik opened #5818 "Messages wrap two words at a time"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Sometimes messages wrap two words at a time, when the message requires more than one line.

### Steps to Reproduce

1.  Open Signal Desktop
2.  Send a message (especially apparent if it contains longer words near an expecte

[2022-03-14 23:12] freed00m commented on #2660
@scottnonnenberg-signal I would reopen this issue, I am no the only one that has difference of opinion.

Even if it's an upstream electron behavior I think this issue is worth creating a patch that would disable such filesystem checks for paths.

[2022-03-14 23:32] GoJiTa972 commented on #2660
I just want to avoid filling up the system disk,  so for most of my data heavy apps I redirect my towards larger disk or a RAID1 volume. My Signal data has 15.7 GB of content, and no I don't want to lose any.

[2022-03-16 01:10] #5656 closed

[2022-03-16 08:04] gothmog123 opened #5819 "audio stutters"
when the connection stutters on other video calling services the audio and video is separated and so the video could sart lagging but the audio stays stable. in signal desktop on linux (with pipewire) any connection problem causes the audio to stutter as well

[2022-03-16 10:06] phbn commented on #3877
Same issue. Still not working here.

Linux Mint Cinnamon 20.3
Signal 5.35.0 (through flathub)

[2022-03-16 15:31] jrlebbs commented on #5813
Hi @scottnonnenberg-signal, any additional thoughts on this or info I can provide?

[2022-03-16 17:36] scottnonnenberg-signal commented on #5813
We don't have any way forward on this, so the best thing you can do is explore the behaviors you see on your phone.

What if you remove Outlook integration and reboot the phone, does it still happen?

What if you remove all but your primary google account on the phone and then reboot? (Note that I have multiple Google accounts on my Android phone, and I don't see any issues, so it's likely not thi

[2022-03-16 19:32] indutny-signal commented on #5819
Thanks for reporting this. Could you provide more information about the version of linux and Signal Desktop you are using, what distribution you installed Signal from. Having a debug log would also help us investigate this! So if you could reproduce the audio stutter and send us the debug log generated right after that - it should be very useful!

[2022-03-16 19:42] gothmog123 commented on #5819
Thanks for looking into it. I'm using archlinux with the latest signal from the official repos. Not sure i can get a debug log but i'll see what i can do

[2022-03-16 21:36] indutny-signal commented on #5819
@gothmog123 unfortunately Arch Linux is not officially supported at the moment. If you would manage to reproduce it - we would still love to take a look at the debug log.

[2022-03-17 12:35] emacu commented on #5215
I can reproduce it via Signal Desktop on macOS 12.3 (M1 Max) when I send a voice message longer than 30 seconds or 2 minutes.

[2022-03-17 16:31] indutny-signal commented on #5818
Thanks for reporting it. This has been on our radar for awhile, and we will have to think if there is any way to do it differently. The wrapping behavior is provided by Electron and is out of our control.

[2022-03-17 16:32] indutny-signal commented on #5002
Got it. Thank you for the information, and sorry it runs slow!

[2022-03-17 16:39] indutny-signal commented on #5819
I believe that video and audio could go slightly out of sync in the current implementation, but it shouldn't be stuttering or lagging behind a lot. Thus debug logs would still be useful for us, unless it will turn out to be something specific to the unofficial distribution of the app.

[2022-03-17 16:41] gothmog123 commented on #5819
i think it's unlikely. arch usually ships vanilla packages. it could be due to pipewire and wayland maybe

[2022-03-17 16:45] indutny-signal commented on #5819
Definitely can't exclude these two. Unfortunately, I'm not entirely familiar with this software so can't comment much about how it can interact with our app. Sorry!

[2022-03-17 16:46] gothmog123 commented on #5819
no worries

[2022-03-17 19:19] ThiloteE opened #5820 "Own cam screen flickers during videoconference when Signal window is in certain sizes"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

### Bug Description

My own video flickers constantly during videoconference

### Steps to Reproduce

1. Create Videoconference with 2 other users of Signal.
2. Maximize the Signal-window
3. Decrease vertical size of window to minimum
4. Decrease or

[2022-03-17 19:44] rattencreep commented on #5691
Thank you for your reply. But after months not hearing anything and finding no solution I switched graphics cards a week ago and already sold the old one so I can't test this further.

Regards

rattencreep

[2022-03-17 21:17] #5691 closed

[2022-03-17 21:18] scottnonnenberg-signal commented on #5820
Can we get a debug log (`View -> Debug Log`)? it includes metrics about data collected and received for your call, so it would help us track down the cause of the flicker.

[2022-03-18 01:30] mreugenekrabs opened #5821 "Being told to verify via reCAPTCHA doesn't work if both Signal and Signal Beta clients installed"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

If you have both Signal Desktop non-beta and beta versions installed and you're asked to complete captcha on the beta version, the redirect from the captcha page isn't sent to the beta client, but instead to the non-beta cl

[2022-03-18 09:44] ThiloteE commented on #5820
Here you go, the: https://debuglogs.org/desktop/5.35.0/6a466bccca158853166875036a10fdf4738f12243e33f6bd77dce63a7cfc4734.gz

Also:

- I found out, the problem can be reproduced with two users in the videoconference as well. It is not required to be three machines. Two are sufficient.

- I am just a normal user, so I am not well versed with coding, but if there is anything else I can provide, just a

[2022-03-18 18:05] scottnonnenberg-signal commented on #5820
We did a little bit of research about your webcam - perhaps you could try changing its Flicker Control setting? https://support.creative.com/kb/ShowArticle.aspx?sid=111448&c

[2022-03-19 12:34] kaktusztea commented on #2424
It happened again on Signal Desktop 5.35.0.

Alice has an iOS device, she did a factory reset on the whole phone, then re-installed Signal and re-registered.
After this Bob got notification on his iPhone: Alice's safety number change log appeared.
Then Alice wrote a message to Bob which arrived well on Bob's iPhone.
Although disappearing message timer was turned off for some reason.
Then Bob sent

[2022-03-19 14:52] SebDanielsson commented on #5674
/remove stale

[2022-03-19 14:57] hiqua commented on #5674
Why, is it still happening?

[2022-03-19 15:11] ThiloteE commented on #5820
I did a little research as well.

1. I tried changing my cameras flicker control setting, but the program that would allow me to do that works only with the v2 version of my camp. Unfortunately, I do not have v2, but it was good you mentioned this, because I noticed there was a firmware update for my version of the webcam available. I installed the latest version of this firmware, but unfortunatel

[2022-03-19 15:30] aggralicious opened #5823 "All incoming messages display as being received 5 minutes ago, sent time is correct but received time is actually 5 minutes in the future"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Signal Desktop Received Time for all incoming messages is marked as 5 minutes later than sent time EVERY TIME. The time of the message looks like it was five minutes in the past (i.e. all new messages display "5m" rather th

[2022-03-19 17:02] #5823 closed

[2022-03-19 20:16] flatsiedatsie commented on #5674
I recently noticed it again myself too. It only seems to happen when I move onto a brand new wifi.

[2022-03-20 13:10] n1t4y commented on #2442
Can confirm this is still happening with Pop!_OS.
Had to uninstall Signal  for now unfortunately.

[2022-03-20 15:24] NBirkenstock opened #5824 "Android: Can't enter passwort to restore backup"
### Bug Description

I created a backup file before removing signal. For the password I used letters and symbols. After reinstalling I wanted to restore the backup but signal only accepted numbers for the password.

### Steps to Reproduce

1.  Create backup with password containing letters
2.  Remove and reinstall signal
3.  Try to restore backup

Actual Result:

No messages restored

Expected Res

[2022-03-20 20:29] NBirkenstock commented on #5824
I've just tested the latest beta from Play Store. Still the same problem.

[2022-03-21 01:19] quinndiggity opened #5825 "Signal Desktop unable to send in previously functional version; Wayland support broken in later versions"
Unable to send messages on Signal Desktop - in recent Signal Desktop releases Linux/Wayland support was broken, forcing users to pin to a previous version (or be entirely unable to use the application). Messages (but not reactions) are now being rejected by the Signal service for the functional application version, which is preventing use entirely again.

![Screenshot from 2022-03-20 18-17-03](htt

[2022-03-21 01:21] quinndiggity commented on #5825
other users are experiencing the issue as well https://github.com/signalapp/Signal-Desktop/issues/5741#issuecomment-1071142333

[2022-03-21 01:21] quinndiggity commented on #5825
https://github.com/signalapp/Signal-Desktop/issues/5719

[2022-03-21 06:51] sharun-s commented on #4533
There seems to be an upper limit of how much of text is copied too. It looks like about 20 lines..if I try to copy/paste 40 messages it just pastes the bottom 20.

[2022-03-21 07:40] SebDanielsson commented on #5674
Actually now it's contacting chrome.cloudflare-dns.com instead of Google DNS. Also manual connections to 1.1.1.1.

[2022-03-21 14:58] ProactiveServices commented on #4459
This seems to be getting worse. It used to top out around 25% total CPU usage and is now frequently around 50%. Currently on 5.36.0-beta.3

[2022-03-21 18:07] scottnonnenberg-signal commented on #2442
@n1t4y Have you tried it with `--in-process-gpu` or `--disable-gpu`?

[2022-03-21 18:30] ThiloteE commented on #5820
I managed to find out how to start the Developer Tools after reading about it in another issue here on github 😅

1. An example for black box that I cannot click on via Developer Tools:
   ![image](https://user-images.githubusercontent.com/73715071/159336027-28f0a93d-3fb0-4675-be4d-66cbd856fa60.png)
2. Maybe this footer plays a role? (This is one i can click on)
   ![image](https://user-images.gith

[2022-03-21 18:42] ThiloteE commented on #4741
For all the others that came here to look for how to enable Developer Tools because they needed it to report info to developers to solve another bug: I opened the command-line in the Signal folder (C:\Users\user\AppData\Local\Programs\signal-desktop) and then used this command: signal --enable-dev-tools
(Environment: Signal-Desktop on Windows 10).

[2022-03-21 18:52] #3416 closed

[2022-03-21 18:54] UserX404 commented on #3416
Closing due to it hasn't been occurred any more.

[2022-03-21 18:55] UserX404 commented on #5481
Issue has been solved in the past.

[2022-03-21 18:55] #5481 closed

[2022-03-21 18:59] ThiloteE commented on #5820
https://user-images.githubusercontent.com/73715071/159344672-85f1d1ad-c542-4cdd-9948-b32e51faaca0.mp4

[2022-03-21 19:28] xadhatter commented on #4459
This issue appears to be resolved for me. CPU usage goes up when the application is opened, but nothing unexpected. After minimizing to tray CPU drops to less than 1% after a couple minutes. Confirmed both on my laptop and desktop. Both systems have similar setup.

Signal 5.34.0
Fedora 35
Cinnamon 5.2.7
Linux kernel 5.16.15-201.fc35.x86_64
Desktop AMD Ryzen 9 3900X
Laptop AMD Ryzen PRO 5650U

Let

[2022-03-21 19:34] pm4rcin commented on #5825
For me Signal works with XWayland just fine. I run it on KDE as well as on dwl 0.3 (based on wlroots) on Arch. I haven't tried calls recently but messages work fine for me. What are you using @quinndiggity?

[2022-03-21 22:09] scottnonnenberg-signal commented on #4459
@scottnonnenberg-signal Debug log and your choice of profiling tool. Could be the Dev Tools performance recording, but it might be lower in the stack than that. Data collection at two times would allow us to contrast the good with the bad: 1) the state of the app in the first few minutes and 2) degraded performance after using app for a while.

[2022-03-22 07:17] tom-73bw opened #5826 "Motion photos (.mp.jpg) are not displayed and not transmitted correcty"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

The camera on Google Pixel phones may produce a motion picture with the extension .mp.jpg. After sending such a file the photo is not displayed on the sender's phone. In addition, the receiving phone displays warning icon.

[2022-03-22 10:18] marcardar commented on #3180
@scottnonnenberg-signal perhaps a long shot, but since you mentioned FTS5 and triggers, perhaps you were experiencing something similar to this: https://stackoverflow.com/questions/71569028/corrupt-fts5-table-after-declaring-triggers-a-certain-way

[2022-03-22 11:00] stilgarwolf commented on #5806
Same blue window again (5.36.0-beta.3 on Debian unstable) (related to Debian update?).
Same happened to Vivaldi Snapshot but it was solved today when Vivaldi upgraded to Chromium 100.0.4896.43

[2022-03-22 12:28] n1t4y commented on #2442
Without flag, stright up fired it from the quick menu

[2022-03-22 13:46] somoant commented on #5825
The same for me (Fedora 35, Gnome 41), I used  the 5.26 version because of wayland support broken and is not possible anymore

[2022-03-22 16:37] scottnonnenberg-signal commented on #2442
@n1t4y I understand that you are reporting problems without using the flags. But have you tried it with the flags? Does it change things for you?

[2022-03-22 16:48] FabiRich opened #5827 "Shortcut for zoom in not possible"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I am using a German magic keyboard by Apple on Mac OS. I am not abled to use the shortcut for zooming in, because my keyboard does not have = on the first assignment (only with shift 0).
![image](https://user-images.githubu

[2022-03-22 20:21] sjlombardo commented on #3180
@marcardar have you posted that up to the SQLite Forum (https://sqlite.org/forum/forummain) I think they'd be interested to hear about a confirmed means of introducing corruption with modification of FTS tables.

[2022-03-22 20:55] scottnonnenberg-signal commented on #3180
@marcardar The difference I saw between those trigger sets was the use of `BEFORE` in the bad triggers, and only `AFTER` in the good triggers - Desktop never used `BEFORE` triggers like that, so it's unlikely to be the cause of our issues. Thanks for the pointer, though!

[2022-03-22 21:09] sjlombardo commented on #3180
@scottnonnenberg-signal the other major difference is the direct deletion of records from the FTS virtual table, e.g.
[code]
vs.
[code]
I believe that Signal Desktop is using the former.

[2022-03-23 02:39] marcardar commented on #3180
I got the impression only the update was causing the problem. Not the insert (which hasn't changed) and It's possible I never tested the old BEFORE_DELETE trigger. So I guess it's possible the old delete (BEFORE_UPDATE trigger) was causing the corruption. But it's still strange how it was mostly working.

[2022-03-23 19:33] laf0rge commented on #5637
I also seem to be suffering from this bug in the last few days:
`      PID USER      PR  NI    VIRT    RES    SHR S  %CPU  %MEM     TIME+ COMMAND`
` 91399 laforge   20   0   24.7g 222004 108448 S  80.7   1.4   1:38.05 signal-desktop`
` 91310 laforge   20   0   20.5g 172556 113108 S  52.2   1.1   1:04.10 signal-desktop`

* debian unstable 5.16.0-5-amd64
* signal-desktop 5.35.0 from the official rep

[2022-03-23 20:25] scottnonnenberg-signal commented on #5637
@laf0rge That's definitely a different issue. This bug is about the app starting successfully, but using more CPU than expected while in the background.

You might try `--disable-gpu` or `--in-process-gpu` when starting the app from the command-line, see if that improves things for you.

[2022-03-23 21:15] laf0rge commented on #5637
thanks @scottnonnenberg-signal.  The --disable-gpu indeed resolves the problem and the application works again as it used to.  That's at least a workaround for now.

--in-process-gpu segfaults.  I guess I should create a separate bug about this?

`
Thread 25 "Chrome_InProcGp" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffe8ee9640 (LWP 104572)]
GmmCreateLibContext (Platfor

[2022-03-23 22:19] scottnonnenberg-signal commented on #2424
@kaktusztea Thanks for the detailed report.

First, 'Safety number changed' notifications can be initiated by a profile fetch as well as an incoming message, so there's no guarantee that they'll be in the same order across devices

Second, it looks to me like Alice's 1647676614830 message, from a newly-wiped device, had no disappearing message data on it, so it cleared the timer. What I see there

[2022-03-23 22:55] oomek commented on #2696
3,5 years has passed and Signal's titlebar is still blinding on Windows 11. The workaround is not longer working in Windows 11 build 22581

[2022-03-23 23:56] kaktusztea commented on #2424
@scottnonnenberg-signal:
**First**: OK, got it.

---

**Second**: OK, thanks.

---

**Third**: yes, you see it well. The "today" floating date is wrong, I marked it by red text on the screenshot. It should had been 18th March. And yes there are older messages below this (wrong) "today" date.

About the timers:
actually Alice set the disappearing timer on her iPhone to 4 weeks **at 10th Oct 2021**,

[2022-03-24 06:05] AnisTaluqdar commented on #2696
they are working with stories 🐣

[2022-03-24 07:53] stilgarwolf commented on #5806
Updated to 5.37.0-beta.1, blue window still here. The only working window is Help->About.

[2022-03-24 08:24] jbaconsult commented on #5721
A kinda related question, out of curriosity: why needs signal access to the gpu in the first place? Is this for displaying images and videos in fullscreen? And if so: why is signal not using the os system to display those? For security or for coding conveniance? Or simply a "not invented here" strategy?

[2022-03-24 09:20] ggielly commented on #5806
Same blue window. Only Help-> About working on Signal 5.36.0.
On Debian sid + KDE Plasma.

On the first run the app loads without graphical, but still in background eating resources.
When a 2nd app is launched in parallel, the main blue window appears, only with menus and nothing loadable, except the about box.

[2022-03-24 09:30] qcGVkzEG commented on #5605
Issue is still present on 5.36.0.

[2022-03-24 10:16] vaporwave9 opened #5828 "The entire viewport is jumping because inter-message space re-adjusts after sending"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Because of Signal freeing up extra space between messages the entire chat log bounces first up after posting (intended), then down again profusely as it frees the extra space with a time delay.

### Steps to Reproduce

1.

[2022-03-24 18:37] scottnonnenberg-signal commented on #5721
@jbaconsult Signal Desktop uses Electron, which is built on the same technology as Google Chrome. Hardware acceleration is used for various rendering/compositing tasks, both in Chrome and Desktop.

[2022-03-24 19:09] scottnonnenberg-signal commented on #5828
Thanks for reporting this. The current purpose for splitting the message out is to make sure that the status of the message can be shown. But we can change it so the new message is grouped but also shows its differing status - that's what the phones do.

[2022-03-24 19:19] scottnonnenberg-signal commented on #2424
Yep, thanks for the clarification. We've got three different bugs we're tracking down on this. Funny enough, none of it's really the classic 'out of order errors' bug this issue is about, but timer/notification issues.

[2022-03-25 00:29] IceGiant opened #5829 "UI is almost unusable in Windows 10 High Contrast dark mode"
Repro for the issue is pretty straightforward:
The fastest way to access the Windows high contrast settings is to hit the Windows key, start typing "high contrast" and it'll take you straight to the setting. Enable it, and the default should be a dark color scheme. You'll see a lot of the UI isn't displaying correctly with it applied.

Some of the conversation view in Note to Self:
![image](https:

[2022-03-25 11:46] vaporwave9 commented on #5828
Thank you for elaborating on this and adding the bug label. Whilst it is only a visual nuisance I am happy you consider addressing this issue.

[2022-03-25 21:59] lediur commented on #5725
I'm running into this issue on a Debian 11 install and iOS mobile client.

## Steps to reproduce

- Open Signal-Desktop on Linux
- The desktop client displays a QR code for me to scan on my phone
- I scan the code on my phone
- The desktop client shows "Importing contacts and groups"
- On the mobile client, the new desktop linked device shows up
- The desktop client shows "Something went wrong! Fa

[2022-03-25 22:00] lediur commented on #5725
I'm running into this issue on a Debian 11 install and iOS mobile client.

## Steps to reproduce

- Open Signal-Desktop on Linux
- The desktop client displays a QR code for me to scan on my phone
- I scan the code on my phone
- The desktop client shows "Importing contacts and groups"
- On the mobile client, the new desktop linked device shows up
- The desktop client shows "Something went wrong! Fa

[2022-03-25 22:14] jeremiah-miller commented on #5719
https://github.com/electron/electron/pull/33355 looks like a fix is on the way

[2022-03-26 08:58] jrlebbs commented on #5813
@scottnonnenberg-signal, the Outlook and Android accounts didn't change anything unfortunately.

Is there a way to uninstall Signal and purge all files/contacts/databases associated with the app and I can just re-pair and re-sync my contacts?

[2022-03-26 17:29] scytho opened #5830 "Tooltip for timestamp missing"
- [X ] I have searched open and closed issues for duplicates
- [? ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

I am using Signal Desktop 5.36.0 from the Mint Repos. Not sure if that counts as 3rd party.

### Bug Description

The tooltip showing a message’s timestamp seems to be gone.

### Steps to Reproduce

1.  Open Signal Desktop.
2.  Open a conversation.

[2022-03-26 17:45] lasers opened #5831 "Don't display name suffix on initial avatar"
- [X] I have searched open and closed issues for duplicates

- [ ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.
  Using `nixpkgs/master/pkgs/applications/networking/instant-messengers/signal-desktop/default.nix`

---

### Bug Description

### Steps to Reproduce

1.  Add a contact with First, Last, and Suffix name... such as `Signal Desktop III`.
2.  Expect `SI

[2022-03-26 19:33] kaktusztea commented on #2424
@scottnonnenberg-signal:

just to add: Bob has a **third** desktop client also 🙂 which was offline for a long time (but not unliked yet). Now it was started too.

### Message order
* Alices's message (1647676614830)
* "Safety number changed" log
* "Alice disabled disappearing messages" log
* Bob's answer (1647677942934)
* Updated the disappearing message time to 4 weeks
* ... some other messages .

[2022-03-27 04:10] yea-hung commented on #4530
Here's what's working for me to build from scratch:

Install the build tools:

[code]

Note that you should not need to repeat the steps later (if and when you later update your install of Signal Desktop).

Download the Signal Desktop source code:

[code]

Open `package.json` in a text editor and replace `"deb"` with `"rpm"` (line 391 for me, in my most recent build attempt). Save and close.

Init

[2022-03-27 06:59] esysfound commented on #5799
Since phone app and desktop updates this week - can now confirm problem is sorted.  Glad it all worked out.  Thanks

[2022-03-27 06:59] #5799 closed

[2022-03-27 08:35] zounp commented on #5374
Still a valid request. When you see emoji's like 🍰🍹🎉🎈in a message and hover over them there is no tooltip with an explanation of the meaning of the individual emoji. That is annoying.

[2022-03-27 14:51] osintalex opened #5832 "Two timestamp tests fail after cloning repository"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I ran `yarn test` after cloning the repository and following the contributing instructions; two timestamp tests failed.

It looks like something is going wrong in the timestamp formatting - the test expects them to have 'AM

[2022-03-27 16:19] jskrojec opened #5833 "Signal Desktop blue screen after answering or making a call"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Signal Desktop app shows blue screen after answering or making a call (screenshot below).

### Steps to Reproduce

1. Run Signal Desktop app.
2. Select contact to make a call.
3. Click on video call button.
4. Accept microp

[2022-03-27 19:10] BarbossHack commented on #4530
Thanks @yea-hung :+1: I made a Dockerfile to build Signal-Desktop RPM based on your advices (and @michelamarie's ones)

https://github.com/BarbossHack/Signal-Desktop-Fedora

[2022-03-27 19:13] BarbossHack commented on #1630
If you want to build your own Signal RPM package, I made a Dockerfile for that

https://github.com/BarbossHack/Signal-Desktop-Fedora

[2022-03-27 19:25] ckujau commented on #2521
Is there more to it than just `sed 's/xenial/stable/g' -i aptly.sh`, does Aptly need some kind of configuration tweak here?

[2022-03-27 19:54] maitra commented on #1630
As long as there is no official Fedora version, there is always the copr one available. To install, do the following:

[https://copr.fedorainfracloud.org/coprs/luminoso/Signal-Desktop/](url)

[2022-03-27 19:57] BarbossHack commented on #1630
Yes indeed, but as long as there is no official Fedora version (from @signalapp) , I prefer to build my own RPM package, for security reasons

[2022-03-27 20:00] ruben1PvP opened #5834 "Messages right-click menu doesn't work"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description
The contextual menu which opens when you right click a message not only doesn't work, but it duplicates the amount of options (and none of them work, not even the duplicated),

### Steps to Reproduce

1.  Send a message, it

[2022-03-27 20:05] cryptomilk commented on #1630
As a Fedora proven packager, I'm more trustworthy if I package Signal in Fedora than outside?

[2022-03-27 20:58] BirdInFire commented on #5719
Cool hope to see native wayland soon but secretly (openly) hope to see one day a community native app, instead of these app who use electron.

[2022-03-28 06:53] jamaluddinrumi commented on #5529
try to disable vpn if theres any

i got it works when i disable my vpn in my iphone while scanning barcode

[2022-03-28 11:17] mordax7 commented on #5719
Alternative to Signal Desktop: https://github.com/isamert/scli

[2022-03-28 12:59] BirdInFire commented on #5719
Thanks but would prefer a gui ^^

[2022-03-28 14:10] crypdick commented on #4849
I kept on getting this error, even after deleting the files and following the installation instructions. I also tried fixing permissions.

Eventually, I added the pubkey to Ubuntu's keyring manually [see here](https://askubuntu.com/a/32313/422690) and then edited `/etc/apt/sources.list.d/signal-xenial.list` to not have the "signed by" part.

[2022-03-28 15:14] jskrojec commented on #5833
Windows 11: https://debuglogs.org/desktop/5.36.0/27b60ae5cb0b55db00eb691a5b6f2d8df0a55b286d82b2a964c476d596fc9cee.gz

[2022-03-28 16:34] #5710 closed

[2022-03-28 16:39] scottnonnenberg-signal commented on #2424
@kaktusztea Thanks for the additional information. Seems like no new bugs there, but another log for the issues you saw on your Win10.

[2022-03-28 17:19] somoant commented on #5825
Looks like a fix in the electron was [merged](https://github.com/electron/electron/pull/33355) to main branch

[2022-03-28 18:56] scottnonnenberg-signal commented on #5834
What happens if you restart the app? Do the menus work? What about the top-right menu behind the triple-dot button, the one for the conversation? Do those menu items work for you?

[2022-03-28 18:57] scottnonnenberg-signal commented on #5833
When you restart, do you see a dialog talking about how Signal had crashed? If you do, please upload that crash information, and provide the URL here.

[2022-03-28 19:06] brianredbeard commented on #5719
@BirdInFire isn't that [Axolotl](https://axolotl.chat/) / https://github.com/nanu-c/axolotl/ ?

[2022-03-28 19:07] scottnonnenberg-signal commented on #5832
What's your locale? We may have some hardcoded dependencies on a United States locale in our tests.

[2022-03-28 19:09] ruben1PvP commented on #5834
Ok, this is embarrassing. This happened in both of my devices yesterday (so I though it wasn't something of restarting, like you proposed), but today I opened the program and the menu works like is intended... I guess the issue is fixed?

[2022-03-28 19:16] ruben1PvP commented on #5834
Alright, just tested it on my other device. Same result (menu fixed). I guess it was just a weird coincidence that happened in my 2 devices and that made me discard restarting as the fix.

[2022-03-28 19:16] #5834 closed

[2022-03-28 19:20] jskrojec commented on #5833
Dialog doesn't show up. It isn't possible to run desktop app immediately after blue screen. I have to quit app and wait a few minutes, then run the app again to clear the blue screen. I've changed my microphone recently to Wave3 and installed Nvidia Broadcast too. I'm using Elgato Wave Link, Nvidia Broadcast and Focusrite just for your information. It might be helpful. And one more, first 2-5 seco

[2022-03-28 19:59] osintalex commented on #5832
Local is London, UK. I've included a screenshot with some more details too.
<img width="219" alt="Screenshot 2022-03-28 at 20 58 43" src="https://user-images.githubusercontent.com/63904626/160477200-f13a18d4-5621-43a6-afba-842531c5c31c.png">

[2022-03-28 20:37] scottnonnenberg-signal commented on #5830
This might not be something we'll fix, given the new designs. But for now, you can get the full timestamp in the Message Details screen.

[2022-03-28 20:47] scottnonnenberg-signal commented on #5813
If you delete all data in Signal Desktop, that will really delete all data. You can also go to disk and delete the data yourself in `AppData/Roaming/Signal`.

[2022-03-28 21:08] JsBergbau opened #5835 "No possibility to change playback speed for voice messages"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

There is no option anymore to increase speed in Signal Desktop since a few updates ago. As far as I remember it was possible in the past.

### Steps to Reproduce

Get a voice message sent to you and play it on Signal Deskto

[2022-03-28 21:11] scottnonnenberg-signal commented on #5835
This is a feature request, and should be discussed on the forums: https://community.signalusers.org/

[2022-03-28 21:11] #5835 closed

[2022-03-28 21:12] scottnonnenberg-signal commented on #5831
What does iOS do for that contact?

[2022-03-28 21:33] BirdInFire commented on #5719
it's designed for mobile (as the screenshot see) but I hope this mode of using electron will end, because having 17 browsers on my bone becomes boring (because yes electron in the end is a browser), when i see a simple native software outclassed by then times the speed of an electron app... is this is the "future" can we have a past tech for signal ?

[2022-03-28 21:38] JsBergbau commented on #5835
Done https://community.signalusers.org/t/speed-control-for-voice-messages/43075

[2022-03-28 21:41] lasers commented on #5831
iOS and Signal.app both display `SD` initial avatar.

[2022-03-28 23:17] scottnonnenberg-signal commented on #5725
@lediur Can you provide the full Debug Log? You'll either need to upload it (preferred) or save it locally then include that file here. Uploading is preferred because it auto-deletes after 30 days.

[2022-03-28 23:19] lediur commented on #5725
Yep https://debuglogs.org/desktop/5.36.0/42fa18944cd4b9592ff6e4cc73841c78ecbb022942e492fdc07c70049c5c477b.gz

[2022-03-28 23:33] scottnonnenberg-signal commented on #5820
@ThiloteE Thanks for that video; it really gives us a feel for what's going wrong. Can you try starting Signal Desktop with `--disable-gpu` or `--in-process-gpu` and see if that helps? It looks like a hardware rendering artifact to me.

[2022-03-28 23:43] scottnonnenberg-signal commented on #5725
@lediur Looks like you have some network difficulties - when we tried to finish your registration, we failed to contact the signal server:

[code]

[2022-03-28 23:46] lediur commented on #5725
I wonder if there was an issue with a cloud provider around that time? I was having issues connecting to other sites, like githubusercontent.com even through ProtonVPN, so it seems unlikely that the issue was with my computer's network connection. Let me try linking again now

[2022-03-28 23:48] lediur commented on #5725
Okay, it seems to have linked successfully this time.

[2022-03-29 01:44] selukov commented on #5708
Please close the ticket, The error is gone

[2022-03-29 02:04] sfunk1x opened #5836 ""Error handling incoming message" on Ubuntu desktop app v1.3.4.1"
Observed:

When receiving a message from "Note To Self" on the desktop app from my mobile device (PIxel 6 Pro), I constantly receive an "Error handling incoming message". When I send a message to "Note To Self" on the desktop app, my mobile app receives it as expected. Also, the desktop app no longer receives the mobile-app sourced messages to other Signal users, though it does receive other SIgna

[2022-03-29 08:11] ThiloteE commented on #5820
OK, I started signal per command line.

- `signal --disable-gpu`: the flickering stops and the Signal videoconference apparently (from what I have seen!) works perfectly normal. Nice!
- `signal --in-process-gpu`: still has the flickering. Here the [log](https://github.com/signalapp/Signal-Desktop/files/8369313/error.in.commandline.txt) of my command line, some warnings and an error emerged. [Here]

[2022-03-29 08:16] ThiloteE commented on #5820
I will install the newest graphic cards driver today. Will report back, if that helped.

[2022-03-29 08:28] maymage commented on #1871
According to GNOME's HIG

* all apps should support 1024×600px windows sizes on the desktop
* optimally for phone usage scale down to 360×294px

and the latter should be feasible now with the collapsible sidepande

https://developer.gnome.org/hig/guidelines/adaptive.html

[2022-03-29 08:54] ThiloteE commented on #5820
Nope, newest nvidia driver (512.15, game ready, win10) for NVIDIA GeForce GTX 1060 did not change anything.

[2022-03-29 12:22] joujek commented on #1871
Looks like developers forgot about us / this feature/issue :(

[2022-03-29 16:28] scottnonnenberg-signal commented on #5836
Please follow the bug template. We need debug logs from your phone and your desktop device. `View -> Debug Log` on desktop, and `Settings -> Help - Debug log` on Android.

[2022-03-29 16:46] vladgorenkin opened #5837 "`ctrl-f` does not focus on `Search` field when current keyboard layout is cyrillic"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

`ctrl-f` does not focus on `Search` field when current keyboard layout is cyrillic

### Steps to Reproduce

1. open any chat
2. make sure "Send a message" input is selected
3. switch to cyrillic keyboard layout
4. press ctrl

[2022-03-29 20:26] scottnonnenberg-signal commented on #5837
The code to handle the search shortcut is here: https://github.com/signalapp/Signal-Desktop/blob/development/ts/components/leftPane/handleKeydownForSearch.ts

Can you help us out? Is it something to do with ctrl/meta keys? Or is it not a latin 'f' but a Cyrillic Ef? https://en.wikipedia.org/wiki/Ef_(Cyrillic)

[2022-03-29 20:27] scottnonnenberg-signal commented on #5820
Thanks for that additional detail. For now, it looks like `--disable-gpu` will be a good workaround.

[2022-03-29 22:31] scottnonnenberg-signal commented on #5712
As a temporary workaround, you can navigate to that message using the keyboard and use Ctrl+Shift+D to delete that item.

[2022-03-29 23:41] joneshf opened #5838 "Signal doesn't start due to database error"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I reinstalled macOS and can no longer access Signal

### Steps to Reproduce

1. I tried to update my computer and it crashed which lead me restoring from an earlier Time Machine backup, and then eventually reinstalling macO

[2022-03-30 00:16] scottnonnenberg-signal commented on #5838
Can you tell us more about what it means exactly when you say that your computer crashed? Were you running Signal Desktop at the time?

Can you also tell us more about where the Signal data came from? Is it from the initial attempted migration, or from Time Machine? Have you tried starting Signal Desktop with data from both sources?

[2022-03-30 00:44] joneshf commented on #5838
I ran a system update, it tried to restart, got part way through the update after the restart and crashed. After that I couldn't load macOS. I'm not exactly sure if there's more information I can supply, but more than happy to answer any other questions, if I can.

I installed Signal on this computer in Nov. 2020. It had been working fine and updating fine all the way up until the crash/backup/rei

[2022-03-30 05:11] vladgorenkin commented on #5837
Ctrl/meta keys are not relevant here, they are registered as expected.

It's a cyrillic `a` https://en.wikipedia.org/wiki/A_(Cyrillic) in place of latin 'f'. So actual shortcut is 'ctrl-a' in RU layout. Compare latin and cyrillic keyboard layouts:
https://en.wikipedia.org/wiki/Keyboard_layout#/media/File:Qwerty.svg
https://en.wikipedia.org/wiki/File:KB_Russian.svg

After changing layout from EN to

[2022-03-30 05:57] vladgorenkin commented on #5837
There is also `KeyboardLayout.lookup(event)` workaround already present in source code:
https://github.com/signalapp/Signal-Desktop/blob/development/ts/background.ts#L1117
We could use this instead of comparing `event.code`. What's your opinion?

I've also found some other bindings that do not work in RU layout. I'll fix them as well when we agree on what method to use

[2022-03-30 08:33] DiagonalArg opened #5839 "!?!Google!?! Capcha?? And - no joke - 20 capchas?? And Success Never Recognized? Unusable."
Signal Desktop 5.36.0
Ubuntu 20.04
Brave with and without various addons.  With and without Tor.

----------------
Twenty in a row.  Google?!

And then, when I finally complete it, two minutes later, another?  And then on restart, another?

And now another, 10 minutes later, with another 15-20 images, before I get,

"Your computer or network may be sending automated queries. To protect our users,

[2022-03-30 08:58] 29524935 commented on #5824
٥٨٢٤

[2022-03-30 15:22] indig0F10w opened #5840 "Minimize to system tray is not minimizing to system tray, close does"
[X] I have searched open and closed issues for duplicates
[X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

### Bug Description

Minimize to system tray is not minimizing to system tray and when Minimize to system tray is checked the close button minimizes Signal to system tray instead of closing Signal

### Steps to Reproduce (using _numbered_ list as provide

[2022-03-30 15:29] indig0F10w commented on #5839
You're using Signal Desktop thru Brave browser? I don't think this is possible.

It seems to me that Google detected your IP being changed very often and it is thus initiating bot challenge because your installation seems to be compromised.

[2022-03-30 16:56] scottnonnenberg-signal commented on #5839
@DiagonalArg We really need debug logs to investigate the behavior you're describing. `View -> Debug Log`, Submit it, then be sure to provide the post-upload URL here.

[2022-03-30 16:58] scottnonnenberg-signal commented on #5837
`KeyboardLayout` is the right answer here, yes. It does look like it wasn't used everywhere.

[2022-03-30 16:59] scottnonnenberg-signal commented on #5840
It is currently behaving as designed - do you have any ideas for improved wording of our options?

[2022-03-30 17:23] scottnonnenberg-signal commented on #5838
@joneshf I was asking about where the data came from that Signal Desktop is trying to use. And it sounds like the answer is Time Machine.

Unfortunately, if you keep Signal Desktop running all the time, it's more likely than not that Time Machine pulled its information at a time when the data was not ready to be backed up. The only way to be sure that a Signal Desktop backup is safe is when Signal

[2022-03-30 19:55] jeremiah-miller commented on #5719
Looks like it should be pretty easy to update signal to use it too, I'd make a pull request if I had time to make sure it still works and everything https://github.com/signalapp/Signal-Desktop/commit/536dd0c7b02a2a8e3b32f6889a537ce90443c176

[2022-03-30 21:14] DiagonalArg commented on #5839
You're right, it's not possible - but Signal redirects to the browser for the capcha.

It's not changing often.  It does change on bootup.

[2022-03-30 21:15] hiqua commented on #5399
Just had this as well, really awkward when my contact tells me after 20min and I have to flip my camera by hand to fix this... At the very least the miniature we see should reflect what our contact sees.

[2022-03-30 21:19] DiagonalArg commented on #5839
Debug log added at the bottom in the OP.

I use a VPN.  Initial redirect to browser was to Brave with multiple addones going through Tor (which goes through the VPN).  I got successful capchas over there, but repeated requests for verification on redirect to Signal.  So then I just copied the link to a Brave "incognito" page going through the VPN and not Tor.  Same behavior.

This is just crazy.

[2022-03-30 21:52] scottnonnenberg-signal commented on #5839
Lots of 428s, which means the server is identifying your sends as tripping our spam detection. From the log, you're trying to send to three key problematic accounts without sealed sender:

[code]

You can find out who these accounts are with this snippet in the developer tools:

[code]

Is there anything interesting about these accounts?

[2022-03-30 22:09] ThiloteE commented on #5820
You are welcome. Would you mind refering this issue to the support of the upstream application and post the link to the issue here for the curious?

[2022-03-30 22:29] DiagonalArg commented on #5839
I spoke too soon.  My iphone just complained and had me do a verification again.

Hold on, let me check on those accounts ...  Shite, how do I get to the Developer Tools?  I don't see them in the Menu.  I'll duck or brave or something ...

(I do remember seeing a couple of strange accounts in one or my groups.  The accounts had no associated names.  Those were not groups created by me.  I wonder i

[2022-03-30 22:29] DiagonalArg commented on #5839
I spoke too soon.  My iphone just complained and had me do a verification again.

Hold on, let me check on those accounts ...  Shite, how do I get to the Developer Tools?  I don't see them in the Menu.  I'll duck or brave or something ...

(I do remember seeing a couple of strange accounts in one or my groups.  The accounts had no associated names.  Those were not groups created by me.  I wonder i

[2022-03-30 22:38] fredrikcarlbom commented on #5812
I experienced all volume was low on that specific sound device (Hyper X cloud II), both Overwatch and Signal 1 on 1 voice call was very low and hard to hear. The volume of the game was raised again after finishing the voice call.

[2022-03-30 23:10] scottnonnenberg-signal commented on #5839
You'll want the Console tab in the Developer tools, then you can enter the commands I've provided. The 'failed to load source map' errors aren't a problem.

[2022-03-31 01:27] cazumbi commented on #1499
[code]
----
Is it possible, maybe, to make the "import contacts" a little more clear?

In my desktop it's like:

_"Import all Signal groups and contacts from your mobile device. Last import at 3/30/2022 4:59:02 PM"_

When I installed Signal in my contacts it automatically loaded my contacts and showed a list of 8 (eight) contacts there. So, I expected to see the same 8 people in my list on the Des

[2022-03-31 03:58] DiagonalArg commented on #5839
@scottnonnenberg - Thanks.  Ok, the command for:

...`987` returns a phone number.  That person is part of a group that I am not an administrator of, and I do not know this person.  All I see in the chat thread with that individual is, `Safety number has changed.  Verify safety number.`  (I have not done the verificaiton.)

...`8d5` returns a string of letters with is the name the person has used.

[2022-03-31 05:01] TuxIoannes opened #5841 "ARM (aarch64) build for Linux"
I use Raspberry Pi as a desktop PC with Ubuntu and there is no desktop build for it available. It seems that it should not take much resource to build for another processor architecture, would it be possible to add aarch64 Linux build to what can be directly downloaded from the official site?

[2022-03-31 06:43] vladgorenkin opened #5843 "yarn lint-prettier should not lint release/ directory"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

`yarn lint` lints `release/` directory (which is unnecessary) and fails (which is confusing if you ran `yarn build` beforehand and trying to do `yarn ready` check)

### Steps to Reproduce

1.  `yarn install`
2.  `yarn build`

[2022-03-31 06:56] inoas opened #5844 "Mac - Time format ignores OS setting"
### Bug Description

Time format just prints `am` despite that OS setting is set to 24 hours clock

### Steps to Reproduce

<img width="670" alt="Screen Shot 2022-03-31 at 08 53 35" src="https://user-images.githubusercontent.com/20972207/160995407-ef1a5a70-6b8d-492b-a47a-1c9cc6d7d535.png">

<img width="530" alt="Screen Shot 2022-03-31 at 08 53 48" src="https://user-images.githubusercontent.com/209

[2022-03-31 07:02] vladgorenkin opened #5845 "Search is case sensitive when looking up contacts/groups with cyrillic symbols"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Search queries for chats are case sensitive for cyrillic symbols (see screenshots below). Surpisingly searching in messages does not have such problem

### Steps to Reproduce

1.  Create group named 'Тест' (translates to 'Te

[2022-03-31 09:21] vaporwave9 commented on #5828
![grafik](https://user-images.githubusercontent.com/64961250/161022104-e582d8f9-0742-48df-9b0e-705c4733d198.png)

![grafik](https://user-images.githubusercontent.com/64961250/161022262-399c491e-72b4-4b23-8a7c-e67c178ad9c5.png)

It would appear that the jumping gaps are not appearing anymore when sending.
Thanks everyone for the very fast fix!

[2022-03-31 09:54] #5701 closed

[2022-03-31 09:54] indig0F10w commented on #5840
Usually, the minimize option by default is used to minimize software to taskbar. When adding minimize to system tray, it is expected for an app to be minimized to system tray and removed from taskbar. Then you have option to close to system tray which also removes app from taskbar but closes it to system tray. If close to tray is not checked, the close button should close the app.

As I am communi

[2022-03-31 11:32] 1337-537h opened #5846 "Profile pictures wont load"
After update from 5.36.0 to 5.37.0 (windows 10x64) the profile pictures wont load from my contacts.
I don't want to uninstall and reinstall it because i don't want to lose my logs.
How can i "fix it" ?

Any solution?

[2022-03-31 11:49] joneshf commented on #5838
Interesting. Okay that explains why it is the way it is now. Thanks for explaining that!

Is there a link where I can find more information about manual recovery? I could probably guess my way through it. But if there's an official how-to, that'd be great.

[2022-03-31 16:28] zx2c4 commented on #5195
Still not fixed, right?

[2022-03-31 16:53] scottnonnenberg-signal commented on #5841
This is a feature request, and should be discussed on the forums: https://community.signalusers.org/

[2022-03-31 16:53] #5841 closed

[2022-03-31 16:59] scottnonnenberg-signal commented on #1499
@cazumbi When contacts are imported, you'll see them when you click the pen icon to start a new conversation. And the left pane shows recently-active conversations, with no messages synced over when you link.

If you're seeing messages on your phone that don't show up on Desktop, then we can look into that if you provide logs and details about the missing messages.

[2022-03-31 17:12] hex-m opened #5848 "long filename breaks layout"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Sending a file with a long name doesn't look nice.

### Steps to Reproduce

1.  create a file with a long filename
2.  send it via Signal Desktop
3.  notice that the filename is not shortened and thus the bubble extends out

[2022-03-31 17:15] scottnonnenberg-signal commented on #5844
Duplicate https://github.com/signalapp/Signal-Desktop/issues/4252

[2022-03-31 17:15] #5844 closed

[2022-03-31 18:06] 1337-537h commented on #5846
https://imgur.com/DtyaHoV

Is it neccessery to upload ALL the Debug Log?

========= System info =========
App version: 5.37.0
Environment: production
Node version: 16.13.0
OS version: Windows 10 Home
Time: 1648749874337
User agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Signal/5.37.0 Chrome/98.0.4758.109 Electron/17.2.0 Safari/537.36

========= User info =

[2022-03-31 18:18] scottnonnenberg-signal commented on #5846
@1337-537h Yes, we really do need the whole log. If you submit it to our servers, it will be automatically deleted after 30 days.

[2022-03-31 18:55] scottnonnenberg-signal commented on #5846
You submit, and then provide the resultant URL here.

[2022-03-31 18:59] 1337-537h commented on #5846
https://debuglogs.org/desktop/5.37.0/7b750d6c34f4e6b12ca8e465b5e21bf2480dfc9dcef00e3bd49a0bd42da65820.gz

[2022-03-31 19:35] wall03 commented on #2696
Please fix

[2022-03-31 21:29] dreua commented on #1630
This is about the trustworthyness of a package, not you as a person. You can't expect people to memorize the list of proven packagers, they shouldn't even need to know what that title means. (Congratulations, by the way.) A package in the Fedora repositories or rpmfusion will always be more trustworthy than copr or other sources and I believe this is a good thing.

[2022-04-01 01:06] scottnonnenberg-signal commented on #5838
You could also try restoring from Time Machine again, and deleting any .wal or .shm files next to the database, see if that allows you to start up. Another thing you could try is different backup dates in Time Machine - maybe one of the other ones would work?

Also key to remember that any Signal Desktop backup should be combined with an unlink in your phone. The old data in a Signal Desktop backu

[2022-04-01 05:49] vladgorenkin commented on #5837
@scottnonnenberg-signal, please take a look at https://github.com/signalapp/Signal-Desktop/pull/5842

[2022-04-01 07:12] achristinek opened #5849 "Error message: "Delivery Issue: A message from X couldn't be delivered" when no messages were sent"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

- [X] I have searched open and closed issues for duplicates
- [X] I am submitting a bug report for existing functionality that does not work as intended
- [X] I have read https://github.com/signalapp/Signal-Android/wiki/Submitting-useful-bug-re

[2022-04-01 07:14] achristinek commented on #5849
Hm I see the file titles didn't make it through. Please msg me if you need more intel on the comparisons, but essentially the dark background is from Android, the light background is from desktop mac.

[2022-04-01 07:16] DiagonalArg commented on #5839
Ongoing [debug log](https://debuglogs.org/desktop/5.36.0/4c7eef657b139c0881f5c9a10bd893a25e26998bdc9e57a74042f8cca073a74e.gz).  Bunch of errors appering in the console.  Still hoping for some help with this.

[2022-04-01 09:37] cryptomilk commented on #1630
I would argue that nodejs apps per default are not trustworthy. You should be careful how you run them. I have signal-desktop still secured with apparmor.

Here is a `yarn audit` of Signal-Desktop 5.37.0:

[code]

[2022-04-01 10:32] stadlerb opened #5850 "Windows 10: Message notifications keep re-appearing when clicked (except on "X")"
In Windows 10, message notifications from Signal Desktop are shown in the notification area that can be popped up by clicking the bubble in the tray area.
When I click on one of these notifications, it disappears temporarily, but the next time I open the notification area, it is there again.
The expected behaviour is that it opens Signal to show the message _and_ remove the notification. Instead,

[2022-04-01 19:47] ggielly commented on #5806
Upgrade to 5.37.0 solve the problem here.

[2022-04-01 21:37] jrlebbs commented on #5813
@scottnonnenberg-signal I want to get this filed over in the Android side. Is there a proper way to link to this issue so I don't have to duplicate effort?

[2022-04-01 21:50] jeremiah-miller commented on #5719
It works in 5.38.0-beta.1!

[2022-04-01 22:05] BirdInFire commented on #5719
Hope to see it in flathub soon ;)

[2022-04-01 22:18] jplatte commented on #5719
Can confirm, I can run the beta with `--ozone-platform=wayland` without crashes and it's no longer pixelated on HighDPI! 🥳

[2022-04-01 22:41] jb95x opened #5851 "Unexpected behaviour after selecting the three dots icon on a image message"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

When clicking on the three dots menu, to show more options, on a message containing an image and then clicking on an empty space next to any message containing an image, be it right or left far away, opens said image.

###

[2022-04-02 02:41] kaimast commented on #5749
I think I have about the same behavior.

[2022-04-02 02:43] kaimast commented on #5749
Might be related to #5052 ?

[2022-04-02 07:39] smarek commented on #4108
I happen to have the same problem, will it help, if I provide debug logs?

[2022-04-02 10:37] sweah82 commented on #5350
I still have this problem with Signal-Desktop 5.38.0-beta1 on Ubuntu with Wayland. I start a video call and also join with my cellphone. After sharing my whole screen, on the cell I only see a black screen. Sharing a window works as expected. Here the debug logs of both devices:

Signal-Android:
https://debuglogs.org/android/5.34.8/8976a58ccfdc6802af34644c71a0cedd099006c01f3bb98ec918f1492076b282
S

[2022-04-02 16:55] jskrojec commented on #5833
Issue is gone after using raw output from my webcam. The reason of blue screen is Nvidia Broadcast auto zoom effect for webcam.

✅ Logitech BRIO works
❎ Camera (NVIDIA Broadcast) does not work

<img width="524" alt="image" src="https://user-images.githubusercontent.com/43992844/161392936-53cdcf05-f4dd-496c-8240-98f965cefb6e.png">

[2022-04-02 17:12] piotr-dobrogost commented on #1630
@cryptomilk
At https://build.opensuse.org/package/show/network:im:signal/signal-desktop there is build for Fedora Rawhide.
Could please add build for current version of Fedora (35) and if not describe steps needed to get one?

[2022-04-02 17:16] cryptomilk commented on #1630
That's not possible as Fedora 35 doesn't provide ffmpeg. I've just recently added ffmpeg to Fedora, it will be available with Fedora 36. You have to wait till f36 is out ...

[2022-04-02 17:23] BarbossHack commented on #1630
You can build your own Signal-Desktop rpm for Fedora 35 with this project @piotr-dobrogost https://github.com/BarbossHack/Signal-Desktop-Fedora

That's what I'm using, and no problem so far on Fedora 35

[2022-04-03 02:32] DiagonalArg commented on #5839
Strangely, while I have the same issues developing, I'm now getting it with different correspondents.  '01d' "Unknown Contact" is still there, but now it's '394' and '70a'.  As opposed to the previous, these two people I have corresponded with in the past as individuals, with no issues.  I just texted '70a' as an individual, with no further complaints.  The text seems to have gone through.  :?

Ne

[2022-04-03 03:03] DiagonalArg commented on #5839
Ok, I've found two lists, neither created by me, with the following appearing:

![Signal Unknown contact](https://user-images.githubusercontent.com/5190243/161409437-c4378992-c0bc-4cdd-a100-9e8839dcd272.png)

What am I to make of these?  Perhaps they are related to '01d'?

[2022-04-03 03:25] DiagonalArg opened #5852 "Multiple "Unknown contact" appearing in group member lists. Also, Unreachable Contacts. Inability to Initiate. Infinite Capcha Loops."
Signal Desktop 5.37.0
Ubuntu 20.04

I have two groups that have four members that appear as "Unknown contact."  I am having trouble posting to at least those two lists, as I'm getting repeated demands that I fill out capchas (infinite capcha loop that never resolves).  The '428 Error's generated seem to be pointing to a fluctuating list of apparently valid members, and then a single '01d' that com

[2022-04-03 18:08] Sgn-32 opened #5853 "5.35.0 production not updating on Win 10 - HTTPError: Response code 404 (Not Found)"
- [X] I have searched open and closed issues for duplicates
- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

[code]

Update was set to auto update -> no update
disabled auto update -> no update
tried "force update" with enabled dev-tools -> no update

always HTTPError

Actual Result:

No update to 5.36.0 or higher

Expected Result:

[2022-04-03 18:27] 1337-537h commented on #5846
I press "import contacts - import now" and profile picture fixed.
But in every other update all was fine without doing that.

[2022-04-03 18:40] ultrajae opened #5854 ""Signal couldn't update""
I'm at 5.35.0. Win 7

I have auto-download updates OFF, but I have the notification "click to download update"

But this time., I got the error "Signal couldn't update", and asking me to retry or go download manually.

I did download form signla.com/download, but am a bit concerned that closing the program, and ruinning the 5.37.0 install could break/ruin my Signal database with years of history.

[2022-04-04 07:50] karlhorky commented on #4950
@jeremywohl this seems like a bug still - clicking on a macOS notification should automatically focus the message input field.

Do you think you could reopen this and add this to the description?

[2022-04-04 09:09] jeremywohl commented on #4950
@karlhorky Yes, the common chat interface behavior is to autofocus the message input field when one starts typing (unless in search). You'll find many dozens of issues on this repo asking for it, back to 2016. One day!

[2022-04-04 09:26] karlhorky commented on #4950
@jeremywohl I believe the maintainers are pro-autofocus - they have fixed most of the auto-focus bugs that have come up.

This is one of the last ones - clicking on the notification that shows up on macOS.

Do you think that you could reopen this issue? I think it is the issue that gets the closest to describing this specific problem.

[2022-04-04 09:41] karlhorky commented on #4950
If you do not want to reopen this, then I'll create a new issue for this. But I think this issue is the closest existing issue to the problem.

[2022-04-04 11:08] Bloo-dev commented on #5586
Experiencing this with high aspect ratio images on Signal Desktop. I suggest this issue should be _re-opened_.

Below is an image with the approximate clickable area for zooming (red box), note that the area extends all the way down to the lower edge of the application window, whereas the actual image only uses a small portion of that space (white box).
![clickable-area](https://user-images.github

[2022-04-04 12:40] kwikwag commented on #4809
@EvanHahn-Signal I never received a reply from you.

[2022-04-04 13:15] TMMC commented on #5854
I have similar mistake. I have run into another problem. Although Signal Desktop is closed (checked in Windows Task Manager, the installer gives message as below, basicly it says that it can not close runnig application and you have to close it and click "try again". Which gives nothing, becasue Signal Desktop is alread closed. The instaleler is 5.37.0, installed version is 2.36.0. After multiple

[2022-04-04 14:08] JustTotallyMe opened #5855 "Sticker-Pack cannot be added"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

If you create a sticker pack and try to add it to signal desktop, it give you an error.

### Steps to Reproduce

1. Create any sticker pack via signal desktop
2. After the process is done, you will see a short toast inside s

[2022-04-04 15:32] indutny-signal commented on #5719
Hooray!

[2022-04-04 15:32] #5719 closed

[2022-04-04 16:19] indutny-signal commented on #5854
Sorry you ran into this. The issue might also be with the access to the file. Could you locate your Signal installation by right-clicking the icon:
<img width="327" alt="image" src="https://user-images.githubusercontent.com/79877362/161587668-ed695858-3d8a-4139-9457-f4b5ac68c753.png">

(For me it is: `C:\Users\indutny\AppData\Local\Programs\signal-desktop`)

And could you try renaming this folder

[2022-04-04 16:19] indutny-signal commented on #5855
Sorry about that. Does your sticker pack has only one sticker?

[2022-04-04 16:25] indutny-signal commented on #5846
I just checked your logs and it appears that we failed to fetch the avatars for some of your contacts due to networking issue on Mar 29th, and then we didn't redownload them again to save bandwidth. Do you recall experiencing an internet outage at that time?

[2022-04-04 16:27] indutny-signal commented on #5839
Alright. Closing this issue in a favor of #5852

[2022-04-04 16:27] #5839 closed

[2022-04-04 16:28] indutny-signal commented on #5833
Oh, sorry to hear that, but glad that you found a workaround!

[2022-04-04 16:28] #5833 closed

[2022-04-04 16:29] indutny-signal commented on #4108
@smarek yes, it would be help a lot! Especially if the message has been sent recently and you could provide us a timestamp of the message. Thanks!

[2022-04-04 16:29] indutny-signal commented on #5813
I think you did it! Thanks!

[2022-04-04 16:33] 1337-537h commented on #5846
I don't remember anything unusuall for Mar 29th.
But as i said after press import contacts the avatars was fixed.
So i think i will do the same thing if that happens again.

[2022-04-04 16:37] #5846 closed

[2022-04-04 17:43] JustTotallyMe commented on #5855
Yes it does, is this the issue?

4 Apr 2022 6:20:08 pm Fedor Indutny ***@***.***>:

[2022-04-04 18:14] indutny-signal commented on #5855
This is a totally valid sticker pack! I asked only because we have a bugfix for this particular issue which will be live a bit later this week.

Closing the issue because we are aware of it and have a fix coming soon!

Thanks for the report.

[2022-04-04 18:14] #5855 closed

[2022-04-04 18:15] smarek commented on #4108
Log here: https://debuglogs.org/desktop/5.36.0/9a3aa19002818796ed1975400aab6a265c0d0c8c266f94333019547e0c575a3d.gz

Actually looks more like #5772 bug, since i see almost all the messages from the other party (all affected are one-to-one chats without disappearing messages, both with verified and non-verified safety numbers)

Last non-synced message was sent by me, and has timestamp "4 Apr 2022 19

[2022-04-04 18:34] Sgn-32 commented on #5853
Updating from the 5.37.0 download version had worked.

https://debuglogs.org/desktop/5.37.0/7eb18ca3881569d8734c90e32b40a1ad6d431d06ad150f4c4ea3d51ed9cc2083.gz

But how many users will not notice that a newer version is available?
Signal Desktop hadn't show anything, like a "an update is available"
or "Signal couldn't update" error message.

[2022-04-04 19:49] indutny-signal commented on #5853
@Sgn-32 we have a plan of action which will implement slightly later this week.

[2022-04-05 00:36] ultrajae commented on #5854
So, I've been dealing with this particular bug for like 2 years now...
BUT, if I wait a few seconds, and click retry, it always completes the install

[2022-04-05 01:05] indutny-signal commented on #5854
@ultrajae is your Signal installation configured to auto-launch when computer restarts?

[2022-04-05 01:18] ultrajae commented on #5854
No. And I have auto updates off... So I only get the notification that one can be downloaded and installed, if I choose to.

[2022-04-05 01:34] indutny-signal commented on #5854
Thanks for the response. This is most curious... Could you try the steps from the [comment above](https://github.com/signalapp/Signal-Desktop/issues/5854#issuecomment-1087757298) to see if you can rename the installation folder, please?

[2022-04-05 09:20] TMMC commented on #5854
@indutny-signal I was able to rename it as you wrote, but still no luck with the update - same bug as before. It was located in `%localappdata%/Programs/Signal-desktop`, there is one more location `%appdata%/Signal` and I am able to rename it too, still no luck with the update - neither clicking the blue message in Signal desktop nor by running downloaded installer.

[2022-04-05 09:24] smarek commented on #4108
Also, since these bugs created inconsistency between what is available on linked devices, would it be possible to trigger re-synchronization on linked devices (obviously limited from the time when devices were linked, not full history) ?

[2022-04-05 09:26] TMMC commented on #5854
@ultrajae I think (I am not entirely sure) I had this issue 5.35.0 to 5.36.0 and I have run the installer and my updated version was fine. Now I was waiting about one minute after closing Signal and still no luck with the update.

[2022-04-05 16:06] indutny-signal commented on #5854
Alright. Thank you for trying this. Could you please try downloading the installer from signal.org and running it? If you don't uninstall, you should have all your data left intact.

Sorry you keep running into this!

[2022-04-05 16:09] indutny-signal commented on #4108
@smarek thank you for the logs, could you provide the ones from your phone as well, please?

[2022-04-05 16:16] indutny-signal commented on #4108
Thank you!

[2022-04-05 16:35] smarek commented on #4108
Yes, with new phone, but that was roughly 20th January 2022, long before issue with synchronization started to occur

[2022-04-05 16:42] indutny-signal commented on #4108
I see. In this case, it could be a bug that we fixed in 5.37.0 release of the Signal Desktop. Could you update to 5.37.0 and unlink/link the Desktop app from your phone, please?

[2022-04-05 16:46] TMMC commented on #5854
@indutny-signal I am not able to finish the update, as I wrote above. I do not know how about @ultrajae.

[2022-04-05 16:48] indutny-signal commented on #5854
@TMMC oh I see. Sorry, I got confused. What if you rename the signal folder, install the app from the website, and don't rename the folder back?

[2022-04-05 17:37] Bullshit-Generator commented on #4480
@Rufus-The-Dog I have nearly the same Mac (5.3 mid 2009). Updated the hardware (new battery, SSD drive, removed broken CD/DVD-ROM by a HDD-adapter fitting into that space! You can install macOS Mojave to your MacBook Pro. I did so. Checkout this patch-link:
http://dosdude1.com/mojave. I did the patch by using the HDD-adapter instead of the USB mentioned there. Took some time, but finally it worked

[2022-04-05 17:38] TMMC commented on #5854
@indutny-signal No problem, happens. Which folder `%localappdata%/Programs/Signal-desktop` or `%appdata%/Signal`?

[2022-04-05 17:47] indutny-signal commented on #5853
@Sgn-32 may I ask you if you have an antivirus installed on your Windows machine, and what kind of antivirus this is if you have one?

[2022-04-05 17:48] indutny-signal commented on #5854
`%localappdata%/Programs/Signal-desktop` should hopefully do it. Thank you so much for helping me!

[2022-04-05 18:07] TMMC commented on #5854
@indutny-signal Well, thank you for helping me - it worked. And I have all my conversations etc. in place. I tested with one contact and "my notes" and they do synchronize.

In case of future problems, I guess `%localappdata%/Programs/Signal-desktop` is where the Signal Desktop is installed and `%appdata%/Signal` is where the user (me in this case) data (chats, preferences, database) are stored, i

[2022-04-05 18:10] indutny-signal commented on #5854
This is not related to #5853 as far as I can tell, and I am really glad that you got it fixed.

Do you happen to have an Antivirus installed and active on your Windows machine? I'm still trying to understand why it couldn't update before you renamed?

Could you also try one more thing for me, please? What if you close the app and try to install 5.37.0 again using the installer from signal.org. Wou

[2022-04-05 18:17] TMMC commented on #5854
@indutny-signal Yes I do have antivirus it is not the default Windows Defender and I use it for years - never had this problem before maybe (as in one comment below while updating from 5.35.0 to 5.36.0 - but manual update (using the installer worked) now it did not.

Answering your second question - same problem - can not "overwrite" installation
![Zrzut ekranu 2022-04-05 201253](https://user-imag

[2022-04-05 18:45] indutny-signal commented on #5854
@TMMC Not sure if you'd be willing to try it out, but my best bet is that antivirus is somehow involved in this so I at least have to ask. Do you think you could try installing 5.37.0 without renaming as you just did while your **antivirus is off**? For extra safety you could possibly turn off the Wi-Fi on that laptop while you are doing it.

I will totally understand if you wouldn't want to try i

[2022-04-05 18:59] indutny-signal commented on #5854
As an alternative, we could also try the following scenario if you have time and don't have a beta version installed:

- Install [5.35.0-beta.1](https://updates.signal.org/desktop/signal-desktop-beta-win-5.35.0-beta.1.exe)
- Manually install [5.36.0-beta.1](https://updates.signal.org/desktop/signal-desktop-beta-win-5.36.0-beta.1.exe)
- Manually install [5.37.0-beta.1](https://updates.signal.org/de

[2022-04-05 19:00] Sgn-32 commented on #5853
@indutny-signal this Windows machine has Avira antivirus installed.

First installation seems to have been 5.8.0 Signal Desktop on this machine (with antivirus).
With enabled auto-launch and auto-update no problems from 5.8.0 to 5.35.0.

[2022-04-05 19:01] indutny-signal commented on #5853
Got it. Thank you!

[2022-04-05 19:14] smarek commented on #4108
@indutny-signal i can try, would it be beneficial for further development/debugging, if i tried re-linking now since snap 5.37.0 is not yet available? also if you could somehow push newer snap (the 5.37.0) into the repository, i'd be grateful

[2022-04-05 19:16] indutny-signal commented on #4108
Snap isn't officially supported. I think if you relink 5.36.0 there is a great chance that you wouldn't run into any issues with it. If you will, though, please feel free to report it here. The most useful data for us would be the timestamp and logs from both your phone and desktop.

Thanks!

[2022-04-05 19:20] #5853 closed

[2022-04-05 19:24] indutny-signal commented on #5854
Thanks so much for doing this. So it isn't an antivirus at all. Could you also try try the beta update sequence from the [comment above](https://github.com/signalapp/Signal-Desktop/issues/5854#issuecomment-1089194850), please?

[2022-04-05 19:26] TMMC commented on #5854
@indutny-signal Sure I can. Just tell me, please, is it gonna give me another instance of Signal or is it going to overwrite the default installation and how can I get back to production?

[2022-04-05 19:27] indutny-signal commented on #5854
This is going to be a whole separate instance of Signal with its own data and it won't touch your production version at all. Thanks!

[2022-04-05 19:28] TMMC commented on #5854
OK, do you want me to connect with mobile divice or just run it without connecting?

[2022-04-05 19:29] indutny-signal commented on #5854
Running without linking it to your phone should be fine. It will display QR code once installed. Feel to just close the window and install the next version. What's important here is the interaction between uninstaller from one version and the new installer from another.

[2022-04-05 19:42] TMMC commented on #5854
Same problem.

1. Installing 5.35.0-beta.1 - no problem.
2. Updating to 5.35.0-beta.1 using installer - no problem.
3. Updating to 5.37.0-beta.1 using installer - fails.
![Zrzut ekranu 2022-04-05 213346](https://user-images.githubusercontent.com/300390/161836594-bdd9c593-ceb6-43de-978d-d0e0e8b4ca7a.png)
![Zrzut ekranu 2022-04-05 213515](https://user-images.githubusercontent.com/300390/161836602-79

[2022-04-05 19:45] indutny-signal commented on #5854
Alright. Thanks so much for running this. I think it narrows the issue down significantly. 🤟

[2022-04-05 19:48] TMMC commented on #5854
No problem ;)

[2022-04-05 19:52] ultrajae commented on #5854
I assume you mean that thsi should be done when Signal is shut down.. rename the folder to *-backup, and then back... then restart Signal... because it cannot be done while the program is running, because "file in use" ..

Incidentally,  finally, after more than 24hrs, I got the notification of an available update for Signal, but the same error as my original OP...

' .. Try to download and instal

[2022-04-05 19:54] indutny-signal commented on #5854
@ultrajae we just pushed out this notification, but unfortunately in your case there are two bugs in play :sob:

The only thing that I could recommend doing at this point is removing that folder as in the [comment above](https://github.com/signalapp/Signal-Desktop/issues/5854#issuecomment-1089111142) and installing manually. This should give you the latest 5.37.0, but I'm still working on identify

[2022-04-05 19:57] ultrajae commented on #5854
So wait-

Should I just run the installer I manually downloaded?

[2022-04-05 19:57] TMMC commented on #5854
@ultrajae Yes I renamed the folder while no Signal instance was running. The data (chats, preferences, etc.) were untouched in my case and they were correctly synchronised with mobile device.

[2022-04-05 20:00] TMMC commented on #5854
@ultrajae In my case it did not work (running downloaded installer without renaming or removing `%localappdata%/Programs/Signal-desktop`). It worked after renaming and then I removed renamed folder.

[2022-04-05 20:37] indutny-signal commented on #5854
@TMMC @ultrajae could either of you try running this command in the Command Prompt (cmd.exe)?

[code]

This command is the only difference between 5.35.0 and 5.36.0/5.37.0 so I wonder what result you would see.

[2022-04-05 20:57] indutny-signal commented on #5854
Oh, I forgot to say that Signal has to be closed in order to get meaningful results from the command above.

[2022-04-05 21:32] #5445 closed

[2022-04-05 22:32] ultrajae commented on #5854
The first command yielded no result.
The echo resulted in "1"

I still haven't updated yet, so *.35 still here...

[2022-04-05 22:47] indutny-signal commented on #5854
@ultrajae could you try something unorthodox, please?

If you could install [5.35.0-beta.1](https://updates.signal.org/desktop/signal-desktop-beta-win-5.35.0-beta.1.exe), go to the `%localappdata%/Programs/signal-desktop-beta` and copy the `uninstall.exe` from that folder to your main installation `%localappdata%/Programs/Signal-desktop`. I wonder if you'd be able to manually update to 5.37.0 usin

[2022-04-05 22:55] ultrajae commented on #5854
A couple of Qs first, remembering that I have **NOT YET** even attempted the simple update, to run the manual download of *.37 and see if it, "just works" (I suspect it might).

Is your request based on the assumption that I cannot update at all (not realizing I haven't tried the simple approach above yet)? Or is this merely to gather more helpful data?

If I try your suggestion on the beta, will

[2022-04-05 22:58] indutny-signal commented on #5854
@ultrajae In this case I'd try updating manually to 5.37.0 first to see if it works. Now that I think more about your issue - you should be able to manually update because you are on 5.35.0 and not on 5.36.0. Sorry for the confusion.

@TMMC running this on your machine would be really helpful, though, since you encountered a different kind of issue:

[code]

[2022-04-06 02:33] theAddict opened #5856 "Signal fails to update when git linux commands are in path."
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description
When find.exe from C:\Program Files\Git\usr\bin is in the path, the installer will fail, indicating that Signal is running and could not be closed.

### Work-around

1. Open command prompt
2. execute `set PATH=c:\windows\sys

[2022-04-06 04:04] matheger opened #5858 ""This app can't run on your PC" after fresh 5.37.0 install"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I recently had update bugs similar to #5854. In the course of some system housekeeping I tried to solve it by uninstalling Signal and then reinstalling from a freshly downloaded 5.37.0 installer. Now when trying to run the

[2022-04-06 06:39] TMMC commented on #5854
@indutny-signal Different timezone I guess ;) I have just run the command while Signal closed.

The result is `1`.

[2022-04-06 06:46] indutny-signal commented on #5854
@TMMC thanks for that. What if you'd start the installer for 5.37.0 and when it will error as it did before run the command again?

[2022-04-06 06:52] TMMC commented on #5854
No result - nothing echoed.

![Zrzut ekranu 2022-04-06 085221](https://user-images.githubusercontent.com/300390/161913257-01bb6556-011d-4040-9399-cac73e6c230e.png)

[2022-04-06 06:55] indutny-signal commented on #5854
Got it... Sorry, I wish that would give us some useful signal. Thank you for trying it, though!

I have one final idea. Do you still have 5.36.0-beta.1 installed? Could you try uninstalling it and see if this error would happen?

[2022-04-06 06:57] TMMC commented on #5854
@indutny-signal I uninstalled it yesterday using Revo Uninstaller and yes there was an error saying the Signal could not be closed alhough it was closed. I hought it was some Revo screwing.

[2022-04-06 06:58] indutny-signal commented on #5854
Now this is something! Did the error look the same as when you tried to install 5.37.0?

[2022-04-06 07:03] TMMC commented on #5854
I had to close the uninstaller process to be able to finish the scanning by Revo.
The error was bassicly saying that Signal is still running and you have to close it and click "retry". As it was closed and clicking "retry" had no result, I just killed the uninstaller process. As I can see I still have `%appdata%/Signal Beta` folder but the one from `%localappdata` is gone.

[2022-04-06 07:06] TMMC commented on #5854
I have to disappear for few hours, if it is necessary I will get back to you in the afternoon or evening.

[2022-04-06 07:06] indutny-signal commented on #5854
Got it. Thank you for this information. If you are curious, everything points to https://github.com/electron-userland/electron-builder/pull/6472 being the culrpit, but somehow the commands from that PR appear to give correct exit codes for you.

[2022-04-06 08:05] hubyhuby commented on #5002
Signal 5.37 seams to improve a little on the situation. Instead of beeing at 200% CPU (on 2 core computer) it is at ~160% .
Which is nice , because my computer doesn t slow down to a 1990 computer, and I can do other tasks.
Until there is hardware VA API acceleration, it is good to see it is getting more usable. And I just noticed you can share only one window now , that s great ! (we have 4K disp

[2022-04-06 08:44] karlhorky opened #5859 "Clicking macOS Notification Doesn't Focus Message Input"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

When Signal desktop on macOS is not already focused, clicking on a notification doesn't cause the message input to be focused, leading to bad UX for keyboard users

### Steps to Reproduce

1. Focus another application other

[2022-04-06 08:44] karlhorky commented on #4950
@jeremywohl Ok, since I assume you do not want to reopen this, I've opened #5859 to track this

cc @indutny-signal

[2022-04-06 09:37] Vandroiy commented on #5854
Using Signal Desktop 5.35.0 on Windows 10 Pro 21H2.

Also getting the yellow error message "Signal couldn't update."

[2022-04-06 09:54] maxammann commented on #5179
This issue still persists. I regularly see Signal taking 15-20% CPU.

[2022-04-06 10:01] petcap commented on #5179
This issue remains here as well, running 5.37.0 on Linux.

![Screenshot from 2022-04-06 11-58-03](https://user-images.githubusercontent.com/8736529/161950415-5e68e530-1482-4ad4-b8fc-095b31bf95a4.png)

[2022-04-06 11:13] russellbanks opened #5860 "Deleted message timestamp goes to new line"
- [X] I have searched open and closed issues for duplicates
- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Since v5.37.0, timestamps are on the same line as the message itself. This is not the case for messages that have been deleted for everyone.

### Steps to Reproduce

1. Send a message
1. Delete the message for everyone

Actu

[2022-04-06 14:00] azuredusk10 opened #5861 "Searching a chat via the "Contact details" panel doesn't work"
- [X] I have searched open and closed issues for duplicates

- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Searching for a message via the "Contact details" screen doesn't take the user to the message they clicked on.

### Steps to Reproduce

1.  Open up any chat
2.  Click on the chat header
3.  Click on "Search"
4. Enter a sear

[2022-04-06 14:29] la-marc commented on #5854
I have the same problem on two different laptops: one with Win10 Pro 19043, another with Win10 Pro 19044. I get the warning with yellow backgroung when trying to initiate the update. Both with Signal 5.35.0.

[2022-04-06 14:59] I-Otsuki commented on #5854
hi. someone who wrote the said PR here.
I'm trying to reproduce the issue on my Windows 10 Pro 21H2 x64...

I installed 5.35.0 production with installer then kicked 5.37.0 installer manually while the app is running.
(I don't know how to start in-app update process...)
The installer asked me if I mind it kills the running app. I clicked OK, then the install completed successfully...

Maybe I need

[2022-04-06 15:43] la-marc commented on #5854
The manual installation worked for me.

[2022-04-06 16:05] indutny-signal commented on #5854
@Ia-marc yellow banner is unfortunately expected for 5.35.0 and is unrelated to this issue. I'm sorry you had to run into it, but the only way forward is indeed to install manually as the banner says.

@I-Otsuki thanks for checking it. Sorry things got mixed up, we are actually investigating the different issue here. See @TMMC 's [comment](https://github.com/signalapp/Signal-Desktop/issues/5854#is

[2022-04-06 16:14] I-Otsuki commented on #5858
Windows may display a such error when the executable is somehow corrupt, for example, when the exe is still being downloaded and incomplete.
Can you right-click the exe and open Properties -> Digital Signatures -> Signal Messengers, LLC -> Details?
If the file is not corrupt, you should see a text "This digital signature is OK."

[2022-04-06 16:19] matheger commented on #5858
There was no such tab in the properties window. However I just completely removed the installation and downloaded the installer again, now it seems to work. Looks like something must have gone wrong with the previous installer download.

[2022-04-06 16:19] #5858 closed

[2022-04-06 16:23] indutny-signal commented on #5854
@Vandroiy

Could you try manually updating by clicking the banner and downloading the installer from the website, please?

[2022-04-06 16:24] TMMC commented on #5854
@indutny-signal Glad you have found it, thanx for info, I can see the battle is still running ;) Unfortunately, I am not an app dev, so I can not help with the code part :/

[2022-04-06 16:32] la-marc commented on #5854
@indutny-signal ok, thanks!

[2022-04-06 16:36] I-Otsuki commented on #5854
@indutny-signal
uh-oh, sorry about misreading,
As far as I know, uninstalling/installing while the app running elevated brings up "close manually" message, but closing manually solves the situation...

[2022-04-06 16:36] indutny-signal commented on #5858
Awesome. Glad to hear it works now!

[2022-04-06 16:41] indutny-signal commented on #5854
@I-Otsuki this is what I see locally, but for @TMMC neither uninstall nor update appears to work, and the `tasklist` doesn't even return `Signal.exe` running.

[2022-04-06 16:53] indutny-signal commented on #5854
@I-Otsuki is there anything else that we could ask @TMMC to try to narrow down the issue?

[2022-04-06 16:59] indutny-signal commented on #5860
Thanks for the report. We are aware of this issue and will work on it soon.

[2022-04-06 17:11] I-Otsuki commented on #5854
well... i think of two...

* Is that multi-user environment?
* In the screenshot, I can see command prompt's working directory is system32, which is not default for normal startup. Is command prompt run as administrator or something?

[2022-04-06 17:13] indutny-signal commented on #5861
Thank you for reporting this. We are tracking it now.

[2022-04-06 17:26] kaktusztea opened #5862 "Phantom "safety number change" log in an old group"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description
A friend of mine created a group with 14 members - including me.
An opening message came from the organizer. A liitle late comparing to my phone, but OK.

Then I opened group settings to check the member list.
Then I made a s

[2022-04-06 17:28] indutny-signal commented on #5862
Thank you for reporting this. We are aware of this issue and the fix is coming.

[2022-04-06 17:28] indutny-signal commented on #5854
@I-Otsuki I wonder if this is related to https://github.com/signalapp/Signal-Desktop/issues/5856

[2022-04-06 17:29] indutny-signal commented on #5854
@TMMC do you have git installed on your machine by any chance?

[2022-04-06 17:30] indutny-signal commented on #5856
Oh my goodness. I think this could be a source of #5854. Thanks for tracking it down.

[2022-04-06 17:35] I-Otsuki commented on #5854
Ahhhhh that's possible!
If the user have GNU find in path, it would mess up the said script!

[2022-04-06 17:40] indutny-signal commented on #5854
So the command would be:

[code]

[2022-04-06 17:54] indutny-signal commented on #5854
@TMMC could you email me at indutny@signal.org if you'll get a chance? I'd like to send you a custom build verify that this fix works. Thank you!

[2022-04-06 17:57] 0xdade commented on #5853
Having a "Retry Update" button is misleading if this update will never work. It was very frustrating to have to go digging through github issues to understand why Retry update continually failed. Could the yellow banner maybe be more specific about this problem? "Hey we'd love to auto update but due to a bug we cannot, you _must_ update from this version manually, thanks!"

[2022-04-06 18:00] indutny-signal commented on #5853
@0xdade I understand your frustration. We could change the string in the new release, but unfortunately 5.35.0 which has this issue couldn't be updated to start with so we had to go with a banner that was meant for other situations.

[2022-04-06 18:03] 0xdade commented on #5853
Ahh yes, that makes perfect sense. Anyways, downloading the latest version w/o uninstalling the old version worked perfectly for me.

[2022-04-06 18:20] indutny-signal commented on #5850
Sadly this is a known electron bug that we have no control over. Sorry!

[2022-04-06 18:20] #5850 closed

[2022-04-06 18:43] indutny-signal commented on #5859
@karlhorky thanks for opening this. As it stands, this is doesn't seem to be a bug report... Could you please open a [feature request as described here](https://github.com/signalapp/Signal-Desktop/issues/5541)?

Sorry to redirect you!

[2022-04-06 18:48] indutny-signal commented on #4480
@Bullshit-Generator does it let you open the Debug Log window and submit the debug log?

[2022-04-06 18:51] indutny-signal commented on #5837
This should be fixed once #5842 is merged.

[2022-04-06 19:05] indutny-signal commented on #5806
Yay. Glad to hear that!

[2022-04-06 19:05] #5806 closed

[2022-04-06 19:31] indutny-signal commented on #5854
@TMMC actually we just released [5.38.0-beta.2](https://updates.signal.org/desktop/signal-desktop-beta-win-5.38.0-beta.2.exe) with the SYSTEMROOT fix. Feel free to give it a try, if you'd get a spare minute!

[2022-04-06 19:46] aibnsamin opened #5863 "Flatpak Update 5.37.0 will not start on Linux Mint 19.3 Cinnamon"
**Bug Description**

After updating to 5.37.0, cannot start Signal from GUI or CLI.

**Actual Result**

Signal background processes start but the app never starts with GUI.

$`sudo flatpak run org.signal.Signal/x86_64/stable

flatpak run: Can't get document portal: GDBus.Error:org.freedesktop.DBus.Error.Spawn.ChildExited: Process org.freedesktop.portal.Documents exited with status 2
[2 zypak-helpe

[2022-04-06 20:46] indutny-signal commented on #5845
Thanks for reporting this. We have a fix in the works for this.

[2022-04-06 20:51] indutny-signal commented on #5863
Thanks for reporting this. Unfortunately flatpak is not officially supported by us. Please reach out to the person/project who distributes it.

[2022-04-06 20:51] #5863 closed

[2022-04-07 02:25] I-Otsuki commented on #5854
@indutny-signal
This is not a Signal-specific issue so I think we should send a patch to electron-builder. Hope the fix solves problem for @TMMC !

[2022-04-07 02:32] indutny-signal commented on #5854
@I-Otsuki most definitely, it would be great to verify that it fixes the issue for @TMMC first though!

[2022-04-07 06:58] ultrajae commented on #5854
My manual update went through.

Signal did hang when it started up initially (on the "blue" screen).

I just quit, and restarted, and all seems well.

[2022-04-07 07:33] DiagonalArg commented on #5852
I'm becoming concerned that I've stumbled on something serious.  I tried to get someone on Signal who later emailed saying:

So I nevertheless went to check signal to see if this person's phone number was registered.  It was.  I sent a message and immediately found myself facing a google capcha and, you guessed it, an infinite capcha loop.  Skipping verification, the message does not indicate it h

[2022-04-07 07:46] karlhorky commented on #5859
Hm, why do you think that it's a feature request? Seems like a pretty big UX bug to me... all other instant messenger apps work this way. Signal is breaking a UX expectation - this, in my eyes, is a bug.

What is the justification for labeling this a feature?

---

In addition to that, putting this in the Community Forum like @josh-signal has suggested in #5541 feels like it's just going to disapp

[2022-04-07 08:57] fattybacon commented on #5856
I've been following the journey, and yep I've got git's linux tools installed and I've got the same signal update issues.. I've always wondered why dir doesn't behave like a Windows tool anymore. This is why!

[2022-04-07 09:10] TMMC commented on #5854
1. If I have understood correctly - nope (just one Windows user with administrator privilages).
2. Yes, the command prompt was run as admin.

[2022-04-07 09:16] TMMC commented on #5854
@I-Otsuki I have run it as Signal was running and after running the command the signal is still running. Same result if I run the command not from elevated command prompt.

![obraz](https://user-images.githubusercontent.com/300390/162164927-07a20bc5-36af-4b22-831e-75647745e2b9.png)

[2022-04-07 09:17] TMMC commented on #5854
@indutny-signal Yes, I have.

[2022-04-07 12:58] loqster commented on #1758
@rahmi That GitLab link is asking for passwords. Any chance of making it public or post the script here.

My docker method to build the AppImage, deb and rpm packages.

docker run --rm -it -v $HOME/Applications:/app -w /app ubuntu:bionic bash -c "$(cat << 'EOF'
    set -euo pipefail
    export DEBIAN_FRONTEND=noninteractive
    apt update -qq
    apt install -qqy build-essential libssl-dev git-lfs

[2022-04-07 16:06] theAddict commented on #5856
@fattybacon , I ran the installer manually as described in the workaround to update my machine.

Here are a couple ideas that would probably work for invoking the installer via the in-app update mechanism:
1. You could invoke `signal.exe` using the workaround above, since the environment should be copied to any child processes.
2. You could also update the shortcut similarly to what is described h

[2022-04-07 16:34] indutny-signal commented on #5854
@TMMC you can just try installing the 5.38.0-beta.2 two times in a row. I hope it works!

[2022-04-07 16:47] indutny-signal commented on #5851
Thanks for reporting this. We are tracking this internally.

[2022-04-07 17:57] scottnonnenberg-signal commented on #5859
We explicitly focus the message that generated the notification - that's the current design, and likely won't change soon. What you're maybe looking for is CMD+Shift+T, which will take you to the text box so you can type your reply.

[2022-04-07 18:00] karlhorky commented on #5859
Learning a hotkey is not something that users should have to do - all other messenger apps allow for typing as soon as you click the notification.

[2022-04-07 18:01] karlhorky commented on #5859
#4998 would be an acceptable alternative, but really focusing the message input is the right UX design decision.

[2022-04-07 19:51] TMMC commented on #5854
@indutny-signal It worked. Uninstallation completed uninterrupted too.

[2022-04-07 19:56] indutny-signal commented on #5854
Wohoo! Thanks so much for confirming it @TMMC.

Everyone: 5.39.0 should be out shortly. You may not be able to upgrade to it automatically due to this bug, but once you are on 5.39.0 - the further autoupdates should work as before. Thank you so much!

[2022-04-07 19:56] #5854 closed

[2022-04-07 20:06] maticahacic commented on #5849
I have same issues on Arch Linux and Android phone.

[2022-04-07 20:10] indutny-signal commented on #5849
@maticahacic could you include your debug logs from both phone and Desktop, please?

[2022-04-07 20:17] maticahacic commented on #5849
Absolutely. My bad.

Linux: https://debuglogs.org/desktop/5.37.0/469ed4c15e02b3c692c6a95336cd8119934bfb0d562b682e193129cc5eef55bb.gz

Android: https://debuglogs.org/android/5.34.5/dd1becdb124e6d8ead199307b54b2f4faa6ccb154ad2976b298e776a80e7deda

[2022-04-07 20:29] indutny-signal commented on #5845
Should be fixed in 5.39.0-beta.1 Would appreciate it if you could give it a try! Thanks!

[2022-04-07 20:29] #5845 closed

[2022-04-07 20:34] TMMC commented on #5854
@indutny-signal No problem :)

5.38.0 (stable, not beta) gives the same errors as before - no possibility to update manually. I was able to do it after renaming the `%localappdata%/Programs/Signal-desktop` as you suggested and the "update" went fine.

Waiting for the 5.39.00.

[2022-04-07 20:42] indutny-signal commented on #5854
Argh, I should have said 5.38.0, sorry! Can you install over 5.38.0 again without issue? It is expected that 5.37.0 to 5.38.0 will fail with the same error, but 5.38.0 to 5.38.0 (or to future 5.39.0 whenever it comes) should be without an issue.

[2022-04-07 21:17] gentlemanjohn opened #5864 "Unable to uninstall 5.36.0 from Windows 11"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

I am unable to uninstall Signal for desktop (5.36.0) on Windows 11.

### Steps to Reproduce

I get this issue multiple ways:
- trying to update Signal within the app
- trying to uninstall the current version of Signal throu

[2022-04-07 21:45] NetroScript commented on #5864
I think this is also caused by https://github.com/signalapp/Signal-Desktop/issues/5856.

Maybe you can try out the suggested workaround in that issue.

[2022-04-07 22:54] gentlemanjohn commented on #5864
That turned out to be the issue. Instead of Git it was cygwin in my PATH (via scoop). Removed it, uninstalled Signal, and then added cygwin back.

I can see where this might be an ongoing issue for regular Windows users who don't mess with environmental variables or just wouldn't think that having Linux commands in the PATH would affect Signal uninstall, especially since past updates have gone smo

[2022-04-07 22:54] DiagonalArg commented on #5852
I've got a second person here on Signal who I am trying to initiate contact with.  I have no information about what is going on with their install, but on my end I am immediately getting demands for verification, and my message refuses to go through.  Here is [the log](https://debuglogs.org/desktop/5.37.0/f35db5dca9eed2aacf0a613d1df61cc05b57318b5a7a7916d613904f78f1fbe8.gz).

Here is the message I'

[2022-04-07 22:56] gentlemanjohn commented on #5856
I had the same issue on Windows 11 with cygwin in my PATH. I couldn't update or uninstall Signal until I removed the offending item from my PATH.

[2022-04-07 23:58] luv2dnce33 commented on #3542
rebuilt my mac os machine multiple times and it suffers from signal helper and other signal sub processes sucking down CPU at 5%+ at idle. ridiculous.

[2022-04-08 00:00] axfelix commented on #3542
FYI -- I've noticed this creeping back upwards again after it was fixed at one point, but it's not as bad as it was in the past, nor is it as bad as Discord currently, so I think we're just stuck with some upstream Electron macOS renderer optimization issues, unfortunately nothing exceptional at this point.

[2022-04-08 00:21] #5864 closed

[2022-04-08 00:21] indutny-signal commented on #5864
@gentlemanjohn sorry about that. We believe we fixed this with 5.38.0 release, so the future releases shouldn't require disabling tools that modify Path. Thanks!

[2022-04-08 01:15] luv2dnce33 commented on #3542
I wouldn't say it is in the least bit it is tolerable. A chat app constantly draining 10% CPU is unreasonable at best. There is no reason text should render this many CPU cycles. AT IDLE no less. 5% is plenty to turn my 2019 8-core i9 into a rocket ship. And I say 5% as a courtesy. The average is closer to 10%.

<img width="318" alt="image" src="https://user-images.githubusercontent.com/43563358/1

[2022-04-08 04:14] temporary007 opened #5865 "Cannot install Signal Desktop on Ubuntu 20.04 due to signature verification failure"
Cannot install signal desktop on Ubuntu 20.04 because the "apt update" fails as it says:

[code]

This issue presents itself while installing the beta as well.
I tried below command to get the key and ensure verification is successful but that didn't help either. The command itself completed successfully but the apt update still gave the same error.

[code]

- [ ] I have searched open and closed i

[2022-04-08 09:54] igorkulman opened #5867 "Signal Desktop not respecting locale on macOS for date time formatting or 24h time"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description
I have my macOS set to English language and Slovak locale for dates, times, numbers etc.  The Signal Desktop app does not respect the locale and formats the timestamps in messages in the English not Slovak format.

### Steps

[2022-04-08 11:44] DavidHowlett opened #5868 "Signal crash report"
Today when I started my computer I got the following traceback:

Unhandled Error

RequestError: Timeout awaiting 'socket' for 300000ms
    at ClientRequest.<anonymous> ([REDACTED]\node_modules\got\dist\source\core\index.js:956:65)
    at Object.onceWrapper (node:events:510:26)
    at ClientRequest.emit (node:events:402:35)
    at ClientRequest.origin.emit ([REDACTED]\node_modules\@szmarczak\http-t

[2022-04-08 14:30] #5703 closed

[2022-04-08 14:36] BirdInFire opened #5869 "On Wayland Decoration is missing"
- [x] I have searched open and closed issues for duplicates
Note : there is one but closed : https://github.com/electron/electron/issues/30878
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.
### Bug Description

when i open with wayland it seem to have the decoration missing (nvidia and intel)

### Steps to Reproduce

1.  open terminal
2.  open it with thes

[2022-04-08 15:43] klDen commented on #5350
Same thing here on Signal-Desktop 5.38.0. When starting with flag `--enable-features=WebRTCPipeWireCapturer`, the button to share screen is unclickable.
When this flag is omitted, I am able to share screen, but only programs running in X compatibility.

[2022-04-08 17:00] somoant commented on #5825
it's working again from 5.38 version, can be  closed

[2022-04-08 17:04] #5825 closed

[2022-04-08 18:31] pm4rcin commented on #5869
Try instructions from [here](https://wiki.archlinux.org/title/Wayland#Electron).

[2022-04-08 18:59] BirdInFire commented on #5869
thanks, but for some reason the interface crash (closed) when try to resize it (better than nothing thanks). will check into the thread to see if an issue is already open for these GUI "crash".

[2022-04-08 23:09] DiagonalArg commented on #5852
Ok, that person contacted *me* through Signal without any difficulty.  I am now able to text and call her.  So somehow, at least one of the problems here is that I'm having trouble with *initiation*.  Here is a [new log](https://debuglogs.org/desktop/5.38.0/98f0689b87f125bca6a4776d5f91b95e120360a9fb8cd133430041ba13d04eb8.gz) and here is the last messgae that I sent them:

[2022-04-09 08:55] Phosphenius opened #5870 "IPv6 URLs are not rendered as links"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

URLs containg an IPv6 address are not rendered as links.

### Steps to Reproduce

1. Send a message containing an IPv6 URL, like http://[::1]/ (OK, apparently GitHub can't render those either)
2. Attempt to open the URL.

A

[2022-04-09 09:47] ygoe opened #5871 "Contact list doesn't scroll up when writing a message"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

The contact list on the left side is sorted by most recent messages. Chats with no recent messages are further down and the user needs to scroll to see and select them. When writing a message in that chat, the item moves to

[2022-04-09 10:15] colajunkie13 commented on #5856
For anyone finding this: it was WinAVR in my case.

[2022-04-09 12:39] maheshrjl opened #5873 "desktop notifications not showing notification content"
- [x] I have searched open and closed issues for duplicates

- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

desktop notifications are not showing notification content even though notification content is set to `Name, content, and actions`
### Steps to Reproduce

1.  Set Notification content to show `Name only`
2.  Change Notifica

[2022-04-09 12:44] #5873 closed

[2022-04-09 12:53] dovholuknf commented on #5864
signal-desktop-win-5.38.0.exe is not able to uninstall signal on my machine either. quite frustrating. also can't uninstall from "Apps & features". There's a message that "signal is running" but i've quit the app and there are no processes running with "sig" in the name at all...
![image](https://user-images.githubusercontent.com/46322585/162574895-b15f487b-5571-4821-82e4-11a4ef8c8e16.png)
![image

[2022-04-09 12:55] dovholuknf commented on #5864
I found the workaround mentioned... opened a cmd prompt and ran:
[code]
signal indeed is now reporting version 5.38.0

[2022-04-09 15:55] T-Bakker commented on #5864
I am encountering this issue with 5.38.0 on Windows 7 at the moment. The solution provided by @dovholuknf does not seem to work. Setting `PATH` to `C:\Windows\system32\` also does not work. `find.exe` does exist in the list and I have checked that Signal is not running.

Does someone know if there is an older version that does not contain this bug and that is not expired? 5.30.0 gives the same pro

[2022-04-09 15:57] dovholuknf commented on #5864
FYI: I set my PATH to "nothing"
[code]
then ran the new installer

[2022-04-09 16:05] vineet131 commented on #5868
Just wanted to bump this up and say I got the exact same error message today, word-to-word. And I also had just reopened my computer from hibernation. And Signal automatic update failed for me as well!! It was on Windows 11 for me

[2022-04-09 16:36] T-Bakker commented on #5864
Yes, I tried that too. Did not work, unfortunately :(.

[2022-04-09 17:22] joneshf commented on #5838
I tried a few different things, but none of them seemed to work. I think at this point the data is just gone 😞. Thanks for your help.

[2022-04-09 17:22] #5838 closed

[2022-04-09 22:21] hiqua commented on #5865
Where did you get the steps you followed? https://signal.org/download/# has different ones.

[2022-04-09 23:12] indutny-signal commented on #5864
@T-Bakker you can just remove `%localappdata%/Programs/Signal-desktop` and it should work. Your conversation history is stored in a different folder so it is completely safe to do!

[2022-04-10 01:59] temporary007 commented on #5865
As I mentioned I am installing on Ubuntu 20.04, so tried the "Download for Linux" link.
Here is a list of commands I ran (copied from there):

[code]
When above update failed, I tried below but that didn't succeed either.
[code]

[2022-04-10 05:16] K4LCIFER commented on #5848
I have the same problem. My message was sent via desktop to "Note to self". It displays properly on iOS, but on desktop it does not.

OS: Arch Linux
DE: Gnome 42.0, Wayland

Signal Version: 5.38.0
Signal installed via Flatpak.

[2022-04-10 11:04] hiqua commented on #5865
Can you post the output of these first 4 commands?

[2022-04-10 11:35] hindicc71 opened #5874 "Media (images) are not displayed in the overview."
### Bug Description

If I go on contact and then on the name, then the overview appears and there I press then under "Shared media content" on "Show all" there is then the following: There is no media content in this conversation

Before in the overview the pictures are visible. If you scroll up a chat, then they are also available.

### Steps to Reproduce

see above

Actual Result:

No display of

[2022-04-10 11:40] TMMC commented on #5854
@indutny-signal OK, it seems it fixed, manual installing 5.38.0 over installed 5.38.0 does not fail. 👍

[2022-04-10 11:56] fnordson commented on #5867
Same with Windows: https://github.com/signalapp/Signal-Desktop/issues/4252

[2022-04-10 17:08] indutny-signal commented on #5854
Hooray!

[2022-04-10 19:38] TeeTeeHaa commented on #5854
@indutny-signal Would you please be so kind and write down the final instructions for users to fix that problem? There are many suggestions in this issue what to do but I assume not all are actually necessary.

I run Signal Desktop 5.35.0 production and when trying to update from within the app I get the yellow "Cannot update" box.

[2022-04-11 10:00] raphj commented on #5637
I got this two or three weeks ago. After some debugging, I saw that Signal is stuck parsing the logs. removing the logs allows opening Signal again.

[code]
This needs to be done from time to time. I'll try to take the time to analyze the logs next time it happends.

I also see a constantly high CPU usage from Signal. I'm in several active group discussions. I use openSUSE Tumbleweed / KDE.

[2022-04-11 13:52] T-Bakker commented on #5864
@indutny-signal Thanks, I did not know that and was afraid of my chat history.

I tried it just now with 5.38.0, but still does not seem to work. I removed C:\Users\%username%AppData\Local\Programs and attempted to install. Same error. Back to 5.29.1 for now :).

[2022-04-11 16:19] indutny-signal commented on #5864
@T-Bakker sorry about that. What exact error do you see?

[2022-04-11 16:52] indutny-signal commented on #5854
Let me quickly summarize the issues and fixes:

## 5.35.0/5.36.0 display yellow banner "Cannot update"

![image](https://user-images.githubusercontent.com/79877362/162790554-1a6ec2de-bfb7-45d0-8a6d-1217e30004b1.png)

The solution is to click the banner which should take you to the website, download the latest installer for your platform, and install over your existing app **without** uninstalling

[2022-04-11 16:54] scottnonnenberg-signal commented on #5848
This will be fixed in 5.39.x

[2022-04-11 16:58] T-Bakker commented on #5864
@indutny-signal The installer progress bar gets stuck at ~60%, goes back and forth a bit for a couple of seconds and then states: "Signal cannot be closed. Please close it manually and click Retry to continue." Is there a log somewhere that I can look at?

[2022-04-11 17:03] indutny-signal commented on #5864
@T-Bakker there are no logs from installer provided by electron-builder, sadly. Could you confirm a few things:

- `%localappdata%/Programs/Signal-desktop` is removed
- You are installing the latest stable release, not beta

[2022-04-11 17:04] T-Bakker commented on #5864
@indutny-signal Both are the case, I removed that directory and tried to install 5.038, the stable version provided by the website.

[2022-04-11 17:05] indutny-signal commented on #5868
Sorry about that. This is a known issue. After you restarted the app, were you  prompted to update your app? Did the app ever crash with this error again?

[2022-04-11 17:11] indutny-signal commented on #5864
@T-Bakker do you have git-scm, cygwin, or winavr installed?

[2022-04-11 17:13] T-Bakker commented on #5864
@indutny-signal Not as far as i know. The path env is set to:
![image](https://user-images.githubusercontent.com/61684203/162793924-a0c65315-01aa-4bcc-bcdd-f1469946aa8a.png)

[2022-04-11 17:16] indutny-signal commented on #5864
Oh... What Windows version are you on?

[2022-04-11 17:17] T-Bakker commented on #5864
@indutny-signal Windows 7 Ultimate SP1. I just prefer the old classic interface :).

[2022-04-11 17:26] indutny-signal commented on #5864
I get it :) One more thing that might be helpful. Could you open the Command Prompt and run:

[code]

and post the results here, please?

[2022-04-11 17:30] T-Bakker commented on #5864
With signal running:
![image](https://user-images.githubusercontent.com/61684203/162796185-2b409cda-6c56-4612-9d4e-e216345d344d.png)

Without signal running:
![image](https://user-images.githubusercontent.com/61684203/162796372-60cb32cc-b68f-49e7-bfa5-b53e86b72da0.png)

[2022-04-11 17:31] indutny-signal commented on #5864
Gosh... and when it is not running you still fail to install over?

[2022-04-11 17:35] T-Bakker commented on #5864
Same issue:
![image](https://user-images.githubusercontent.com/61684203/162797145-6ee12dcc-f08d-4083-a7f2-2ef86d52533e.png)

I noticed that the progress bar went to like 99% and then went back to ~60%, went back and forth again for like 2 seconds and then gave the error (same as before). Maybe this might give an indication?

[2022-04-11 17:37] Bullshit-Generator commented on #4480
How can I provide the debug log? Is it the system.log?

[2022-04-11 17:48] indutny-signal commented on #4480
I think it there should be an option "Ansicht" menu at the top of your screen.

[2022-04-11 17:50] indutny-signal commented on #5864
Thanks for the screenshot. What happens when you press "Cancel"?

[2022-04-11 17:51] T-Bakker commented on #5864
The progress bar starts at 0% again and continues up to like 75% and then the window closes. This takes like 10 seconds.

[2022-04-11 17:53] Bullshit-Generator commented on #4480
Oh yes, there is "Diagnoseprotokoll" (seems to be the debug log) under "Ansicht". Unfortunately nothing comes up.  :-L

[2022-04-11 17:55] indutny-signal commented on #4480
So there's no new window being opened, right? Hm...

Could you try starting `/Applications/Signal.app/Contents/MacOS/Signal ` from the Terminal (after closing the app) and paste the output into a gist?

[2022-04-11 17:57] indutny-signal opened #5875 "5.38.0 can't be installed on Windows 7"
Original report: https://github.com/signalapp/Signal-Desktop/issues/5864#issuecomment-1094073543

![image](https://user-images.githubusercontent.com/79877362/162801042-43c9623c-3e68-4e83-861d-0684f6e21765.png)

cc @T-Bakker

[2022-04-11 17:57] indutny-signal commented on #5864
Okay. So it isn't related to uninstaller issues. Let's move to https://github.com/signalapp/Signal-Desktop/issues/5875

[2022-04-11 17:58] indutny-signal commented on #5875
So far we were able to identify that the `Path` environment variable is unmodified, `find` maps to correct Windows tool, and that removing the installed app's folder doesn't have any effect at all. Furthermore, pressing "Cancel" in the dialog that says that Signal cannot be closed doesn't result in an uninstaller error so this isn't coming from the uninstaller.

[2022-04-11 18:00] indutny-signal commented on #5875
Sorry to bother you with more questions, but how much free disk space you have? Is it more than 200-300mb?

[2022-04-11 18:11] T-Bakker commented on #5875
I managed to install it:
![image](https://user-images.githubusercontent.com/61684203/162802186-b8cfa0fb-abc4-4e3c-9352-6bb5f297b28f.png)

I tried running the installer with Signal still running. It detected it and I let it close it. Then it installed just fine.
I did clean up more disk space before installation. It is now like 1.6 GB (my drive always gets full :( ), before it was like 500MB. Maybe

[2022-04-11 18:12] T-Bakker commented on #5875
I tried closing Signal (5.38.0) and running the installer again. No errors this time. So it seems related to the disk space available?

[2022-04-11 18:27] Bullshit-Generator commented on #4480
Yes, there is no window opening from "Diagnoseprotokoll".
By the way: To see the empty blue Signal window, I have to start Signal twice from the dock. I made a comment into the terminal dump.

Here it is: - hoping gist is our chat.

<<<START>>>

MacBook-Pro:Applications Arnim$ /Applications/Signal.app/Contents/MacOS/Signal
Set Windows Application User Model ID (AUMID) { appUserModelId: 'org.whispe

[2022-04-11 18:29] indutny-signal commented on #5875
I think it could be the disk space indeed! Glad you got it figured it out. Thanks so much for your time!

[2022-04-11 18:29] #5875 closed

[2022-04-11 18:43] Bullshit-Generator commented on #4480
Is it Cmd+Alt+I ?

[2022-04-11 18:45] indutny-signal commented on #4480
Hm... maybe it is a different keystroke, you should see the menu option in the "Ansicht" menu still. It has to be the very bottom one.

[2022-04-11 18:49] Bullshit-Generator commented on #4480
![image](https://user-images.githubusercontent.com/103063863/162808443-4ff71037-5ef5-46d8-ad5b-019c98527a33.png)

"Entwicklerwerkzeuge Ein/aus" is "dev Tools on/off" - nothing happens, if i click there.
"Aktualisierung erzwingen" is "Force refresh" - leads to terminal entry:
{"level":30,"time":"2022-04-11T18:41:15.462Z","pid":1897,"hostname":"MacBook-Pro.fritz.box","msg":"System tray service: rend

[2022-04-11 18:58] T-Bakker commented on #5875
Thank you for your time as well :)

[2022-04-11 19:36] TeeTeeHaa commented on #5854
Thanks at @nsartor , @TMMC  and @indutny-signal .
The manually downloaded installer worked.

[2022-04-11 19:58] indutny-signal commented on #5674
@flatsiedatsie @SebDanielsson is your system DNS (or DNS provided by Wi-Fi router) configured to be 1.1.1.1 (or 8.8.8.8)? Looking at chromium's code:

[code]

I believe that Electron would use https://chrome.cloudflare-dns.com/dns-query for DNS-over-https when the DNS server is configured to 1.1.1.1

[2022-04-11 23:06] vineet131 commented on #5868
I updated the app before it had crashed, if I remember correctly. But I didn't get an error ever after that.

[2022-04-11 23:07] indutny-signal commented on #5868
Well, at least it confirms that the error is a one-off event. Thank you! We have a fix for it that should go out with the next release. Sorry for the inconvenience!

[2022-04-11 23:07] #5868 closed

[2022-04-12 00:45] Kinnardian opened #5876 "Strange issues with messages not being relayed from or to, either mobile or desktop alternatingly"
I have been experiencing strange issues with messages not being relayed to or from either mobile or desktop alternatingly.
First on mobile I was unable to sync messages or make calls. Then on desktop. This persisted for weeks across multiple updates and other troubleshooting.
I'm running 5.38.0 on Desktop on Mac and iOS

[2022-04-12 00:45] scottnonnenberg-signal commented on #5749
@kaimast @Fabian42 @p-himik @ngleb Recent releases of Signal Desktop have changed how we mark message read - are you still seeing this behavior?

If you are, we need debug logs. And we need you to do some things to make it easier for us to see the behavior in the log:
1. Open a conversation with unread messages
2. Wait for messages to be marked read
3. Send a message in that conversation
4. Immedi

[2022-04-12 04:58] Le1b1 commented on #5154
Pinned chats not synced in latest Desktop Beta, this time they are still pinned on Android. CC @EvanHahn-Signal
Desktop:
https://debuglogs.org/desktop/5.39.0-beta.1/0dd8093123c4ba0d671d066933397c7534bb300d12735f1fcc1c9f039e951c66.gz
Android:
https://debuglogs.org/android/5.35.1/2eac257f81c8c6ea89156ff9ca018c72277ca8c41bd06117033e23cb8a286b8c

[2022-04-12 05:29] jordanbertasso commented on #5821
Same issue on macOS Monterey

[2022-04-12 06:29] indutny-signal commented on #5154
Sorry about that. I see the relevant error in the log and we will get it fixed soon.

[2022-04-12 12:19] Nexusmeister commented on #1632
Any updates on this? Can we hope with a proxy configuration in the UI in the near future? Workarounds didn't work for me and I don't want to use the app by a workaround.

[2022-04-12 13:58] Fabian42 commented on #5749
It was ≈0.5-1s right now. I get Signal messages rarely and irregularly, so I'll report back if this happens again, but it might take a while.

[2022-04-12 14:03] p-himik commented on #5749
With the logging above, if I minimize the client and then after some delay restore it, I can clearly see that `isActive` state is updated with a delay of ~5 seconds. I.e. it becomes `false` in ~5 seconds after I minimize the client and it becomes `true` in ~5 seconds after I restore it.
However, if instead of minimizing the window I switch between two unrelated windows, the `isActive` state is upd

[2022-04-12 22:42] temporary007 commented on #5865
![image](https://user-images.githubusercontent.com/85536789/163066431-ddae2f0e-dfd0-49b1-8b9d-7063632af9a8.png)

$ ls /etc/apt/sources.list.d/
google-chrome.list  microsoft-prod.list  teams.list
$ sudo ls /usr/share/keyrings/
ubuntu-advantage-cc-eal.gpg  ubuntu-advantage-esm-apps.gpg	    ubuntu-advantage-fips.gpg  ubuntu-archive-keyring.gpg	ubuntu-cloudimage-keyring.gpg	    ubuntu-master-keyring.g

[2022-04-13 00:42] hpxiong commented on #5583
I'm having the same issue with yarn install. Can you share which exact dependencies mentioned in that page that helped? Thanks!

[2022-04-13 10:17] nagisa commented on #5444
I can reproduce this immediately after launch as well.

1. Run signal, but don't select any chat;
2. Monitor top/htop/etc – eventually signal will settle on low cpu usage;
3. Select a chat;
4. Monitor top/htop/etc – signal continuously consumes ~5% of CPU time.
    * Specifically it is the `--type=renderer` process.
5. “Deselect” the chat as suggested by alien2003 above;
6. Monitor top/htop/etc –

[2022-04-13 12:42] MingoJoise opened #5877 "Cannot Update/Re-Install Signal"
- [X] I have searched open and closed issues for duplicates
- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

### Bug Description

I am currently trying to re-install Signal (as updating didn't work out at first) via the latest Installer found on the Website.
Starting the executable, it begins to load but after a few seconds it jumps back, bouncing the loadi

[2022-04-13 14:54] Fabian42 commented on #5749
Got one with a chat that was marked as read late (probably only once I started typing): https://debuglogs.org/desktop/5.35.0/a9f7d5b939a6a7b94146f30a383329ca72b35dae2679a7c129df6af996b68ed2.gz

[2022-04-13 19:09] argymeg commented on #5877
I am also currently failing to update Signal, on the same OS and with the same linked device version. I was just about to try reinstalling, but seeing this issue I am _not_ going to do that. I assume the issues are related but I'm happy to open a separate issue. Also happy to share debug logs if that will help.

[2022-04-13 20:09] scottnonnenberg-signal commented on #5749
@Fabian42 It looks like the last incoming message in that conversation you sent to at the end of that log was marked read a little less than two seconds after the message was received. Does that sound right to you? What exactly did you see?

[code]

[2022-04-13 20:50] Fabian42 commented on #5749
Maybe I was impatient and it was just 2 seconds, yes. But it was marked as read when I started typing, so it might have taken longer otherwise. Considering that I can read a message in the notification, even 2 seconds is unnecessary. In Telegram, I often just open a chat and then close it 0.1s later, because I already read the notification.

[2022-04-13 22:05] indutny-signal commented on #5877
Sorry about this. Could you try [instructions from this issue](https://github.com/signalapp/Signal-Desktop/issues/5854#issuecomment-1095298758), please?

[2022-04-14 03:35] ultrajae commented on #5854
I didn't have to do either of these things.
I simply had to run the installer manually.
(I don't have Cygwin or anything like that installed)

[2022-04-14 06:14] MingoJoise commented on #5877
Thanks for getting back to me with a solution. Unfortunately, it does not work as i have already downloaded the 5.38.
Installer manually, since i had no other choice, and the problem still persists.

As stated, the Installer is telling me the Signal App already running, which is impossible since i removed all files
related to it (De-Installed via Windows -> Settings -> Apps and manually removing o

[2022-04-14 07:12] indutny-signal commented on #5877
There are two separate issues affecting installs. One is affecting 5.35.0/5.36.0, and the other one is affecting users with git-scm, cygwin, WinAVR installed and exposed in their Path. Do you have either of git-scm, cygwin, WinAVR installed or some similar developer software?

[2022-04-14 07:59] MingoJoise commented on #5877
Not that i know of. I searched for all 3 of the mentioned ones and couldn't find any files related to them. It is also save to say
that i don't have any other developer tools, seeing as i have no background, and therefor no use for these, in that field.

[2022-04-14 10:01] flatsiedatsie commented on #5674
Absolutely not :-D

But perhaps the routers at locations outside my home/work are.

Still, I believe this occured at home too.

[2022-04-14 15:26] pankajparag opened #5878 "Signal-Desktop on Ubuntu 20.04 automatically resets"
I am on Ubuntu 20.04, and every time I restart my machine (it's an encrypted disk), if I don't open signal fast enough (less than 5 minutes) then Signal-Desktop on Ubuntu asks to link the device again. And with the linking the old conversation is not restored. I have been living with this nightmare for a year, but there's no resolution in sight. I use Signal regularly, it's not that I have left it

[2022-04-14 16:06] indutny-signal commented on #5877
@MingoJoise oh, sorry for closing the issue then.

Just to help me understand your scenario better, could you confirm that these are the exact steps your are going through, and if not - could you fill in the details, please?

0. Signal is completely uninstalled from the machine and there is no `%localappdata%/Programs/Signal-desktop` folder in the Explorer, and no Signal app visible anywhere on th

[2022-04-14 16:08] indutny-signal commented on #5674
@flatsiedatsie Interesting! Do you happen to have Firefox installed? Could you see if it ever connected to https://chrome.cloudflare-dns.com/dns-query too?

[2022-04-14 16:17] indutny-signal commented on #5877
@MingoJoise could you also try running this in your Command Prompt, please?

[code]

[2022-04-14 17:07] indutny-signal commented on #5877
And lastly, do you have enough free disk space? (Our installer might use 750mb of disk space even though the final app is 320mb)

[2022-04-14 20:03] MingoJoise commented on #5877
![explorer_vlfX3QgbQa](https://user-images.githubusercontent.com/103577223/163465298-62d34470-97a2-4596-a127-c283daaa95a5.png)

This is a screenshot of the mentioned folder. I have also de-installed Signal completely and used the explorer search to find... well nothing remaining, really.

The other Steps are fully in line with what's happening at the moment, meaning i have a fresh Installer from t

[2022-04-14 20:57] #3723 closed

[2022-04-14 21:20] Terkwood commented on #5878
Same problem here. For PopOS 21.10

[2022-04-14 21:27] ultrajae commented on #5854
OK. I'm on 5.38.0 production

Got a banner to "Click to download Update"

STILL getting this:
![SigErr](https://user-images.githubusercontent.com/40615139/163479814-438964a4-2984-4125-9d5d-17c6c7112a5f.jpg)

I guess I still have to manually update.. But I'm going to wait for comments here before doing anything

[2022-04-14 21:33] indutny-signal commented on #5854
@ultrajae could you send me a debug log, please?

When you restarted the app - did the update banner work (assuming that you saw it)?

[2022-04-14 22:11] russellbanks commented on #5860
Fixed in [v5.39.0](https://github.com/signalapp/Signal-Desktop/releases/tag/v5.39.0).

[2022-04-14 22:11] #5860 closed

[2022-04-14 23:10] ultrajae commented on #5854
Just tried it now. Same yellow banner.

Actually, upon clicking the yellow banner, it's now downloading.

Ill see if i can grab the log b4 it completes

[2022-04-15 04:00] smith153 commented on #5749
I've been having a similar issue for a few months now (On Debian linux). The unread count in the system tray used to clear as soon as you opened a message. Now it takes several seconds.
Log: https://debuglogs.org/desktop/5.39.0/aa595f6a86256e34b2c028baf557501d32b2e8a892a8f46ca2c45a8cdcb24358.gz

Things to note:
I opened the gui via clicking on the system tray:
INFO  2022-04-15T03:39:56.448Z System

[2022-04-15 06:34] MarkoGolemovic opened #5879 "TO Many upated and afer some times your desop apse is unlinked with your maobile app"
- [ ] I have searched open and closed issues for duplicates

- [ ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2022-04-15 06:38] MarkoGolemovic opened #5880 "Request Unlimted number of devicess conect Destop to andriod app"
- [ ] I have searched open and closed issues for duplicates

- [ ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2022-04-15 06:44] MarkoGolemovic opened #5881 "Request that once you login to destop devide over QR code you stay forver"
- [ ] I have searched open and closed issues for duplicates

- [ ] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Actual Result:

Expected Result:

### Screenshots

### Platform Info

Signal Version:

Operating System:

Linked Device Version:

### Link to Debug Log

[2022-04-15 07:29] johanw666 opened #5882 "Crash at startup: ERROR:gpu_init.cc"
- [x] I have searched open and closed issues for duplicates
- [x] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

Signal Desktop appears not to start. When I start it in a command window it throws an error:

[code]

I'm running the latest beta ([5.39.0-beta.1) on my company laptop with windows 10.

### Steps to Reproduce

No idea how to

[2022-04-15 11:09] flatsiedatsie commented on #5674
Good idea.

I don't see it in Firefox's list. I do see pki.goog there, but that seems unrelated?

[2022-04-15 18:56] IceGiant commented on #5829
Saw the changes from @scottnonnenberg-signal in the latest update, and that neatly solves the issue. Thank you!

[2022-04-15 18:56] #5829 closed

[2022-04-15 19:18] rakleed opened #5883 "Splash screen is quite light when using dark theme"
- [X] I have searched open and closed issues for duplicates
- [X] I am using Signal-Desktop as provided by the Signal team, not a 3rd-party package.

---

### Bug Description

The splash screen is quite light when using the dark theme, and at night or in a dark room it is quite unpleasant to the eye.

### Steps to Reproduce

1. Open Signal

Actual Result: the splash screen is quite light when usin

[2022-04-15 19:51] traceypooh commented on #4730
it doesnt work for sh*t for me.  i use it, typing replies to messages on my laptop and dialogue back and forth between it, and likewise w/ phone.

i'm getting auto-delinked w/i a week of GET and SEND activity on my laptop at times.
basically, it seems *totally* random, and *super* frustrating.

[2022-04-15 19:57] scottnonnenberg-signal commented on #4730
@traceypooh It should take 30 days for an auto-unlink to happen. We'd certainly appreciate debug logs to help track down what's going wrong. Please consider entering a new bug, since this is a feature request.

[2022-04-15 20:08] traceypooh commented on #4730
super frustrating.  how am i *sure* this happened yet again (probably at least the 10th time across two desktops (macs) since i started)?

because i've travelled across the US w/ only my laptop and been having multiple discussions on phone and laptop for past two weeks.

and so today?  i get delinked *again*.  when i've clearly used it on desktop w/i last 14 days....

while *most* of the other del

[2022-04-15 20:12] traceypooh commented on #4730
but yes, another strong vote for 6mo+ to delink.
*and* to phone robo message "we're going to trash you life on device named X -- unless you login (is *only* login needed? or SEND/REPLY) in the next 3 days"
(type thing)
that i've seen in other issues/feature requests/reddit threads/community forum threads

[2022-04-15 20:14] traceypooh commented on #4730
lastly, because my history is gone, it only shows (even w/ the detailed SAVE button) logs for today since re-linking.  so don't ... see how that would end up helping debug this?

[2022-04-15 20:25] josh-signal commented on #5878
@pankajparag any chance you can send us a debug log from when the problem happens? Also, how did you install Signal on your computer?

[2022-04-15 20:36] scottnonnenberg-signal commented on #4730
Please send the logs, and we'll see if we can get something useful out of it. Thanks!

[2022-04-15 20:36] scottnonnenberg-signal commented on #5882
What if you try starting on the command-line with the `--disable-gpu` argument?

[2022-04-15 20:38] kyrofa commented on #4730
@scottnonnenberg-signal I want to raise again my offer to implement the fix for this issue if we can get some agreement on what that is.

[2022-04-15 22:26] #1997 closed

[2022-04-16 03:15] c0fe opened #5884 "crash in signal 5.38.0"
What I did was simply load up signal and it displayed an error window:

**Unhandled Error**

[code]

**Debug Log:**

https://debuglogs.org/desktop/5.38.0/8bead515d7139dc5c69ab48ee107348820a4b54c84864687fbe910042e94f009.gz

[2022-04-16 07:37] indutny commented on #5877
@MingoJoise could you try installing the [new beta version](https://updates.signal.org/desktop/signal-desktop-beta-win-5.40.0-beta.1.exe), please? ([Alternative link](https://support.signal.org/hc/en-us/articles/360007318471-Signal-Beta)]). We have put in some fixes for the windows installer and hopefully they'll work this time!

[2022-04-16 07:38] indutny commented on #5884
@c0fe sorry about that. When you reopened the app, did you see the "Update available" banner. Was the app able to update?

[2022-04-16 07:48] indutny-signal commented on #5154
@Le1b1 could you try the 5.40.0-beta.1, please? I made a fix that hopefully should make things better for you!